{{ 'burger-menu.css' | asset_url | stylesheet_tag }}

{% style %}
#shopify-section-{{ section.id }} {
    --burger-vertical-alignment: {{ burger-menu_settings.burger_vertical_alignment }};
    --burger-horizontal-alignment: {{ burger-menu_settings.burger_horizontal_alignment }};
}
{% endstyle %}          

{%- liquid 
	if settings.typography_preset == 'avant_garde'
			assign weight = settings.accent_icon_weight
			if settings.swap_fonts
					assign weight = settings.base_icon_weight
			endif
	else 
			assign weight =  settings.base_icon_weight
			if settings.swap_fonts
					assign weight = settings.accent_icon_weight
			endif
	endif
-%}

<div class="burger-menu-block {% if section.id contains 'footer' %}burger-menu-block--footer{% else %}burger-menu-block--{{ section.id }}{% endif %} burger-menu-block--{{ burger-menu_settings.burger_menu_alignment }}" {{ block_item.shopify_attributes }}>
    <div class="burger-menu-container 
                burger-menu-container--{{ settings.typography_preset }}
                {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %}
                {% if settings.fill_burger_button == false and settings.burger_button_shadow == 0 %}burger-menu-container--packed{% endif %}">
        <burger-menu>
        <button class="burger-menu {% if settings.allow_transparent_navigation and settings.navigation_layout == 'sidebar_based' and section.id contains 'sidebar' and section.settings.color_type == 'default' %}scroll-color{% endif %} {% if section.settings.color_type == 'custom' %}color-custom{% elsif section.settings.color_type == 'invert' %}color-invert{% endif %} {% if settings.fill_burger_button %}burger-menu--fill{% endif %} {% if settings.fill_burger_button == false and settings.burger_button_shadow == 0 %}burger-menu--packed{% endif %}" tabindex="0" aria-label="{{ 'general.burger_menu' | t }}">  
            <span class="burger-menu__icon">
                {% if settings.burger_menu_icon == 'burger' %}
                    {% if weight == 'regular' %}
                        {% render 'icon', icon: 'burger-regular' %}
                    {% elsif weight == 'medium' %}
                        {% render 'icon', icon: 'burger-medium' %}
                    {% elsif weight == 'bold' %}
                        {% render 'icon', icon: 'burger-bold' %}
                    {% endif %} 
                {% elsif settings.burger_menu_icon == 'burger_wide' %}
                    {% if weight == 'regular' %}
                        {% render 'icon-accordion-2', icon: 'burger-wide-regular' %}
                    {% elsif weight == 'medium' %}
                        {% render 'icon-accordion-2', icon: 'burger-wide-medium' %}
                    {% elsif weight == 'bold' %}
                        {% render 'icon-accordion-2', icon: 'burger-wide-bold' %}
                    {% endif %} 
                {% elsif settings.burger_menu_icon == 'two_stripes' %}
                    {% if weight == 'regular' %}
                        {% render 'icon-accordion-2', icon: 'two-stripes-regular' %}
                    {% elsif weight == 'medium' %}
                        {% render 'icon-accordion-2', icon: 'two-stripes-medium' %}
                    {% elsif weight == 'bold' %}
                        {% render 'icon-accordion-2', icon: 'two-stripes-bold' %}
                    {% endif %}
                {% elsif settings.burger_menu_icon == 'two_stripes_wide' %}
                    {% if weight == 'regular' %}
                        {% render 'icon-accordion-2', icon: 'two-stripes-wide-regular' %}
                    {% elsif weight == 'medium' %}
                        {% render 'icon-accordion-2', icon: 'two-stripes-wide-medium' %}
                    {% elsif weight == 'bold' %}
                        {% render 'icon-accordion-2', icon: 'two-stripes-wide-bold' %}
                    {% endif %}
                {% elsif settings.burger_menu_icon == 'alternate' %}
                    {% if weight == 'regular' %}
                        {% render 'icon-accordion-2', icon: 'alternative-regular' %}
                    {% elsif weight == 'medium' %}
                        {% render 'icon-accordion-2', icon: 'alternative-medium' %}
                    {% elsif weight == 'bold' %}
                        {% render 'icon-accordion-2', icon: 'alternative-bold' %}
                    {% endif %}
                {% endif %}
            </span>
        </button>
        </burger-menu>
    </div>
</div>