{{ 'cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
{{ 'component-loading.css' | asset_url | stylesheet_tag }}
{% if settings.enable_order_note or settings.enable_shipping_calculator %}
    {{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{% endif %}

{%- if  settings.enable_cart_drawer -%}
<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% style %}
    .icon-accordion {
        width: auto;
        height: {{ 24 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 24 }}px;
    }
    .card__vendor--minimal_uppercase .discounts__discount svg,
    .card__vendor--minimal_basic .discounts__discount svg,
    .card__vendor--classic .discounts__discount svg,
    .card__vendor--contrast .discounts__discount svg,
    .body-secondary-text--contrast .discounts__discount svg {
      height: {{ 16 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
      width: {{ 16 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
    }
    .card__vendor--minimal_heavy .discounts__discount svg,
    .card__vendor--brutalist .discounts__discount svg,
    .body-secondary-text--minimal_heavy .discounts__discount svg,
    .body-secondary-text--brutalist .discounts__discount svg {
      height: {{ 28 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
      width: {{ 28 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
    }
    .card__vendor--avant_garde .discounts__discount svg,
    .card__vendor--duet .discounts__discount svg,
    .body-secondary-text--duet .discounts__discount svg {
      height: {{ 26 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
      width: {{ 26 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
    }
    .body-secondary-text--minimal_uppercase .discounts__discount svg,
    .body-secondary-text--minimal_basic .discounts__discount svg,
    .body-secondary-text--classic .discounts__discount svg,
    .body-secondary-text--avant_garde .discounts__discount svg {
      height: {{ 24 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
      width: {{ 24 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
    }
    @media screen and (max-width: 920px) {
        .icon-accordion {
            width: auto;
            height: {{ 24 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 24 }}px;
        }
        .card__vendor--minimal_uppercase .discounts__discount svg,
        .card__vendor--minimal_basic .discounts__discount svg,
        .card__vendor--classic .discounts__discount svg,
        .card__vendor--contrast .discounts__discount svg,
        .body-secondary-text--contrast .discounts__discount svg {
            height: {{ 16 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
            width: {{ 16 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
        }
        .card__vendor--minimal_heavy .discounts__discount svg,
        .card__vendor--brutalist .discounts__discount svg,
        .body-secondary-text--minimal_heavy .discounts__discount svg,
        .body-secondary-text--brutalist .discounts__discount svg {
            height: {{ 28 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
            width: {{ 28 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
        }
        .card__vendor--avant_garde .discounts__discount svg,
        .card__vendor--duet .discounts__discount svg,
        .body-secondary-text--duet .discounts__discount svg {
            height: {{ 26 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
            width: {{ 26 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
        }
        .body-secondary-text--minimal_uppercase .discounts__discount svg,
        .body-secondary-text--minimal_basic .discounts__discount svg,
        .body-secondary-text--classic .discounts__discount svg,
        .body-secondary-text--avant_garde .discounts__discount svg {
            height: {{ 24 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
            width: {{ 24 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
        }
    }
{% endstyle %}

{%- liquid 
	assign weight = settings.base_icon_weight

    if settings.typography_preset == 'avant_garde'
			assign weight_close = settings.accent_icon_weight
			if settings.swap_fonts
					assign weight_close = settings.base_icon_weight
			endif
	else 
			assign weight_close =  settings.base_icon_weight
			if settings.swap_fonts
					assign weight_close = settings.accent_icon_weight
			endif
	endif
    if settings.typography_preset == 'avant_garde' or settings.typography_preset == 'duet'
			assign weight_accordion_title = settings.accent_icon_weight
			if settings.swap_fonts
					assign weight_accordion_title = settings.base_icon_weight
			endif
	else 
			assign weight_accordion_title =  settings.base_icon_weight
			if settings.swap_fonts
					assign weight_accordion_title = settings.accent_icon_weight
			endif
	endif
-%}

<cart-drawer class="drawer {% if cart == empty %}is-empty{% endif %} {% if settings.action_after_adding == 'cart_drawer' %}open-after-adding{% endif %}">
    <div id="CartDrawer-Overlay"class="overlay"></div>
    <div id="CartDrawer" class="cart-drawer">
        {% style %}
            .cart-drawer {
                --desktop-grid-type: 2;
            }
            @media screen and (max-width: 768px) {
                .cart-drawer  {
                    --desktop-grid-type: {{ settings.mobile_layout }};
                }
            }
        {% endstyle %}
        <div class="drawer__inner" role="dialog" aria-modal="true" aria-label="{{ 'sections.cart.title' | t }}" tabindex="-1">
            <div class="drawer__inner-wrapper slider-container-js">
                <div class="button-wrapper {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %}">
                    <button class="drawer__close button-close" type="button" onclick="this.closest('cart-drawer').close()" aria-label="{{ 'accessibility.close' | t }}">
                        {% if weight_close == 'light' %}
                                {% render 'icon', icon: 'cross-light' %}
                            {% elsif weight_close == 'regular' %}
                                {% render 'icon', icon: 'cross-regular' %}
                            {% elsif weight_close == 'medium' %}
                                {% render 'icon', icon: 'cross-medium' %}
                            {% elsif weight_close == 'bold' %}
                                {% render 'icon', icon: 'cross-bold' %}
                            {% endif %}
                    </button>
                </div>
                <h2 class="drawer__heading body-secondary-text--{{ settings.typography_preset }}">{{ cart.item_count }} {% if cart.item_count == 1 %}{{ 'cart_drawer.product' | t }}{% else %}{{ 'cart_drawer.products' | t }}{% endif %}</h2>
                {%- if cart == empty -%}
                <h3 class="cart-page__empty-text {% if settings.center_text %}center{% endif %} cart-page__empty-text--{{ settings.typography_preset }} {% if settings.accent_color_for_headings %}heading--accent{% endif %}">
                    {{ 'cart.empty' | t: cart_name: settings.cart_name }}
                </h3>
                <div class="cart-page__empty-actions {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %}" >
                    <a href="{{ routes.account_login_url }}" class="button solid-button  button--{{ settings.typography_preset }}">{{ 'cart.login' | t }}</a>
                    <a href="{{ routes.root_url }}" class="button outlined-button  button--{{ settings.typography_preset }}">{{ 'cart.continue_shopping' | t }}</a>
                </div>
                {%- else -%}
                <cart-drawer-items {% if cart == empty %}class=" is-empty"{% endif %}>
                    <form action="{{ routes.cart_url }}" id="CartDrawer-Form" class="cart__contents cart-drawer__form" method="post">
                    <div id="CartDrawer-CartItems" class="drawer__contents js-contents">
                        <div class="drawer__cart-items-wrapper">
                            <table class="cart-items">
                                <thead>
                                    <tr>
                                        <th class="body-secondary-text--{{ settings.typography_preset }} {% if settings.dim_text %}dim{% endif %}" scope="col">{{ 'sections.cart.headings.product' | t }}</th>
                                        <th class="body-secondary-text--{{ settings.typography_preset }} right {% if settings.dim_text %}dim{% endif %}" scope="col">{{ 'sections.cart.headings.total' | t }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%- for item in cart.items -%}
                                    <tr class="cart-item" id="CartDrawer-Item-{{ item.index | plus: 1 }}">
                                        <td class="cart-item__product">
                                            {% if item.image or settings.product_placeholder %}
                                            <span class="media-wrapper" {% if settings.disable_right_click %}oncontextmenu="return false"{% endif %}>
                                                {% if item.image %}
                                                  <img class="cart-item__image"
                                                      srcset="{{ item.image | image_url: width: 100 }} 1x, {{ item.image | image_url: width: 200 }} 2x"
                                                      src="{{ item.image | image_url: width: 100 }}"
                                                      alt="{{ item.image.alt | escape | split: '#' | first }}"
                                                      sizes="calc(100px * 1)"
                                                      loading="lazy"
                                                      draggable="false"
                                                      width="100"
                                                      height="127"/>
                                                {% elsif settings.product_placeholder %}
                                                  <img class="cart-item__image cart-item__image--placeholder"
                                                    srcset="{{ settings.product_placeholder | image_url: width: 100 }} 1x, {{ settings.product_placeholder | image_url: width: 200 }} 2x"
                                                    src="{{ settings.product_placeholder | image_url: width: 100 }}"
                                                    alt="{{ settings.product_placeholder.alt | escape | split: '#' | first }}"
                                                    loading="lazy"
                                                    draggable="false"
                                                    sizes="calc(100px * 1)"
                                                    width="100"
                                                    height="127"/>
                                                {% endif %}
                                            </span>
                                            {% endif %}
                                            <div class="cart-item__details">
                                                <div class="cart-item__first-row">
                                                    <a href="{{ item.product.url }}" class="cart-item__name hover-opacity card__title--{{ settings.typography_preset }}">{{ item.product.title | escape }}</a>
                                                    <div class="cart-item__totals right">
                                                        <div class="loading-overlay__spinner hidden">
                                                            <svg class="spinner" width="24px" height="24px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                                              <circle class="path" fill="none" stroke-width="5" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                                                           </svg>
                                                        </div>
                                                        <div class="cart-item__price-wrapper card__title--{{ settings.typography_preset }}">
                                                            {%- if item.original_line_price != item.final_line_price -%}
                                                            <dl class="cart-item__discounted-prices cart-item__discounted-prices--column">
                                                                <dt class="visually-hidden">{{ 'products.product.price.sale_price' | t }}</dt>
                                                                <dd class="price price--end sale-color">
                                                                <price-money><bdi>{{ item.final_line_price | money }}</bdi></price-money>
                                                                </dd>
                                                                <dt class="visually-hidden">
                                                                    {{ 'products.product.price.regular_price' | t }}
                                                                </dt>
                                                                <dd class="price--on-sale {% if settings.dim_text %}dim{% endif %}">
                                                                    <s class="price price-item--regular price--end">
                                                                    <price-money><bdi>{{ item.original_line_price | money }}</bdi></price-money>
                                                                    </s>
                                                                </dd>
                                                            </dl>
                                                            {%- else -%}
                                                            <span class="price price--end">
                                                                <price-money><bdi>{{ item.original_line_price | money }}</bdi></price-money>
                                                            </span>
                                                            {%- endif -%}
                                                        </div>
                                                    </div>
                                                </div>
                                                {%- if settings.cart_drawer_show_vendor -%}
                                                <p class="cart-item__vendor card__vendor--{{ settings.typography_preset }} {% if settings.dim_text %}dim{% endif %}">{{ item.product.vendor }}</p>
                                                {%- endif -%}
                                                {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
                                                    {%- if item.product.has_only_default_variant == false or item.properties.size != 0 -%}
                                                        {%- if item.product.has_only_default_variant == false -%}
                                                            <dl>
                                                                {%- for option in item.options_with_values -%}
                                                                <div class="product-option card__vendor--{{ settings.typography_preset }} {% if settings.dim_text %}dim{% endif %}">
                                                                    <dt>{{ option.name }}: </dt>
                                                                    <dd>{{ option.value }}</dd>
                                                                </div>
                                                                {%- endfor -%}
                                                            </dl>
                                                        {%- endif -%}
                                                   
                                                            <dl>
                                                                {%- for property in item.properties -%}
                                                                    {%- assign property_first_char = property.first | slice: 0 -%}
                                                                    {%- if property.last != blank and property_first_char != '_' -%}
                                                                    <div class="product-option card__vendor--{{ settings.typography_preset }} {% if settings.dim_text %}dim{% endif %}">
                                                                        <dt>{{ property.first }}: </dt>
                                                                        <dd>
                                                                        {%- if property.last contains '/uploads/' -%}
                                                                            <a href="{{ property.last }}" target="_blank">{{ property.last | split: '/' | last }}</a>
                                                                        {%- else -%}
                                                                            {{ property.last }}
                                                                        {%- endif -%}
                                                                        </dd>
                                                                    </div>
                                                                    {%- endif -%}
                                                                {%- endfor -%}
                                                            </dl>
                                                    
                                                    {%- endif -%}
                                            {%- if item.selling_plan_allocation != nil -%}
                                                <div class="product-option card__vendor--{{ settings.typography_preset }} {% if settings.dim_text %}dim{% endif %}">{{ item.selling_plan_allocation.selling_plan.name }}</div>
                                            {%- endif -%}
                                        {%- endif -%}
                                            <div class="cart-item__price-wrapper card__title--{{ settings.typography_preset }}">
                                                {%- if item.original_price != item.final_price -%}
                                                    <dl class="cart-item__discounted-prices">
                                                        <dt class="visually-hidden">{{ 'products.product.price.sale_price' | t }}</dt>
                                                        <dd class="price price--end sale-color">
                                                            <price-money><bdi>{{ item.final_price | money }}</bdi></price-money>
                                                        </dd>
                                                        <dt class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</dt>
                                                        <dd class="price--on-sale {% if settings.dim_text %}dim{% endif %}">
                                                            <s class="price price-item--regular price--end">
                                                            <price-money><bdi>{{ item.original_price | money }}</bdi></price-money>
                                                            </s>
                                                        </dd>
                                                    </dl>
                                                {%- else -%}
                                                    <span class="price price--end">
                                                        <price-money><bdi>{{ item.final_price | money }}</bdi></price-money>
                                                    </span>
                                                {%- endif -%}
                                                {%- if item.variant.available and item.unit_price_measurement -%}
                                                <div class="unit-price card__vendor--{{ settings.typography_preset }} dim">
                                                <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                                                <price-money><bdi>&#40;{{ item.variant.unit_price | money }}</bdi></price-money>
                                                <span aria-hidden="true">/</span>
                                                <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                                                {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                                                    {{- item.variant.unit_price_measurement.reference_value -}}
                                                {%- endif -%}
                                                {{ item.variant.unit_price_measurement.reference_unit }}&#41;
                                                </div>
                                            {%- endif -%}
                                            </div>
                                            <ul class="discounts card__vendor--{{ settings.typography_preset }} {% if settings.dim_text %}dim{% endif %}" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                                                {%- for discount in item.line_level_discount_allocations -%}
                                                  <li class="discounts__discount">
                                                    {% if weight_close == 'regular' %}
                                                      {% render 'icon-accordion-2', icon: 'price-tag-alternative-regular' %}
                                                    {% elsif weight_close == 'medium' %}
                                                            {% render 'icon-accordion-2', icon: 'price-tag-alternative-medium' %}
                                                    {% elsif weight_close == 'bold' %}
                                                            {% render 'icon-accordion-2', icon: 'price-tag-alternative-bold' %}
                                                    {% endif %}
                                                    {{ discount.discount_application.title }}
                                                  </li>
                                                {%- endfor -%}
                                            </ul>
                                        <div class="cart-item__details-actions">
                                            <label class="visually-hidden" for="Drawer-quantity-{{ item.index | plus: 1 }}">{{ 'products.product.quantity.label' | t }}</label>
                                            <quantity-input class="quantity">
                                                <button class="quantity__button no-js-hidden" name="minus" type="button" {% if item.quantity == 0 %}disabled{% endif %}>
                                                <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                                                {% if weight == 'light' %}
                                                            {% render 'icon', icon: 'minus-light' %}
                                                    {% elsif weight == 'regular' %}
                                                            {% render 'icon', icon: 'minus-regular' %}
                                                    {% elsif weight == 'medium' %}
                                                            {% render 'icon', icon: 'minus-medium' %}
                                                    {% elsif weight == 'bold' %}
                                                            {% render 'icon', icon: 'minus-bold' %}
                                                    {% endif %}
                                                </button>
                                                <input class="quantity__input label--{{ settings.typography_preset }}"
                                                type="number"
                                                name="updates[]"
                                                value="{{ item.quantity }}"
                                                min="0"
                                                {% if item.variant.quantity_rule.max != null %}
                                                    max="{{ item.variant.quantity_rule.max }}"
                                                {% endif %}
                                                step="{{ item.variant.quantity_rule.increment }}"
                                                aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                                id="Drawer-quantity-{{ item.index | plus: 1 }}"
                                                data-index="{{ item.index | plus: 1 }}"
                                                onclick="this.select();"/>
                                                <button class="quantity__button no-js-hidden" name="plus" type="button">
                                                <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                                                {% if weight == 'light' %}
                                                        {% render 'icon', icon: 'plus-light' %}
                                                {% elsif weight == 'regular' %}
                                                        {% render 'icon', icon: 'plus-regular' %}
                                                {% elsif weight == 'medium' %}
                                                        {% render 'icon', icon: 'plus-medium' %}
                                                {% elsif weight == 'bold' %}
                                                        {% render 'icon', icon: 'plus-bold' %}
                                                {% endif %}
                                                </button>
                                            </quantity-input>
                                            <cart-remove-button class="remove-button hover-opacity {% if settings.dim_text %}dim{% endif %}" id="CartDrawer-Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                                                <a href="{{ item.url_to_remove }}" class="button button--tertiary" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                                                    {% if weight == 'regular' %}
                                                            {% render 'icon-accordion-2', icon: 'remove-regular' %}
                                                    {% elsif weight == 'medium' %}
                                                            {% render 'icon-accordion-2', icon: 'remove-medium' %}
                                                    {% elsif weight == 'bold' %}
                                                            {% render 'icon-accordion-2', icon: 'remove-bold' %}
                                                    {% endif %}
                                                </a>
                                            </cart-remove-button>
                                        </div>
                                        <p class="cart-item__error form__message errors" id="CartDrawer-LineItemError-{{ item.index | plus: 1 }}">
                                            <span class="cart-item__error-text label--{{ settings.typography_preset }}"></span>
                                        </p>
                                    </div>
                                    </td>                  
                                </tr>
                                {%- endfor -%}
                            </tbody>
                            </table>
                        </div>
                        <p id="CartDrawer-LiveRegionText" class="visually-hidden" role="status"></p>
                        <p id="CartDrawer-LineItemStatus" class="visually-hidden" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
                    </div>
                    <div id="CartDrawer-CartErrors" role="alert" class="label--{{ settings.typography_preset }}"></div>
                    </form>
                </cart-drawer-items>
                {% if settings.enable_order_note %}
                <accordion-block class="accordion-first">
                    <div class="product__accordion accordion no-js-hidden">
                        <div class="accordion-toggle {% unless settings.show_collapsible_order %}not_collapsible is-open{% endunless %}" {% unless settings.show_collapsible_order %}open{% endunless %}>
                        <div class="accordion__summary"  tabindex="0">
                            <div class="summary__title">
                                <div class="summary__title-name">
                                    <h2 class="h4 accordion__title accordion__title--{{ settings.typography_preset }}">{{ settings.order_heading }}</h2>
                                </div>
                                <span class="icon-accordion">
                                    <span class="icon-accordion__close">
                                        {% if weight_accordion_title == 'light' %}
                                                {% render 'icon', icon: 'plus-light' %}
                                        {% elsif weight_accordion_title == 'regular' %}
                                                {% render 'icon', icon: 'plus-regular' %}
                                        {% elsif weight_accordion_title == 'medium' %}
                                                {% render 'icon', icon: 'plus-medium' %}
                                        {% elsif weight_accordion_title == 'bold' %}
                                                {% render 'icon', icon: 'plus-bold' %}
                                        {% endif %}
                                    </span>
                                    <span class="icon-accordion__open">
                                        {% if weight_accordion_title == 'light' %}
                                                {% render 'icon', icon: 'minus-light' %}
                                        {% elsif weight_accordion_title == 'regular' %}
                                                {% render 'icon', icon: 'minus-regular' %}
                                        {% elsif weight_accordion_title == 'medium' %}
                                                {% render 'icon', icon: 'minus-medium' %}
                                        {% elsif weight_accordion_title == 'bold' %}
                                                {% render 'icon', icon: 'minus-bold' %}
                                        {% endif %}
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="accordion__panel">
                            <div class="accordion__content">
                                <cart-note class="cart__note">
                                    <label class="secondary-text {% if settings.dim_text %}dim{% endif %} label--{{ settings.typography_preset }}" for="CartDrawer-Note">{{ settings.order_label }}</label>
                                    <textarea class="text-area input--{{ settings.typography_preset }}" name="note" id="CartDrawer-Note" placeholder="{{ settings.order_placeholder | strip_html }}">{{ cart.note }}</textarea>
                                </cart-note>
                            </div>
                        </div>
                        </div>
                    </div>
                    <noscript>
                        <div class="product__accordion accordion">
                            <details id="Details-{{ section.id }}" class="accordion-toggle {% unless settings.show_collapsible_order %}not_collapsible is-open{% endunless %}" {% unless settings.show_collapsible_order %}open{% endunless %}>
                            <summary class="accordion__summary">
                                <div class="summary__title">
                                    <div class="summary__title-name">
                                        <h2 class="h4 accordion__title accordion__title--{{ settings.typography_preset }}">{{ settings.order_heading }}</h2>
                                    </div>
                                    <span class="icon-accordion">
                                        <span class="icon-accordion__close">
                                            {% if weight_accordion_title == 'light' %}
                                                    {% render 'icon', icon: 'plus-light' %}
                                            {% elsif weight_accordion_title == 'regular' %}
                                                    {% render 'icon', icon: 'plus-regular' %}
                                            {% elsif weight_accordion_title == 'medium' %}
                                                    {% render 'icon', icon: 'plus-medium' %}
                                            {% elsif weight_accordion_title == 'bold' %}
                                                    {% render 'icon', icon: 'plus-bold' %}
                                            {% endif %}
                                        </span>
                                        <span class="icon-accordion__open">
                                            {% if weight_accordion_title == 'light' %}
                                                    {% render 'icon', icon: 'minus-light' %}
                                            {% elsif weight_accordion_title == 'regular' %}
                                                    {% render 'icon', icon: 'minus-regular' %}
                                            {% elsif weight_accordion_title == 'medium' %}
                                                    {% render 'icon', icon: 'minus-medium' %}
                                            {% elsif weight_accordion_title == 'bold' %}
                                                    {% render 'icon', icon: 'minus-bold' %}
                                            {% endif %}
                                        </span>
                                    </span>
                                </div>
                            </summary>
                            <div class="accordion__panel">
                                <div class="accordion__content" id="ProductAccordion-{{ section.id }}">
                                    <cart-note class="cart__note">
                                        <label class="secondary-text {% if settings.dim_text %}dim{% endif %} label--{{ settings.typography_preset }}" for="Cart-note">{{ settings.order_label }}</label>
                                        <textarea class="text-area input--{{ settings.typography_preset }}" name="note" form="cart" id="Cart-note" placeholder="{{ settings.order_placeholder | strip_html }}"></textarea>
                                    </cart-note>
                                </div>
                            </div>
                            </details>
                        </div>
                    </noscript>
                </accordion-block>
                {% endif %}
                {% if settings.enable_shipping_calculator %}
                <accordion-block class="accordion-second">
                    <div class="product__accordion accordion no-js-hidden" >
                        <div class="accordion-toggle">
                        <div class="accordion__summary" tabindex="0">
                            <div class="summary__title">
                                <div class="summary__title-name">
                                    <h2 class="h4 accordion__title accordion__title--{{ settings.typography_preset }}">{{ settings.shipping_heading }}</h2>
                                </div>
                                <span class="icon-accordion">
                                    <span class="icon-accordion__close">
                                        {% if weight_accordion_title == 'light' %}
                                                {% render 'icon', icon: 'plus-light' %}
                                        {% elsif weight_accordion_title == 'regular' %}
                                                {% render 'icon', icon: 'plus-regular' %}
                                        {% elsif weight_accordion_title == 'medium' %}
                                                {% render 'icon', icon: 'plus-medium' %}
                                        {% elsif weight_accordion_title == 'bold' %}
                                                {% render 'icon', icon: 'plus-bold' %}
                                        {% endif %}
                                    </span>
                                    <span class="icon-accordion__open">
                                        {% if weight_accordion_title == 'light' %}
                                                {% render 'icon', icon: 'minus-light' %}
                                        {% elsif weight_accordion_title == 'regular' %}
                                                {% render 'icon', icon: 'minus-regular' %}
                                        {% elsif weight_accordion_title == 'medium' %}
                                                {% render 'icon', icon: 'minus-medium' %}
                                        {% elsif weight_accordion_title == 'bold' %}
                                                {% render 'icon', icon: 'minus-bold' %}
                                        {% endif %}
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="accordion__panel">
                            <div class="accordion__content">                
                            <shipping-calculator>                    
                                <form-state>
                                <div class="select">
                                    <label class="secondary-text {% if settings.dim_text %}dim{% endif %} label--{{ settings.typography_preset }}" for="ShippingCalculatorCountry">{{ 'sections.cart.shipping_country' | t | append: '*' }}</label>
                                    <div class="select">
                                    <select
                                        id="ShippingCalculatorCountry"
                                        class="input--{{ settings.typography_preset }}"
                                        data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_default_country != '' %}{{ settings.shipping_default_country }}{% endif %}"
                                        autocomplete="country"
                                        data-empty="---"
                                        required>
                                        {{ all_country_option_tags }}
                                    </select>
                                    <div class="select-icon">
                                        {% if weight_accordion_title == 'regular' %}
                                                {% render 'icon', icon: 'close-chevron-regular' %}
                                        {% elsif weight_accordion_title == 'medium' %}
                                                {% render 'icon', icon: 'close-chevron-medium' %}
                                        {% elsif weight_accordion_title == 'bold' %}
                                                {% render 'icon', icon: 'close-chevron-bold' %}
                                        {% endif %}
                                    </div>
                                    </div>
                                </div>
                                <div class="select" id="ShippingCalculatorProvinceContainer" style="display: none">
                                    <label class="secondary-text {% if settings.dim_text %}dim{% endif %} label--{{ settings.typography_preset }}" for="ShippingCalculatorProvince">{{ 'sections.cart.shipping_state' | t }}</label>
                                    <div class="select">
                                    <select
                                        id="ShippingCalculatorProvince"
                                        class="input--{{ settings.typography_preset }}"
                                        data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"
                                        autocomplete="address-level1">
                                    </select>
                                    <div class="select-icon">
                                        {% if weight_accordion_title == 'regular' %}
                                                {% render 'icon', icon: 'close-chevron-regular' %}
                                        {% elsif weight_accordion_title == 'medium' %}
                                                {% render 'icon', icon: 'close-chevron-medium' %}
                                        {% elsif weight_accordion_title == 'bold' %}
                                                {% render 'icon', icon: 'close-chevron-bold' %}
                                        {% endif %}
                                    </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="secondary-text {% if settings.dim_text %}dim{% endif %} label--{{ settings.typography_preset }}" for="ShippingCalculatorZip">{{ 'sections.cart.zip' | t }}</label>
                                    <input id="ShippingCalculatorZip" class="input input--{{ settings.typography_preset }}" type="text"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'sections.cart.zip_placeholder' | t }}"/>
                                </div>
                                <div class="field form__message errors hidden error-color label--{{ settings.typography_preset }}" id="ShippingCalculatorErrors">
                                    <div class="errors"></div>
                                </div>
                                <div class="shipping-button {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %}">
                                    <button class="button solid-button button--{{ settings.typography_preset }} button--submit" type="button">{{ 'sections.cart.estimate' | t }}</button>
                                </div>
                                </form-state>
                                <div class="field form__message hidden body-secondary-text--{{ settings.typography_preset }}" id="ShippingCalculatorSuccess"></div>
                            </shipping-calculator>
                            </div>
                        </div>
                        </div>
                    </div>
                    <noscript>
                        <div class="product__accordion accordion" >
                            <details id="Details-{{ section.id }}" class="accordion-toggle" tabindex="0">
                            <summary class="accordion__summary">
                                <div class="summary__title">
                                    <div class="summary__title-name">
                                        <h2 class="h4 accordion__title accordion__title--{{ settings.typography_preset }}">{{ settings.shipping_heading }}</h2>
                                    </div>
                                    <span class="icon-accordion">
                                        <span class="icon-accordion__close">
                                            {% if weight_accordion_title == 'light' %}
                                                    {% render 'icon', icon: 'plus-light' %}
                                            {% elsif weight_accordion_title == 'regular' %}
                                                    {% render 'icon', icon: 'plus-regular' %}
                                            {% elsif weight_accordion_title == 'medium' %}
                                                    {% render 'icon', icon: 'plus-medium' %}
                                            {% elsif weight_accordion_title == 'bold' %}
                                                    {% render 'icon', icon: 'plus-bold' %}
                                            {% endif %}
                                        </span>
                                        <span class="icon-accordion__open">
                                            {% if weight_accordion_title == 'light' %}
                                                    {% render 'icon', icon: 'minus-light' %}
                                            {% elsif weight_accordion_title == 'regular' %}
                                                    {% render 'icon', icon: 'minus-regular' %}
                                            {% elsif weight_accordion_title == 'medium' %}
                                                    {% render 'icon', icon: 'minus-medium' %}
                                            {% elsif weight_accordion_title == 'bold' %}
                                                    {% render 'icon', icon: 'minus-bold' %}
                                            {% endif %}
                                        </span>
                                    </span>
                                </div>
                            </summary>
                            <div class="accordion__panel">
                                <div class="accordion__content" id="ProductAccordion-{{ section.id }}">                
                                <shipping-calculator>                    
                                    <form-state>
                                    <div class="select">
                                        <label class="secondary-text {% if settings.dim_text %}dim{% endif %} label--{{ settings.typography_preset }}" for="ShippingCalculatorCountry">{{ 'sections.cart.shipping_country' | t | append: '*' }}</label>
                                        <div class="select">
                                        <select
                                            id="ShippingCalculatorCountry"
                                            class="input--{{ settings.typography_preset }}"
                                            data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_default_country != '' %}{{ settings.shipping_default_country }}{% endif %}"
                                            autocomplete="country"
                                            data-empty="---"
                                            required>
                                            {{ all_country_option_tags }}
                                        </select>
                                        <div class="select-icon">
                                            {% if weight_accordion_title == 'regular' %}
                                                    {% render 'icon', icon: 'close-chevron-regular' %}
                                            {% elsif weight_accordion_title == 'medium' %}
                                                    {% render 'icon', icon: 'close-chevron-medium' %}
                                            {% elsif weight_accordion_title == 'bold' %}
                                                    {% render 'icon', icon: 'close-chevron-bold' %}
                                            {% endif %}
                                        </div>
                                        </div>
                                    </div>
                                    <div class="select" id="ShippingCalculatorProvinceContainer" style="display: none">
                                        <label class="secondary-text {% if settings.dim_text %}dim{% endif %} label--{{ settings.typography_preset }}" for="ShippingCalculatorProvince">{{ 'sections.cart.shipping_state' | t }}</label>
                                        <div class="select">
                                        <select
                                            id="ShippingCalculatorProvince"
                                            class="input--{{ settings.typography_preset }}"
                                            data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"
                                            autocomplete="address-level1">
                                        </select>
                                        <div class="select-icon">
                                            {% if weight_accordion_title == 'regular' %}
                                                    {% render 'icon', icon: 'close-chevron-regular' %}
                                            {% elsif weight_accordion_title == 'medium' %}
                                                    {% render 'icon', icon: 'close-chevron-medium' %}
                                            {% elsif weight_accordion_title == 'bold' %}
                                                    {% render 'icon', icon: 'close-chevron-bold' %}
                                            {% endif %}
                                        </div>
                                        </div>
                                    </div>
                                    <div class="field field--zip">
                                        <label class="secondary-text {% if settings.dim_text %}dim{% endif %} label--{{ settings.typography_preset }}" for="ShippingCalculatorZip">{{ 'sections.cart.zip' | t }}</label>
                                        <input id="ShippingCalculatorZip" class="input input--{{ settings.typography_preset }}" type="text"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'sections.cart.zip_placeholder' | t }}"/>
                                    </div>
                                    <div class="field form__message errors hidden error-color label--{{ settings.typography_preset }}" id="ShippingCalculatorErrors">
                                        <div class="errors"></div>
                                    </div>
                                    <div class="shipping-button {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %}">
                                        <button class="button solid-button button--{{ settings.typography_preset }} button--submit" type="button">{{ 'sections.cart.estimate' | t }}</button>
                                    </div>
                                    </form-state>
                                    <div class="field form__message hidden body-secondary-text--{{ settings.typography_preset }}" id="ShippingCalculatorSuccess"></div>
                                </shipping-calculator>
                                </div>
                            </div>
                            </details>
                        </div>
                    </noscript>
                </accordion-block>
                {% endif %}
                {% if settings.enable_cart_recommendations %}
                {%- render 'cart-recommendations', cart_recommendations_settings: settings, desktop_grid: 2 -%}
                {% endif %}
                {% endif %}
            </div>
            {%- if cart != empty -%}
            <div class="drawer__footer">
                <div class="js-contents">
                    <div class="block-prices">
                        {%- assign your_saved = 0 -%}
                        {%- for item in cart.items -%}
                        {%- if item.original_price != item.final_price -%}
                        {% liquid
                          assign your_saved = item.original_price | minus: item.final_price | times: item.quantity | plus: your_saved 
                        %}
                        {%- endif -%}
                        {%- endfor -%}
                        {%- if cart.cart_level_discount_applications.size > 0 -%}
                            {%- for discount in cart.cart_level_discount_applications -%}
                              {% liquid
                                assign your_saved = discount.total_allocated_amount | plus: your_saved 
                              %}
                            {%- endfor -%}
                        {%- endif -%}
                        {%- if settings.show_cart_total -%}
                          <div class="cart-totals body-secondary-text--{{ settings.typography_preset }}">
                            <p class="cart-totals__title">
                                {{ 'sections.cart.cart_total' | t: name: settings.cart_name | capitalize }}
                            </p>
                            {%- assign cart_total = cart.original_total_price -%}
                            <p class="cart-totals__value">{% if settings.currency_code_enabled %}{{ cart_total | money_with_currency }}{% else %}{{ cart_total | money }}{% endif %}</p>
                          </div>
                        {% endif %}
                        {%- if cart.cart_level_discount_applications.size > 0 -%}
                            <div class="discounts-wrapper body-secondary-text--{{ settings.typography_preset }} {% if settings.dim_text %}dim{% endif %}">
                              <ul class="discounts" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                                {%- for discount in cart.cart_level_discount_applications -%}
                                  <li class="discounts__discount discounts__discount--position">
                                    {% if weight_close == 'regular' %}
                                      {% render 'icon-accordion-2', icon: 'price-tag-alternative-regular' %}
                                    {% elsif weight_close == 'medium' %}
                                            {% render 'icon-accordion-2', icon: 'price-tag-alternative-medium' %}
                                    {% elsif weight_close == 'bold' %}
                                            {% render 'icon-accordion-2', icon: 'price-tag-alternative-bold' %}
                                    {% endif %}
                                    {{ discount.title }}
                                    {% if settings.currency_code_enabled %}(-{{ discount.total_allocated_amount | money_with_currency }}){% else %}(-{{ discount.total_allocated_amount | money }}){% endif %}
                                  </li>
                                {%- endfor -%}
                              </ul>
                            </div>
                        {%- endif -%}
                        {%- if settings.show_saved and your_saved > 0 -%}
                          <div class="discount body-secondary-text--{{ settings.typography_preset }}" aria-label="{{ 'customer.order.discount' | t }}">
                            <p class="discount__title">{{ 'sections.cart.saved' | t }}</p>
                            <p class="discount__value sale-color">{% if settings.currency_code_enabled %}{{ your_saved | money_with_currency }}{% else %}{{ your_saved | money }}{% endif %}</p>
                          </div>
                        {% endif %}
                        <div class="totals total--{{ settings.typography_preset }}">
                          <p class="totals__subtotal">{{ 'sections.cart.subtotal' | t }}</p>
                          <p class="totals__subtotal-value">{% if settings.currency_code_enabled %}{{ cart.total_price | money_with_currency }}{% else %}{{ cart.total_price | money }}{% endif %}</p>
                        </div>
                      </div>
                    <small class="tax-note product__shipping-policy--{{ settings.typography_preset }} {% if settings.dim_text %}dim{% endif %}">
                    {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                        {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                    {%- elsif cart.taxes_included -%}
                        {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                    {%- elsif shop.shipping_policy.body != blank -%}
                        {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                    {%- else -%}
                        {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                    {%- endif -%}
                    </small>
                </div>
                <div class="drawer__footer-actions {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %}">
                    <div class="cart__checkout">
                        <noscript>
                            <button type="submit" class="cart__update-button button solid-button button--{{ settings.typography_preset }}" form="cart">
                            {{ 'sections.cart.update' | t }}
                            </button>
                        </noscript>
                        <button type="submit" id="CartDrawer-Checkout" class="cart__checkout-button button solid-button button--{{ settings.typography_preset }}" name="checkout"{% if cart == empty %} disabled{% endif %} form="CartDrawer-Form">
                            {{ 'sections.cart.checkout' | t }}
                        </button>
                    </div>
                    {%- unless settings.hide_cart_button -%}
                    <a href="{{ routes.cart_url }}" class="button outlined-button  button--{{ settings.typography_preset }}">
                        {{ 'cart_drawer.view' | t: cart_name: settings.cart_name }}
                    </a>
                    {% endunless %}
                </div>
            </div>
            {%- endif -%}
        </div>
    </div>
</cart-drawer>

<script>
	document.addEventListener('DOMContentLoaded', function() {
	  function isIE() {
		const ua = window.navigator.userAgent;
		const msie = ua.indexOf('MSIE ');
		const trident = ua.indexOf('Trident/');
  
		return (msie > 0 || trident > 0);
	  }
  
	  if (!isIE()) return;
	  const cartSubmitInput = document.createElement('input');
	  cartSubmitInput.setAttribute('name', 'checkout');
	  cartSubmitInput.setAttribute('type', 'hidden');
	  document.querySelector('#cart').appendChild(cartSubmitInput);
	  document.querySelector('#checkout').addEventListener('click', function(event) {
		document.querySelector('#cart').submit();
	  });
	});
  </script>