{% if cart != empty %}
    {{ 'component-price.css' | asset_url | stylesheet_tag }}
    {{ 'section-slider.css' | asset_url | stylesheet_tag }}
    {{ 'component-product-card.css' | asset_url | stylesheet_tag }}
    {{ 'component-slider.css' | asset_url | stylesheet_tag }}

  <product-recommendations class="slider-section slider-section--{{ settings.white_space }} {% if settings.show_lines %}slider-section--lines{% endif %}" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ cart.items.first.product_id }}&limit=10">
    {%- liquid 

        if settings.typography_preset == 'avant_garde'
        assign weight_close = settings.accent_icon_weight
        if settings.swap_fonts
            assign weight_close = settings.base_icon_weight
        endif
    else 
        assign weight_close =  settings.base_icon_weight
        if settings.swap_fonts
            assign weight_close = settings.accent_icon_weight
        endif
    endif
    -%}

    {% style %}
    {% unless section.id contains 'cart-drawer' %}
      
    #Slider-Gallery-{{ section.id }} {
        {% if cart_recommendations_settings.desktop_grid_type == 'heading_with_two' %}
          --desktop-grid-type: 2;
        {% elsif cart_recommendations_settings.desktop_grid_type == 'heading_with_three' %}
          --desktop-grid-type: 3;
        {% else %}
        --desktop-grid-type: {{ cart_recommendations_settings.desktop_grid_type }};
        {% endif %}
      }

  /* Styles for full-width page without sidebars */
/* Mobile */
  @media screen and (max-width: 768px) {
    #Slider-Gallery-{{ section.id }} {
      --desktop-grid-type: {{ cart_recommendations_settings.mobile_layout }};
    }
  }
  /* Sidebars: Main XS, Main S, Main M and white space Spacious */
  /* Mobile */
  @media screen and (max-width: 1048px) and (min-width: 921px) {
    .main_xs--spacious #Slider-Gallery-{{ section.id }},
    .main_s--spacious #Slider-Gallery-{{ section.id }},
    .main_m--spacious #Slider-Gallery-{{ section.id }} {
      --desktop-grid-type: {{ cart_recommendations_settings.mobile_layout }};
    }
  }
  /* Sidebars: Main XS, Main S and white space Compact */
  /* Mobile */
  @media screen and (max-width: 968px) and (min-width: 921px) {
    .main_xs--compact #Slider-Gallery-{{ section.id }},
    .main_s--compact #Slider-Gallery-{{ section.id }} {
      --desktop-grid-type: {{ cart_recommendations_settings.mobile_layout }};
    }
  }
  /* Sidebars: Main XS with secondary, Main S with secondary and white space Spacious */
  /* Mobile */
  @media screen and (max-width: 1144px) and (min-width: 921px) {
    .main_xs_with_secondary--spacious #Slider-Gallery-{{ section.id }},
    .main_s_with_secondary--spacious #Slider-Gallery-{{ section.id }} {
      --desktop-grid-type: {{ cart_recommendations_settings.mobile_layout }};
    }
  }
  /* Sidebars: Main XS with secondary, Main S with secondary and white space Compact */
  /* Mobile */
  @media screen and (max-width: 1064px) and (min-width: 921px) {
    .main_xs_with_secondary--compact #Slider-Gallery-{{ section.id }},
    .main_s_with_secondary--compact #Slider-Gallery-{{ section.id }} {
      --desktop-grid-type: {{ cart_recommendations_settings.mobile_layout }};
    }
  } 
  /* Sidebars: Main M and white space Compact */
  /* Mobile */
  @media screen and (max-width: 1024px) and (min-width: 921px) {
    .main_m--compact  #Slider-Gallery-{{ section.id }} {
      --desktop-grid-type: {{ cart_recommendations_settings.mobile_layout }};
    }
  }
  /* Sidebars: Main M with secondary */
  /* Mobile */
  @media screen and (max-width: 1152px) and (min-width: 921px) {
    .main_m_with_secondary  #Slider-Gallery-{{ section.id }} {
      --desktop-grid-type: {{ cart_recommendations_settings.mobile_layout }};
    }
  }
  /* Sidebars: Main L */
  /* Mobile */
  @media screen and (max-width: 1536px) and (min-width: 921px) {
    .main_l #Slider-Gallery-{{ section.id }} {
      --desktop-grid-type: {{ cart_recommendations_settings.mobile_layout }};
    }
  }
   {% endunless %}

    
    {% endstyle %}
    <slider-component id="GalleryViewer-{{ section.id }}" class="slider {% if cart_recommendations_settings.desktop_grid_type == 'heading_with_two' or cart_recommendations_settings.desktop_grid_type == 'heading_with_three' %}slider--row{% endif %} {% if cart_recommendations_settings.desktop_grid_type == 'heading_with_two' %}slider--row-two{% endif %} {% if cart_recommendations_settings.desktop_grid_type == 'heading_with_three' %}slider--row-three{% endif %}">
      {% if recommendations.performed and recommendations.products_count > 0 %}
        <div class="slider__header {% if settings.center_text %}slider__header-center{% endif %} {% if cart_recommendations_settings.heading == blank and cart_recommendations_settings.desktop_grid_type == '3' or cart_recommendations_settings.heading == blank and cart_recommendations_settings.desktop_grid_type == '4' or cart_recommendations_settings.heading == blank and cart_recommendations_settings.desktop_grid_type == '5' %}slider__header--hidden{% endif %}">
          {% if cart_recommendations_settings.heading != blank %}
            <{% unless section.id contains 'cart-drawer' %}{{ cart_recommendations_settings.heading_tag }}{% else %}h2{% endunless %} class="slider__heading {% if settings.accent_color_for_headings %}slider__heading--accent{% endif %} slider__heading--{{ settings.typography_preset }} {% unless cart_recommendations_settings.heading_size == 'default' %}{{ cart_recommendations_settings.heading_size }}{% endunless %}">{{ cart_recommendations_settings.heading | escape }}
            </{% unless section.id contains 'cart-drawer' %}{{ cart_recommendations_settings.heading_tag }}{% else %}h2{% endunless %}>
          {% endif %}
          {% liquid 
            assign grid_items_desktop = cart_recommendations_settings.desktop_grid_type | times: 1
            if cart_recommendations_settings.desktop_grid_type == 'heading_with_two'
              assign grid_items_desktop = 2
            elsif cart_recommendations_settings.desktop_grid_type == 'heading_with_three' or section.id contains 'cart-drawer'
              assign grid_items_desktop = 3
            endif
            assign grid_items_mobile = cart_recommendations_settings.mobile_layout | times: 1
          %}
          {% if cart_recommendations_settings.desktop_grid_type == 'heading_with_two' or cart_recommendations_settings.desktop_grid_type == 'heading_with_three' %}
            
            <div class="slider-buttons-items {% if recommendations.products_count <= grid_items_desktop or settings.center_text == true and cart_recommendations_settings.desktop_grid_type != 'heading_with_two' and settings.center_text == true and cart_recommendations_settings.desktop_grid_type != 'heading_with_three' %}hidden-desktop{% endif %} hidden-mobile">
              <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">
                {% if weight_close == 'regular' %}
                  {% render 'icon-accordion-2', icon: 'arrow-long-left-regular' %}
                {% elsif weight_close == 'medium' %}
                  {% render 'icon-accordion-2', icon: 'arrow-long-left-medium' %}
                {% elsif weight_close == 'bold' %}
                  {% render 'icon-accordion-2', icon: 'arrow-long-left-bold' %}
                {% endif %}
              </button>
              <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">
                {% if weight_close == 'regular' %}
                  {% render 'icon-accordion-2', icon: 'arrow-long-right-regular' %}
                {% elsif weight_close == 'medium' %}
                  {% render 'icon-accordion-2', icon: 'arrow-long-right-medium' %}
                {% elsif weight_close == 'bold' %}
                  {% render 'icon-accordion-2', icon: 'arrow-long-right-bold' %}
                {% endif %}
              </button>
            </div>
          {% endif %}
        </div>
        <div class="slider__viewport">
          {%- liquid
            if section.id contains 'cart-drawer'
            assign card_product_settings = settings
            endif
            -%}
          <ul id="Slider-Gallery-{{ section.id }}" class="slider__grid slider__grid-mobile-{{ section.settings.mobile_layout }}" role="list"  
            data-count="{% if cart_recommendations_settings.desktop_grid_type == 'heading_with_two' %}2{% elsif cart_recommendations_settings.desktop_grid_type == 'heading_with_three' %}3{% else %}{{ desktop_grid }}{% endif %}"
            data-count-mobile="{{ cart_recommendations_settings.mobile_layout }}">
            {%- liquid
              assign card_product_settings = section.settings
              if section.id contains 'cart-drawer'
              assign card_product_settings = settings
              endif
              -%}
            {% for recommendation in recommendations.products %}
              {% assign mobileItems = cart_recommendations_settings.mobile_layout | times: 1 %}
              <li id="Slide-{{ section.id }}" class="slider__grid-item snap-align {% if forloop.first %}is-active{% endif %} 
                {% if cart_recommendations_settings.desktop_grid_type == '5' and forloop.index == 4 %}no-line{% endif %}
                {% if forloop.last and settings.show_lines and forloop.length >= grid_items_desktop %}last-desktop{% endif %} 
                {% if forloop.last and settings.show_lines and forloop.length >= grid_items_mobile %}last-mobile{% endif %}
                {% if recommendations.products_count == mobileItems %}last-element{% endif %}" {% if section.id == 'cart-drawer' %}style="--focal-point: {{ settings.focal_point }};"{% endif %}>
                {% render 'card-product',
                  card_product: recommendation,
                  image_ratio: card_product_settings.image_ratio,
                  show_vendor: card_product_settings.show_vendor,
                  show_second_image: card_product_settings.show_second_image,
                  enable_quick_view: card_product_settings.enable_quick_view,
                  enable_add_to_cart: card_product_settings.enable_add_to_cart,
                  price_position: card_product_settings.price_position,
                  max_product_name_characters: card_product_settings.max_product_name_characters,
                  show_short_description: card_product_settings.show_short_description,
                  enable_color_pills: card_product_settings.enable_color_pills,
                  show_rating: card_product_settings.show_rating
                %}
              </li>
            {% endfor %}
          </ul>
          {% liquid 
            assign grid_items_desktop = cart_recommendations_settings.desktop_grid_type | times: 1
            if cart_recommendations_settings.desktop_grid_type == 'heading_with_two'
              assign grid_items_desktop = 2
            elsif cart_recommendations_settings.desktop_grid_type == 'heading_with_three' or section.id contains 'cart-drawer'
              assign grid_items_desktop = 3
            endif
            assign grid_items_mobile = cart_recommendations_settings.mobile_layout | times: 1
          %}
          <div class="slider-buttons-items slider-buttons-items--bottom slider-buttons-items--{{ settings.white_space }} {% if settings.show_lines %}slider-buttons-items--lines{% endif %} 
            {% if cart_recommendations_settings.desktop_grid_type != '3' and cart_recommendations_settings.desktop_grid_type != '4' and cart_recommendations_settings.desktop_grid_type != '5' and section.id != 'cart-drawer' %}hidden-desktop{% endif %} 
            {% if recommendations.products_count <= grid_items_desktop %}hidden-desktop{% endif %}
              {% if cart_recommendations_settings.desktop_grid_type == '5' and recommendations.products_count == 5 %}hidden-desktop-none{% endif %}
            {% if recommendations.products_count <= grid_items_mobile %}hidden-mobile{% endif %}">
            <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">
              {% if weight_close == 'regular' %}
                {% render 'icon-accordion-2', icon: 'arrow-long-left-regular' %}
              {% elsif weight_close == 'medium' %}
                {% render 'icon-accordion-2', icon: 'arrow-long-left-medium' %}
              {% elsif weight_close == 'bold' %}
                {% render 'icon-accordion-2', icon: 'arrow-long-left-bold' %}
              {% endif %}
            </button>
            <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">
              {% if weight_close == 'regular' %}
                {% render 'icon-accordion-2', icon: 'arrow-long-right-regular' %}
              {% elsif weight_close == 'medium' %}
                {% render 'icon-accordion-2', icon: 'arrow-long-right-medium' %}
              {% elsif weight_close == 'bold' %}
                {% render 'icon-accordion-2', icon: 'arrow-long-right-bold' %}
              {% endif %}
            </button>
          </div>
        </div>
      {% endif %}
    </slider-component>
  </product-recommendations>
{% endif %}