{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-product-card.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

{%- liquid 

  if settings.typography_preset == 'avant_garde'
			assign weight_close = settings.accent_icon_weight
			if settings.swap_fonts
					assign weight_close = settings.base_icon_weight
			endif
	else 
			assign weight_close =  settings.base_icon_weight
			if settings.swap_fonts
					assign weight_close = settings.accent_icon_weight
			endif
	endif

-%}

<product-recommendations class="slider-section block-content complementary-block slider-container-js slider-section--{{ settings.white_space }}" 
  data-url="{{ url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=10&intent=complementary" {{ block_item.shopify_attributes }}>
  {% if recommendations.performed and recommendations.products_count > 0 %}
    <complementary-products id="GalleryViewer-{{ section.id }}" class="slider">
        <div class="slider__header {% if settings.center_text %}slider__header-center{% endif %}">
            {% if complementary_products_settings.heading != blank %}
              <h2 class="slider__heading block-heading--{{ settings.typography_preset }} {% unless complementary_products_settings.heading_size == 'default' %}{{ complementary_products_settings.heading_size }}{% endunless %}">{{ complementary_products_settings.heading }}</h2>
            {% endif %}
            {% liquid 
              assign grid_items_desktop = complementary_products_settings.desktop_grid_type | times: 1
              assign grid_items_mobile = complementary_products_settings.mobile_layout | times: 1
            %}
        </div>
      <div class="slider__viewport">
          <ul id="Slider-Gallery-{{ section.id }}" class="slider__grid complementary__grid slider__grid--{{ settings.white_space }}" role="list" >
          <li id="Slide-{{ section.id }}" class="complementary__grid-item is-active">
            <ul>
              {% for recommendation in recommendations.products %}
                {% if forloop.index <= 3 %}
                  {% assign mobileItems = section.settings.mobile_layout | times: 1 %}
                  <li class="slider__grid-item snap-align">
                    {% render 'card-product',
                        card_product: recommendation,
                        image_ratio: complementary_products_settings.image_ratio,
                        show_vendor: complementary_products_settings.show_vendor,
                        show_second_image: complementary_products_settings.show_second_image,
                        enable_quick_view: complementary_products_settings.enable_quick_view,
                        enable_add_to_cart: complementary_products_settings.enable_add_to_cart,
                        price_position: complementary_products_settings.price_position,
                        max_product_name_characters: complementary_products_settings.max_product_name_characters,
                        show_short_description: complementary_products_settings.show_short_description,
                        enable_color_pills: complementary_products_settings.enable_color_pills,
                        show_rating: complementary_products_settings.show_rating
                    %}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
          {% if recommendations.products_count > 3 %}
            <li id="Slide-{{ section.id }}" class="complementary__grid-item">
              <ul>
                {% for recommendation in recommendations.products %}
                  {% if forloop.index > 3 and forloop.index <= 6 %}
                    {% assign mobileItems = section.settings.mobile_layout | times: 1 %}
                    <li class="slider__grid-item snap-align">
                      {% render 'card-product',
                          card_product: recommendation,
                          image_ratio: complementary_products_settings.image_ratio,
                          show_vendor: complementary_products_settings.show_vendor,
                          show_second_image: complementary_products_settings.show_second_image,
                          enable_quick_view: complementary_products_settings.enable_quick_view,
                          enable_add_to_cart: complementary_products_settings.enable_add_to_cart,
                          price_position: complementary_products_settings.price_position,
                          max_product_name_characters: complementary_products_settings.max_product_name_characters,
                          show_short_description: complementary_products_settings.show_short_description,
                          enable_color_pills: complementary_products_settings.enable_color_pills,
                          show_rating: complementary_products_settings.show_rating
                      %}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% if recommendations.products_count > 6 %}
              <li id="Slide-{{ section.id }}" class="complementary__grid-item">
                <ul>
                  {% for recommendation in recommendations.products %}
                    {% if forloop.index > 6 and forloop.index <= 9 %}
                      {% assign mobileItems = section.settings.mobile_layout | times: 1 %}
                      <li class="slider__grid-item snap-align">
                        {% render 'card-product',
                            card_product: recommendation,
                            image_ratio: complementary_products_settings.image_ratio,
                            show_vendor: complementary_products_settings.show_vendor,
                            show_second_image: complementary_products_settings.show_second_image,
                            enable_quick_view: complementary_products_settings.enable_quick_view,
                            enable_add_to_cart: complementary_products_settings.enable_add_to_cart,
                            price_position: complementary_products_settings.price_position,
                            max_product_name_characters: complementary_products_settings.max_product_name_characters,
                            show_short_description: complementary_products_settings.show_short_description,
                            enable_color_pills: complementary_products_settings.enable_color_pills,
                            show_rating: complementary_products_settings.show_rating
                        %}
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
              {% if recommendations.products_count > 9 %}
                <li id="Slide-{{ section.id }}" class="complementary__grid-item">
                  <ul>
                    {% for recommendation in recommendations.products %}
                      {% if forloop.index > 9 %}
                        {% assign mobileItems = section.settings.mobile_layout | times: 1 %}
                        <li class="slider__grid-item snap-align">
                          {% render 'card-product',
                              card_product: recommendation,
                              image_ratio: complementary_products_settings.image_ratio,
                              show_vendor: complementary_products_settings.show_vendor,
                              show_second_image: complementary_products_settings.show_second_image,
                              enable_quick_view: complementary_products_settings.enable_quick_view,
                              enable_add_to_cart: complementary_products_settings.enable_add_to_cart,
                              price_position: complementary_products_settings.price_position,
                              max_product_name_characters: complementary_products_settings.max_product_name_characters,
                              show_short_description: complementary_products_settings.show_short_description,
                              enable_color_pills: complementary_products_settings.enable_color_pills,
                              show_rating: complementary_products_settings.show_rating
                          %}
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
            {% endif %}
          {% endif %}
          </ul>
           {% liquid 
            assign grid_items_desktop = section.settings.desktop_grid_type | times: 1
            assign grid_items_mobile = section.settings.mobile_layout | times: 1
          %}
          {% if recommendations.products_count > 3 %}
            <div class="slider-buttons-items slider-buttons-items--bottom slider-buttons-items--{{ settings.white_space }} {% if settings.show_lines %}slider-buttons-items--lines{% endif %}">
              <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">
                {% if weight_close == 'regular' %}
                  {% render 'icon-accordion-2', icon: 'arrow-long-left-regular' %}
                {% elsif weight_close == 'medium' %}
                  {% render 'icon-accordion-2', icon: 'arrow-long-left-medium' %}
                {% elsif weight_close == 'bold' %}
                  {% render 'icon-accordion-2', icon: 'arrow-long-left-bold' %}
                {% endif %}
              </button>
              <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">
                {% if weight_close == 'regular' %}
                  {% render 'icon-accordion-2', icon: 'arrow-long-right-regular' %}
                {% elsif weight_close == 'medium' %}
                  {% render 'icon-accordion-2', icon: 'arrow-long-right-medium' %}
                {% elsif weight_close == 'bold' %}
                  {% render 'icon-accordion-2', icon: 'arrow-long-right-bold' %}
                {% endif %}
              </button>
            </div> 
          {% endif %}
      </div>
    </complementary-products>
  {% endif %}
</product-recommendations>
