
{{ 'component-context-image.css' | asset_url | stylesheet_tag }}
{%- if block_or_section.settings.context_image_link != blank -%}
{%- if double_hover -%}<object class="context-image context-image--{{ block_or_section.id }} ratio-{{ block_or_section.settings.context_image_ratio }}" aria-label="{{ 'general.links.link_to_button_label' | t: label: block_or_section.settings.context_image_link }}" {% if shopify_attributes %}{{ block_or_section.shopify_attributes }}{% endif %}>{%- endif -%}  

<a href="{{ block_or_section.settings.context_image_link }}" {% if block_or_section.settings.context_target_blank %}target="_blank"{% endif %} aria-label="{{ block_or_section.settings.context_image.alt | escape }}" class="context-image context-image--{{ block_or_section.id }} ratio-{{ block_or_section.settings.context_image_ratio }} {% unless block.settings.context_image != blank %}context-image--placeholder{% endunless %} {% if double_hover %}elem-hover{% endif %}" {% if shopify_attributes %}{{ block.shopify_attributes }}{% endif %} {% if settings.disable_right_click %}oncontextmenu="return false"{% endif %}>
{%- else -%}<div class="context-image context-image--{{ block_or_section.id }} ratio-{{ block_or_section.settings.context_image_ratio }} {% unless block_or_section.settings.context_image != blank %}context-image--placeholder{% endunless %}" {% if shopify_attributes %}{{ block_or_section.shopify_attributes }}{% endif %} {% if settings.disable_right_click %}oncontextmenu="return false"{% endif %}>
{%- endif -%}
  {% style %}
    .context-image--{{ block_or_section.id }} {
      --context-image-width: {{ block_or_section.settings.context_image_width }}px;
      {% if block_or_section.settings.context_image_radius == 'default' %}
      --context-image-radius: {{ settings.images_and_sections_radius }};
      {% else %}
      --context-image-radius: {{ block_or_section.settings.context_image_radius }};
      {% endif %}
    }
    .context-image-container--{{ block.id }} {
      display: flex;
      justify-content: {{ block_or_section.settings.context_image_horizontal_alignment }};
      align-items: {{ block_or_section.settings.context_image_vertical_alignment }};
    }
    
  {% endstyle %}
  {%- if block_or_section.settings.context_image != blank -%}
    <img
    class="context-image__image"
    srcset="{%- if block_or_section.settings.context_image.width >= 165 -%}{{ block_or_section.settings.context_image | image_url: width: 165 }} 165w,{%- endif -%}
    {%- if block_or_section.settings.context_image.width >= 375 -%}{{ block_or_section.settings.context_image | image_url: width: 375 }} 375w,{%- endif -%}
    {%- if block_or_section.settings.context_image.width >= 550 -%}{{ block_or_section.settings.context_image | image_url: width: 550 }} 550w,{%- endif -%}
    {%- if block_or_section.settings.context_image.width >= 750 -%}{{ block_or_section.settings.context_image | image_url: width: 750 }} 750w,{%- endif -%}
    {%- if block_or_section.settings.context_image.width >= 1100 -%}{{ block_or_section.settings.context_image | image_url: width: 1100 }} 1100w,{%- endif -%}
    {%- if block_or_section.settings.context_image.width >= 1500 -%}{{ block_or_section.settings.context_image | image_url: width: 1500 }} 1500w,{%- endif -%}
    {{ block_or_section.settings.context_image | image_url }} {{ block_or_section.settings.context_image.width }}w"
    src="{{ block_or_section.settings.context_image | image_url: width: block_or_section.settings.context_image.width }}"
    sizes="calc({{ block_or_section.settings.context_image_width }}px / 1)"
    loading="lazy"
    draggable="false"
    alt="{{ block_or_section.settings.context_image.alt | escape }}"
    style="object-position: {{ block_or_section.settings.context_image.presentation.focal_point }}"
    width="{{ block_or_section.settings.context_image.width }}"
    height="{{ block_or_section.settings.context_image.width | divided_by: block_or_section.settings.context_image.aspect_ratio | ceil }}">
    {%- else -%}
    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
  {%- endif -%}
  {%- if block_or_section.settings.context_image_link != blank -%}
  </a>{%- if double_hover -%}</object>{%- endif -%}  
  {%- else -%}</div>
  {%- endif -%}