{{ 'contacts.css' | asset_url | stylesheet_tag }}

{% style %}
    #shopify-section-{{ section.id }} {
        --contacts-vertical-alignment: {{ contacts_settings.contacts_vertical_alignment }};
        --contacts-horizontal-alignment: {{ contacts_settings.contacts_horizontal_alignment }};
    }
{% endstyle %}

<div class="contacts-block contacts-block--{{ section.settings.grid_columns }} contacts-block--{{ contacts_settings.block_width }} {% if section.id contains 'header' %}contacts-block--header{% elsif section.id contains 'footer' %}contacts-block--footer{% else %}contacts-block--{{ section.id }}{% endif %} {% if section.settings.color_type == 'custom' %}color-custom{% elsif section.settings.color_type == 'invert' %}color-invert{% endif %} {% if contacts_settings.use_accent_color %}color-accent{% endif %}" style="--item-index: {{ for_loop.index }}" {{ block_item.shopify_attributes }}>
    {% if contacts_settings.contacts_subheading != blank %}
        <p class="contacts-title {% if settings.allow_transparent_navigation and settings.navigation_layout == 'sidebar_based' and section.id contains 'sidebar' and section.settings.color_type == 'default' %}scroll-color{% endif %} contacts__title--{{ settings.typography_preset }} {% if contacts_settings.subheading_size != 'default' %}{{ contacts_settings.subheading_size }}{% endif %} subheading {% if settings.dim_text %}dim{% endif %}">{{ contacts_settings.contacts_subheading }}</p>
    {% endif %}
    <div class="contacts-container {% if section.id contains 'header' %}contacts-container--header{% elsif section.id contains 'footer' %}contacts-container--footer{% else %}contacts-container--{{ section.id }}{% endif %}">
        <div class="contacts contacts--{{ settings.typography_preset }}">
            {% if contacts_settings.contacts_1 != blank %}
                {% if contacts_settings.contacts_1_type == 'text' %}
                    <p class="contacts__item {% if settings.allow_transparent_navigation and settings.navigation_layout == 'sidebar_based' and section.id contains 'sidebar' and section.settings.color_type == 'default' and contacts_settings.use_accent_color == false %}scroll-color{% endif %}">{{ contacts_settings.contacts_1 }}</p>
                {% elsif contacts_settings.contacts_1_type == 'phone_number' %}
                   <a href="tel:{{ contacts_settings.contacts_1 }}" class="contacts__item {% if settings.allow_transparent_navigation and settings.navigation_layout == 'sidebar_based' and section.id contains 'sidebar' and section.settings.color_type == 'default' and contacts_settings.use_accent_color == false %}scroll-color{% endif %} hover-opacity">{{ contacts_settings.contacts_1 }}</a>
                {% elsif contacts_settings.contacts_1_type == 'email' %}
                    <a href="mailto:{{ contacts_settings.contacts_1 }}" class="contacts__item {% if settings.allow_transparent_navigation and settings.navigation_layout == 'sidebar_based' and section.id contains 'sidebar' and section.settings.color_type == 'default' and contacts_settings.use_accent_color == false %}scroll-color{% endif %} hover-opacity">{{ contacts_settings.contacts_1 }}</a>
                {% endif %}
            {% endif %}
            {% if contacts_settings.contacts_2 != blank %}
                {% if contacts_settings.contacts_2_type == 'text' %}
                    <p class="contacts__item {% if settings.allow_transparent_navigation and settings.navigation_layout == 'sidebar_based' and section.id contains 'sidebar' and section.settings.color_type == 'default' and contacts_settings.use_accent_color == false %}scroll-color{% endif %}">{{ contacts_settings.contacts_2 }}</p>
                {% elsif contacts_settings.contacts_2_type == 'phone_number' %}
                <a href="tel:{{ contacts_settings.contacts_2 }}" class="contacts__item {% if settings.allow_transparent_navigation and settings.navigation_layout == 'sidebar_based' and section.id contains 'sidebar' and section.settings.color_type == 'default' and contacts_settings.use_accent_color == false %}scroll-color{% endif %} hover-opacity">{{ contacts_settings.contacts_2 }}</a>
                {% elsif contacts_settings.contacts_2_type == 'email' %}
                <a href="mailto:{{ contacts_settings.contacts_2 }}" class="contacts__item {% if settings.allow_transparent_navigation and settings.navigation_layout == 'sidebar_based' and section.id contains 'sidebar' and section.settings.color_type == 'default' and contacts_settings.use_accent_color == false %}scroll-color{% endif %} hover-opacity">{{ contacts_settings.contacts_2 }}</a>
                {% endif %}
            {% endif %}
        </div>
        {% if contacts_settings.contacts_description != blank %}
            <p class="contacts__description {% if settings.allow_transparent_navigation and settings.navigation_layout == 'sidebar_based' and section.id contains 'sidebar' and section.settings.color_type == 'default' %}scroll-color{% endif %} contacts__description--{{ settings.typography_preset }} {% if settings.dim_text %}dim{% endif %}">{{ contacts_settings.contacts_description }}</p>
        {% endif %}
    </div>
</div>