{% liquid
    assign overlay_background = block.overlay_color
    if block.overlay_gradient != blank
      assign overlay_background = block.overlay_gradient
    endif
%}
<div class="mega-menu--container mega-menu-{{ id }}" {{ mega_block.shopify_attributes }}>
    {% style %}
        .mega-menu-{{ id }} {
            --vertical-aligment: {{ block.vertical_text_alignment }};
            --horizontal-aligment: {{ block.horizontal_text_alignment }};
            --overlay-background: {{ overlay_background }};
            --overlay-opacity: {{ block.overlay_opacity | divided_by: 100.0 }};
            --content-color: {{ block.banner_content_color }};
            --columns: {{ block.columns }};
            --layout-text-color: 
            {{ settings.layout_text_color.red }},
            {{ settings.layout_text_color.green }}, 
            {{ settings.layout_text_color.blue }};
            --layout-background-color: 
            {{ settings.layout_background_color.red }},
            {{ settings.layout_background_color.green }},
            {{ settings.layout_background_color.blue }};
        }
    {% endstyle %}
    <div class="list-menu-dropdown {% if block.swap_banner_position %}list-menu-dropdown--right{% endif %} {% if block.show_lines %}list-menu-dropdown--lines{% endif %} {%- if block.show_banner -%}list-menu-dropdown--with-banner{%- endif -%}">
        {% if block.menu_heading != blank %}<h4 class="mega-menu__title {% if settings.accent_color_for_headings %}mega-menu__title--accent{% endif %} mega-menu__title--{{ settings.typography_preset }} {% if settings.show_lines %}mega-menu__title--lines{% endif %} {% if block.menu_heading_size != 'default' %}{{ block.menu_heading_size }}{% endif %}">{{ block.menu_heading }}</h4>{% endif %}
        <div class="mega-menu__list-container {% if block.show_lines %}mega-menu__list-container--lines{% endif %}" data-columns="{{ block.columns }}">
            <ul class="menu__dropdown-child">
                {% for child_link in link.links %}
                    <li class="menu__dropdown-child-item {% if child_link.links.size > 0 %}has-child{% endif %}">
                        <div class="menu__item-title menu__item-title--second-level mega-menu__item-title--{{ settings.typography_preset }}">
                            <a class="menu__dropdown-child-item-link hover-link" href="{{ child_link.url }}">
                                <div class="menu__item-link-title {% if settings.enable_animated_underline and settings.enable_rolling_hover == false %}link-animation--underline{% elsif settings.enable_rolling_hover %}link-animation--slide{% else %}link-animation{% endif %} {% if child_link.current and settings.underline_active_link == true %}underline-active{% endif %} {% if settings.enable_animated_underline and settings.enable_rolling_hover == false %}link-animation--underline{% elsif settings.enable_rolling_hover %}link-animation--slide{% else %}link-animation{% endif %}">
                                    <span data-hover="{{ child_link.title }}">{{ child_link.title }}</span>
                                </div>
                            </a>
                        </div>
                        {% if child_link.links.size > 0 %}
                            <div class="menu__dropdown-grandchild-container">
                                <ul class="menu__dropdown-grandchild">
                                {% for grandchild_link in child_link.links %}
                                    <li class="menu__dropdown-grandchild-item dim">
                                    <a class="menu__dropdown-grandchild-link hover-link mega-menu__child-item-title--{{ settings.typography_preset }}" href="{{ grandchild_link.url }}">
                                        <div class="menu__item-link-title {% if settings.enable_animated_underline and settings.enable_rolling_hover == false %}link-animation--underline{% elsif grandchild_link.current and settings.underline_active_link == true %}underline-active{% endif %} {% if settings.enable_animated_underline and settings.enable_rolling_hover == false %}link-animation--underline{% elsif settings.enable_rolling_hover %}link-animation--slide{% else %}link-animation{% endif %}">
                                            <span data-hover="{{ grandchild_link.title }}">{{ grandchild_link.title }}</span>
                                        </div>
                                    </a>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% assign columns = block.columns | times: 1 %}
            {% if block.show_lines and columns == 2 %}
            <span class="mega-menu__line" data-index="1"></span>
            {% elsif block.show_lines and columns == 3 %}
            <span class="mega-menu__line" data-index="1"></span>
            <span class="mega-menu__line" data-index="2"></span>
            {% elsif block.show_lines and columns == 4 %}
            <span class="mega-menu__line" data-index="1"></span>
            <span class="mega-menu__line" data-index="2"></span>
            <span class="mega-menu__line" data-index="3"></span>
            {% endif %}
        </div>
    </div>
    {%- if block.show_banner -%}
        <div class="mega-menu__banner {% if block.swap_banner_position %}mega-menu__banner--left{% endif %} {% if block.show_lines %}mega-menu__banner--lines{% endif %}">
            {% liquid
                assign settings_page_width = settings.max_page_width | append: 'px'
                if settings.max_page_width == 'full_width'
                assign settings_page_width = '100vw'
                endif
            %}
            {% if block.banner_link != blank %}<double-hover>{% endif %}
                <{% if block.banner_link != blank %}a{% else %}div{% endif %} class="mega-menu__banner-link double-hover"{% if block.banner_link != blank %} href="{{ block.banner_link }}"{% else %} role="link" aria-disabled="true"{% endif %}>
                    <div class="mega-menu__banner-image" {% if settings.disable_right_click %}oncontextmenu="return false"{% endif %}>
                        {%- if block.banner_image != blank -%}
                            <img srcset="{%- if block.banner_image.image.width >= 165 -%}{{ block.banner_image.image | image_url: width: 165 }} 165w,{%- endif -%}
                            {%- if block.banner_image.image.width >= 375 -%}{{ block.banner_image.image | image_url: width: 375 }} 375w,{%- endif -%}
                            {%- if block.banner_image.image.width >= 550 -%}{{ block.banner_image.image | image_url: width: 550 }} 550w,{%- endif -%}
                            {%- if block.banner_image.image.width >= 750 -%}{{ block.banner_image.image | image_url: width: 750 }} 750w,{%- endif -%}
                            {%- if block.banner_image.image.width >= 1100 -%}{{ block.banner_image.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                            {%- if block.banner_image.image.width >= 1500 -%}{{ block.banner_image.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                            {{ block.banner_image.image | image_url }} {{ block.banner_image.image.width }}w" src="{{ block.banner_image.image | image_url: height: block.banner_image.image.width }}" 
                            loading="lazy"
                            draggable="false"
                            width="{{ block.banner_image.image.width }}" 
                            height="{{ block.banner_image.image.height }}" 
                            {% if block.settings.width == 'narrow' %}
                                sizes="calc(960px / 2)"
                            {% else %}
                                sizes="(min-width: {{ settings_page_width }}) {{ settings_page_width }}, calc(100vw / 2)"
                            {% endif %}
                            alt="{{ block.banner_image.image.alt | default: shop.name | escape }}" 
                            class="image__item"
                            style="object-position: {{ block.banner_image.image.presentation.focal_point }}"/>
                        {% else %}
                            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                        {%- endif -%}
                    </div>
                    {%- if block.subheading != blank or block.heading != blank or block.button_label != blank -%}
                        <div class="mega-menu__banner-content {% if block.horizontal_content_alignment == "center" %}mega-menu__banner-content--center{% endif %}">
                            <div class="mega-menu__banner-content-container">
                            {% if block.subheading != blank %}<h6 class="mega-menu__banner-subheading mega-menu__banner-subheading--{{ settings.typography_preset }} {% if block.subheading_size != 'default' %}{{ block.subheading_size }}{% endif %}">{{ block.subheading }}</h6>{% endif %}
                            {% if block.heading != blank %}<h5 class="mega-menu__banner-heading mega-menu__banner-heading--{{ settings.typography_preset }} {% if block.heading_size != 'default' %}{{ block.heading_size }}{% endif %}">{{ block.heading }}</h5>{% endif %}
                            </div>
                        </div>
                    {%- endif -%}
                </{% if block.banner_link != blank %}a{% else %}div{% endif %}>
            {% if block.banner_link != blank %}</double-hover>{% endif %}
        </div>
    {%- endif -%}
</div>