<div class="newsletter-container {% if section.id contains 'footer' %}newsletter-container--footer{% else %}newsletter-container--{{ section.id }}{% endif %} newsletter-container--{{ newsletter_settings.newsletter_horizontal_alignment }} newsletter-container--{{ section.settings.grid_columns }} newsletter-container--{{ newsletter_settings.block_width }}" style="--newsletter-vertical-alignment: {{ newsletter_settings.newsletter_vertical_alignment }}; --newsletter-horizontal-alignment: {{ newsletter_settings.newsletter_horizontal_alignment }}; --item-index: {{ for_loop.index }}" data-block-index="{{ for_loop.index0 }}" {{ block_item.shopify_attributes }}>
    {{ 'newsletter.css' | asset_url | stylesheet_tag }}
    {% style %}
        .newsletter__field-icon {
            height: {{ 24 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 24 }}px;
        }
        @media screen and (max-width: 920px) {
            .newsletter__field-icon {
                height: {{ 24 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 24 }}px;
            }
        }
    {% endstyle %}

        {%- liquid 
            if settings.typography_preset == 'avant_garde'
                    assign weight = settings.accent_icon_weight
                    if settings.swap_fonts
                            assign weight = settings.base_icon_weight
                    endif
            else 
                    assign weight =  settings.base_icon_weight
                    if settings.swap_fonts
                            assign weight = settings.accent_icon_weight
                    endif
            endif
        -%}
    <div class="newsletter {% if section.id contains 'footer' %}newsletter--footer{% else %}newsletter--{{ section.id }}{% endif %} {% if section.settings.color_type == 'custom' %}color-custom{% elsif section.settings.color_type == 'invert' %}color-invert{% endif %}">
        {% if newsletter_settings.newsletter_label != blank %}
            <p class="newsletter__title {% if settings.allow_transparent_navigation and settings.navigation_layout == 'sidebar_based' and section.id contains 'sidebar' and section.settings.color_type == 'default' %}scroll-color{% endif %} newsletter__title--{{ settings.typography_preset }} subheading {% if settings.dim_text %}dim{% endif %}">{{ newsletter_settings.newsletter_label }}</p>
        {% endif %}
        {% form 'customer', class: 'newsletter-form' %}
            <input type="hidden" name="contact[tags]" value="newsletter">
            {%- if form.posted_successfully? -%}
                <h3 class="subheading subheading--{{ settings.typography_preset }} success-color" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{{ 'newsletter.success' | t }}</h3>
            {%- endif -%}
            {%- if form.errors -%}
                <h2 class="subheading subheading--{{ settings.typography_preset }} error-color" tabindex="-1" autofocus id="Newsletter-error--{{ section.id }}">
                    {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                </h2>
            {%- endif -%}
            <div class="newsletter__form {% if settings.allow_transparent_navigation and settings.navigation_layout == 'sidebar_based' and section.id contains 'sidebar' and section.settings.color_type == 'default' %}scroll-color{% endif %}">
                <label class="visually-hidden" for="NewsletterForm--{{ block.id }}" aria-hidden="true">{{ 'templates.contact.form.email' | t | append: '*' }}</label>
                <input 
                    class="newsletter__field newsletter__field--{{ settings.typography_preset }} required {% if form.errors %}invalid{% endif %}" 
                    id="NewsletterForm--{{ block.id }}"
                    type="email"
                    name="contact[email]"
                    value="{{ form.email }}"
                    aria-required="true"
                    required="required"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="Newsletter-error--{{ block.id }}"
                    {% elsif form.posted_successfully? %}
                        aria-describedby="Newsletter-success--{{ block.id }}"
                    {% endif %}
                    placeholder="{{ newsletter_settings.newsletter_placeholder }}"
                >
                <button type="submit" class="newsletter__field-icon" name="commit" id="Subscribe-block" aria-label="{{ 'newsletter.button_label' | t }}">
                    {% if weight == 'regular' %}
                        {% render 'icon', icon: 'arrow-thin-regular' %}
                    {% elsif weight == 'medium' %}
                        {% render 'icon', icon: 'arrow-thin-medium' %}
                    {% elsif weight == 'bold' %}
                        {% render 'icon', icon: 'arrow-thin-bold' %}
                    {% endif %}
                </button>
            </div>
        {% endform %}
        {% if newsletter_settings.newsletter_caption != blank %}
            <div class="newsletter__text {% if settings.allow_transparent_navigation and settings.navigation_layout == 'sidebar_based' and section.id contains 'sidebar' and section.settings.color_type == 'default' %}scroll-color{% endif %} newsletter__text--{{ settings.typography_preset }} richtext {% if settings.enable_animated_underline %}richtext-link--underline{% endif %}"><object>{{ newsletter_settings.newsletter_caption }}</object></div>
        {% endif %}
    </div>
</div>