<div class="price price--{{ settings.typography_preset }}">
  {{ 'component-price.css' | asset_url | stylesheet_tag }}

{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 2504
  assign available = target.available | default: false
  assign money_price = price | money
  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
  endif

  if target == product and product.price_varies
    assign money_price = 'products.product.price.from_price_html' | t: price: money_price
  endif
-%}
  <div class="price__wrapper">
    {%- if target.compare_at_price and compare_at_price > price %}
      {% comment %}On sale - Sale price{% endcomment %}
      <div class="price__on-sale">
        <span class="visually-hidden">
          {{ 'products.product.price.sale_price' | t }}
        </span>
        <span class="sale-price">
          {{ money_price }}
        </span>
      </div>
      {%- unless product.price_varies == false and product.compare_at_price_varies %}
        {% comment %}On sale - Regular price{% endcomment %}
        <div class="price__regular">
          <span class="visually-hidden">
            {{ 'products.product.price.regular_price' | t }}
          </span>
          <s class="regular-price {% if settings.dim_text %} dim{% endif %}">
            {% if settings.currency_code_enabled %}
              {{ compare_at_price | money_with_currency }}
            {% else %}
              {{ compare_at_price | money }}
            {% endif %}
          </s>
          {% unless product.selected_or_first_available_variant.unit_price_measurement == nil %}
            {% comment %}Unit price{% endcomment %}
              <span class="visually-hidden">
                {{ 'products.product.price.unit_price' | t }}
              </span>
              <span class="unit-price card__vendor--{{ settings.typography_preset }} dim">
                &#40;{{- product.selected_or_first_available_variant.unit_price | money -}}/
                  {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
                    {{- product.selected_or_first_available_variant.unit_price_measurement.reference_value -}}
                  {%- endif -%}
                  {{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}&#41;
              </span>
          {%- endunless -%}
          {% if price_settings.show_badges %}
            <div class="card__badges card__badges--product price-badges--{{ settings.typography_preset }}">
              {% if product.available and product.metafields.custom.badge != blank %}
                {% for badge in product.metafields.custom.badge.value %}
                  <span class="card__badges-item card__badges-item--metafield" {% if badge == settings.badge_name_1 %}style="background-color: rgb(var(--badge-background-1)); color: rgb(var(--badge-text-1));"
                    {% elsif badge == settings.badge_name_2 %}style="background-color: rgb(var(--badge-background-2)); color: rgb(var(--badge-text-2));"
                    {% elsif badge == settings.badge_name_3 %}style="background-color: rgb(var(--badge-background-3)); color: rgb(var(--badge-text-3));"
                    {% elsif badge == settings.badge_name_4 %}style="background-color: rgb(var(--badge-background-4)); color: rgb(var(--badge-text-4));"
                    {% elsif badge != settings.badge_name_1 and badge != settings.badge_name_2 and badge != settings.badge_name_3 and badge != settings.badge_name_4 %}style="background-color: rgb(var(--layout-text-color));"{% endif %}>
                    {{ badge }}
                  </span>
                {% endfor %}
              {% endif %}
              {% if product.available and product.compare_at_price > product.price %}
                <span class="card__badges-item card__badges-item--sale">{{ 'products.product.on_sale' | t }}
                </span>
              {% endif %}
              {% if product.available == false and product.selected_or_first_available_variant != 'continue' %}
                <span class="card__badges-item card__badges-item--sold">{{ 'products.product.sold_out' | t }}
                </span>
              {% endif %}
            </div>
          {% endif %}
        </div>
      {%- endunless -%}

    {%- else -%}
      {% comment %}Regular price{% endcomment %}
      <div class="price__regular">
        <span class="visually-hidden">
          {{ 'products.product.price.regular_price' | t }}
        </span>
        <span class="regular-price">
          {{ money_price }}
        </span>
        {% unless product.selected_or_first_available_variant.unit_price_measurement == nil %}
          {% comment %}Unit price{% endcomment %}
            <span class="visually-hidden">
              {{ 'products.product.price.unit_price' | t }}
            </span>
            <span class="unit-price card__vendor--{{ settings.typography_preset }} dim">
              &#40;{{- product.selected_or_first_available_variant.unit_price | money -}}/
                {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
                  {{- product.selected_or_first_available_variant.unit_price_measurement.reference_value -}}
                {%- endif -%}
                {{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}&#41;
            </span>
        {%- endunless -%}
        {% if price_settings.show_badges %}
          <div class="card__badges card__badges--product price-badges--{{ settings.typography_preset }}">
            {% if product.available and product.metafields.custom.badge != blank %}
              {% for badge in product.metafields.custom.badge.value %}
                <span class="card__badges-item card__badges-item--metafield" {% if badge == settings.badge_name_1 %}style="background-color: rgb(var(--badge-background-1)); color: rgb(var(--badge-text-1));"
                  {% elsif badge == settings.badge_name_2 %}style="background-color: rgb(var(--badge-background-2)); color: rgb(var(--badge-text-2));"
                  {% elsif badge == settings.badge_name_3 %}style="background-color: rgb(var(--badge-background-3)); color: rgb(var(--badge-text-3));"
                  {% elsif badge == settings.badge_name_4 %}style="background-color: rgb(var(--badge-background-4)); color: rgb(var(--badge-text-4));"
                  {% elsif badge != settings.badge_name_1 and badge != settings.badge_name_2 and badge != settings.badge_name_3 and badge != settings.badge_name_4 %}style="background-color: rgb(var(--layout-text-color));"{% endif %}>
                  {{ badge }}
                </span>
              {% endfor %}
            {% endif %}
            {% if product.available and product.compare_at_price > product.price %}
              <span class="card__badges-item card__badges-item--sale">{{ 'products.product.on_sale' | t }}
              </span>
            {% endif %}
            {% if product.available == false and product.selected_or_first_available_variant != 'continue' %}
              <span class="card__badges-item card__badges-item--sold">{{ 'products.product.sold_out' | t }}
              </span>
            {% endif %}
          </div>
        {% endif %}
      </div>
    {%- endif -%}
  </div>
</div>