<div class="card-container">
    <div class="card card-js" draggable="false">
      <div class="card__picture-wrapper">
        <div class="card__picture">
          <div class="card__product-image ratio-{{ image_ratio }} card__product-image--hover-effect">
            <div class="product__placeholder">
              {%- assign placeholder_name = 'product-' | append: index_placeholder -%}
                {{ placeholder_name | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          </div>
        </div>
      </div>
      <div class="card__content {% if settings.center_text %}card__content--center{% endif %}">
        {% if price_position == 'top' %}
          <div class="card__price card__price--{{ settings.typography_preset }}">
            {% render 'price' %}
          </div>
        {% endif %}
        <div class="card__info">
          <div class="card__product-info">
            {% if show_vendor %}
              <p class="card__vendor card__vendor--{{ settings.typography_preset }} {% if settings.dim_text %} dim{% endif %}">{{ 'products.product.vendor_placeholder' | t }}</p>
            {% endif %}
              <div class="card__title {{ max_product_name_characters }} card__title--{{ settings.typography_preset }}">
                <p class="card__title-text">{{ 'products.product.title_placeholder' | t }}</p>   
                {% if price_position == 'with_title' %}
                  <div class="card__price card__price--{{ settings.typography_preset }}">
                    {% render 'price' %}
                  </div>
                {% endif %}
              </div>
          </div>
        </div>
      {% if price_position == 'bottom' %}
        <div class="card__price card__price--{{ settings.typography_preset }}">
          {% render 'price' %}
        </div>
      {% endif %}
      </div>
    </div>
  </div>