<div class="related-collections related-collections--{{ settings.white_space }} {% if settings.show_lines %}related-collections--lines{% endif %}" {{ block_item.shopify_attributes }}>
  {% style %}
    .related-collections__link span {
      height: {{ 20 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 20 }}px;
    }
    .related-collections__icon svg {
      height: {{ 20 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 20 }}px;
      width: {{ 20 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 20 }}px;
    }
    @media screen and (max-width: 920px) {
      .related-collections__link span {
        height: {{ 20 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 20 }}px;
      }
      .related-collections__icon svg {
        height: {{ 20 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 20 }}px;
        width: {{ 20 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 20 }}px;
      }
    }
  {% endstyle %}

  {%- liquid 
    if settings.typography_preset == 'avant_garde'
        assign weight = settings.accent_icon_weight
        if settings.swap_fonts
            assign weight = settings.base_icon_weight
        endif
    else 
        assign weight =  settings.base_icon_weight
        if settings.swap_fonts
            assign weight = settings.accent_icon_weight
        endif
    endif
    assign num_collection_by_brand = 0 | times: 1
    assign num_by_brand = 0 | times: 1
    assign num_by_collection = 0 | times: 1
    if related_collections_settings.collection_by_brand
    assign num_collection_by_brand = 1 | times: 1
    endif
    if related_collections_settings.shop_by_brand 
    assign num_by_brand = 1 | times: 1
    endif
    if related_collections_settings.shop_the_collection 
    assign num_by_collection = 1 | times: 1 
    endif
    assign block_in_container = num_collection_by_brand | plus: num_by_brand | plus: num_by_collection
  -%}
  {% if related_collections_settings.heading != blank %}
    <{% if section_content %}{{ related_collections_settings.heading_tag }}{% else %}h2{% endif %} class="related-collections__heading {{ section_content }} {% if section_content %}{% if settings.accent_color_for_headings %}related-collections__heading--accent{% endif %}{% endif %} {% if section_content == false %}block-heading--{{ settings.typography_preset }}{% else %}related-collections__heading--{{ settings.typography_preset }}{% endif %} {% if settings.center_text %}center-elements{% endif %}">{{ related_collections_settings.heading }}
    </{% if section_content %}{{ related_collections_settings.heading_tag }}{% else %}h2{% endif %}>
  {% endif %}
  {% if related_collections_settings.collection_by_brand or related_collections_settings.shop_by_brand or related_collections_settings.shop_the_collection %}
    <div class="related-collections__container related-collections__container--{{ block_in_container }} {% if settings.center_text %}center-elements{% endif %}" style="--related-collections-items: {{ block_in_container }}">
      {% if related_collections_settings.collection_by_brand %}
        <a class="related-collections__item" href="{{ product.collections.first.url }}?filter.p.vendor={{ product.vendor }}">
          <div class="related-collections__image" {% if settings.disable_right_click %}oncontextmenu="return false"{% endif %}>
            {% if product.collections.first.image %}
              <img srcset="{%- if product.collections.first.image.width >= 165 -%}{{ product.collections.first.image | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if product.collections.first.image.width >= 375 -%}{{ product.collections.first.image | image_url: width: 375 }} 375w,{%- endif -%}
              {%- if product.collections.first.image.width >= 550 -%}{{ product.collections.first.image | image_url: width: 550 }} 550w,{%- endif -%}
              {%- if product.collections.first.image.width >= 750 -%}{{ product.collections.first.image | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if product.collections.first.image.width >= 1100 -%}{{ product.collections.first.image | image_url: width: 1100 }} 1100w,{%- endif -%}
              {%- if product.collections.first.image.width >= 1500 -%}{{ product.collections.first.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                {{ product.collections.first.image | image_url }} {{ product.collections.first.image.width }}w" 
                src="{{ product.collections.first.image | image_url: width: 48 }}" 
                sizes="calc(48px / 1)" alt="{{ product.collections.first.title | escape }}" draggable="false" loading="lazy" width="{{ product.collections.first.image.width }}" height="{{ product.collections.first.image.height }}" class="card__image">
            {% else %}
              <div class="related-collections__image-alternative">
                <span class="related-collections__image-icon">
                    {% if weight == 'regular' %}
                      {% render 'icon-accordion-2', icon: 'price-tag-alternative-regular' %}
                    {% elsif weight == 'medium' %}
                      {% render 'icon-accordion-2', icon: 'price-tag-alternative-medium' %}
                    {% elsif weight == 'bold' %}
                      {% render 'icon-accordion-2', icon: 'price-tag-alternative-bold' %}
                    {% endif %}
                </span>
              </div>
            {% endif %}
          </div>
          <div class="related-collections__content">
            <p class="related-collections__route related-collections__route--{{ settings.typography_preset }}">{{ "products.product.all" | t }}
              {{ product.vendor }}
              {{ product.collections.first.title }}
            </p>
            <p class="related-collections__link related-collections__link--{{ settings.typography_preset }} {% if settings.dim_text %}dim{% endif %}">{{ "products.product.collection_by_brand" | t }} 
              <span class="related-collections__icon">
                  {% if weight == 'regular' %}
                    {% render 'icon-accordion-2', icon: 'arrow-right-up-regular' %}
                  {% elsif weight == 'medium' %}
                    {% render 'icon-accordion-2', icon: 'arrow-right-up-medium' %}
                  {% elsif weight == 'bold' %}
                    {% render 'icon-accordion-2', icon: 'arrow-right-up-bold' %}
                  {% endif %}
              </span>
            </p>
          </div>
        </a>
      {% endif %}
      {% if related_collections_settings.shop_by_brand %}
        <a class="related-collections__item" href="{{ product.vendor | url_for_vendor }}">
          <div class="related-collections__image" {% if settings.disable_right_click %}oncontextmenu="return false"{% endif %}>
            {% if collection.image %}
              <img srcset="{%- if card_collection.featured_image.width >= 165 -%}{{ card_collection.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if card_collection.featured_image.width >= 375 -%}{{ card_collection.featured_image | image_url: width: 375 }} 375w,{%- endif -%}
              {%- if card_collection.featured_image.width >= 550 -%}{{ card_collection.featured_image | image_url: width: 550 }} 550w,{%- endif -%}
              {%- if card_collection.featured_image.width >= 750 -%}{{ card_collection.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if card_collection.featured_image.width >= 1100 -%}{{ card_collection.featured_image | image_url: width: 1100 }} 1100w,{%- endif -%}
              {%- if card_collection.featured_image.width >= 1500 -%}{{ card_collection.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                {{ card_collection.featured_image | image_url }} {{ card_collection.featured_image.width }}w" 
                src="{{ card_collection.featured_image | image_url: width: card_collection.featured_image.width }}"
                sizes="calc(48px * 1)"
                alt="{{ card_collection.title | escape }}" draggable="false" loading="lazy" width="{{ card_collection.featured_image.width }}" height="{{ card_collection.featured_image.height }}" class="card__image">
            {% else %}
              <div class="related-collections__image-alternative">
                <span class="related-collections__image-icon">
                    {% if weight == 'regular' %}
                      {% render 'icon-accordion-2', icon: 'price-tag-alternative-regular' %}
                    {% elsif weight == 'medium' %}
                      {% render 'icon-accordion-2', icon: 'price-tag-alternative-medium' %}
                    {% elsif weight == 'bold' %}
                      {% render 'icon-accordion-2', icon: 'price-tag-alternative-bold' %}
                    {% endif %}
                </span>
              </div>
            {% endif %}
          </div>
          <div class="related-collections__content">
            <p class="related-collections__route related-collections__route--{{ settings.typography_preset }}">{{ "products.product.all" | t }}
              {{ product.vendor }}
            </p>
            <p class="related-collections__link related-collections__link--{{ settings.typography_preset }} {% if settings.dim_text %}dim{% endif %}">{{ "products.product.brand" | t }} 
              <span class="related-collections__icon">
                  {% if weight == 'regular' %}
                    {% render 'icon-accordion-2', icon: 'arrow-right-up-regular' %}
                  {% elsif weight == 'medium' %}
                    {% render 'icon-accordion-2', icon: 'arrow-right-up-medium' %}
                  {% elsif weight == 'bold' %}
                    {% render 'icon-accordion-2', icon: 'arrow-right-up-bold' %}
                  {% endif %}
              </span>
            </p>
          </div>
        </a>
      {% endif %}
      {% if related_collections_settings.shop_the_collection %}
        <a class="related-collections__item" href="{{ product.collections.first.url }}">
          <div class="related-collections__image" {% if settings.disable_right_click %}oncontextmenu="return false"{% endif %}>
            {% if collection.image %}
              <img srcset="{%- if card_collection.featured_image.width >= 165 -%}{{ card_collection.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if card_collection.featured_image.width >= 375 -%}{{ card_collection.featured_image | image_url: width: 375 }} 375w,{%- endif -%}
              {%- if card_collection.featured_image.width >= 550 -%}{{ card_collection.featured_image | image_url: width: 550 }} 550w,{%- endif -%}
              {%- if card_collection.featured_image.width >= 750 -%}{{ card_collection.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if card_collection.featured_image.width >= 1100 -%}{{ card_collection.featured_image | image_url: width: 1100 }} 1100w,{%- endif -%}
              {%- if card_collection.featured_image.width >= 1500 -%}{{ card_collection.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                {{ card_collection.featured_image | image_url }} {{ card_collection.featured_image.width }}w" 
                src="{{ card_collection.featured_image | image_url: width: card_collection.featured_image.width }}"
                sizes="calc(48px * 1)"
                alt="{{ card_collection.title | escape }}" draggable="false" loading="lazy" width="{{ card_collection.featured_image.width }}" height="{{ card_collection.featured_image.height }}" class="card__image">
            {% else %}
              <div class="related-collections__image-alternative">
                <span class="related-collections__image-icon">
                    {% if weight == 'regular' %}
                      {% render 'icon-accordion-2', icon: 'price-tag-alternative-regular' %}
                    {% elsif weight == 'medium' %}
                      {% render 'icon-accordion-2', icon: 'price-tag-alternative-medium' %}
                    {% elsif weight == 'bold' %}
                      {% render 'icon-accordion-2', icon: 'price-tag-alternative-bold' %}
                    {% endif %}
                </span>
              </div>
            {% endif %}
          </div>
          <div class="related-collections__content">
            <p class="related-collections__route related-collections__route--{{ settings.typography_preset }}">{{ "products.product.all" | t }}
              {{ product.collections.first.title }}
            </p>
            <p class="related-collections__link related-collections__link--{{ settings.typography_preset }} {% if settings.dim_text %}dim{% endif %}">{{ "products.product.related_collection" | t }} 
              <span class="related-collections__icon">
                  {% if weight == 'regular' %}
                    {% render 'icon-accordion-2', icon: 'arrow-right-up-regular' %}
                  {% elsif weight == 'medium' %}
                    {% render 'icon-accordion-2', icon: 'arrow-right-up-medium' %}
                  {% elsif weight == 'bold' %}
                    {% render 'icon-accordion-2', icon: 'arrow-right-up-bold' %}
                  {% endif %}
              </span>
            </p>
          </div>
        </a>
      {% endif %}
    </div>
  {% endif %}
</div>
