{{ 'component-deffered-media.css' | asset_url | stylesheet_tag }}
{% liquid
  assign settings_page_width = settings.max_page_width | append: 'px'
  if settings.max_page_width == 'full_width'
  assign settings_page_width = '100vw'
  endif
%}
{%- if media.media_type == 'image' -%}
  <img
    class="global-media-settings global-media-settings--no-shadow"
    srcset="{%- if media.preview_image.width >= 550 -%}{{ media.preview_image | image_url: width: 550 }} 550w,{%- endif -%}
            {%- if media.preview_image.width >= 1100 -%}{{ media.preview_image | image_url: width: 1100 }} 1100w,{%- endif -%}
            {%- if media.preview_image.width >= 1445 -%}{{ media.preview_image | image_url: width: 1445 }} 1445w,{%- endif -%}
            {%- if media.preview_image.width >= 1680 -%}{{ media.preview_image | image_url: width: 1680 }} 1680w,{%- endif -%}
            {%- if media.preview_image.width >= 2048 -%}{{ media.preview_image | image_url: width: 2048 }} 2048w,{%- endif -%}
            {%- if media.preview_image.width >= 2200 -%}{{ media.preview_image | image_url: width: 2200 }} 2200w,{%- endif -%}
            {%- if media.preview_image.width >= 2890 -%}{{ media.preview_image | image_url: width: 2890 }} 2890w,{%- endif -%}
            {%- if media.preview_image.width >= 4096 -%}{{ media.preview_image | image_url: width: 4096 }} 4096w,{%- endif -%}
            {{ media.preview_image | image_url }} {{ media.preview_image.width }}w"
    
    {% if section.settings.media_size == 'small' %}
      sizes="(min-width: 750px) calc(100vw - 22rem),(min-width: {{ settings_page_width }}) calc({{ settings_page_width }} / 3), calc(100vw / 3)"
    {% elsif section.settings.image_width == 'medium' %}
    sizes="(min-width: 750px) calc(100vw - 22rem),(min-width: {{ settings_page_width }}) calc({{ settings_page_width }} / 2), calc(100vw / 2)"
    {% elsif section.settings.image_width == 'large' %}
      sizes="(max-width: 768) calc(100vw - 22rem) ,(min-width: {{ settings_page_width }}) calc({{ settings_page_width }} / 3 * 2), calc(100vw / 3 * 2)"
    {% else %}
      sizes="(max-width: 768) calc(100vw - 22rem) , (min-width: {{ settings_page_width }}) {{ settings_page_width }}, 100vw"
    {% endif %}
    src="{{ media.preview_image | image_url: width: 1445 }}"
    alt="{{ media.alt | escape }}"
    loading="lazy"
    draggable="false"
    width="1100"
    height="{{ 1100 | divided_by: media.preview_image.aspect_ratio | ceil }}"
    data-media-id="{{ media.id }}"
    {% if variant_image %}class="product__media-item--variant"{% endif %}
    {% if settings.disable_right_click %}oncontextmenu="return false"{% endif %}
  >
{%- else -%}
  {%- if media.media_type == 'model' -%}
    <div class="product-media-modal__model" data-media-id="{{ media.id }}">
      <product-model class="deferred-media media media--transparent global-media-settings global-media-settings--no-shadow" style="padding-top: min(calc(100vh - 12rem), 100%)">
  {%- else -%}
    <deferred-media class="deferred-media media none-autoplay global-media-settings global-media-settings--no-shadow" style="padding-top: min(calc(100vh - 12rem), {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%)" data-media-id="{{ media.id }}">
  {%- endif -%}

    <button id="Deferred-Poster-Modal-{{ media.id }}" class="deferred-media__poster" type="button" aria-label="{{ 'products.product.media.play_media' | t }}">
      <span class="deferred-media__poster-button motion-reduce">
        {%- liquid 
          if settings.typography_preset == 'avant_garde'
              assign weight = settings.accent_icon_weight
              if settings.swap_fonts
                  assign weight = settings.base_icon_weight
              endif
          else 
              assign weight =  settings.base_icon_weight
              if settings.swap_fonts
                  assign weight = settings.accent_icon_weight
              endif
          endif
        -%}
        {%- if media.media_type == 'model' -%}
            <svg width="26" height="29" viewBox="0 0 26 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0376 28.7532C12.6775 29.1045 13.4579 29.0792 14.0738 28.6873L25.0738 21.6873C25.6506 21.3202 26 20.6838 26 20V7.55469C26 6.83786 25.6164 6.17585 24.9944 5.81944C24.3725 5.46302 23.6074 5.4667 22.9889 5.82909L21.8751 6.48169L11.9889 12.2744C11.3764 12.6333 11 13.2901 11 14V25.8215V27C11 27.73 11.3977 28.4019 12.0376 28.7532Z"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M2 7.55556V20.5185L11 25.8215L13 27V14.037L24 7.55469L21.8751 6.48169L13 2L2 7.55556ZM15 15.18L24 9.87692L25.0153 9.27868C25.6454 8.90739 26.0226 8.22177 25.999 7.49079C25.9753 6.7598 25.5545 6.10004 24.9016 5.77032L13.9016 0.214767C13.3346 -0.0715889 12.6654 -0.0715889 12.0984 0.214767L1.09837 5.77032C0.424763 6.11053 0 6.80092 0 7.55556V20.5185C0 21.2267 0.374532 21.8821 0.984692 22.2416L11.9847 28.7231C12.603 29.0875 13.3692 29.0926 13.9923 28.7365C14.6154 28.3804 15 27.7177 15 27V25.7273V15.18Z"/>
            </svg>          
        {%- else -%}
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.0077 3.75446C8.67441 2.97671 7 3.93846 7 5.48203V26.5179C7 28.0615 8.67445 29.0232 10.0078 28.2454L28.0385 17.7272C29.3615 16.9555 29.3615 15.0439 28.0385 14.2721L10.0077 3.75446Z"/>
          </svg>
        {%- endif -%}
      </span>
      <img
        srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | image_url: width: 288 }} 288w,{% endif %}
                {% if media.preview_image.width >= 600 %}{{ media.preview_image | image_url: width: 600 }} 600w,{% endif %}
                {% if media.preview_image.width >= 713 %}{{ media.preview_image | image_url: width: 713 }} 713w,{% endif %}
                {% if media.preview_image.width >= 823 %}{{ media.preview_image | image_url: width: 823 }} 823w,{% endif %}
                {% if media.preview_image.width >= 990 %}{{ media.preview_image | image_url: width: 990 }} 990w,{% endif %}
                {% if media.preview_image.width >= 1100 %}{{ media.preview_image | image_url: width: 1100 }} 1100w,{% endif %}
                {% if media.preview_image.width >= 1206 %}{{ media.preview_image | image_url: width: 1206 }} 1206w,{% endif %}
                {% if media.preview_image.width >= 1346 %}{{ media.preview_image | image_url: width: 1346 }} 1346w,{% endif %}
                {% if media.preview_image.width >= 1426 %}{{ media.preview_image | image_url: width: 1426 }} 1426w,{% endif %}
                {% if media.preview_image.width >= 1646 %}{{ media.preview_image | image_url: width: 1646 }} 1646w,{% endif %}
                {% if media.preview_image.width >= 1946 %}{{ media.preview_image | image_url: width: 1946 }} 1946w,{% endif %}
                {{ media.preview_image | image_url }} {{ media.preview_image.width }}w"
        src="{{ media | image_url: width: 550, height: 550 }}"
        {% if section.settings.media_size == 'small' %}
          sizes="(min-width: 750px) calc((100vw - 11.5rem) / 2),(min-width: {{ settings_page_width }}) calc({{ settings_page_width }} / 3), calc(100vw / 3)"
        {% elsif section.settings.image_width == 'medium' %}
        sizes="(min-width: 750px) calc((100vw - 11.5rem) / 2),(min-width: {{ settings_page_width }}) calc({{ settings_page_width }} / 2), calc(100vw / 2)"
        {% elsif section.settings.image_width == 'large' %}
          sizes="(max-width: 768) calc((100vw - 11.5rem) / 2),(min-width: {{ settings_page_width }}) calc({{ settings_page_width }} / 3 * 2), calc(100vw / 3 * 2)"
        {% else %}
          sizes="(max-width: 768) calc((100vw - 11.5rem) / 2), (min-width: {{ settings_page_width }}) {{ settings_page_width }}, 100vw"
        {% endif %}
        loading="lazy"
        draggable="false"
        width="576"
        height="{{ 576 | divided_by: media.preview_image.aspect_ratio }}"
        alt="{{ media.preview_image.alt | escape }}"
        {% if settings.disable_right_click %}oncontextmenu="return false"{% endif %}
      >
    </button>
    <template>
      {%- case media.media_type -%}
      {%- when 'external_video' -%}
        {%- assign video_class = 'js-' | append: media.host -%}
        {%- if media.host == 'youtube' -%}
          {{ media | external_video_url: autoplay: true, loop: loop, playlist: media.external_id | external_video_tag: class: video_class, loading: "lazy" }}
        {%- else -%}
          {{ media | external_video_url: autoplay: true, loop: loop | external_video_tag: class: video_class, loading: "lazy" }}
        {%- endif -%}
      {%- when 'video' -%}
        {{ media | media_tag: image_size: "2048x", autoplay: true, loop: loop, controls: true, preload: "none" }}
      {%- when 'model' -%}
        {{ media | media_tag: image_size: "2048x", toggleable: true }}
      {%- endcase -%}
    </template>

  {%- if media.media_type == 'model' -%}
      </product-model>
      <button
        class="button button--full-width product__xr-button outlined-button button--{{ settings.typography_preset }}"
        type="button"
        aria-label="{{ 'products.product.xr_button_label' | t }}"
        data-shopify-xr
        data-shopify-model3d-id="{{ media.id }}"
        data-shopify-title="title"
        data-shopify-xr-hidden
        >
        {{ 'products.product.xr_button' | t }}
      </button>
    </div>
  {%- else -%}
    </deferred-media>
  {%- endif -%}
{%- endif -%}
