{{ 'component-search-modal.css' | asset_url | stylesheet_tag }}
{{ 'template-search.css' | asset_url | stylesheet_tag }}
{{ 'component-loading.css' | asset_url | stylesheet_tag }}
{{ 'search.css' | asset_url | stylesheet_tag }}
{{ 'component-tab.css' | asset_url | stylesheet_tag }}
{{ 'component-product-card.css' | asset_url | stylesheet_tag }}

{% style %}
.search-modal,
.search-modal + .overlay {
  --layout-background-color: 
    {{ settings.layout_background_color.red }},
    {{ settings.layout_background_color.green }},
    {{ settings.layout_background_color.blue }};
  --layout-text-color: 
    {{ settings.layout_text_color.red }},
    {{ settings.layout_text_color.green }}, 
    {{ settings.layout_text_color.blue }};
}
{% endstyle %}
{%- liquid
    assign uniqueId = "now" | date: "%N" | modulo: 1000
    assign sectionId = "Search-In-Modal-" | append: uniqueId
    assign hasRecommendation = false
  
    if settings.search_recommendation != blank and settings.search_recommendation.links != blank
      assign hasRecommendation = true
    endif
  -%}
  <div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="{{ 'templates.search.search_title' | t }}">
    {%- liquid 
      if settings.typography_preset == 'avant_garde'
        assign weight = settings.accent_icon_weight
        if settings.swap_fonts
            assign weight = settings.base_icon_weight
        endif
      else 
          assign weight =  settings.base_icon_weight
          if settings.swap_fonts
              assign weight = settings.accent_icon_weight
          endif
      endif
    -%}
    {% style %}
      .search-modal.modal__content {
        --layout-text-color:
          {{ settings.layout_text_color.red }},
          {{ settings.layout_text_color.green }}, 
          {{ settings.layout_text_color.blue }};
        --layout-background-color:
          {{ settings.layout_background_color.red }},
          {{ settings.layout_background_color.green }},
          {{ settings.layout_background_color.blue }};
        }
      {% endstyle %}
    <div class="button-wrapper {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %}">
      <button type="button" class="button-close close-popup">
          {% if weight == 'regular' %}
              {% render 'icon', icon: 'cross-regular' %}
          {% elsif weight == 'medium' %}
              {% render 'icon', icon: 'cross-medium' %}
          {% elsif weight == 'bold' %}
              {% render 'icon', icon: 'cross-bold' %}
          {% endif %}
      </button>
    </div>
    <div class="search-modal__container">
      <div class="search-modal__content section-padding--{{ settings.white_space }}" tabindex="-1">
        {%- if settings.enable_quick_search -%}
          <predictive-search class="predictive-search-container" data-loading-text="{{ 'accessibility.loading' | t }}">
        {%- endif -%}
          <form action="{{ routes.search_url }}" method="get" role="search" class="search-modal__form">
            <div class="search-field__wrapper">
              <div class="field search-field">
                <input
                  id="{{ sectionId }}"
                  class="search__input search__input--{{ settings.typography_preset }} field__input search-field__text"
                  type="search"
                  name="q"
                  value="{{ search.terms | escape }}"
                  placeholder="{{ 'templates.search.placeholder' | t }}"
                  autocomplete="off"
                  {%- if settings.enable_quick_search %}
                    role="combobox"
                    aria-expanded="false"
                    aria-owns="predictive-search-results-list"
                    aria-controls="predictive-search-results-list"
                    aria-haspopup="listbox"
                    aria-autocomplete="list"
                    autocorrect="off"
                    autocomplete="off"
                    autocapitalize="off"
                    spellcheck="false" 
                  {% endif -%}
                />
                <label class="visually-hidden" for="{{ sectionId }}">{{ 'templates.search.search_title' | t }}</label>
                <input type="hidden" name="type" value="{{ settings.search_results }}"/>
                <input type="hidden" name="options[prefix]" value="last"/>
                {%- if settings.enable_quick_search -%}
                  <div class="predictive-search__loading-state">
                    
                  </div>
                {%- endif -%}     
    
                {%- if settings.enable_quick_search -%}
                  <button type="reset" class="search__button search__button--{{ settings.typography_preset }} focus-inset">
                    <div class="loading-overlay__spinner hidden">
                      <svg class="spinner" width="24px" height="24px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="5" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                      </svg>
                    </div> 
                    <span class="search__button-text hidden">{{ 'templates.search.clear' | t }}<span>
                  </button>
                {%- endif -%}
                <button type="submit" class="search-field__icon" aria-label="{{ 'templates.search.search_for' | t }}" tabindex="0">
                  <span class="search__icon">
                    {% if weight == 'regular' %}
                        {% render 'icon', icon: 'search-regular' %}
                    {% elsif weight == 'medium' %}
                        {% render 'icon', icon: 'search-medium' %}
                    {% elsif weight == 'bold' %}
                        {% render 'icon', icon: 'search-bold' %}
                    {% endif %}
                  </span>
                </button>
              </div>
            </div>
            {% if settings.menu != blank %}
              <div class="search__menu">
                {% if settings.show_menu_title %}<h4 class="search__menu-title menu__item--{{ settings.typography_preset }}">{{ 'templates.search.menu_title' | t }}</h4>{% endif %}
                <ul class="search__menu-list">
                  {%- for link in settings.menu.links limit: 5 -%}
                    <li class="menu__item menu__item--{{ settings.typography_preset }}">
                      <a href="{{ link.url }}">
                        {{ link.title }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            {% endif %}
            
            {%- if settings.enable_quick_search -%}
              <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search></div>
              <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
            {%- endif -%}
          </form>
        {%- if settings.enable_quick_search -%}
          </predictive-search>
        {%- endif -%} 
      </div>
    </div>
  </div> 
  