{{ 'search.css' | asset_url | stylesheet_tag }}

{% style %}
    .search-container .search-field__icon,
    .search-container .search__icon {
        height: {{ 24 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 24 }}px;
        aspect-ratio: 1/1;
    }
    @media screen and (max-width: 920px) {       
        .search-container .search-field__icon {
            height: {{ 24 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 24 }}px;
        }
    }
{% endstyle %}

{%- liquid 
	if settings.typography_preset == 'avant_garde'
			assign weight = settings.accent_icon_weight
			if settings.swap_fonts
					assign weight = settings.base_icon_weight
			endif
	else 
			assign weight =  settings.base_icon_weight
			if settings.swap_fonts
					assign weight = settings.accent_icon_weight
			endif
	endif
-%}

<div class="block-{{ for_loop.index }} search-block search-block--{{ block_item.id }}  search-block--{{ section.settings.grid_columns }} search-block--{% if type == 'search' %}search{% endif %} search-block--{{ search_settings.block_width }} {% if section.id contains 'header' %}search-block--header{% elsif section.id contains 'footer' %}search-block--footer{% else %}search-block--{{ section.id }}{% endif %} search-block--{{ search_settings.search_horizontal_alignment }}" 
    {% if type != "miscellaneous" %}style="--search-vertical-alignment: {{ search_settings.search_vertical_alignment }}; 
    --search-horizontal-alignment: {{ search_settings.search_horizontal_alignment }}; 
    --item-index: {{ for_loop.index }};"{% endif %} {{ block_item.shopify_attributes }}>
    <div class="search-container {% if settings.allow_transparent_navigation and settings.navigation_layout == 'sidebar_based' and section.id contains 'sidebar' and section.settings.color_type == 'default' %}scroll-color{% endif %} search-container--{{ search_settings.search_style }} search-container--{{ settings.typography_preset }} {% if section.settings.color_type == 'custom' %}color-custom{% elsif section.settings.color_type == 'invert' %}color-invert{% endif %}">
        {% if settings.enable_quick_search %}<search-modal>{% endif %}
            <details>
                <summary tabindex="-1">
                    {%- if search_settings.search_style == 'text' -%}
                        <a class="search hover-opacity" href="{{ routes.search_url }}" aria-label="{{ 'templates.search.go_to_search_page' | t }}">
                            <span class="search__title">{{ 'templates.search.search_title' | t }}</span>
                        </a>
                    {%- elsif search_settings.search_style == 'icon' -%}
                        <a class="search hover-opacity" href="{{ routes.search_url }}" aria-label="{{ 'templates.search.go_to_search_page' | t }}">
                            <span class="search__icon">
                                {% if weight == 'regular' %}
                                    {% render 'icon', icon: 'search-regular' %}
                                {% elsif weight == 'medium' %}
                                    {% render 'icon', icon: 'search-medium' %}
                                {% elsif weight == 'bold' %}
                                    {% render 'icon', icon: 'search-bold' %}
                                {% endif %}
                            </span>
                        </a> 
                    {%- elsif search_settings.search_style == 'field' -%}
                        <form action="{{ routes.search_url }}" method="get" role="search" class="search-modal__form">
                            <div class="search-field {% if search_settings.search_horizontal_alignment == 'stretched' %}search-field--stretched{% endif %}">
                                <label class="visually-hidden" for="Search-In-Template" aria-hidden="true">{{ 'templates.search.search_title' | t }}</label>
                                <input 
                                    class="search-field__text" 
                                    type="search" 
                                    id="Search-In-Template"
                                    name="q"
                                    value="{{ search.terms | escape }}"
                                    placeholder="{{ 'templates.search.placeholder' | t }}"
                                    autocomplete="off"
                                    tabindex="0"
                                    {%- if settings.enable_quick_search %}
                                        role="combobox"
                                        aria-expanded="false"
                                        aria-owns="predictive-search-results-list"
                                        aria-controls="predictive-search-results-list"
                                        aria-haspopup="listbox"
                                        aria-autocomplete="list" 
                                        autocorrect="off"
                                        autocomplete="off"
                                        autocapitalize="off"
                                        spellcheck="false"
                                    {% endif -%}>
                                <button type="submit" class="search-field__icon hover-opacity" aria-label="{{ 'templates.search.search_for' | t: terms: search.terms }}" tabindex="0">
                                    <span class="search__icon">
                                        {% if weight == 'regular' %}
                                            {% render 'icon', icon: 'search-regular' %}
                                        {% elsif weight == 'medium' %}
                                            {% render 'icon', icon: 'search-medium' %}
                                        {% elsif weight == 'bold' %}
                                            {% render 'icon', icon: 'search-bold' %}
                                        {% endif %}
                                    </span>
                                </button>
                            </div>
                        </form>
                    {%- endif -%}
                </summary>
                {% render 'search-modal' %}
                <div class="overlay"></div>
            </details>
        {% if settings.enable_quick_search %}</search-modal>{% endif %}
    </div>
</div>