{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-loading.css' | asset_url | stylesheet_tag }}
{{ 'component-deffered-media.css' | asset_url | stylesheet_tag }}
{{ 'component-share.css' | asset_url | stylesheet_tag }}
{{ 'component-product-related-collections.css' | asset_url | stylesheet_tag }}
{{ 'component-product-features.css' | asset_url | stylesheet_tag }}
{{ 'component-product-card.css' | asset_url | stylesheet_tag }}
{{ 'component-model-viewer-ui.css' | asset_url | stylesheet_tag }}

<div class="slider-section {% if section_content == false %}block-content{% endif %} slider-section--{{ settings.white_space }} {% if settings.show_lines %}{% if section_content %}slider-section--lines{% endif %}{% endif %}" {{ block_item.shopify_attributes }}>
  {{ 'component-slider.css' | asset_url | stylesheet_tag }}
  {{ 'section-slider.css' | asset_url | stylesheet_tag }}

  {%- liquid 
    if settings.typography_preset == 'avant_garde'
        assign weight_close = settings.accent_icon_weight
        if settings.swap_fonts
            assign weight_close = settings.base_icon_weight
        endif
    else 
        assign weight_close =  settings.base_icon_weight
        if settings.swap_fonts
            assign weight_close = settings.accent_icon_weight
        endif
    endif
  -%}

  {% style %}
    #Slider-Gallery-{{ section.id }} {
      {% if selected_products_settings.desktop_grid_type == 'heading_with_two' %}
        --desktop-grid-type: 2;
      {% elsif selected_products_settings.desktop_grid_type == 'heading_with_three' %}
        --desktop-grid-type: 3;
      {% else %}
      --desktop-grid-type: {{ selected_products_settings.desktop_grid_type }};
      {% endif %}
    }

    /* Styles for full-width page without sidebars */
/* Mobile */
  @media screen and (max-width: 768px) {
    #Slider-Gallery-{{ section.id }} {
      --desktop-grid-type: {{ selected_products_settings.mobile_layout }};
    }
  }
  /* Sidebars: Main XS,S,M and white space Spacious */
  @media screen and (max-width: 1048px) and (min-width: 921px) {
    .main_xs--spacious #Slider-Gallery-{{ section.id }},
    .main_s--spacious #Slider-Gallery-{{ section.id }},
    .main_m--spacious #Slider-Gallery-{{ section.id }} {
      --desktop-grid-type: {{ selected_products_settings.mobile_layout }};
    }
  }
  /* Sidebars: Main XS,S and white space Compact */
  @media screen and (max-width: 968px) and (min-width: 921px) {
    .main_xs--compact #Slider-Gallery-{{ section.id }},
    .main_s--compact #Slider-Gallery-{{ section.id }} {
      --desktop-grid-type: {{ selected_products_settings.mobile_layout }};
    }
  }
  /* Sidebars: Main XS,S with secondary and white space Spacious */
  @media screen and (max-width: 1144px) and (min-width: 921px) {
    .main_xs_with_secondary--spacious #Slider-Gallery-{{ section.id }},
    .main_s_with_secondary--spacious #Slider-Gallery-{{ section.id }} {
      --desktop-grid-type: {{ selected_products_settings.mobile_layout }};
    }
  }
  /* Sidebars: Main XS,S with secondary and white space Compact */
  @media screen and (max-width: 1064px) and (min-width: 921px) {
    .main_xs_with_secondary--compact #Slider-Gallery-{{ section.id }},
    .main_s_with_secondary--compact #Slider-Gallery-{{ section.id }} {
      --desktop-grid-type: {{ selected_products_settings.mobile_layout }};
    }
  }
  /* Sidebars: Main M and white space Compact */
  @media screen and (max-width: 1024px) and (min-width: 921px) {
    .main_m--compact  #Slider-Gallery-{{ section.id }} {
      --desktop-grid-type: {{ selected_products_settings.mobile_layout }};
    }
  }
  /* Sidebars: Main M with secondary */
  @media screen and (max-width: 1152px) and (min-width: 921px) {
    .main_m_with_secondary  #Slider-Gallery-{{ section.id }} {
      --desktop-grid-type: {{ selected_products_settings.mobile_layout }};
    }
  }
  /* Sidebars: Main L */
  @media screen and (max-width: 1536px) and (min-width: 921px) {
    .main_l #Slider-Gallery-{{ section.id }} {
      --desktop-grid-type: {{ selected_products_settings.mobile_layout }};
    }
  }
  {% endstyle %}
  <slider-component id="GalleryViewer-{{ section.id }}" class="slider {% if selected_products_settings.desktop_grid_type == 'heading_with_two' or selected_products_settings.desktop_grid_type == 'heading_with_three' %}slider--row{% endif %} {% if selected_products_settings.desktop_grid_type == 'heading_with_two' %}slider--row-two{% endif %} {% if selected_products_settings.desktop_grid_type == 'heading_with_three' %}slider--row-three{% endif %}">
      <div class="slider__header {% if settings.center_text %}slider__header-center{% endif %} {% if selected_products_settings.heading == blank and selected_products_settings.desktop_grid_type == '3' or selected_products_settings.heading == blank and selected_products_settings.desktop_grid_type == '4' or selected_products_settings.heading == blank and selected_products_settings.desktop_grid_type == '5' %}slider__header--hidden{% endif %}">
        {% if selected_products_settings.heading != blank %}
          <{% if section_content %}{{ selected_products_settings.heading_tag }}{% else %}h2{% endif %} class="slider__heading {% if section_content %}{% if settings.accent_color_for_headings %}slider__heading--accent{% endif %}{% endif %} {% if section_content == false %}block-heading--{{ settings.typography_preset }}{% else %}slider__heading--{{ settings.typography_preset }}{% endif %} {% unless selected_products_settings.heading_size == 'default' %}{{ selected_products_settings.heading_size }}{% endunless %}">{{ selected_products_settings.heading }}</{% if section_content %}{{ selected_products_settings.heading_tag }}{% else %}h2{% endif %}>
        {% endif %}
        {% liquid 
          assign grid_items_desktop = selected_products_settings.desktop_grid_type | times: 1
          if selected_products_settings.desktop_grid_type == 'heading_with_two'
            assign grid_items_desktop = 2
          elsif selected_products_settings.desktop_grid_type == 'heading_with_three'
            assign grid_items_desktop = 3
          endif
          assign grid_items_mobile = selected_products_settings.mobile_layout | times: 1
        %}
        {% if selected_products_settings.desktop_grid_type == 'heading_with_two' or selected_products_settings.desktop_grid_type == 'heading_with_three' %}
            {% if section_content %}
              <div class="slider-buttons-items {% if selected_products_settings.product_list.count <= grid_items_desktop or settings.center_text == true and selected_products_settings.desktop_grid_type != 'heading_with_two' and settings.center_text == true and selected_products_settings.desktop_grid_type != 'heading_with_three' %}hidden-desktop{% endif %} hidden-mobile">
                <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">
                  {% if weight_close == 'regular' %}
                          {% render 'icon-accordion-2', icon: 'arrow-long-left-regular' %}
                  {% elsif weight_close == 'medium' %}
                          {% render 'icon-accordion-2', icon: 'arrow-long-left-medium' %}
                  {% elsif weight_close == 'bold' %}
                          {% render 'icon-accordion-2', icon: 'arrow-long-left-bold' %}
                  {% endif %}
                </button>
                <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">
                  {% if weight_close == 'regular' %}
                          {% render 'icon-accordion-2', icon: 'arrow-long-right-regular' %}
                  {% elsif weight_close == 'medium' %}
                          {% render 'icon-accordion-2', icon: 'arrow-long-right-medium' %}
                  {% elsif weight_close == 'bold' %}
                          {% render 'icon-accordion-2', icon: 'arrow-long-right-bold' %}
                  {% endif %}
                </button>
              </div>
            {% endif %}
        {% endif %}
      </div>
        {% if selected_products_settings.product_list != blank %}
          <div class="slider__viewport">
            <ul id="Slider-Gallery-{{ section.id }}" data-id="{{ section.id }}" class="slider__grid slider__grid--{{ settings.white_space }} slider__grid-mobile-{{ selected_products_settings.mobile_layout }} {% if settings.show_lines %} lines{% endif %}" style="--grid-items: {{ selected_products_settings.product_list.count }};" data-count="{% if selected_products_settings.desktop_grid_type == 'heading_with_two' %}2{% elsif selected_products_settings.desktop_grid_type == 'heading_with_three' %}3{% else %}{{ selected_products_settings.desktop_grid_type }}{% endif %}" data-count-mobile="{% if selected_products_settings.mobile_layout == '2' %}2{% else %}1{% endif %}">
              {%- liquid 
                assign card_product_settings = section.settings
                if section_content == false
                  assign card_product_settings = selected_products_settings
                endif
              -%}
              {%- for product in selected_products_settings.product_list -%}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}
                {% assign mobileItems = selected_products_settings.mobile_layout | times: 1 %}
                <li id="Slide-{{ section.id }}" class="slider__grid-item snap-align 
                  {% if forloop.first %}is-active{% endif %} 
                  {% if selected_products_settings.desktop_grid_type == '5' and forloop.index == 4 %}no-line{% endif %}
                  {% if forloop.last and settings.show_lines and forloop.length >= grid_items_desktop %}last-desktop{% endif %} 
                  {% if forloop.last and settings.show_lines and forloop.length >= grid_items_mobile %}last-mobile{% endif %} 
                  {% if selected_products_settings.product_list.count == mobileItems %}last-element{% endif %}" style="--focal-point: {{ selected_products_settings.focal_point }};">
                  {% render 'card-product',
                    block_type: block.type,
                    card_product: product,
                    image_ratio: card_product_settings.image_ratio,
                    show_vendor: card_product_settings.show_vendor,
                    show_second_image: card_product_settings.show_second_image,
                    enable_quick_view: card_product_settings.enable_quick_view,
                    enable_add_to_cart: card_product_settings.enable_add_to_cart,
                    price_position: card_product_settings.price_position,
                    max_product_name_characters: card_product_settings.max_product_name_characters,
                    show_short_description: card_product_settings.show_short_description,
                    enable_color_pills: card_product_settings.enable_color_pills,
                    show_rating: card_product_settings.show_rating
                  %}
                </li>
              {%- endfor -%}
            </ul>
            {% liquid 
              assign grid_items_desktop = selected_products_settings.desktop_grid_type | times: 1
              if selected_products_settings.desktop_grid_type == 'heading_with_two'
                assign grid_items_desktop = 2
              elsif selected_products_settings.desktop_grid_type == 'heading_with_three'
                assign grid_items_desktop = 3
              endif
              assign grid_items_mobile = selected_products_settings.mobile_layout | times: 1
            %}
              {% if section_content %}
                <div class="slider-buttons-items slider-buttons-items--bottom slider-buttons-items--{{ settings.white_space }} {% if settings.show_lines %}slider-buttons-items--lines{% endif %} 
                  {% if selected_products_settings.desktop_grid_type != '3' and selected_products_settings.desktop_grid_type != '4' and selected_products_settings.desktop_grid_type != '5' %}hidden-desktop{% endif %}
                  {% if selected_products_settings.product_list.count <= grid_items_desktop %}hidden-desktop{% endif %}
                    {% if selected_products_settings.desktop_grid_type == '5' and selected_products_settings.product_list.count == 5 %}hidden-desktop-none{% endif %}
                  {% if selected_products_settings.product_list.count <= grid_items_mobile %}hidden-mobile{% endif %}">
                  <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">
                    {% if weight_close == 'regular' %}
                            {% render 'icon-accordion-2', icon: 'arrow-long-left-regular' %}
                    {% elsif weight_close == 'medium' %}
                            {% render 'icon-accordion-2', icon: 'arrow-long-left-medium' %}
                    {% elsif weight_close == 'bold' %}
                            {% render 'icon-accordion-2', icon: 'arrow-long-left-bold' %}
                    {% endif %}
                  </button>
                  <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">
                    {% if weight_close == 'regular' %}
                            {% render 'icon-accordion-2', icon: 'arrow-long-right-regular' %}
                    {% elsif weight_close == 'medium' %}
                            {% render 'icon-accordion-2', icon: 'arrow-long-right-medium' %}
                    {% elsif weight_close == 'bold' %}
                            {% render 'icon-accordion-2', icon: 'arrow-long-right-bold' %}
                    {% endif %}
                  </button>
                </div>
              {% endif %}
          </div>
        {% endif %}
    </slider-component>
</div> 
