{% if text_settings.text_subheading != blank or text_settings.text_content != blank %}
<div class="block-{{ for_loop.index }} text__block text__block--{{ section.settings.grid_columns }} text__block--{{ text_settings.block_width }} text__block--{{ text_settings.text_horizontal_alignment }}" style="--text-horizontal-alignment: {{ text_settings.text_horizontal_alignment }}; --text-vertical-alignment: {{ text_settings.text_vertical_alignment }}; --text-font-case: {{ text_settings.text_font_case }}; --item-index: {{ for_loop.index }}" {{ block_item.shopify_attributes }}>
    {{ 'text.css' | asset_url | stylesheet_tag }}
    <div class="text__container text__container--{{ text_settings.text_horizontal_alignment }} {% if section.settings.color_type == 'custom' %}color-custom{% elsif section.settings.color_type == 'invert' %}color-invert{% endif %} {% if text_settings.use_accent_color %}color-accent{% endif %}">
        {% if text_settings.text_subheading != blank %}
            <p class="text__heading text__heading--{{ settings.typography_preset }} {% if text_settings.subheading_size != 'default' %}{{ text_settings.subheading_size }}{% endif %} subheading {% if settings.dim_text %}dim{% endif %}">{{ text_settings.text_subheading }}</p>
        {% endif %}
        <div class="text__content richtext {% if settings.enable_animated_underline %}richtext-link--underline{% endif %} text__content--{{ settings.typography_preset }} {% if text_settings.text_size != 'default' %}{{ text_settings.text_size }}{% endif %}"><object>{{ text_settings.text_content }}</object></div>
    </div>
</div>
{% endif %}