<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    {%- unless settings.base_font.system? and settings.accent_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}
 
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>


    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
    {{ settings.base_font | font_face: font_display: 'swap' }}
    {{ body_font_bold | font_face: font_display: 'swap' }}
    {{ body_font_italic | font_face: font_display: 'swap' }}
    {{ body_font_bold_italic | font_face: font_display: 'swap' }}
    {{ settings.accent_font | font_face: font_display: 'swap' }}

      :root {
        --layout-background-color: 
        {{ settings.layout_background_color.red }},
        {{ settings.layout_background_color.green }},
        {{ settings.layout_background_color.blue }};
        --layout-text-color: 
        {{ settings.layout_text_color.red }},
        {{ settings.layout_text_color.green }}, 
        {{ settings.layout_text_color.blue }};
        --base-button-color: 
        {{ settings.base_button_color.red }},
        {{ settings.base_button_color.green }},
        {{ settings.base_button_color.blue }};
        --accent-button-color: 
        {{ settings.accent_button_color.red }},
        {{ settings.accent_button_color.green }},
        {{ settings.accent_button_color.blue }};
        --hover-button-color: 
        {{ settings.hover_button_color.red }},
        {{ settings.hover_button_color.green }},
        {{ settings.hover_button_color.blue }};
        --popup-background-color: 
        {{ settings.popup_background_color.red }},
        {{ settings.popup_background_color.green }},
        {{ settings.popup_background_color.blue }};
        --error-color: 
        {{ settings.error_color.red }},
        {{ settings.error_color.green }},
        {{ settings.error_color.blue }};
        --success-color:
         {{ settings.success_color.red }},
         {{ settings.success_color.green }},
         {{ settings.success_color.blue }};

        --page-width: {{ settings.desktop_max_width }}px;
        --line-width: {{ settings.line_width }}px;
        --line-opacity: {{ settings.line_opacity | divided_by: 100.0 }};
        --outline-thickness: {{ settings.border_thickness }}px;
        --button-radius: {{ settings.button_radius }};
        --field-radius: {{ settings.field_radius }};
        {% if settings.field_radius == '2000px' %}
          --textarea-radius: 24px;
        {% else %}
          --textarea-radius: {{ settings.field_radius }};
        {% endif %}
        --images-and-section-radius: {{ settings.images_and_sections_radius }};
        --other-buttons-radius: {{ settings.other_buttons_radius }};
        --close-button-shadow: {{ settings.close_button_shadow | divided_by: 100.0 }};
        --animation-duration: {{ settings.animation_duration }}s;
        --transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0);
      }
    {% endstyle %}
    {% render 'font-variables' %}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'section-password.css' | asset_url | stylesheet_tag }}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
      </script>
  </head>

  <body id="body" class="password body {% if settings.select_text_accent_color %}body-accent-selection{% endif %} {% if settings.disable_text_selection %}disable-selection{% endif %}">

    {% section 'main-password-header' %}

    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    
    <footer>
      {% section 'main-password-footer' %}
    </footer>
  </body>
</html>