<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    {%- unless settings.base_font.system? and settings.accent_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>
      {{ page_title }}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}
        "{% endif -%}
      {%- if current_page != 1 %}
        &ndash; Page
        {{ current_page }}
      {% endif -%}
      {%- unless page_title contains shop.name %}
        &ndash;
        {{ shop.name }}
      {% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {%- if request.design_mode %}
      <script src="{{ 'TweenMax.min.js' | asset_url }}" defer="defer"></script>
    {% endif -%}
    <script src="{{ 'masonry.pkgd.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'menu-drawer.js' | asset_url }}" defer="defer"></script>
  
    {%- if request.page_type != 'cart' and settings.enable_cart_drawer and settings.disable_shopping_functionality == false -%}
    <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {%- if settings.action_after_adding == 'success' and settings.disable_shopping_functionality == false -%}
    <script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
      {{ settings.base_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.accent_font | font_face: font_display: 'swap' }}

      :root {
        --layout-background-color: 
        {{ settings.layout_background_color.red }},
        {{ settings.layout_background_color.green }},
        {{ settings.layout_background_color.blue }};
        --layout-text-color: 
        {{ settings.layout_text_color.red }},
        {{ settings.layout_text_color.green }}, 
        {{ settings.layout_text_color.blue }};
        --base-button-color: 
        {{ settings.base_button_color.red }},
        {{ settings.base_button_color.green }},
        {{ settings.base_button_color.blue }};
        --accent-button-color: 
        {{ settings.accent_button_color.red }},
        {{ settings.accent_button_color.green }},
        {{ settings.accent_button_color.blue }};
        --hover-button-color: 
        {{ settings.hover_button_color.red }},
        {{ settings.hover_button_color.green }},
        {{ settings.hover_button_color.blue }};
        --sale-text-color: 
        {{ settings.sale_text_color.red }},
        {{ settings.sale_text_color.green }},
        {{ settings.sale_text_color.blue }};
        --sale-background: 
        {{ settings.sale_background.red }},
        {{ settings.sale_background.green }},
        {{ settings.sale_background.blue }};
        --sold-text-color: 
        {{ settings.sold_text_color.red }},
        {{ settings.sold_text_color.green }},
        {{ settings.sold_text_color.blue }};
        --sold-background: 
        {{ settings.sold_background.red }},
        {{ settings.sold_background.green }},
        {{ settings.sold_background.blue }};
        --popup-background-color: 
        {{ settings.popup_background_color.red }},
        {{ settings.popup_background_color.green }},
        {{ settings.popup_background_color.blue }};
        --rating-color: 
        {{ settings.rating_color.red }},
        {{ settings.rating_color.green }},
        {{ settings.rating_color.blue }};
        --error-color: 
        {{ settings.error_color.red }},
        {{ settings.error_color.green }},
        {{ settings.error_color.blue }};
        --success-color:
         {{ settings.success_color.red }},
         {{ settings.success_color.green }},
         {{ settings.success_color.blue }};

        --page-width: {{ settings.desktop_max_width }}px;
        --line-width: {{ settings.line_width }}px;
        --line-opacity: {{ settings.line_opacity | divided_by: 100.0 }};
        --outline-thickness: {{ settings.border_thickness }}px;
        --button-radius: {{ settings.button_radius }};
        --field-radius: {{ settings.field_radius }};
        {% if settings.field_radius == '2000px' %}
          --textarea-radius: 24px;
        {% else %}
          --textarea-radius: {{ settings.field_radius }};
        {% endif %}
        --images-and-section-radius: {{ settings.images_and_sections_radius }};
        --product-card-radius: {{ settings.product_card_radius }};
        --other-buttons-radius: {{ settings.other_buttons_radius }};
        --burger-button-shadow: {{ settings.burger_button_shadow | divided_by: 100.0 }};
        --close-button-shadow: {{ settings.close_button_shadow | divided_by: 100.0 }};
        --animation-duration: {{ settings.animation_duration }}s;
        --transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0);
        --desktop-font-scale: {{ settings.desktop_font_scale | divided_by: 100.0 }};
        --mobile-font-scale: {{ settings.mobile_font_scale | divided_by: 100.0 }};

        --badge-text-1: 
        {{ settings.badge_text_color_1.red }},
        {{ settings.badge_text_color_1.green }},
        {{ settings.badge_text_color_1.blue }};
        --badge-background-1: 
        {{ settings.badge_background_1.red }},
        {{ settings.badge_background_1.green }},
        {{ settings.badge_background_1.blue }};
        --badge-text-2: 
        {{ settings.badge_text_color_2.red }},
        {{ settings.badge_text_color_2.green }},
        {{ settings.badge_text_color_2.blue }};
        --badge-background-2: 
        {{ settings.badge_background_2.red }},
        {{ settings.badge_background_2.green }},
        {{ settings.badge_background_2.blue }};
        --badge-text-3: 
        {{ settings.badge_text_color_3.red }},
        {{ settings.badge_text_color_3.green }},
        {{ settings.badge_text_color_3.blue }};
        --badge-background-3: 
        {{ settings.badge_background_3.red }},
        {{ settings.badge_background_3.green }},
        {{ settings.badge_background_3.blue }};
        --badge-text-4: 
        {{ settings.badge_text_color_4.red }},
        {{ settings.badge_text_color_4.green }},
        {{ settings.badge_text_color_4.blue }};
        --badge-background-4: 
        {{ settings.badge_background_4.red }},
        {{ settings.badge_background_4.green }},
        {{ settings.badge_background_4.blue }};
      }

      .scroll-color.global-text {
        --layout-text-color: 
        {{ settings.layout_text_color.red }},
        {{ settings.layout_text_color.green }}, 
        {{ settings.layout_text_color.blue }} !important;
        color: rgb({{ settings.layout_text_color.red }},
        {{ settings.layout_text_color.green }}, 
        {{ settings.layout_text_color.blue }}) !important;
        --layout-background-color: 
        {{ settings.layout_background_color.red }},
        {{ settings.layout_background_color.green }}, 
        {{ settings.layout_background_color.blue }} !important;
      }
     
    {% endstyle %}
    {% render 'font-variables' %}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'section-announcement-bar.css' | asset_url | stylesheet_tag }}
      {% if request.page_type == 'policy' %}
        {{ 'policy-pages.css' | asset_url | stylesheet_tag }}
        {{ 'component-rte.css' | asset_url | stylesheet_tag }}
      {% endif %}

    {% render 'custom-assets' %}
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>
  </head>

  <body id="body" class="body {% if settings.select_text_accent_color %}body-accent-selection{% endif %} {% if settings.disable_text_selection %}disable-selection{% endif %} {{ settings.typography_preset }}">
    {% if settings.allow_transparent_navigation %}<overlap-navigation>{% endif %}
    {% section 'announcement-bar' %}
    {% section 'menu-drawer' %}
    {%- if settings.disable_shopping_functionality == false -%}
      {%- section 'cart-drawer' -%}
    {%- endif -%} 
    
    <div class="theme-content {% if settings.navigation_layout == 'sidebar_based' %}{{ settings.sidebar_template }} {{ settings.sidebar_template }}--{{ settings.white_space }}{% endif %}">
      
      {% if settings.navigation_layout == 'sidebar_based' %}
        {{ 'main-sidebar.css' | asset_url | stylesheet_tag }}
        {% section 'main-sidebar' %}
      {% endif %}
      {% if settings.navigation_layout == 'sidebar_based' and settings.sidebar_template contains 'with_secondary' %}
        {{ 'secondary-sidebar.css' | asset_url | stylesheet_tag }}
        {% section 'secondary-sidebar' %}
      {% endif %}
      <div class="inside-content">
            {% if settings.navigation_layout == 'header_based' %}
              {{ 'header.css' | asset_url | stylesheet_tag }}
              {% section 'header' %}
            {% elsif settings.navigation_layout == 'sidebar_based' and settings.show_header %}
              {{ 'header.css' | asset_url | stylesheet_tag }}
              {% section 'secondary-header' %}
            {% endif %}
            {% section 'mobile-header' %}
            <div class="header-group">
              <div class="header-group__sections">
                {% sections 'more-header-sections' %}
              </div>
            </div>
        <main class="main--{{ settings.white_space }} {{ settings.typography_preset }} 
          {% if request.page_type == 'policy' %}body-text--{{ settings.typography_preset }}{% if settings.center_text %}main--center{% endif %}{% endif %}">
          {{ content_for_layout }}
        </main>
        {% sections 'footer-group' %}
      </div>
    </div>
    {% if settings.allow_transparent_navigation %}</overlap-navigation>{% endif %}
    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        search_url: '{{ routes.search_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`
      }

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t: cart_name: settings.cart_name }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
        unavailable_with_option: `{{ 'products.product.value_unavailable' | t: option_value: '[value]'}}`,
      }

      window.accessibilityStrings = {
        imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
        pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
        playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`
      }
    </script>
    <script src="{{ 'quick-view.js' | asset_url }}" defer="defer"></script>
    {% if settings.enable_quick_search %}
      <script src="{{ 'search-modal.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {% endif %}
    {% if settings.allow_transparent_navigation %}
      <script src="{{ 'overlap-navigation.js' | asset_url }}" defer="defer"></script>
    {% endif %}
    {% include 'swymSnippet' %}
    {% include 'swym-custom'%}

  </body>
</html>
<script src='https://widget.sezzle.com/v1/javascript/price-widget?uuid=f469f349-d02e-417f-8f31-cf776c835e67'></script>

<script src='https://widget.sezzle.com/v1/javascript/price-widget?uuid=f469f349-d02e-417f-8f31-cf776c835e67'></script>

<script src='https://widget.sezzle.com/v1/javascript/price-widget?uuid=f469f349-d02e-417f-8f31-cf776c835e67'></script>
