{% liquid 
    assign showEverywhere = false
    assign showOnHomepage = false
    assign showOnInnerPages = false
    if section.blocks.size > 0 and section.settings.announcement_bar == 'show' 
        assign showEverywhere = true
    endif
    if section.settings.announcement_bar == 'show_on_homepage' and template.name == 'index'
        assign showOnHomepage = true
    endif
    if section.settings.announcement_bar == 'show_on_inner_pages' and template.name != 'index'
        assign showOnInnerPages = true
    endif 
%}

{% if showEverywhere or showOnHomepage or showOnInnerPages %}
{{ 'section-announcement-bar.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
  {% style %}
    #shopify-section-{{ section.id }} {
      --top-and-bottom-paddings: {{ section.settings.section_paddings }}px;
      --image-ratio: {{ section.settings.image_ratio }};
      --image-width: {{ section.settings.image_width }}px;
      position: relative;
      {% if section.settings.color_type == 'invert' %}
      --layout-text-color:
        {{ settings.layout_background_color.red }},
        {{ settings.layout_background_color.green }},
        {{ settings.layout_background_color.blue }};
      --layout-background-color:
        {{ settings.layout_text_color.red }},
        {{ settings.layout_text_color.green }}, 
        {{ settings.layout_text_color.blue }};
      {% endif %}
      {% if section.settings.color_type == 'custom' %}
      --layout-text-color:
        {{ section.settings.text_color.red }},
        {{ section.settings.text_color.green }}, 
        {{ section.settings.text_color.blue }};
      --layout-background-color:
        {{ section.settings.background_color.red }},
        {{ section.settings.background_color.green }}, 
        {{ section.settings.background_color.blue }};
      {% endif %}
      background-color: rgb(var(--layout-background-color)); 
    }
  {% endstyle %}

  <slider-component id="GalleryViewer-{{ section.id }}" class="slider announcement-bar advantages scroll-to-block slider-container-js announcement-bar--{{ settings.white_space }} {% if section.settings.show_bottom_line %}announcement-bar--line{% endif %} color-{{ section.settings.color_type }} {% if section.settings.color_type != 'default' %}no-default-color{% endif %}">
    <div class="slider__viewport" >
        <div class="text-blocks slider__grid {% if settings.include_header_footer %}{% if settings.max_page_width == '1400' or settings.max_page_width == '1200' %}page-width {% endif %} page-width--{{ settings.max_page_width }}{% endif %}"id="Slider-Gallery-{{ section.id }}" data-count="1"
            data-count-mobile="1">
        {%- for block in section.blocks -%}
            {%- case block.type -%}
            {%- when 'text' -%}
            {% if block.settings.desktop_text != blank or block.settings.mobile_text != blank or block.settings.image != blank or block.settings.icon != 'none' %}
                <div class="text-block slider__grid-item snap-align {% if forloop.first %}is-active{% endif %} card-js" id="Slide-{{ section.id }}" {{ block.shopify_attributes }}>
                {% if block.settings.image != blank or block.settings.icon != 'none' %}
                    {% if block.settings.image != blank %}
                    <div class="text-block__image text-block__image--{{ block.id }} ratio-{{ section.settings.image_ratio }}" {% if settings.disable_right_click %}oncontextmenu="return false"{% endif %}>
                        {% style %}
                        .text-block__image--{{ block.id }} {
                            {% if section.settings.context_image_radius == 'default' %}
                                --context-image-radius: {{ settings.images_and_sections_radius }};
                            {% else %}
                                --context-image-radius: {{ section.settings.context_image_radius }};
                            {% endif %}
                        }
                        {% endstyle %}
                        {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                        <img srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                        {%- if block.settings.image.width >= 375 -%}{{ block.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
                        {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                        {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                        {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                        {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                            {{ block.settings.image | image_url }} {{ block.settings.image.width }}w" 
                        src="{{ block.settings.image | image_url: width: block.settings.image.width }}" 
                        {% if section.location == 'footer' %}loading="lazy"{% endif %}
                        draggable="false"
                        sizes="calc({{ section.settings.image_width }}px / 1)"
                        width="{{ block.settings.image.width }}" 
                        height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio | ceil }}" 
                        alt="{{ block.settings.image.alt | default: shop.name | escape }}" 
                        class="image__item"
                        style="object-position: {{ block.settings.image.presentation.focal_point }}"/>
                        {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
                    </div>
                    {% else %}
                    <div class="text-block__icon">
                        {% unless block.settings.icon == 'none' %}
                        {% if block.settings.icon == 'arrow_down' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'arrow-down-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'arrow-down-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'arrow-down-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'arrow-down-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'arrow_left' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'arrow-left-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'arrow-left-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'arrow-left-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'arrow-left-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'arrow_right' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'arrow-right-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'arrow-right-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'arrow-right-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'arrow-right-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'arrow_up' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'arrow-up-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'arrow-up-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'arrow-up-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'arrow-up-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'bank' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'bank-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'bank-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'bank-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'bank-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'bank_card' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'bank-card-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'bank-card-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'bank-card-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'bank-card-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'bill' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'bill-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'bill-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'bill-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'bill-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'bottle' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'bottle-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'bottle-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'bottle-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'bottle-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'chat' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'chat-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'chat-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'chat-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'chat-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'chat_empty' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'chat-empty-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'chat-empty-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'chat-empty-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'chat-empty-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'checked_box' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'checked-box-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'checked-box-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'checked-box-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'checked-box-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'checkmark' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'checkmark-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'checkmark-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'checkmark-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'checkmark-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'close' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'close-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'close-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'close-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'close-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'clothes' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'clothes-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'clothes-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'clothes-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'clothes-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'clothes_hanger' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'clothes-hanger-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'clothes-hanger-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'clothes-hanger-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'clothes-hanger-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'copy' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'copy-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'copy-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'copy-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'copy-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'cotton' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'cotton-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'cotton-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'cotton-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'cotton-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'envelope' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'envelope-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'envelope-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'envelope-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'envelope-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'eye' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon', icon: 'eye-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon', icon: 'eye-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon', icon: 'eye-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon', icon: 'eye-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'globe' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'globe-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'globe-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'globe-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'globe-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'hand_washing' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'hand-washing-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'hand-washing-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'hand-washing-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'hand-washing-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'heart' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'heart-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'heart-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'heart-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'heart-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'help' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'help-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'help-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'help-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'help-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'laundry_dryer' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'laundry-dryer-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'laundry-dryer-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'laundry-dryer-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'laundry-dryer-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'laundry_washer' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'laundry-washer-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'laundry-washer-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'laundry-washer-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'laundry-washer-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'layers' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'layers-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'layers-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'layers-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'layers-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'leaf' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'leaf-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'leaf-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'leaf-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'leaf-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'link' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'link-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'link-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'link-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'link-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'lipstick' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'lipstick-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'lipstick-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'lipstick-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'lipstick-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'loop' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'loop-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'loop-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'loop-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'loop-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'measuring_tape' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'measuring-tape-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'measuring-tape-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'measuring-tape-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'measuring-tape-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'model_silhouette' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'model-silhouette-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'model-silhouette-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'model-silhouette-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'model-silhouette-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'money_bills' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'money-bills-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'money-bills-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'money-bills-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'money-bills-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'moving_truck' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'moving-truck-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'moving-truck-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'moving-truck-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'moving-truck-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'package_closed' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'package-closed-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'package-closed-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'package-closed-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'package-closed-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'package_open' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'package-open-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'package-open-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'package-open-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'package-open-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'padlock' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'padlock-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'padlock-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'padlock-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'padlock-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'paper_airplane' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'paper-airplane-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'paper-airplane-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'paper-airplane-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'paper-airplane-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'paw_print' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'paw-print-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'paw-print-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'paw-print-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'paw-print-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'pencil' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'pencil-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'pencil-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'pencil-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'pencil-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'planet' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'planet-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'planet-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'planet-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'planet-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'plant' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'plant-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'plant-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'plant-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'plant-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'play' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'play-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'play-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'play-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'play-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'price_tag' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'price-tag-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'price-tag-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'price-tag-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'price-tag-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'question_mark' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'question-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'question-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'question-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'question-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'recycled_symbol' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'recycled-symbol-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'recycled-symbol-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'recycled-symbol-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'recycled-symbol-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'ruler' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion', icon: 'ruler-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion', icon: 'ruler-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion', icon: 'ruler-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion', icon: 'ruler-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'scissors' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion-2', icon: 'scissors-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion-2', icon: 'scissors-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion-2', icon: 'scissors-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion-2', icon: 'scissors-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'search' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon', icon: 'search-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon', icon: 'search-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon', icon: 'search-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon', icon: 'search-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'security_badge' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion-2', icon: 'security-badge-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion-2', icon: 'security-badge-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion-2', icon: 'security-badge-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion-2', icon: 'security-badge-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'settings' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon', icon: 'filter-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon', icon: 'filter-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon', icon: 'filter-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon', icon: 'filter-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'share' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion-2', icon: 'share-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion-2', icon: 'share-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion-2', icon: 'share-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion-2', icon: 'share-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'shopping_cart' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon', icon: 'cart-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon', icon: 'cart-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon', icon: 'cart-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon', icon: 'cart-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'stiletto' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion-2', icon: 'stiletto-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion-2', icon: 'stiletto-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion-2', icon: 'stiletto-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion-2', icon: 'stiletto-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'stop_watch' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion-2', icon: 'stop-watch-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion-2', icon: 'stop-watch-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion-2', icon: 'stop-watch-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion-2', icon: 'stop-watch-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'sunflower' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion-2', icon: 'sunflower-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion-2', icon: 'sunflower-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion-2', icon: 'sunflower-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion-2', icon: 'sunflower-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 't_shirt' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion-2', icon: 't-shirt-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion-2', icon: 't-shirt-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion-2', icon: 't-shirt-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion-2', icon: 't-shirt-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'trash' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion-2', icon: 'trash-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion-2', icon: 'trash-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion-2', icon: 'trash-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion-2', icon: 'trash-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'truck' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion-2', icon: 'truck-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion-2', icon: 'truck-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion-2', icon: 'truck-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion-2', icon: 'truck-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'user' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon', icon: 'account-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon', icon: 'account-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon', icon: 'account-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon', icon: 'account-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'washing_symbol' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion-2', icon: 'washing-symbol-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion-2', icon: 'washing-symbol-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion-2', icon: 'washing-symbol-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion-2', icon: 'washing-symbol-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'water_bottle' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion-2', icon: 'water-bottle-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion-2', icon: 'water-bottle-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion-2', icon: 'water-bottle-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion-2', icon: 'water-bottle-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'zoom_in' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion-2', icon: 'zoom-in-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion-2', icon: 'zoom-in-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion-2', icon: 'zoom-in-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion-2', icon: 'zoom-in-bold' %}
                            {% endif %}
                        {% elsif block.settings.icon == 'zoom_out' %}
                            {% if section.settings.icon_weight == 'light' %}
                                {% render 'icon-accordion-2', icon: 'zoom-out-light' %}
                            {% elsif section.settings.icon_weight == 'regular' %}
                                {% render 'icon-accordion-2', icon: 'zoom-out-regular' %}
                            {% elsif section.settings.icon_weight == 'medium' %}
                                {% render 'icon-accordion-2', icon: 'zoom-out-medium' %}
                            {% elsif section.settings.icon_weight == 'bold' %}
                                {% render 'icon-accordion-2', icon: 'zoom-out-bold' %}
                            {% endif %}
                        {% endif %}
                        {% endunless %}
                    </div>
                    {% endif %}
                {% endif %}
                {% if block.settings.desktop_text != blank or block.settings.mobile_text != blank %}
                <div class="text-block__content text-block__content--{{ settings.typography_preset }} {% if section.settings.text_size != 'default' %}{{ section.settings.text_size }}{% endif %} {% if section.settings.center_text %}text-block__content--center{% endif %}">
                    {% if block.settings.desktop_text != blank %} 
                    <div class="richtext text-block__item {% if settings.enable_animated_underline %}richtext-link--underline{% endif %} text-block__item--desktop {% if block.settings.mobile_text == blank %}text-block__item--desktop-visible{% endif %}">{{ block.settings.desktop_text }}</div>
                    {% endif %}
                    {% if block.settings.mobile_text != blank %} 
                    <div class="richtext text-block__item {% if block.settings.desktop_text != blank %}text-block__item--mobile{% endif %}">{{ block.settings.mobile_text }}</div>
                    {% endif %}
                </div>
                {% endif %}
                </div>
            {% endif %}
            {%- endcase -%}
        {%- endfor -%}
        </div>
    </div>
  </slider-component>
{% endif %}

{% schema %}
  {
    "name": "t:sections.advantages.name",
    "tag": "section",
    "class": "advantages",
    "settings": [
      {
        "type": "select",
        "id": "announcement_bar",
        "options": [
          {
            "value": "disable",
            "label": "t:sections.advantages.settings.advantages.options__1.label"
          },
          {
            "value": "show",
            "label": "t:sections.advantages.settings.advantages.options__2.label"
          },
          {
            "value": "show_on_homepage",
            "label": "t:sections.advantages.settings.advantages.options__3.label"
          },
          {
            "value": "show_on_inner_pages",
            "label": "t:sections.advantages.settings.advantages.options__4.label"
          }
        ],
        "default": "show",
        "label": "t:sections.advantages.settings.advantages.label"
      },
      {
        "type": "select",
        "id": "text_size",
        "options": [
            {
                "value": "default",
                "label": "t:sections.all.size.options__1.label"
            },
            {
                "value": "body_l",
                "label": "t:sections.all.size.options__12.label"
            },
            {
                "value": "body_l_uppercase",
                "label": "t:sections.all.size.options__13.label"
            },
            {
                "value": "body_m",
                "label": "t:sections.all.size.options__14.label"
            }, 
            {
                "value": "body_m_uppercase",
                "label": "t:sections.all.size.options__15.label"
            }, 
            {
                "value": "body_s",
                "label": "t:sections.all.size.options__16.label"
            }, 
            {
                "value": "body_s_uppercase",
                "label": "t:sections.all.size.options__17.label"
            }, 
            {
                "value": "label_font",
                "label": "t:sections.all.size.options__18.label"
            },
            {
                "value": "label_font_uppercase",
                "label": "t:sections.all.size.options__19.label"
            }
        ],
        "default": "default",
        "label": "t:sections.all.size.text_size.label"
      },
      {
        "type": "checkbox",
        "id": "show_bottom_line",
        "default": false,
        "label": "t:sections.navigation_sections.general.show_bottom_line.label"
      }, 
      {
        "type": "checkbox",
        "id": "center_text",
        "default": true,
        "label": "t:sections.all.alignment.center_text.label"
      }, 
      {
        "type": "header",
        "content": "t:sections.all.image.header__1.content"
      }, 
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "original",
            "label": "t:sections.all.image.image_ratio.options__1.label"
          },
          {
            "value": "square",
            "label": "t:sections.all.image.image_ratio.options__2.label"
          },
          {
            "value": "portrait",
            "label": "t:sections.all.image.image_ratio.options__3.label"
          },
          {
            "value": "traditional",
            "label": "t:sections.all.image.image_ratio.options__9.label"
          },
          {
            "value": "landscape",
            "label": "t:sections.all.image.image_ratio.options__4.label"
          }, {
            "value": "wide",
            "label": "t:sections.all.image.image_ratio.options__5.label"
          }
        ],
        "default": "square",
        "label": "t:sections.all.image.image_ratio.label"
      }, 
      {
        "type": "range",
        "id": "image_width",
        "min": 16,
        "max": 48,
        "step": 4,
        "unit": "px",
        "default": 24,
        "label": "t:sections.all.image.context_image_width.label"
      }, 
      {
        "type": "select",
        "id": "context_image_radius",
        "options": [
          {
            "value": "default",
            "label": "t:sections.all.corner_radius.options__1.label"
          },
          {
            "value": "0px",
            "label": "t:sections.all.corner_radius.options__2.label"
          },
          {
            "value": "3px",
            "label": "t:sections.all.corner_radius.options__3.label"
          },
          {
            "value": "5px",
            "label": "t:sections.all.corner_radius.options__4.label"
          },
          {
            "value": "12px",
            "label": "t:sections.all.corner_radius.options__5.label"
          },
          {
            "value": "2000px",
            "label": "t:sections.all.corner_radius.options__6.label"
          },
          {
            "value": "2000px 2000px 0 0",
            "label": "t:sections.all.corner_radius.options__7.label"
          }
        ],
        "default": "default",
        "label": "t:sections.all.corner_radius.label"
      },
      {
        "type": "select",
        "id": "icon_weight",
        "options": [
            {
                "value": "light",
                "label": "t:sections.all.icons.icon_weight.options__1.label"
            },
            {
                "value": "regular",
                "label": "t:sections.all.icons.icon_weight.options__2.label"
            },
            {
                "value": "medium",
                "label": "t:sections.all.icons.icon_weight.options__3.label"
            },
            {
                "value": "bold",
                "label": "t:sections.all.icons.icon_weight.options__4.label"
            }
        ],
        "default": "regular",
        "label": "t:sections.all.icons.icon_weight.label"
      },
      {
        "type": "header",
        "content": "t:sections.all.colors.name"
      }, 
      {
        "type": "radio",
        "id": "color_type",
        "options": [
          {
            "value": "default",
            "label": "t:sections.all.colors.color_type.options__1.label"
          }, {
            "value": "invert",
            "label": "t:sections.all.colors.color_type.options__2.label"
          }, {
            "value": "custom",
            "label": "t:sections.all.colors.color_type.options__3.label"
          }
        ],
        "default": "default",
        "label": "t:sections.all.colors.color_type.label"
      }, 
      {
        "type": "color",
        "id": "background_color",
        "label": "t:sections.all.colors.background_color.label",
        "default": "#FFFFFF"
      }, 
      {
        "type": "color",
        "id": "text_color",
        "label": "t:sections.all.colors.text_color.label",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "t:sections.all.paddings.section_paddings.content"
        },
      {
        "type": "range",
        "id": "section_paddings",
        "min": 0,
        "max": 16,
        "step": 2,
        "unit": "px",
        "default": 8,
        "label": "t:sections.all.paddings.top_and_bottom_paddings.label"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "t:sections.announcement_bar.blocks.text.name",
        "settings": [
          {
            "type": "richtext",
            "id": "desktop_text",
            "default": "<p>Announce something</p>",
            "label": "t:sections.all.labels.text.label"
          }, 
          {
            "type": "richtext",
            "id": "mobile_text",
            "label": "t:sections.all.labels.mobile_text.label"
          }, 
          {
            "type": "select",
            "id": "icon",
            "options": [
              {
                "value": "none",
                "label": "t:sections.all.icons.icon.options__1.label"
              },
              {
                "value": "arrow_down",
                "label": "t:sections.all.icons.icon.options__2.label"
              },
              {
                "value": "arrow_left",
                "label": "t:sections.all.icons.icon.options__3.label"
              },
              {
                "value": "arrow_right",
                "label": "t:sections.all.icons.icon.options__4.label"
              },
              {
                "value": "arrow_up",
                "label": "t:sections.all.icons.icon.options__5.label"
              },
              {
                "value": "bank",
                "label": "t:sections.all.icons.icon.options__6.label"
              },
              {
                "value": "bank_card",
                "label": "t:sections.all.icons.icon.options__7.label"
              },
              {
                "value": "bill",
                "label": "t:sections.all.icons.icon.options__8.label"
              },
              {
                "value": "bottle",
                "label": "t:sections.all.icons.icon.options__9.label"
              },
              {
                "value": "chat",
                "label": "t:sections.all.icons.icon.options__10.label"
              },
              {
                "value": "chat_empty",
                "label": "t:sections.all.icons.icon.options__11.label"
              },
              {
                "value": "checked_box",
                "label": "t:sections.all.icons.icon.options__12.label"
              },
              {
                "value": "checkmark",
                "label": "t:sections.all.icons.icon.options__13.label"
              },
              {
                "value": "close",
                "label": "t:sections.all.icons.icon.options__14.label"
              },
              {
                "value": "clothes",
                "label": "t:sections.all.icons.icon.options__15.label"
              },
              {
                "value": "clothes_hanger",
                "label": "t:sections.all.icons.icon.options__16.label"
              },
              {
                "value": "copy",
                "label": "t:sections.all.icons.icon.options__17.label"
              },
              {
                "value": "cotton",
                "label": "t:sections.all.icons.icon.options__18.label"
              },
              {
                "value": "envelope",
                "label": "t:sections.all.icons.icon.options__19.label"
              },
              {
                "value": "eye",
                "label": "t:sections.all.icons.icon.options__20.label"
              },
              {
                "value": "globe",
                "label": "t:sections.all.icons.icon.options__21.label"
              },
              {
                "value": "hand_washing",
                "label": "t:sections.all.icons.icon.options__22.label"
              },
              {
                "value": "heart",
                "label": "t:sections.all.icons.icon.options__23.label"
              },
              {
                "value": "help",
                "label": "t:sections.all.icons.icon.options__24.label"
              },
              {
                "value": "laundry_dryer",
                "label": "t:sections.all.icons.icon.options__25.label"
              },
              {
                "value": "laundry_washer",
                "label": "t:sections.all.icons.icon.options__26.label"
              },
              {
                "value": "layers",
                "label": "t:sections.all.icons.icon.options__27.label"
              },
              {
                "value": "leaf",
                "label": "t:sections.all.icons.icon.options__28.label"
              },
              {
                "value": "link",
                "label": "t:sections.all.icons.icon.options__29.label"
              },
              {
                "value": "lipstick",
                "label": "t:sections.all.icons.icon.options__30.label"
              },
              {
                "value": "loop",
                "label": "t:sections.all.icons.icon.options__31.label"
              },
              {
                "value": "measuring_tape",
                "label": "t:sections.all.icons.icon.options__32.label"
              },
              {
                "value": "model_silhouette",
                "label": "t:sections.all.icons.icon.options__33.label"
              },
              {
                "value": "money_bills",
                "label": "t:sections.all.icons.icon.options__34.label"
              },
              {
                "value": "moving_truck",
                "label": "t:sections.all.icons.icon.options__35.label"
              },
              {
                "value": "package_closed",
                "label": "t:sections.all.icons.icon.options__36.label"
              },
              {
                "value": "package_open",
                "label": "t:sections.all.icons.icon.options__37.label"
              },
              {
                "value": "padlock",
                "label": "t:sections.all.icons.icon.options__38.label"
              },
              {
                "value": "paper_airplane",
                "label": "t:sections.all.icons.icon.options__39.label"
              },
              {
                "value": "paw_print",
                "label": "t:sections.all.icons.icon.options__40.label"
              },
              {
                "value": "pencil",
                "label": "t:sections.all.icons.icon.options__41.label"
              },
              {
                "value": "planet",
                "label": "t:sections.all.icons.icon.options__42.label"
              },
              {
                "value": "plant",
                "label": "t:sections.all.icons.icon.options__43.label"
              },
              {
                "value": "play",
                "label": "t:sections.all.icons.icon.options__44.label"
              },
              {
                "value": "price_tag",
                "label": "t:sections.all.icons.icon.options__45.label"
              },
              {
                "value": "question_mark",
                "label": "t:sections.all.icons.icon.options__46.label"
              },
              {
                "value": "recycled_symbol",
                "label": "t:sections.all.icons.icon.options__47.label"
              },
              {
                "value": "ruler",
                "label": "t:sections.all.icons.icon.options__48.label"
              },
              {
                "value": "scissors",
                "label": "t:sections.all.icons.icon.options__49.label"
              },
              {
                "value": "search",
                "label": "t:sections.all.icons.icon.options__50.label"
              },
              {
                "value": "security_badge",
                "label": "t:sections.all.icons.icon.options__51.label"
              },
              {
                "value": "settings",
                "label": "t:sections.all.icons.icon.options__52.label"
              },
              {
                "value": "share",
                "label": "t:sections.all.icons.icon.options__53.label"
              },
              {
                "value": "shopping_cart",
                "label": "t:sections.all.icons.icon.options__54.label"
              },
              {
                "value": "stiletto",
                "label": "t:sections.all.icons.icon.options__55.label"
              },
              {
                "value": "stop_watch",
                "label": "t:sections.all.icons.icon.options__56.label"
              },
              {
                "value": "sunflower",
                "label": "t:sections.all.icons.icon.options__57.label"
              },
              {
                "value": "t_shirt",
                "label": "t:sections.all.icons.icon.options__58.label"
              },
              {
                "value": "trash",
                "label": "t:sections.all.icons.icon.options__59.label"
              },
              {
                "value": "truck",
                "label": "t:sections.all.icons.icon.options__60.label"
              },
              {
                "value": "user",
                "label": "t:sections.all.icons.icon.options__61.label"
              },
              {
                "value": "washing_symbol",
                "label": "t:sections.all.icons.icon.options__62.label"
              },
              {
                "value": "water_bottle",
                "label": "t:sections.all.icons.icon.options__63.label"
              },
              {
                "value": "zoom_in",
                "label": "t:sections.all.icons.icon.options__64.label"
              },
              {
                "value": "zoom_out",
                "label": "t:sections.all.icons.icon.options__65.label"
              }
            ],
            "default": "truck",
            "label": "t:sections.all.icons.icon.label"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.all.labels.image.label"
          }
        ]
      }
    ],
    "enabled_on": {
        "groups": ["*"]
    },
    "presets": [
        {
            "name": "t:sections.advantages.name",
            "blocks": [
                {
                   "type": "text"
                },
                {
                   "type": "text"
                },
                {
                   "type": "text"
                }
            ]
        }
    ]   
  }
{% endschema %}