{% if section.blocks.size > 0 %}
{{ 'section-banner-grid.css' | asset_url | stylesheet_tag }}

{% style %}
  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.desktop_padding_top }}px;
    --padding-bottom: {{ section.settings.desktop_padding_bottom }}px;
    --grid-gap: {{ section.settings.grid_gap }}px;
    --mobile-grid-gap: {{ section.settings.mobile_grid_gap }}px;

    {% if section.settings.image_radius == 'default' %}
      --image-radius: {{ settings.images_and_sections_radius }};
    {% else %}
      --image-radius: {{ section.settings.image_radius }};
    {% endif %}
    {% if section.settings.grid_gap == 0 %}
      --image-radius: 0px;
      {% if section.settings.image_radius == 'default' %}
        --container-radius: {{ settings.images_and_sections_radius }};
      {% else %}
        --container-radius: {{ section.settings.image_radius }};
      {% endif %}
    {% endif %}

    {% if section.settings.color_type == 'invert' %}
        --layout-background-color:
        {{ settings.layout_text_color.red }},
        {{ settings.layout_text_color.green }}, 
        {{ settings.layout_text_color.blue }};
    {% endif %}
    {% if section.settings.color_type == 'custom' %}
        --layout-background-color:
        {{ section.settings.background_color.red }},
        {{ section.settings.background_color.green }}, 
        {{ section.settings.background_color.blue }};
    {% endif %}  
    background-color: rgb(var(--layout-background-color));
  }
  @media screen and (max-width: 920px) {
    #shopify-section-{{ section.id }} {
      --padding-top: {{ section.settings.mobile_padding_top }}px;
      --padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
    }
  }
  /* Styles for full-width page without sidebars */
  /* Mobile */
  @media screen and (max-width: 768px) {
    #shopify-section-{{ section.id }} {
      {% if section.settings.mobile_grid_gap == 0 %}
        --image-radius: 0px;
        {% if section.settings.image_radius == 'default' %}
          --container-radius: {{ settings.images_and_sections_radius }};
        {% else %}
          --container-radius: {{ section.settings.image_radius }};
        {% endif %}
      {% else %}
        {% if section.settings.image_radius == 'default' %}
        --image-radius: {{ settings.images_and_sections_radius }};
        {% else %}
        --image-radius: {{ section.settings.image_radius }};
        {% endif %}
      {% endif %}
    }
  }
  /* Sidebars: Main XS, Main S, Main M and white space Spacious */
  /* Mobile */
  @media screen and (max-width: 1048px) and (min-width: 921px) {
      .main_xs--spacious #shopify-section-{{ section.id }},
      .main_s--spacious #shopify-section-{{ section.id }},
      .main_m--spacious #shopify-section-{{ section.id }} {
      {% if section.settings.mobile_grid_gap == 0 %}
        --image-radius: 0px;
        {% if section.settings.image_radius == 'default' %}
          --container-radius: {{ settings.images_and_sections_radius }};
        {% else %}
          --container-radius: {{ section.settings.image_radius }};
        {% endif %}
      {% else %}
        {% if section.settings.image_radius == 'default' %}
        --image-radius: {{ settings.images_and_sections_radius }};
        {% else %}
        --image-radius: {{ section.settings.image_radius }};
        {% endif %}
      {% endif %}
    }
  }
  /* Sidebars: Main XS, Main S and white space Compact */
  /* Mobile */
  @media screen and (max-width: 968px) and (min-width: 921px) {
      .main_xs--compact #shopify-section-{{ section.id }},
      .main_s--compact #shopify-section-{{ section.id }} {
      {% if section.settings.mobile_grid_gap == 0 %}
        --image-radius: 0px;
        {% if section.settings.image_radius == 'default' %}
          --container-radius: {{ settings.images_and_sections_radius }};
        {% else %}
          --container-radius: {{ section.settings.image_radius }};
        {% endif %}
      {% else %}
        {% if section.settings.image_radius == 'default' %}
        --image-radius: {{ settings.images_and_sections_radius }};
        {% else %}
        --image-radius: {{ section.settings.image_radius }};
        {% endif %}
      {% endif %}
    }
  }
  /* Sidebars: Main XS with secondary, Main S with secondary and white space Spacious */
  /* Mobile */
  @media screen and (max-width: 1144px) and (min-width: 921px) {
      .main_xs_with_secondary--spacious #shopify-section-{{ section.id }},
      .main_s_with_secondary--spacious #shopify-section-{{ section.id }} {
      {% if section.settings.mobile_grid_gap == 0 %}
        --image-radius: 0px;
        {% if section.settings.image_radius == 'default' %}
          --container-radius: {{ settings.images_and_sections_radius }};
        {% else %}
          --container-radius: {{ section.settings.image_radius }};
        {% endif %}
      {% else %}
        {% if section.settings.image_radius == 'default' %}
        --image-radius: {{ settings.images_and_sections_radius }};
        {% else %}
        --image-radius: {{ section.settings.image_radius }};
        {% endif %}
      {% endif %}
    }
  }
  /* Sidebars: Main XS with secondary, Main S with secondary and white space Compact */
  /* Mobile */
  @media screen and (max-width: 1064px) and (min-width: 921px) {
      .main_xs_with_secondary--compact #shopify-section-{{ section.id }},
      .main_s_with_secondary--compact #shopify-section-{{ section.id }} {
        {% if section.settings.mobile_grid_gap == 0 %}
          --image-radius: 0px;
          {% if section.settings.image_radius == 'default' %}
            --container-radius: {{ settings.images_and_sections_radius }};
          {% else %}
            --container-radius: {{ section.settings.image_radius }};
          {% endif %}
        {% else %}
          {% if section.settings.image_radius == 'default' %}
          --image-radius: {{ settings.images_and_sections_radius }};
          {% else %}
          --image-radius: {{ section.settings.image_radius }};
          {% endif %}
        {% endif %}
      }
  }
  /* Sidebars: Main M and white space Compact */
  /* Mobile */
  @media screen and (max-width: 1024px) and (min-width: 921px) {
      .main_m--compact #shopify-section-{{ section.id }} {
      {% if section.settings.mobile_grid_gap == 0 %}
        --image-radius: 0px;
        {% if section.settings.image_radius == 'default' %}
          --container-radius: {{ settings.images_and_sections_radius }};
        {% else %}
          --container-radius: {{ section.settings.image_radius }};
        {% endif %}
      {% else %}
        {% if section.settings.image_radius == 'default' %}
        --image-radius: {{ settings.images_and_sections_radius }};
        {% else %}
        --image-radius: {{ section.settings.image_radius }};
        {% endif %}
      {% endif %}
    } 
  }
  /* Sidebars: Main M with secondary */
  /* Mobile */
  @media screen and (max-width: 1152px) and (min-width: 921px) {
      .main_m_with_secondary #shopify-section-{{ section.id }} {
      {% if section.settings.mobile_grid_gap == 0 %}
        --image-radius: 0px;
        {% if section.settings.image_radius == 'default' %}
          --container-radius: {{ settings.images_and_sections_radius }};
        {% else %}
          --container-radius: {{ section.settings.image_radius }};
        {% endif %}
      {% else %}
        {% if section.settings.image_radius == 'default' %}
        --image-radius: {{ settings.images_and_sections_radius }};
        {% else %}
        --image-radius: {{ section.settings.image_radius }};
        {% endif %}
      {% endif %}
    } 
  }
  /* Sidebars: Main L and white space Spacious */
  /* Mobile */
  @media screen and (max-width: 1536px) and (min-width: 921px) {
      .main_l #shopify-section-{{ section.id }} {
      {% if section.settings.mobile_grid_gap == 0 %}
        --image-radius: 0px;
        {% if section.settings.image_radius == 'default' %}
          --container-radius: {{ settings.images_and_sections_radius }};
        {% else %}
          --container-radius: {{ section.settings.image_radius }};
        {% endif %}
      {% else %}
        {% if section.settings.image_radius == 'default' %}
        --image-radius: {{ settings.images_and_sections_radius }};
        {% else %}
        --image-radius: {{ section.settings.image_radius }};
        {% endif %}
      {% endif %}
    } 
  }
{% endstyle %}
{% assign desktopGap = section.settings.grid_gap | times: 1 %}
{% assign mobileGap = section.settings.mobile_grid_gap | times: 1 %}
{% liquid
  assign settings_page_width = settings.max_page_width | append: 'px'
  if settings.max_page_width == 'full_width'
    assign settings_page_width = '100vw'
  endif
%}

<div class="banner-grid banner-grid--{{ settings.white_space }} ordinal-section ordinal-section--{{ settings.white_space }} section-padding--{{ settings.white_space }} {% if settings.show_lines %}ordinal-section--lines lines{% endif %} {% if settings.max_page_width == '1400' or settings.max_page_width == '1200' %}page-width {% endif %} page-width--{{ settings.max_page_width }}">
    <div class="banner-grid__wrapper banner-grid__wrapper--{{ section.settings.section_width }} {% if section.settings.grid_gap == 0 or section.settings.mobile_grid_gap == 0 %}banner-grid__wrapper--radius{% endif %}
      {% if desktopGap == 0 %}gap-one{% elsif desktopGap > 0 and desktopGap < 21 %}gap-two{% elsif desktopGap > 20 and desktopGap < 51 %}gap-three{% else %}gap-four{% endif %}
      {% if mobileGap == 0 %}mobile-gap-one{% elsif mobileGap > 0 and mobileGap < 21 %}mobile-gap-two{% else %}mobile-gap-three{% endif %}">
        {% for block in section.blocks %}
            {%- case block.type -%}
                {%- when 'image' -%}
                    {% if block.settings.link != blank %}<a href="{{ block.settings.link }}" {{ block.shopify_attributes }} {% if block.settings.target_blank %}target="_blank"{% endif %} class="banner-grid__card  banner-grid__card--{{ block.id }} tile-{{ block.settings.banner_size }} {% if section.settings.content_on_hover %}hover-content{% endif %}
                      {% if block.settings.banner_size == 'horizontal' or block.settings.banner_size == 'wide' %}new-aspect-ratio{% endif %} {% if block.settings.banner_size == 'square' or block.settings.banner_size == 'big_square' %}none-aspect-ratio{% endif %}">{% endif %}
                    {% unless block.settings.link != blank %}<div {{ block.shopify_attributes }} class="banner-grid__card banner-grid__card--{{ block.id }} tile-{{ block.settings.banner_size }} {% if section.settings.content_on_hover %}hover-content{% endif %}
                      {% if block.settings.banner_size == 'horizontal' or block.settings.banner_size == 'wide' %}new-aspect-ratio{% endif %} {% if block.settings.banner_size == 'square' or block.settings.banner_size == 'big_square' %}none-aspect-ratio{% endif %}">{% endunless %}
                        {% liquid
                          assign banner_grid_overlay_background = block.settings.overlay_color
                          if block.settings.overlay_gradient != blank
                          assign banner_grid_overlay_background = block.settings.overlay_gradient
                          endif
                        %}
                        {% style %}
                          #shopify-section-{{ section.id }} .banner-grid__card--{{ block.id }} {
                            --vertical-position: {{ block.settings.vertical_content_position }};
                            --banner-grid-overlay-background: {{ banner_grid_overlay_background }};
                            --overlay-opacity: {{ block.settings.overlay_opacity | divided_by: 100.0 }};

                            {% if block.settings.color_type == 'default' %}
                              --layout-text-color:
                              {{ settings.layout_text_color.red }},
                              {{ settings.layout_text_color.green }}, 
                              {{ settings.layout_text_color.blue }};
                              --layout-background-color:
                              {{ settings.layout_background_color.red }},
                              {{ settings.layout_background_color.green }},
                              {{ settings.layout_background_color.blue }};
                            {% endif %}
                            {% if block.settings.color_type == 'invert' %}
                              --layout-text-color:
                              {{ settings.layout_background_color.red }},
                              {{ settings.layout_background_color.green }},
                              {{ settings.layout_background_color.blue }};
                              --layout-background-color:
                              {{ settings.layout_text_color.red }},
                              {{ settings.layout_text_color.green }}, 
                              {{ settings.layout_text_color.blue }};
                            {% endif %}
                            {% if block.settings.color_type == 'custom' %}
                              --layout-text-color:
                              {{ block.settings.text_color.red }},
                              {{ block.settings.text_color.green }}, 
                              {{ block.settings.text_color.blue }};
                              --layout-background-color:
                              {{ block.settings.background_color.red }},
                              {{ block.settings.background_color.green }}, 
                              {{ block.settings.background_color.blue }};
                            {% endif %}  
                            background-color: rgb(var(--layout-background-color));
                            color: rgb(var(--layout-text-color));
                          }
                          #shopify-section-{{ section.id }} .banner-grid__card--{{ block.id }} .banner-grid__media::after {
                            opacity: var(--overlay-opacity);
                            background: var(--banner-grid-overlay-background);
                          }
                        {% endstyle %}
                        <div class="banner-grid__media" {% if settings.disable_right_click %}oncontextmenu="return false"{% endif %}>
                            {%- if block.settings.image != blank -%}
                              {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                                <img srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                                    {%- if block.settings.image.width >= 375 -%}{{ block.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
                                    {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                                    {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                                    {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                                    {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                                    {%- if block.settings.image.width >= 2200 -%}{{ block.settings.image | image_url: width: 2200 }} 2200w,{%- endif -%}
                                    {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
                                    {{ block.settings.image | image_url }} {{ block.settings.image.width }}w" src="{{ block.settings.image | image_url: width: 1700 }}"
                                    {% if block.settings.banner_size == 'horizontal' or block.settings.banner_size == 'big_square' %}
                                      sizes="(max-width: 768px) 100vw, (max-width: 1024px) calc(100vw / 2),(min-width: {{ settings_page_width }}) calc({{ settings_page_width }} /  3 * 2), calc(100vw / 3 * 2)"
                                    {% elsif block.settings.banner_size == 'wide' %}
                                      sizes="(max-width: 768px) 100vw, (max-width: 1024px) calc(100vw / 2),(min-width: {{ settings_page_width }}) calc({{ settings_page_width }}), 100vw"
                                      {% elsif block.settings.banner_size == 'square' %}
                                      sizes="(max-width: 768px) calc(100vw / 2), (max-width: 1024px) calc(100vw / 2),(min-width: {{ settings_page_width }}) calc({{ settings_page_width }} /  3), calc(100vw / 3)"
                                    {% endif %}
                                    alt="{{ block.settings.image.alt | escape }}" 
                                    src="{{ block.settings.image | image_url: width: 1500 }}"
                                    {% if section.index > 2 %}loading="lazy"{% endif %}
                                    draggable="false"
                                    width="{{ block.settings.image.width }}" 
                                    height="{{ block.settings.image.height }}" 
                                    class="banner-grid__image"
                                    style="object-position: {{ block.settings.image.presentation.focal_point }};">
                                {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
                            {%- else -%}
                                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                            {%- endif -%}
                        </div>
                        {%- if block.settings.heading != blank or block.settings.button_label != blank -%}
                            <div class="banner-grid__info {% if section.settings.narrow_content %}banner-grid__info--narrow{% else %}banner-grid__info--wide{% endif %} {% if block.settings.center_text %}center-content{% endif %} color-{{ block.settings.color_type }} {% if block.settings.color_type != 'default' %}no-default-color{% endif %}">
                              {% if block.settings.heading != blank %}<p class="banner-grid__title banner-grid__title--{{ settings.typography_preset }}" {% if block.settings.center_text %}style="text-align: center;"{% endif %}>{{ block.settings.heading }}</p>{% endif %}
                                {%- if block.settings.button_label != blank -%}
                                    <div class="banner-grid__button {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %} elem-hover elem-hover--{{ block.settings.button_style }} {% unless block.settings.link != blank %}disabled{% endunless %}">
                                    {%- if block.settings.link != blank -%}<object><a href="{{ block.settings.link }}" tabindex="-1" {% if block.settings.target_blank %}target="_blank"{% endif %} class="{{ block.settings.button_style }}-button button--{{ settings.typography_preset }} {% if block.settings.button_style == 'link' and settings.enable_animated_underline %}link-button--underline{% endif %}">{%- else -%}
                                    <span disabled class="{{ block.settings.button_style }}-button button--{{ settings.typography_preset }} {% if block.settings.button_style == 'link' and settings.enable_animated_underline %}link-button--underline{% endif %}">{%- endif -%}
                                      {{ block.settings.button_label }}
                                    {%- unless block.settings.link != blank -%}</span>{%- endunless -%}{%- if block.settings.link != blank -%}</a></object>{%- endif -%}
                                    </div>
                                {%- endif -%}
                            </div>
                        {%- endif -%}   
                    {% unless block.settings.link != blank %}</div>{% endunless %}
                    {% if block.settings.link != blank %}</a>{% endif %}
                {%- when 'loop_video' -%}
                  {% if block.settings.link != blank %}<a href="{{ block.settings.link }}" {{ block.shopify_attributes }} {% if block.settings.target_blank %}target="_blank"{% endif %} class="banner-grid__card  banner-grid__card--{{ block.id }} tile-{{ block.settings.banner_size }} {% if section.settings.content_on_hover %}hover-content{% endif %}
                    {% if block.settings.banner_size == 'horizontal' or block.settings.banner_size == 'wide' %}new-aspect-ratio{% endif %} {% if block.settings.banner_size == 'square' or block.settings.banner_size == 'big_square' %}none-aspect-ratio{% endif %}">{% endif %}
                  {% unless block.settings.link != blank %}<div {{ block.shopify_attributes }} class="banner-grid__card banner-grid__card--{{ block.id }} tile-{{ block.settings.banner_size }} {% if section.settings.content_on_hover %}hover-content{% endif %}
                    {% if block.settings.banner_size == 'horizontal' or block.settings.banner_size == 'wide' %}new-aspect-ratio{% endif %} {% if block.settings.banner_size == 'square' or block.settings.banner_size == 'big_square' %}none-aspect-ratio{% endif %}">{% endunless %}
                        {% liquid
                            assign banner_grid_overlay_background = block.settings.overlay_color
                            if block.settings.overlay_gradient != blank
                            assign banner_grid_overlay_background = block.settings.overlay_gradient
                            endif
                        %}
                        {% style %}
                          #shopify-section-{{ section.id }} .banner-grid__card--{{ block.id }} {
                            --vertical-position: {{ block.settings.vertical_content_position }};
                            --banner-grid-overlay-background: {{ banner_grid_overlay_background }};
                            --overlay-opacity: {{ block.settings.overlay_opacity | divided_by: 100.0 }};

                            {% if block.settings.color_type == 'default' %}
                              --layout-text-color:
                              {{ settings.layout_text_color.red }},
                              {{ settings.layout_text_color.green }}, 
                              {{ settings.layout_text_color.blue }};
                              --layout-background-color:
                              {{ settings.layout_background_color.red }},
                              {{ settings.layout_background_color.green }},
                              {{ settings.layout_background_color.blue }};
                            {% endif %}
                            {% if block.settings.color_type == 'invert' %}
                              --layout-text-color:
                              {{ settings.layout_background_color.red }},
                              {{ settings.layout_background_color.green }},
                              {{ settings.layout_background_color.blue }};
                              --layout-background-color:
                              {{ settings.layout_text_color.red }},
                              {{ settings.layout_text_color.green }}, 
                              {{ settings.layout_text_color.blue }};
                            {% endif %}
                            {% if block.settings.color_type == 'custom' %}
                              --layout-text-color:
                              {{ block.settings.text_color.red }},
                              {{ block.settings.text_color.green }}, 
                              {{ block.settings.text_color.blue }};
                              --layout-background-color:
                              {{ block.settings.background_color.red }},
                              {{ block.settings.background_color.green }}, 
                              {{ block.settings.background_color.blue }};
                            {% endif %}  
                            background-color: rgb(var(--layout-background-color));
                            color: rgb(var(--layout-text-color));
                          }
                          #shopify-section-{{ section.id }} .banner-grid__card--{{ block.id }} .banner-grid__media::after {
                            opacity: var(--overlay-opacity);
                            background: var(--banner-grid-overlay-background);
                          }
                        {% endstyle %}
                        <div class="banner-grid__media" {% if settings.disable_right_click %}oncontextmenu="return false"{% endif %}>
                            {%- if block.settings.video_load != blank -%}
                                {{ block.settings.video_load | video_tag: image_size: "500x", autoplay: false, preload: 'none', loop: true, muted: true, controls: false, alt: block.settings.video_load.alt }}
                            {%- else -%}
                                {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
                            {%- endif -%}
                        </div>
                        {%- if block.settings.heading != blank or block.settings.button_label != blank -%}
                            <div class="banner-grid__info {% if section.settings.narrow_content %}banner-grid__info--narrow{% else %}banner-grid__info--wide{% endif %} {% if block.settings.center_text %}center-content{% endif %} color-{{ block.settings.color_type }} {% if block.settings.color_type != 'default' %}no-default-color{% endif %}">
                                {% if block.settings.heading != blank %}<p class="banner-grid__title banner-grid__title--{{ settings.typography_preset }}" {% if block.settings.center_text %}style="text-align: center;"{% endif %}>{{ block.settings.heading }}</p>{% endif %}
                                {%- if block.settings.button_label != blank -%}
                                    <div class="banner-grid__button {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %} elem-hover elem-hover--{{ block.settings.button_style }} {% unless block.settings.link != blank %}disabled{% endunless %}">
                                    {%- if block.settings.link != blank -%}<object><a href="{{ block.settings.link }}" tabindex="-1" {% if block.settings.target_blank %}target="_blank"{% endif %} class="{{ block.settings.button_style }}-button button--{{ settings.typography_preset }} {% if block.settings.button_style == 'link' and settings.enable_animated_underline %}link-button--underline{% endif %}">{%- else -%}
                                    <span disabled class="{{ block.settings.button_style }}-button button--{{ settings.typography_preset }} {% if block.settings.button_style == 'link' and settings.enable_animated_underline %}link-button--underline{% endif %}">{%- endif -%}
                                      {{ block.settings.button_label }}
                                    {%- unless block.settings.link != blank -%}</span>{%- endunless -%}{%- if block.settings.link != blank -%}</a></object>{%- endif -%}
                                    </div>
                                {%- endif -%}
                            </div>
                        {%- endif -%}   
                    {% unless block.settings.link != blank %}</div>{% endunless %}
                    {% if block.settings.link != blank %}</a>{% endif %}
            {%- endcase -%}
        {% endfor %}
    </div>
</div>
{% endif %}

{% schema %}
{
    "name": "t:sections.banner-grid.name",
    "tag": "section",
    "class": "banner-grid",
    "max_blocks": 20,
    "settings": [
        {
            "type": "checkbox",
            "id": "content_on_hover",
            "default": false,
            "label": "t:sections.banners.content_on_hover.label"
        },
        {
            "type": "range",
            "id": "grid_gap",
            "min": 0,
            "max": 80,
            "step": 1,
            "unit": "px",
            "label": "t:sections.banner-grid.settings.grid_gap.label",
            "default": 24
        },
        {
          "type": "range",
          "id": "mobile_grid_gap",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "t:sections.banner-grid.settings.mobile_grid_gap.label",
          "default": 16
      },
      {
        "type": "radio",
        "id": "section_width",
        "options": [
          {
            "value": "wide",
            "label": "t:sections.all.section_width.options__3.label"
          },
          {
            "value": "narrow",
            "label": "t:sections.all.section_width.options__4.label"
          }
        ],
        "default": "wide",
        "label": "t:sections.all.section_width.label"
      },
      {
        "type": "select",
        "id": "image_radius",
        "options": [
          {
            "value": "default",
            "label": "t:sections.all.corner_radius.options__1.label"
          },
          {
            "value": "0px",
            "label": "t:sections.all.corner_radius.options__2.label"
          },
          {
            "value": "3px",
            "label": "t:sections.all.corner_radius.options__3.label"
          },
          {
            "value": "5px",
            "label": "t:sections.all.corner_radius.options__4.label"
          },
          {
            "value": "12px",
            "label": "t:sections.all.corner_radius.options__5.label"
          },
          {
            "value": "2000px",
            "label": "t:sections.all.corner_radius.options__6.label"
          },
          {
            "value": "2000px 2000px 0 0",
            "label": "t:sections.all.corner_radius.options__7.label"
          }
        ],
        "default": "default",
        "label": "t:sections.all.corner_radius.label"
      },
        {
            "type": "header",
            "content": "t:sections.all.colors.background.content"
        },
        {
          "type": "radio",
          "id": "color_type",
          "label": "t:sections.all.colors.color_type.label",
          "options": [
              {
              "value": "default",
              "label": "t:sections.all.colors.color_type.options__1.label"
              },
              {
              "value": "invert",
              "label": "t:sections.all.colors.color_type.options__2.label"
              },
              {
              "value": "custom",
              "label": "t:sections.all.colors.color_type.options__5.label"
              }
          ],
          "default": "default"
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "t:sections.all.colors.background_color.label",
            "default": "#FFFFFF"
        },
        {
            "type": "header",
            "content": "t:sections.all.paddings.desktop_section_paddings.content"
        }, 
        {
            "type": "range",
            "id": "desktop_padding_top",
            "min": -160,
            "max": 160,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_top.label"
        }, 
        {
            "type": "range",
            "id": "desktop_padding_bottom",
            "min": -160,
            "max": 160,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_bottom.label"
        },
        {
            "type": "header",
            "content": "t:sections.all.paddings.mobile_section_paddings.content"
        }, 
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": -80,
            "max": 80,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_top.label"
        }, 
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": -80,
            "max": 80,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_bottom.label"
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "t:blocks.image.name",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:sections.all.image.desktop_image.label"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "t:sections.all.links.link.label"
                },
                {
                    "type": "checkbox",
                    "id": "target_blank",
                    "default": false,
                    "label": "t:sections.all.target_blank.label"
                },
                {
                    "type": "select",
                    "id": "banner_size",
                    "options": [
                      {
                        "value": "square",
                        "label": "t:sections.banner-grid.blocks.image.settings.banner_size.options__1.label"
                      }, 
                      {
                        "value": "big_square",
                        "label": "t:sections.banner-grid.blocks.image.settings.banner_size.options__2.label"
                      }, 
                      {
                        "value": "horizontal",
                        "label": "t:sections.banner-grid.blocks.image.settings.banner_size.options__3.label"
                      }, 
                      {
                        "value": "wide",
                        "label": "t:sections.banner-grid.blocks.image.settings.banner_size.options__4.label"
                      }
                    ],
                    "default": "square",
                    "label": "t:sections.banner-grid.blocks.image.settings.banner_size.label"
                },
                {
                    "type": "color",
                    "id": "overlay_color",
                    "label": "t:sections.all.image.overlay_color.label",
                    "default": "#000000"
                  },
                  {
                    "type": "color_background",
                    "id": "overlay_gradient",
                    "label": "t:sections.all.image.overlay_gradient.label"
                  },
                  {
                    "type": "range",
                    "id": "overlay_opacity",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "label": "t:sections.all.image.overlay_opacity.label",
                    "default": 70
                },
                {
                  "type": "header",
                  "content": "t:sections.all.labels.content.content"
                },
                {
                  "type": "text",
                  "id": "heading",
                  "label": "t:sections.all.labels.heading.label",
                  "default": "Image heading"
                },
                {
                  "type": "text",
                  "id": "button_label",
                  "label": "t:sections.all.buttons.button_label.label",
                  "info": "t:sections.all.buttons.button_label.info",
                  "default": "Discover"
                },
                {
                  "type": "select",
                  "id": "button_style",
                  "options": [
                    {
                      "value": "solid",
                      "label": "t:sections.all.buttons.button_styles.options__1.label"
                    }, 
                    {
                      "value": "outlined",
                      "label": "t:sections.all.buttons.button_styles.options__2.label"
                    }, 
                    {
                      "value": "link",
                      "label": "t:sections.all.buttons.button_styles.options__3.label"
                    }
                  ],
                  "default": "solid",
                  "label": "t:sections.all.buttons.button_styles.button_style.label"
                },
                {
                  "type": "checkbox",
                  "id": "center_text",
                  "default": true,
                  "label": "t:sections.all.alignment.center_text.label"
              },
              {
                "type": "select",
                "id": "vertical_content_position",
                "options": [
                  {
                    "value": "start",
                    "label": "t:sections.all.alignment.options__1.label"
                  }, 
                  {
                    "value": "center",
                    "label": "t:sections.all.alignment.options__2.label"
                  }, 
                  {
                    "value": "end",
                    "label": "t:sections.all.alignment.options__3.label"
                  }, 
                  {
                    "value": "space-between",
                    "label": "t:sections.banner-grid.blocks.image.settings.vertical_content_position.options__4.label"
                  }
                ],
                "default": "center",
                "label": "t:sections.all.alignment.vertical_content_position.label"
              },
                {
                  "type": "checkbox",
                  "id": "narrow_content",
                  "default": true,
                  "label": "t:sections.banners.narrow_content.label"
                },
                {
                  "type": "header",
                  "content": "t:sections.banner-grid.blocks.image.settings.color_type.label"
              },
              {
                  "type": "radio",
                  "id": "color_type",
                  "label": "t:sections.all.colors.color_type.label",
                  "options": [
                      {
                      "value": "default",
                      "label": "t:sections.all.colors.color_type.options__1.label"
                      },
                      {
                      "value": "invert",
                      "label": "t:sections.all.colors.color_type.options__2.label"
                      },
                      {
                      "value": "custom",
                      "label": "t:sections.all.colors.color_type.options__3.label"
                      }
                  ],
                  "default": "invert"
              },
              {
                  "type": "color",
                  "id": "background_color",
                  "label": "t:sections.all.colors.background_color.label",
                  "default": "#FFFFFF"
              },
              {
                  "type": "color",
                  "id": "text_color",
                  "label": "t:sections.all.colors.text_color.label",
                  "default": "#000000"
              }
            ]
        },
        {
            "type": "loop_video",
            "name": "t:blocks.loop_video.name",
            "settings": [
              {
                "type": "header",
                "content": "t:sections.all.video.loop_video_header.content"
              },
              {
                "type": "video",
                "id": "video_load",
                "label": "t:sections.all.video.video_load.label",
                "info": "t:sections.all.video.video_load.info"
              },
                {
                    "type": "url",
                    "id": "link",
                    "label": "t:sections.all.links.link.label"
                },
                {
                    "type": "checkbox",
                    "id": "target_blank",
                    "default": false,
                    "label": "t:sections.all.target_blank.label"
                },
                {
                  "type": "select",
                  "id": "banner_size",
                  "options": [
                    {
                      "value": "square",
                      "label": "t:sections.banner-grid.blocks.image.settings.banner_size.options__1.label"
                    }, 
                    {
                      "value": "big_square",
                      "label": "t:sections.banner-grid.blocks.image.settings.banner_size.options__2.label"
                    }, 
                    {
                      "value": "horizontal",
                      "label": "t:sections.banner-grid.blocks.image.settings.banner_size.options__3.label"
                    }, 
                    {
                      "value": "wide",
                      "label": "t:sections.banner-grid.blocks.image.settings.banner_size.options__4.label"
                    }
                  ],
                  "default": "square",
                  "label": "t:sections.banner-grid.blocks.image.settings.banner_size.label"
                },
                {
                    "type": "color",
                    "id": "overlay_color",
                    "label": "t:sections.all.video.overlay_color.label",
                    "default": "#000000"
                  },
                  {
                    "type": "color_background",
                    "id": "overlay_gradient",
                    "label": "t:sections.all.video.overlay_gradient.label"
                  },
                  {
                    "type": "range",
                    "id": "overlay_opacity",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "label": "t:sections.all.video.overlay_opacity.label",
                    "default": 70
                },
                {
                  "type": "header",
                  "content": "t:sections.all.labels.content.content"
                },
                {
                  "type": "text",
                  "id": "heading",
                  "label": "t:sections.all.labels.heading.label",
                  "default": "Loop video heading"
                },
                {
                  "type": "text",
                  "id": "button_label",
                  "label": "t:sections.all.buttons.button_label.label",
                  "info": "t:sections.all.buttons.button_label.info",
                  "default": "Discover"
                },
                {
                  "type": "select",
                  "id": "button_style",
                  "options": [
                    {
                      "value": "solid",
                      "label": "t:sections.all.buttons.button_styles.options__1.label"
                    }, 
                    {
                      "value": "outlined",
                      "label": "t:sections.all.buttons.button_styles.options__2.label"
                    }, 
                    {
                      "value": "link",
                      "label": "t:sections.all.buttons.button_styles.options__3.label"
                    }
                  ],
                  "default": "solid",
                  "label": "t:sections.all.buttons.button_styles.button_style.label"
                },
                {
                  "type": "checkbox",
                  "id": "center_text",
                  "default": true,
                  "label": "t:sections.all.alignment.center_text.label"
                },
                {
                  "type": "select",
                  "id": "vertical_content_position",
                  "options": [
                    {
                      "value": "start",
                      "label": "t:sections.all.alignment.options__1.label"
                    }, 
                    {
                      "value": "center",
                      "label": "t:sections.all.alignment.options__2.label"
                    }, 
                    {
                      "value": "end",
                      "label": "t:sections.all.alignment.options__3.label"
                    }, 
                    {
                      "value": "space-between",
                      "label": "t:sections.banner-grid.blocks.image.settings.vertical_content_position.options__4.label"
                    }
                  ],
                  "default": "center",
                  "label": "t:sections.all.alignment.vertical_content_position.label"
                },
                {
                  "type": "checkbox",
                  "id": "narrow_content",
                  "default": true,
                  "label": "t:sections.banners.narrow_content.label"
                },
                {
                  "type": "header",
                  "content": "t:sections.banner-grid.blocks.image.settings.color_type.label"
              },
              {
                  "type": "radio",
                  "id": "color_type",
                  "label": "t:sections.all.colors.color_type.label",
                  "options": [
                      {
                      "value": "default",
                      "label": "t:sections.all.colors.color_type.options__1.label"
                      },
                      {
                      "value": "invert",
                      "label": "t:sections.all.colors.color_type.options__2.label"
                      },
                      {
                      "value": "custom",
                      "label": "t:sections.all.colors.color_type.options__3.label"
                      }
                  ],
                  "default": "invert"
              },
              {
                  "type": "color",
                  "id": "background_color",
                  "label": "t:sections.all.colors.background_color.label",
                  "default": "#FFFFFF"
              },
              {
                  "type": "color",
                  "id": "text_color",
                  "label": "t:sections.all.colors.text_color.label",
                  "default": "#000000"
              }
            ]
        }
    ],
    "presets": [
        {
          "name": "t:sections.banner-grid.name",
          "blocks": [
            {
              "type": "image",
              "settings": {
                "banner_size": "big_square",
                "center_text": false,
                "vertical_content_position": "end"
              }
            },
            {
              "type": "image",
              "settings": {
                "banner_size": "horizontal",
                "center_text": true,
                "vertical_content_position": "center"
              }
            },
            {
              "type": "image",
              "settings": {
                "banner_size": "square",
                "center_text": true,
                "vertical_content_position": "center"
              }
            },
            {
              "type": "loop_video",
              "settings": {
                "vertical_content_position": "space-between"
              }
            }
          ]
        }
    ],
    "disabled_on": {
        "groups": ["*"]
    }
}
{% endschema %}