{% if section.blocks.size > 0 %}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'section-collapsible-tabs.css' | asset_url | stylesheet_tag }}

{% style %}
    #shopify-section-{{ section.id }} {
      --padding-top: {{ section.settings.desktop_padding_top }}px;
      --padding-bottom: {{ section.settings.desktop_padding_bottom }}px;
      {% if section.settings.color_type == 'invert' %}
      --layout-text-color:
        {{ settings.layout_background_color.red }},
        {{ settings.layout_background_color.green }},
        {{ settings.layout_background_color.blue }};
      --layout-background-color:
        {{ settings.layout_text_color.red }},
        {{ settings.layout_text_color.green }}, 
        {{ settings.layout_text_color.blue }};
      {% endif %}
      {% if section.settings.color_type == 'custom' %}
      --layout-text-color:
        {{ section.settings.text_color.red }},
        {{ section.settings.text_color.green }}, 
        {{ section.settings.text_color.blue }};
      --layout-background-color:
        {{ section.settings.background_color.red }},
        {{ section.settings.background_color.green }}, 
        {{ section.settings.background_color.blue }};
      {% endif %}
      background-color: rgb(var(--layout-background-color));
      color: rgb(var(--layout-text-color));
    }
    @media screen and (max-width: 920px) {
      #shopify-section-{{ section.id }} {
        --padding-top: {{ section.settings.mobile_padding_top }}px;
        --padding-bottom: {{ section.settings.mobile_padding_bottom }}px; 
      }
    }
  {% endstyle %}

<div class="collapsible-tabs ordinal-section ordinal-section--{{ settings.white_space }} {% if settings.show_lines %}ordinal-section--lines{% endif %} collapsible-tabs--{{ settings.white_space }} {% if section.settings.section_width != 'wide' %}collapsible-tabs--{{ section.settings.section_width }}{% endif %} section-padding--{{ settings.white_space }} {% if settings.max_page_width == '1400' or settings.max_page_width == '1200' %}page-width {% endif %} page-width--{{ settings.max_page_width }} {% if settings.show_lines %}collapsible-tabs--lines{% endif %} color-{{ section.settings.color_type }} {% if section.settings.color_type != 'default' %}no-default-color{% endif %}">
  <div class="collapsible-tabs__wrapper {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %} {% if settings.center_text %} collapsible-tabs__wrapper--center{% endif %}">
    {% if section.settings.subheading != blank or section.settings.heading != blank or section.settings.text != blank %}
      <div class="collapsible-tabs__header">
        {% if section.settings.subheading != blank %}<{{ section.settings.subheading_tag }} class="collapsible-tabs__subheading collapsible-tabs__subheading--{{ settings.typography_preset }} {% unless section.settings.subheading_size == 'default' %}{{ section.settings.subheading_size }}{% endunless %}">{{ section.settings.subheading }}</{{ section.settings.subheading_tag }}>{% endif %}
        {% if section.settings.heading != blank %}<{{ section.settings.heading_tag }} class="collapsible-tabs__heading {% if section.settings.color_type == 'default' and settings.accent_color_for_headings %}collapsible-tabs__heading--accent{% endif %} collapsible-tabs__heading--{{ settings.typography_preset }} {% unless section.settings.heading_size == 'default' %}{{ section.settings.heading_size }}{% endunless %}">{{ section.settings.heading }}</{{ section.settings.subheading_tag }}>{% endif %}
        {% if section.settings.text != blank %}<div class="collapsible-tabs__description richtext body-text--{{ settings.typography_preset }} {% if section.settings.dim_text %}dim{% endif %} {% if settings.enable_animated_underline %}richtext-link--underline{% endif %}">{{ section.settings.text }}</div>{% endif %}
      </div>
    {% endif %}
    {% if section.blocks.size > 0 %}
      <div class="collapsible-tabs__blocks">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'tab' -%}
              {%- render 'accordion', accordion_settings: block.settings, page: block.settings.page, block_item: block, text_size: section.settings.text_size -%}
            {%- when 'topic' -%}
              {% if block.settings.heading != blank or block.settings.text != blank or block.settings.button_label != blank and block.settings.button_link != blank %}
              <div class="topic-block {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %}">
                {% if block.settings.heading != blank or block.settings.description != blank %}
                  <div class="topic-block__content">
                    {% if block.settings.heading != blank %}<p class="topic-block__heading topic-block__heading--{{ settings.typography_preset }} {% if section.settings.topic_heading_size != 'default' %}{{ section.settings.topic_heading_size }}{% endif %}">{{ block.settings.heading }}</p>{% endif %}
                    {% if block.settings.text != blank %}<div class="topic-block__description topic-block__description--{{ settings.typography_preset }} {% if block.settings.dim_text %}dim{% endif %} richtext {% if settings.enable_animated_underline %}richtext-link--underline{% endif %}">{{ block.settings.text }}</div>{% endif %}
                  </div>
                {% endif %}
                {% if block.settings.button_label != blank %}<{% if block.settings.button_link != blank %}a href="{{ block.settings.button_link }}" {% if block.settings.target_blank %}target="_blank"{% endif %} {% else%}span disabled{% endif %} class="topic-block__button {{ block.settings.button_style }}-button button--{{ settings.typography_preset }} {% if block.settings.button_style == 'link' and settings.enable_animated_underline %}link-button--underline{% endif %}">{{ block.settings.button_label }}</{% if block.settings.button_link != blank %}a{% else%}span{% endif %}>{% endif %}
              </div>
              {% endif %}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    {% endif %}
    {% if section.settings.button_label != blank %}<{% if section.settings.button_link != blank %}a href="{{ section.settings.button_link }}" {% if section.settings.target_blank %}target="_blank"{% endif %} {% else %}span disabled{% endif %} class="collapsible-tabs__button {{ section.settings.button_style }}-button button--{{ settings.typography_preset }} {% if section.settings.button_style == 'link' and settings.enable_animated_underline %}link-button--underline{% endif %}">{{ section.settings.button_label }}</{% if section.settings.button_link != blank %}a{% else %}span{% endif %}>{% endif %}
  </div>
</div>
{% endif %}

{% schema %}
  {
    "name": "t:sections.collapsible_tabs.name",
    "tag": "section",
    "class": "section-collapsible-tabs",
    "settings": [
        {
            "type": "text",
            "id": "subheading",
            "label": "t:sections.all.labels.subheading.label"
        },
        {
            "type": "text",
            "id": "heading",
            "default": "Collapsible tabs",
            "label": "t:sections.all.labels.heading.label"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "t:sections.all.labels.text.label"
        },
        {
          "type": "checkbox",
          "id": "dim_text",
          "default": false,
          "label": "t:sections.all.labels.dim_text.label"
        },
        {
            "type": "text",
            "id": "button_label",
            "default": "View all",
            "label": "t:sections.all.buttons.button_label.label",
            "info": "t:sections.all.buttons.button_label.info"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "t:sections.all.buttons.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "target_blank",
          "default": false,
          "label": "t:sections.all.target_blank.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.all.buttons.button_styles.options__1.label"
            }, 
            {
              "value": "outlined",
              "label": "t:sections.all.buttons.button_styles.options__2.label"
            }, 
            {
              "value": "link",
              "label": "t:sections.all.buttons.button_styles.options__3.label"
            }
          ],
          "default": "solid",
          "label": "t:sections.all.buttons.button_styles.button_style.label"
        },
        {
          "type": "radio",
          "id": "section_width",
          "options": [
            {
              "value": "wide",
              "label": "t:sections.all.section_width.options__3.label"
            },
            {
              "value": "narrow",
              "label": "t:sections.all.section_width.options__4.label"
            }
          ],
          "default": "narrow",
          "label": "t:sections.all.section_width.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.labels.subheading.content"
        },
        {
            "type": "select",
            "id": "subheading_size",
            "label": "t:sections.all.size.size.label",
            "options": [
              {
                "value": "default",
                "label": "t:sections.all.size.options__1.label"
              },
              {
                  "value": "heading_s",
                  "label": "t:sections.all.size.options__8.label"
              },
              {
                  "value": "heading_s_uppercase",
                  "label": "t:sections.all.size.options__9.label"
              },
              {
                  "value": "heading_xs",
                  "label": "t:sections.all.size.options__10.label"
              },
              {
                  "value": "heading_xs_uppercase",
                  "label": "t:sections.all.size.options__11.label"
              },
              {
                  "value": "body_l",
                  "label": "t:sections.all.size.options__12.label"
              },
              {
                  "value": "body_l_uppercase",
                  "label": "t:sections.all.size.options__13.label"
              },
              {
                  "value": "body_m",
                  "label": "t:sections.all.size.options__14.label"
              }, 
              {
                  "value": "body_m_uppercase",
                  "label": "t:sections.all.size.options__15.label"
              }, 
              {
                  "value": "body_s",
                  "label": "t:sections.all.size.options__16.label"
              }, 
              {
                  "value": "body_s_uppercase",
                  "label": "t:sections.all.size.options__17.label"
              }, 
              {
                  "value": "label_font",
                  "label": "t:sections.all.size.options__18.label"
              },
              {
                  "value": "label_font_uppercase",
                  "label": "t:sections.all.size.options__19.label"
              }
            ],
            "default": "default"
        },
        {
          "type": "select",
          "id": "subheading_tag",
          "label": "t:sections.all.tag.tag_label",
          "options": [
            {
                "value": "h1",
                "label": "t:sections.all.tag.options__1.label"
            },
            {
                "value": "h2",
                "label": "t:sections.all.tag.options__2.label"
            },
            {
                "value": "h3",
                "label": "t:sections.all.tag.options__3.label"
            },
            {
                "value": "h4",
                "label": "t:sections.all.tag.options__4.label"
            },
            {
                "value": "h5",
                "label": "t:sections.all.tag.options__5.label"
            },
            {
                "value": "h6",
                "label": "t:sections.all.tag.options__6.label"
            },
            {
                "value": "div",
                "label": "t:sections.all.tag.options__7.label"
            },
            {
                "value": "span",
                "label": "t:sections.all.tag.options__8.label"
            }, 
            {
                "value": "p",
                "label": "t:sections.all.tag.options__9.label"
            }
            ],
          "default": "h3"
        },
        {
          "type": "header",
          "content": "t:sections.all.labels.heading.content"
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "t:sections.all.size.size.label",
            "options": [
              {
                "value": "default",
                "label": "t:sections.all.size.options__1.label"
              },
              {
                  "value": "heading_xl",
                  "label": "t:sections.all.size.options__2.label"
              },
              {
                  "value": "heading_xl_uppercase",
                  "label": "t:sections.all.size.options__3.label"
              },
              {
                  "value": "heading_l",
                  "label": "t:sections.all.size.options__4.label"
              },
              {
                  "value": "heading_l_uppercase",
                  "label": "t:sections.all.size.options__5.label"
              },
              {
                  "value": "heading_m",
                  "label": "t:sections.all.size.options__6.label"
              },
              {
                  "value": "heading_m_uppercase",
                  "label": "t:sections.all.size.options__7.label"
              },
              {
                  "value": "heading_s",
                  "label": "t:sections.all.size.options__8.label"
              },
              {
                  "value": "heading_s_uppercase",
                  "label": "t:sections.all.size.options__9.label"
              },
              {
                  "value": "heading_xs",
                  "label": "t:sections.all.size.options__10.label"
              },
              {
                  "value": "heading_xs_uppercase",
                  "label": "t:sections.all.size.options__11.label"
              },
              {
                  "value": "body_l",
                  "label": "t:sections.all.size.options__12.label"
              },
              {
                  "value": "body_l_uppercase",
                  "label": "t:sections.all.size.options__13.label"
              },
              {
                  "value": "body_m",
                  "label": "t:sections.all.size.options__14.label"
              }, 
              {
                  "value": "body_m_uppercase",
                  "label": "t:sections.all.size.options__15.label"
              }, 
              {
                  "value": "body_s",
                  "label": "t:sections.all.size.options__16.label"
              }, 
              {
                  "value": "body_s_uppercase",
                  "label": "t:sections.all.size.options__17.label"
              }, 
              {
                  "value": "label_font",
                  "label": "t:sections.all.size.options__18.label"
              },
              {
                  "value": "label_font_uppercase",
                  "label": "t:sections.all.size.options__19.label"
              }
            ],
            "default": "heading_m_uppercase"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "t:sections.all.tag.tag_label",
          "options": [
            {
                "value": "h1",
                "label": "t:sections.all.tag.options__1.label"
            },
            {
                "value": "h2",
                "label": "t:sections.all.tag.options__2.label"
            },
            {
                "value": "h3",
                "label": "t:sections.all.tag.options__3.label"
            },
            {
                "value": "h4",
                "label": "t:sections.all.tag.options__4.label"
            },
            {
                "value": "h5",
                "label": "t:sections.all.tag.options__5.label"
            },
            {
                "value": "h6",
                "label": "t:sections.all.tag.options__6.label"
            },
            {
                "value": "div",
                "label": "t:sections.all.tag.options__7.label"
            },
            {
                "value": "span",
                "label": "t:sections.all.tag.options__8.label"
            }, 
            {
                "value": "p",
                "label": "t:sections.all.tag.options__9.label"
            }
            ],
          "default": "h2"
        },
        {
          "type": "header",
          "content": "t:sections.all.labels.content.content"
        },
        {
          "type": "select",
          "id": "collapsible_tabs_size",
          "label": "t:sections.all.size.collapsible_tabs_size.label",
          "options": [
            {
              "value": "default",
              "label": "t:sections.all.size.options__1.label"
            },
            {
                "value": "heading_s",
                "label": "t:sections.all.size.options__8.label"
            },
            {
                "value": "heading_s_uppercase",
                "label": "t:sections.all.size.options__9.label"
            },
            {
                "value": "heading_xs",
                "label": "t:sections.all.size.options__10.label"
            },
            {
                "value": "heading_xs_uppercase",
                "label": "t:sections.all.size.options__11.label"
            },
            {
                "value": "body_l",
                "label": "t:sections.all.size.options__12.label"
            },
            {
                "value": "body_l_uppercase",
                "label": "t:sections.all.size.options__13.label"
            },
            {
                "value": "body_m",
                "label": "t:sections.all.size.options__14.label"
            }, 
            {
                "value": "body_m_uppercase",
                "label": "t:sections.all.size.options__15.label"
            }, 
            {
                "value": "body_s",
                "label": "t:sections.all.size.options__16.label"
            }, 
            {
                "value": "body_s_uppercase",
                "label": "t:sections.all.size.options__17.label"
            }, 
            {
                "value": "label_font",
                "label": "t:sections.all.size.options__18.label"
            },
            {
                "value": "label_font_uppercase",
                "label": "t:sections.all.size.options__19.label"
            }
          ],
          "default": "default"
        },
        {
          "type": "select",
          "id": "topic_heading_size",
          "label": "t:sections.all.size.topic_heading_size.label",
          "options": [
            {
              "value": "default",
              "label": "t:sections.all.size.options__1.label"
            },
            {
                "value": "heading_s",
                "label": "t:sections.all.size.options__8.label"
            },
            {
                "value": "heading_s_uppercase",
                "label": "t:sections.all.size.options__9.label"
            },
            {
                "value": "heading_xs",
                "label": "t:sections.all.size.options__10.label"
            },
            {
                "value": "heading_xs_uppercase",
                "label": "t:sections.all.size.options__11.label"
            },
            {
                "value": "body_l",
                "label": "t:sections.all.size.options__12.label"
            },
            {
                "value": "body_l_uppercase",
                "label": "t:sections.all.size.options__13.label"
            },
            {
                "value": "body_m",
                "label": "t:sections.all.size.options__14.label"
            }, 
            {
                "value": "body_m_uppercase",
                "label": "t:sections.all.size.options__15.label"
            }, 
            {
                "value": "body_s",
                "label": "t:sections.all.size.options__16.label"
            }, 
            {
                "value": "body_s_uppercase",
                "label": "t:sections.all.size.options__17.label"
            }, 
            {
                "value": "label_font",
                "label": "t:sections.all.size.options__18.label"
            },
            {
                "value": "label_font_uppercase",
                "label": "t:sections.all.size.options__19.label"
            }
          ],
          "default": "heading_xs_uppercase"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "t:sections.all.size.text_size.label",
          "options": [
            {
              "value": "default",
              "label": "t:sections.all.size.options__1.label"
            },
            {
                "value": "body_l",
                "label": "t:sections.all.size.options__12.label"
            },
            {
                "value": "body_l_uppercase",
                "label": "t:sections.all.size.options__13.label"
            },
            {
                "value": "body_m",
                "label": "t:sections.all.size.options__14.label"
            }, 
            {
                "value": "body_m_uppercase",
                "label": "t:sections.all.size.options__15.label"
            }, 
            {
                "value": "body_s",
                "label": "t:sections.all.size.options__16.label"
            }, 
            {
                "value": "body_s_uppercase",
                "label": "t:sections.all.size.options__17.label"
            }, 
            {
                "value": "label_font",
                "label": "t:sections.all.size.options__18.label"
            },
            {
                "value": "label_font_uppercase",
                "label": "t:sections.all.size.options__19.label"
            }
          ],
          "default": "default"
        },
        {
            "type": "header",
            "content": "t:sections.all.colors.name"
        }, 
        {
            "type": "radio",
            "id": "color_type",
            "options": [
              {
                  "value": "default",
                  "label": "t:sections.all.colors.color_type.options__1.label"
              }, 
              {
                  "value": "invert",
                  "label": "t:sections.all.colors.color_type.options__2.label"
              }, 
              {
                  "value": "custom",
                  "label": "t:sections.all.colors.color_type.options__3.label"
              }
            ],
            "default": "default",
            "label": "t:sections.all.colors.color_type.label"
        }, 
        {
            "type": "color",
            "id": "background_color",
            "label": "t:sections.all.colors.background_color.label",
            "default": "#FFFFFF"
        }, 
        {
            "type": "color",
            "id": "text_color",
            "label": "t:sections.all.colors.text_color.label",
            "default": "#000000"
        },
        {
            "type": "header",
            "content": "t:sections.all.paddings.desktop_section_paddings.content"
        }, 
        {
            "type": "range",
            "id": "desktop_padding_top",
            "min": -160,
            "max": 160,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_top.label"
        }, 
        {
            "type": "range",
            "id": "desktop_padding_bottom",
            "min": -160,
            "max": 160,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_bottom.label"
        },
        {
            "type": "header",
            "content": "t:sections.all.paddings.mobile_section_paddings.content"
        }, 
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": -80,
            "max": 80,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_top.label"
        }, 
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": -80,
            "max": 80,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_bottom.label"
        }
    ],
    "blocks": [
      {
        "type": "tab",
        "name": "t:sections.collapsible_tabs.blocks.tab.name",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Collapsible tab heading",
            "label": "t:sections.all.labels.heading.label"
          }, 
          {
            "type": "richtext",
            "id": "text",
            "default": "<p>Collapsible tab content.</p>",
            "label": "t:sections.all.labels.text.label"
          }, 
          {
            "type": "select",
            "id": "icon",
            "options": [
              {
                "value": "none",
                "label": "t:sections.all.icons.icon.options__1.label"
              },
              {
                "value": "arrow_down",
                "label": "t:sections.all.icons.icon.options__2.label"
              },
              {
                "value": "arrow_left",
                "label": "t:sections.all.icons.icon.options__3.label"
              },
              {
                "value": "arrow_right",
                "label": "t:sections.all.icons.icon.options__4.label"
              },
              {
                "value": "arrow_up",
                "label": "t:sections.all.icons.icon.options__5.label"
              },
              {
                "value": "bank",
                "label": "t:sections.all.icons.icon.options__6.label"
              },
              {
                "value": "bank_card",
                "label": "t:sections.all.icons.icon.options__7.label"
              },
              {
                "value": "bill",
                "label": "t:sections.all.icons.icon.options__8.label"
              },
              {
                "value": "bottle",
                "label": "t:sections.all.icons.icon.options__9.label"
              },
              {
                "value": "chat",
                "label": "t:sections.all.icons.icon.options__10.label"
              },
              {
                "value": "chat_empty",
                "label": "t:sections.all.icons.icon.options__11.label"
              },
              {
                "value": "checked_box",
                "label": "t:sections.all.icons.icon.options__12.label"
              },
              {
                "value": "checkmark",
                "label": "t:sections.all.icons.icon.options__13.label"
              },
              {
                "value": "close",
                "label": "t:sections.all.icons.icon.options__14.label"
              },
              {
                "value": "clothes",
                "label": "t:sections.all.icons.icon.options__15.label"
              },
              {
                "value": "clothes_hanger",
                "label": "t:sections.all.icons.icon.options__16.label"
              },
              {
                "value": "copy",
                "label": "t:sections.all.icons.icon.options__17.label"
              },
              {
                "value": "cotton",
                "label": "t:sections.all.icons.icon.options__18.label"
              },
              {
                "value": "envelope",
                "label": "t:sections.all.icons.icon.options__19.label"
              },
              {
                "value": "eye",
                "label": "t:sections.all.icons.icon.options__20.label"
              },
              {
                "value": "globe",
                "label": "t:sections.all.icons.icon.options__21.label"
              },
              {
                "value": "hand_washing",
                "label": "t:sections.all.icons.icon.options__22.label"
              },
              {
                "value": "heart",
                "label": "t:sections.all.icons.icon.options__23.label"
              },
              {
                "value": "help",
                "label": "t:sections.all.icons.icon.options__24.label"
              },
              {
                "value": "laundry_dryer",
                "label": "t:sections.all.icons.icon.options__25.label"
              },
              {
                "value": "laundry_washer",
                "label": "t:sections.all.icons.icon.options__26.label"
              },
              {
                "value": "layers",
                "label": "t:sections.all.icons.icon.options__27.label"
              },
              {
                "value": "leaf",
                "label": "t:sections.all.icons.icon.options__28.label"
              },
              {
                "value": "link",
                "label": "t:sections.all.icons.icon.options__29.label"
              },
              {
                "value": "lipstick",
                "label": "t:sections.all.icons.icon.options__30.label"
              },
              {
                "value": "loop",
                "label": "t:sections.all.icons.icon.options__31.label"
              },
              {
                "value": "measuring_tape",
                "label": "t:sections.all.icons.icon.options__32.label"
              },
              {
                "value": "model_silhouette",
                "label": "t:sections.all.icons.icon.options__33.label"
              },
              {
                "value": "money_bills",
                "label": "t:sections.all.icons.icon.options__34.label"
              },
              {
                "value": "moving_truck",
                "label": "t:sections.all.icons.icon.options__35.label"
              },
              {
                "value": "package_closed",
                "label": "t:sections.all.icons.icon.options__36.label"
              },
              {
                "value": "package_open",
                "label": "t:sections.all.icons.icon.options__37.label"
              },
              {
                "value": "padlock",
                "label": "t:sections.all.icons.icon.options__38.label"
              },
              {
                "value": "paper_airplane",
                "label": "t:sections.all.icons.icon.options__39.label"
              },
              {
                "value": "paw_print",
                "label": "t:sections.all.icons.icon.options__40.label"
              },
              {
                "value": "pencil",
                "label": "t:sections.all.icons.icon.options__41.label"
              },
              {
                "value": "planet",
                "label": "t:sections.all.icons.icon.options__42.label"
              },
              {
                "value": "plant",
                "label": "t:sections.all.icons.icon.options__43.label"
              },
              {
                "value": "play",
                "label": "t:sections.all.icons.icon.options__44.label"
              },
              {
                "value": "price_tag",
                "label": "t:sections.all.icons.icon.options__45.label"
              },
              {
                "value": "question_mark",
                "label": "t:sections.all.icons.icon.options__46.label"
              },
              {
                "value": "recycled_symbol",
                "label": "t:sections.all.icons.icon.options__47.label"
              },
              {
                "value": "ruler",
                "label": "t:sections.all.icons.icon.options__48.label"
              },
              {
                "value": "scissors",
                "label": "t:sections.all.icons.icon.options__49.label"
              },
              {
                "value": "search",
                "label": "t:sections.all.icons.icon.options__50.label"
              },
              {
                "value": "security_badge",
                "label": "t:sections.all.icons.icon.options__51.label"
              },
              {
                "value": "settings",
                "label": "t:sections.all.icons.icon.options__52.label"
              },
              {
                "value": "share",
                "label": "t:sections.all.icons.icon.options__53.label"
              },
              {
                "value": "shopping_cart",
                "label": "t:sections.all.icons.icon.options__54.label"
              },
              {
                "value": "stiletto",
                "label": "t:sections.all.icons.icon.options__55.label"
              },
              {
                "value": "stop_watch",
                "label": "t:sections.all.icons.icon.options__56.label"
              },
              {
                "value": "sunflower",
                "label": "t:sections.all.icons.icon.options__57.label"
              },
              {
                "value": "t_shirt",
                "label": "t:sections.all.icons.icon.options__58.label"
              },
              {
                "value": "trash",
                "label": "t:sections.all.icons.icon.options__59.label"
              },
              {
                "value": "truck",
                "label": "t:sections.all.icons.icon.options__60.label"
              },
              {
                "value": "user",
                "label": "t:sections.all.icons.icon.options__61.label"
              },
              {
                "value": "washing_symbol",
                "label": "t:sections.all.icons.icon.options__62.label"
              },
              {
                "value": "water_bottle",
                "label": "t:sections.all.icons.icon.options__63.label"
              },
              {
                "value": "zoom_in",
                "label": "t:sections.all.icons.icon.options__64.label"
              },
              {
                "value": "zoom_out",
                "label": "t:sections.all.icons.icon.options__65.label"
              }
            ],
            "default": "none",
            "label": "t:sections.all.icons.icon.label"
          },
          {
            "type": "page",
            "id": "page",
            "label": "t:sections.all.labels.page.label",
            "info": "t:sections.all.labels.page.info"
          }
        ]
      },
      {
        "type": "topic",
        "name": "t:sections.collapsible_tabs.blocks.topic.name",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Topic",
            "label": "t:sections.all.labels.heading.label"
          },
          {
            "type": "richtext",
            "id": "text",
            "default": "<p>Optional description of the group of questions.</p>",
            "label": "t:sections.all.labels.text.label"
          },
          {
            "type": "checkbox",
            "id": "dim_text",
            "default": false,
            "label": "t:sections.all.labels.dim_text.label"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "t:sections.all.buttons.button_label.label",
            "info": "t:sections.all.buttons.button_label.info"
          },
          {
              "type": "url",
              "id": "button_link",
              "label": "t:sections.all.buttons.button_link.label"
          },
          {
            "type": "checkbox",
            "id": "target_blank",
            "default": false,
            "label": "t:sections.all.target_blank.label"
          },
          {
            "type": "select",
            "id": "button_style",
            "options": [
              {
                "value": "solid",
                "label": "t:sections.all.buttons.button_styles.options__1.label"
              }, 
              {
                "value": "outlined",
                "label": "t:sections.all.buttons.button_styles.options__2.label"
              }, 
              {
                "value": "link",
                "label": "t:sections.all.buttons.button_styles.options__3.label"
              }
            ],
            "default": "solid",
            "label": "t:sections.all.buttons.button_styles.button_style.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.collapsible_tabs.name",
        "blocks": [
          {
            "type": "topic"
          },
          {
             "type": "tab"
          },
          {
            "type": "tab"
          },
          {
            "type": "tab"
          },
          {
            "type": "topic"
          },
          {
            "type": "tab"
          },
          {
            "type": "tab"
          },
          {
            "type": "tab"
          }
      ]
      }
    ],
    "disabled_on": {
      "groups": ["*"]
    }
  }
{% endschema %}