{% if section.settings.collection != blank or request.design_mode %}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-product-card.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'content-fonts.css' | asset_url | stylesheet_tag }}
{{ 'section-collection-with-products.css' | asset_url | stylesheet_tag }}

{% style %}
    #shopify-section-{{ section.id }} {
        --padding-top: {{ section.settings.desktop_padding_top }}px;
        --padding-bottom: {{ section.settings.desktop_padding_bottom }}px;
        --media-focal-point: {{ section.settings.focal_point }};
        --focal-point: {{ section.settings.card_focal_point }};
        --image-position: {% if section.settings.swap_image %}row{% else %}row-reverse{% endif %};
        --horizontal-position: {% if section.settings.center_text %}center{% else %}flex-start{% endif %};
        --top-sticky-content: {{ section.settings.sticky_offset }}px;
        
        {% if section.settings.image_radius == 'default' %}
            --image-radius: {{ settings.images_and_sections_radius }};
        {% else %}
            --image-radius: {{ section.settings.image_radius }};
        {% endif %}

        {% if section.settings.color_type == 'invert' %}
            --layout-text-color:
            {{ settings.layout_background_color.red }},
            {{ settings.layout_background_color.green }},
            {{ settings.layout_background_color.blue }};
            --layout-background-color:
            {{ settings.layout_text_color.red }},
            {{ settings.layout_text_color.green }}, 
            {{ settings.layout_text_color.blue }};
        {% endif %}
        {% if section.settings.color_type == 'custom' %}
            --layout-text-color:
            {{ section.settings.text_color.red }},
            {{ section.settings.text_color.green }}, 
            {{ section.settings.text_color.blue }};
            --layout-background-color:
            {{ section.settings.background_color.red }},
            {{ section.settings.background_color.green }}, 
            {{ section.settings.background_color.blue }};
        {% endif %}  
        background-color: rgb(var(--layout-background-color));
        color: rgb(var(--layout-text-color));
    }
    @media screen and (max-width: 920px) {
        #shopify-section-{{ section.id }} {
            --padding-top: {{ section.settings.mobile_padding_top }}px;
            --padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
        }
    }
{% endstyle %}

{% liquid
    assign settings_page_width = settings.max_page_width | append: 'px'
    if settings.max_page_width == 'full_width'
        assign settings_page_width = '100vw'
    endif
%}

<div class="collection-with-products collection-with-products--{{ settings.white_space }} collection-with-products--{{ section.id }} ordinal-section ordinal-section--{{ settings.white_space }} section-padding--{{ settings.white_space }} {% if settings.show_lines %}ordinal-section--lines lines{% endif %} {% if settings.max_page_width == '1400' or settings.max_page_width == '1200' %}page-width {% endif %} page-width--{{ settings.max_page_width }} color-{{ section.settings.color_type }} {% if section.settings.color_type != 'default' %}no-default-color{% endif %}">
    <div class="collection-with-products__wrapper {% if section.settings.swap_image %}image-left{% else %}image-right{% endif %}">
        <div class="collection-with-products__media">
            <div class="collection-with-products__media-wrapper ratio-{{ section.settings.image_ratio }} sticky-content" {% if settings.disable_right_click %}oncontextmenu="return false"{% endif %}>
                {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                {%- if section.settings.video_load != blank -%}
                    {{ section.settings.video_load | video_tag: image_size: "500x", autoplay: false, preload: 'none', loop: true, muted: true, controls: false, alt: section.settings.video_load.alt }}
                {%- elsif section.settings.custom_image != blank -%}
                    <img srcset="{%- if section.settings.custom_image.width >= 165 -%}{{ section.settings.custom_image | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if section.settings.custom_image.width >= 375 -%}{{ section.settings.custom_image | image_url: width: 375 }} 375w,{%- endif -%}
                    {%- if section.settings.custom_image.width >= 550 -%}{{ section.settings.custom_image | image_url: width: 550 }} 550w,{%- endif -%}
                    {%- if section.settings.custom_image.width >= 750 -%}{{ section.settings.custom_image | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if section.settings.custom_image.width >= 1100 -%}{{ section.settings.custom_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                    {%- if section.settings.custom_image.width >= 1500 -%}{{ section.settings.custom_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {%- if section.settings.custom_image.width >= 2200 -%}{{ section.settings.custom_image | image_url: width: 2200 }} 2200w,{%- endif -%}
                    {%- if section.settings.custom_image.width >= 3000 -%}{{ section.settings.custom_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                    {{ section.settings.custom_image | image_url }} {{ section.settings.custom_image.width }}w" src="{{ section.settings.custom_image | image_url: width: 1700 }}"
                    sizes="(max-width: 768px) 100vw, (min-width: {{ settings_page_width }}) calc({{ settings_page_width }} / 2), calc(100vw / 2)"
                    alt="{{ section.settings.custom_image.alt | escape }}" 
                    src="{{ section.settings.custom_image | image_url: width: 1500 }}"
                    {% if section.index > 2 %}loading="lazy"{% endif %}
                    draggable="false" 
                    width="{{ section.settings.custom_image.width }}" 
                    height="{{ section.settings.custom_image.height }}" 
                    class="collection-with-products__image"
                    style="--media-focal-point: {{ section.settings.custom_image.presentation.focal_point }};">
                {%- else -%}  
                    {%- if section.settings.collection.featured_image -%}
                        <img srcset="{%- if section.settings.collection.featured_image.width >= 165 -%}{{ section.settings.collection.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                            {%- if section.settings.collection.featured_image.width >= 375 -%}{{ section.settings.collection.featured_image | image_url: width: 375 }} 375w,{%- endif -%}
                            {%- if section.settings.collection.featured_image.width >= 550 -%}{{ section.settings.collection.featured_image | image_url: width: 550 }} 550w,{%- endif -%}
                            {%- if section.settings.collection.featured_image.width >= 750 -%}{{ section.settings.collection.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
                            {%- if section.settings.collection.featured_image.width >= 1100 -%}{{ section.settings.collection.featured_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                            {%- if section.settings.collection.featured_image.width >= 1500 -%}{{ section.settings.collection.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                            {%- if section.settings.collection.featured_image.width >= 2200 -%}{{ section.settings.collection.featured_image | image_url: width: 2200 }} 2200w,{%- endif -%}
                            {%- if section.settings.collection.featured_image.width >= 3000 -%}{{ section.settings.collection.featured_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                            {{ section.settings.collection.featured_image | image_url }} {{ section.settings.collection.featured_image.width }}w" src="{{ section.settings.collection.featured_image | image_url: width: 1700 }}"
                            sizes="(max-width: 768px) 100vw, (min-width: {{ settings_page_width }}) calc({{ settings_page_width }} / 2), calc(100vw / 2)"
                            alt="{{ section.settings.collection.title | escape }}" 
                            src="{{ section.settings.collection | image_url: width: 1500 }}"
                            {% if section.index > 2 %}loading="lazy"{% endif %}
                            draggable="false"
                            width="{{ section.settings.collection.featured_image.width }}" 
                            height="{{ section.settings.collection.featured_image.height }}" 
                            class="collection-with-products__image">
                    {%- else -%}
                        {{ 'collection-6' | placeholder_svg_tag: 'placeholder-svg' }}
                    {%- endif -%}
                {%- endif -%}
                {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
            </div>
        </div>
        <div class="collection-with-products__content">
            <div class="collection-with-products__info {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %} {% if section.settings.center_text %}center{% else %}start{% endif %}" style="text-align: {% if section.settings.center_text %}center{% else %}start{% endif %};">
                {% if section.settings.subheading != blank %}
                    <{{ section.settings.subheading_tag }} class="content-subheading content-subheading--{{ settings.typography_preset }} {% if section.settings.subheading_size != 'default' %}{{ section.settings.subheading_size }}{% endif %} {% if settings.dim_text %}dim{% endif %}">{{ section.settings.subheading }}</{{ section.settings.subheading_tag }}>
                {% endif %}
                {% if section.settings.heading != blank %}
                    <{{ section.settings.heading_tag }} class="content-heading {% if section.settings.color_type == 'default' and settings.accent_color_for_headings %}content-heading--accent{% endif %} content-heading--{{ settings.typography_preset }} {% if section.settings.heading_size != 'default' %}{{ section.settings.heading_size }}{% endif %}">{{ section.settings.heading }}</{{ section.settings.heading_tag }}>
                {% endif %}
                {% if section.settings.text != blank %}
                    <div class="content-text content-text--{{ settings.typography_preset }} richtext {% if settings.enable_animated_underline %}richtext-link--underline{% endif %}">
                        <object>
                        {{ section.settings.text }}
                        </object>
                      </div>
                {% endif %}
                {% if section.settings.button_label != blank %}
                    <div>
                    {% if section.settings.collection.url != blank %}<a href="{{ section.settings.collection.url }}" class="{{ section.settings.button_style }}-button button--{{ settings.typography_preset }} {% if section.settings.button_style == 'link' and settings.enable_animated_underline %}link-button--underline{% endif %} featured-collection-with-media__button">{% else %}
                    <span disabled class="{{ section.settings.button_style }}-button button--{{ settings.typography_preset }} {% if section.settings.button_style == 'link' and settings.enable_animated_underline %}link-button--underline{% endif %} featured-collection-with-media__button">{% endif %}
                {{ section.settings.button_label }}
                {% if section.settings.collection.url == blank %}</span>{% else %}</a>{% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="collection-with-products__products slider-section--{{ settings.white_space }} {% if settings.show_lines %}slider-section--lines{% endif %} slider-container-js {% if section.settings.subheading == blank and section.settings.heading == blank and section.settings.text == blank and section.settings.button_label == blank %}without-content{% endif %}">
                <slider-component id="GalleryViewer-{{ section.id }}" class="slider only-mobile-slider">
                    {% style %}
                        .collection-with-products--{{ section.id }} {
                            --desktop-grid-type: {{ section.settings.products_to_show }};
                        }
                        /* Styles for full-width page without sidebars */
                        /* Mobile */
                        @media screen and (max-width: 768px) {
                            .collection-with-products--{{ section.id }} {
                                --desktop-grid-type: {{ section.settings.mobile_layout }};
                            }
                        }
                        /* Sidebars: Main XS, S, M and white space Spacious */
                        /* Mobile */
                        @media screen and (max-width: 1048px) and (min-width: 921px) {
                            .main_xs--spacious .collection-with-products--{{ section.id }},
                            .main_s--spacious .collection-with-products--{{ section.id }},
                            .main_m--spacious .collection-with-products--{{ section.id }} {
                                --desktop-grid-type: {{ section.settings.mobile_layout }};
                            }
                        }
                        /* Sidebars: Main XS, Main S and white space Compact */
                        /* Mobile */
                        @media screen and (max-width: 968px) and (min-width: 921px) {
                            .main_xs--compact .collection-with-products--{{ section.id }},
                            .main_s--compact .collection-with-products--{{ section.id }} {
                                --desktop-grid-type: {{ section.settings.mobile_layout }};
                            }
                        }
                        /* Sidebars: Main XS, S with secondary and white space Spacious */
                        /* Mobile */
                        @media screen and (max-width: 1144px) and (min-width: 921px) {
                            .main_xs_with_secondary--spacious .collection-with-products--{{ section.id }},
                            .main_s_with_secondary--spacious .collection-with-products--{{ section.id }} {
                                --desktop-grid-type: {{ section.settings.mobile_layout }};
                            }
                        }
                        /* Sidebars: Main XS with secondary, Main S with secondary and white space Compact */
                        /* Mobile */
                        @media screen and (max-width: 1064px) and (min-width: 921px) {
                            .main_xs_with_secondary--compact .collection-with-products--{{ section.id }}
                            .main_s_with_secondary--compact .collection-with-products--{{ section.id }}, {
                                --desktop-grid-type: {{ section.settings.mobile_layout }};
                            }
                        }
                        /* Sidebars: Main M and white space Compact */
                        /* Mobile */
                        @media screen and (max-width: 1024px) and (min-width: 921px) {
                            .main_m--compact  .collection-with-products--{{ section.id }} {
                                --desktop-grid-type: {{ section.settings.mobile_layout }};
                            }
                        }
                        /* Sidebars: Main M with secondary */
                        /* Mobile */
                        @media screen and (max-width: 1152px) and (min-width: 921px) {
                            .main_m_with_secondary  .collection-with-products--{{ section.id }} {
                                --desktop-grid-type: {{ section.settings.mobile_layout }};
                            }
                        }
                        /* Sidebars: Main L */
                        /* Mobile */
                        @media screen and (max-width: 1536px) and (min-width: 921px) {
                            .main_l .collection-with-products--{{ section.id }} {
                                --desktop-grid-type: {{ section.settings.mobile_layout }};
                            }
                        }
                    {% endstyle %}
                    <div class="slider__viewport slider__viewport--collection-with-products">
                        <ul id="Slider-Gallery-{{ section.id }}" data-id="{{ section.id }}" class="slider__grid slider__grid--{{ settings.white_space }} slider__grid-mobile-{{ section.settings.mobile_layout }} {% if settings.show_lines %} lines{% endif %}"
                            data-count="4"
                            data-count-mobile="{{ section.settings.mobile_layout }}">
                            {% assign desktopItems = section.settings.products_to_show | times: 1 %}
                            {% assign mobileItems = section.settings.mobile_layout | times: 1 %}
                            {% assign min = 0 %}
                            {% assign max = section.settings.collection.products.size | minus: desktopItems %}
                            {% assign randomNumber = "now" | date: "%N" | modulo: max | plus: min %}
                            {%- if section.settings.collection.products.size <= desktopItems -%}
                                {% assign randomNumber = 0 %}
                            {%- endif -%}
                            {%- if section.settings.collection != blank -%}
                            {% for item in section.settings.collection.products limit: desktopItems offset: randomNumber %}
                                {% assign lazy_load = false %}
                                {%- if forloop.index > 2 -%}
                                {%- assign lazy_load = true -%}
                                {%- endif -%}
                                <li id="Slide-{{ section.id }}" class="slider__grid-item  snap-align {% if forloop.first %}is-active{% endif %} {% if forloop.last and settings.show_lines and forloop.length >= 4 %}last-desktop{% endif %} 
                                {% if forloop.last and settings.show_lines and forloop.length >= mobileItems %}last-mobile{% endif %}">
                                    {% render 'card-product',
                                    card_product: item,
                                    image_ratio: section.settings.card_image_ratio,
                                    show_vendor: section.settings.show_vendor,
                                    show_rating: section.settings.show_rating,
                                    show_second_image: section.settings.show_second_image,
                                    lazy_load: lazy_load,
                                    enable_quick_view: section.settings.enable_quick_view,
                                    enable_add_to_cart: section.settings.enable_add_to_cart,
                                    price_position: section.settings.price_position,
                                    max_product_name_characters: section.settings.max_product_name_characters,
                                    show_short_description: section.settings.show_short_description,
                                    enable_color_pills: section.settings.enable_color_pills
                                    %}
                                </li>
                            {% endfor %}
                            {% else %}
                            {% for item in (1..desktopItems) %}
                                {% assign lazy_load = false %}
                                {%- if forloop.index > 2 -%}
                                {%- assign lazy_load = true -%}
                                {%- endif -%}
                                {%- assign placeholder_index =  forloop.index -%}
                                {%- if forloop.index > 6 -%}
                                    {%- assign placeholder_index =  '6' -%}
                                {%- endif -%}
                                <li id="Slide-{{ section.id }}" class="slider__grid-item  snap-align {% if forloop.first %}is-active{% endif %} {% if forloop.last and settings.show_lines and forloop.length >= 4 %}last-desktop{% endif %} 
                                {% if forloop.last and settings.show_lines and forloop.length >= mobileItems %}last-mobile{% endif %}">
                                    {% render 'product-placeholder',
                                    index_placeholder: placeholder_index,
                                    image_ratio: section.settings.card_image_ratio,
                                    show_vendor: section.settings.show_vendor,
                                    price_position: section.settings.price_position
                                    %}
                                </li>
                            {% endfor %}
                            {%- endif -%}
                        </ul>
                        {% assign mobileItems = section.settings.mobile_layout | times: 1 %}
                        <div class="slider-buttons-items  slider-buttons-items--bottom slider-buttons-items--{{ settings.white_space }} {% if settings.show_lines %}slider-buttons-items--lines{% endif %} 
                            hidden-desktop
                            {% if section.settings.desktop_grid_type == '5' %}hidden-desktop-none{% endif %}
                            {% if section.settings.collection.products.size <= mobileItems %}hidden-mobile{% endif %}">
                                {%- liquid 
                                    if settings.typography_preset == 'avant_garde'
                                        assign weight_close = settings.accent_icon_weight
                                        if settings.swap_fonts
                                            assign weight_close = settings.base_icon_weight
                                        endif
                                    else 
                                        assign weight_close =  settings.base_icon_weight
                                        if settings.swap_fonts
                                            assign weight_close = settings.accent_icon_weight
                                        endif
                                    endif
                                -%}
                            <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">
                                {% if weight_close == 'regular' %}
                                        {% render 'icon-accordion-2', icon: 'arrow-long-left-regular' %}
                                {% elsif weight_close == 'medium' %}
                                        {% render 'icon-accordion-2', icon: 'arrow-long-left-medium' %}
                                {% elsif weight_close == 'bold' %}
                                        {% render 'icon-accordion-2', icon: 'arrow-long-left-bold' %}
                                {% endif %}
                            </button>
                            <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">
                                {% if weight_close == 'regular' %}
                                        {% render 'icon-accordion-2', icon: 'arrow-long-right-regular' %}
                                {% elsif weight_close == 'medium' %}
                                        {% render 'icon-accordion-2', icon: 'arrow-long-right-medium' %}
                                {% elsif weight_close == 'bold' %}
                                        {% render 'icon-accordion-2', icon: 'arrow-long-right-bold' %}
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </slider-component>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% schema %}
{
    "name": "t:sections.collection-with-products.name",
    "tag": "section",
    "class": "collection-with-products",
    "settings": [
        {
            "type": "range",
            "id": "sticky_offset",
            "min": 24,
            "max": 160,
            "step": 4,
            "unit": "px",
            "default": 76,
            "label": "t:sections.all.sticky_offset.label",
            "info": "t:sections.all.sticky_offset.info"
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "t:sections.all.labels.subheading.label",
            "default": "New arrivals"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "t:sections.all.labels.heading.label",
            "default": "Collection heading"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "t:sections.all.labels.text.label",
            "default": "<p>Pair text with image or loop video to focus on products from the collection.</p>"
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "t:sections.all.buttons.button_label.label",
            "info": "t:sections.featured-collection-with-media.settings.button_label.info",
            "default": "Discover"
        },
        {
            "type": "select",
            "id": "button_style",
            "options": [
              {
                "value": "solid",
                "label": "t:sections.all.buttons.button_styles.options__1.label"
              }, 
              {
                "value": "outlined",
                "label": "t:sections.all.buttons.button_styles.options__2.label"
              }, 
              {
                "value": "link",
                "label": "t:sections.all.buttons.button_styles.options__3.label"
              }
            ],
            "default": "solid",
            "label": "t:sections.all.buttons.button_styles.button_style.label"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "t:blocks.collection.settings.collection.label",
            "info": "t:blocks.collection.settings.collection.info"
        },
        {
            "type": "checkbox",
            "id": "swap_image",
            "default": true,
            "label": "t:sections.all.labels.swap_image.label"
        },
        {
            "type": "checkbox",
            "id": "center_text",
            "default": false,
            "label": "t:sections.all.alignment.center_text.label"
        },
        {
            "type": "range",
            "id": "products_to_show",
            "min": 4,
            "max": 8,
            "step": 2,
            "default": 6,
            "label": "t:sections.collection-with-products.settings.products_to_show.label"
        },
        {
            "type": "radio",
            "id": "mobile_layout",
            "options": [
              {
                "value": "1",
                "label": "t:sections.all.mobile_layout.options__1.label"
              },
              {
                "value": "2",
                "label": "t:sections.all.mobile_layout.options__2.label"
              }
            ],
            "default": "2",
            "label": "t:sections.all.mobile_layout.label"
        },
        {
            "type": "image_picker",
            "id": "custom_image",
            "label": "t:sections.all.image.custom_image.label"
        },
        {
            "type": "header",
            "content": "t:sections.all.video.loop_video_header.content"
        },
        {
            "type": "video",
            "id": "video_load",
            "label": "t:sections.all.video.video_load.label",
            "info": "t:sections.all.video.video_load.info"
        },
        {
            "type": "select",
            "id": "image_ratio",
            "options": [
                {
                "value": "original",
                "label": "t:sections.all.image.image_ratio.options__1.label"
                },
                {
                "value": "square",
                "label": "t:sections.all.image.image_ratio.options__2.label"
                },
                {
                "value": "portrait",
                "label": "t:sections.all.image.image_ratio.options__3.label"
                },
                {
                "value": "narrow_portrait",
                "label": "t:sections.all.image.image_ratio.options__8.label"
                },
                {
                    "value": "traditional",
                    "label": "t:sections.all.image.image_ratio.options__9.label"
                },
                {
                "value": "landscape",
                "label": "t:sections.all.image.image_ratio.options__4.label"
                }, 
                {
                "value": "wide",
                "label": "t:sections.all.image.image_ratio.options__5.label"
                }
            ],
            "default": "portrait",
            "label": "t:sections.all.image.media_ratio.label"
        },
        {
            "type": "select",
            "id": "focal_point",
            "options": [
              {
                "value": "20% 0",
                "label": "t:sections.all.image.focal_point.options__1.label"
              },
              {
                "value": "top center",
                "label": "t:sections.all.image.focal_point.options__2.label"
              },
              {
                "value": "80% 0",
                "label": "t:sections.all.image.focal_point.options__3.label"
              },
              {
                "value": "20% 50%",
                "label": "t:sections.all.image.focal_point.options__4.label"
              },
              {
                "value": "center center",
                "label": "t:sections.all.image.focal_point.options__5.label"
              },
              {
                "value": "80% 50%",
                "label": "t:sections.all.image.focal_point.options__6.label"
              },
              {
                "value": "20% 100%",
                "label": "t:sections.all.image.focal_point.options__7.label"
              },
              {
                "value": "bottom center",
                "label": "t:sections.all.image.focal_point.options__8.label"
              },
              {
                "value": "80% 100%",
                "label": "t:sections.all.image.focal_point.options__9.label"
              }
            ],
            "default": "center center",
            "label": "t:sections.all.image.focal_point.label"
        },
        {
            "type": "select",
            "id": "image_radius",
            "options": [
              {
                "value": "default",
                "label": "t:sections.all.corner_radius.options__1.label"
              },
              {
                "value": "0px",
                "label": "t:sections.all.corner_radius.options__2.label"
              },
              {
                "value": "3px",
                "label": "t:sections.all.corner_radius.options__3.label"
              },
              {
                "value": "5px",
                "label": "t:sections.all.corner_radius.options__4.label"
              },
              {
                "value": "12px",
                "label": "t:sections.all.corner_radius.options__5.label"
              },
              {
                "value": "2000px",
                "label": "t:sections.all.corner_radius.options__6.label"
              },
              {
                "value": "2000px 2000px 0 0",
                "label": "t:sections.all.corner_radius.options__7.label"
              }
            ],
            "default": "default",
            "label": "t:sections.all.corner_radius.label"
        },
        {
            "type": "header",
            "content": "t:sections.all.labels.subheading.content"
        },
        {
            "type": "select",
            "id": "subheading_size",
            "options": [
            {
                "value": "default",
                "label": "t:sections.all.size.options__1.label"
                },
                {
                    "value": "heading_xl",
                    "label": "t:sections.all.size.options__2.label"
                },
                {
                    "value": "heading_xl_uppercase",
                    "label": "t:sections.all.size.options__3.label"
                },
                {
                    "value": "heading_l",
                    "label": "t:sections.all.size.options__4.label"
                },
                {
                    "value": "heading_l_uppercase",
                    "label": "t:sections.all.size.options__5.label"
                },
                {
                    "value": "heading_m",
                    "label": "t:sections.all.size.options__6.label"
                },
                {
                    "value": "heading_m_uppercase",
                    "label": "t:sections.all.size.options__7.label"
                },
                {
                    "value": "heading_s",
                    "label": "t:sections.all.size.options__8.label"
                },
                {
                    "value": "heading_s_uppercase",
                    "label": "t:sections.all.size.options__9.label"
                },
                {
                    "value": "heading_xs",
                    "label": "t:sections.all.size.options__10.label"
                },
                {
                    "value": "heading_xs_uppercase",
                    "label": "t:sections.all.size.options__11.label"
                },
                {
                    "value": "body_l",
                    "label": "t:sections.all.size.options__12.label"
                },
                {
                    "value": "body_l_uppercase",
                    "label": "t:sections.all.size.options__13.label"
                },
                {
                    "value": "body_m",
                    "label": "t:sections.all.size.options__14.label"
                }, 
                {
                    "value": "body_m_uppercase",
                    "label": "t:sections.all.size.options__15.label"
                }, 
                {
                    "value": "body_s",
                    "label": "t:sections.all.size.options__16.label"
                }, 
                {
                    "value": "body_s_uppercase",
                    "label": "t:sections.all.size.options__17.label"
                }, 
                {
                    "value": "label_font",
                    "label": "t:sections.all.size.options__18.label"
                },
                {
                    "value": "label_font_uppercase",
                    "label": "t:sections.all.size.options__19.label"
                }
            ],
            "default": "default",
            "label": "t:sections.all.size.size.label"
          },
          {
            "type": "select",
            "id": "subheading_tag",
            "options": [
              {
                  "value": "h1",
                  "label": "t:sections.all.tag.options__1.label"
              },
              {
                  "value": "h2",
                  "label": "t:sections.all.tag.options__2.label"
              },
              {
                  "value": "h3",
                  "label": "t:sections.all.tag.options__3.label"
              },
              {
                  "value": "h4",
                  "label": "t:sections.all.tag.options__4.label"
              },
              {
                  "value": "h5",
                  "label": "t:sections.all.tag.options__5.label"
              },
              {
                  "value": "h6",
                  "label": "t:sections.all.tag.options__6.label"
              },
              {
                  "value": "div",
                  "label": "t:sections.all.tag.options__7.label"
              },
              {
                  "value": "span",
                  "label": "t:sections.all.tag.options__8.label"
              }, 
              {
                  "value": "p",
                  "label": "t:sections.all.tag.options__9.label"
              }
              ],
              "default": "h3",
              "label": "t:sections.all.tag.tag_label"
          },
          {
            "type": "header",
            "content": "t:sections.all.labels.heading.content"
          },
          {
              "type": "select",
              "id": "heading_size",
              "options": [
                {
                  "value": "default",
                  "label": "t:sections.all.size.options__1.label"
                },
                {
                    "value": "heading_xl",
                    "label": "t:sections.all.size.options__2.label"
                },
                {
                    "value": "heading_xl_uppercase",
                    "label": "t:sections.all.size.options__3.label"
                },
                {
                    "value": "heading_l",
                    "label": "t:sections.all.size.options__4.label"
                },
                {
                    "value": "heading_l_uppercase",
                    "label": "t:sections.all.size.options__5.label"
                },
                {
                    "value": "heading_m",
                    "label": "t:sections.all.size.options__6.label"
                },
                {
                    "value": "heading_m_uppercase",
                    "label": "t:sections.all.size.options__7.label"
                },
                {
                    "value": "heading_s",
                    "label": "t:sections.all.size.options__8.label"
                },
                {
                    "value": "heading_s_uppercase",
                    "label": "t:sections.all.size.options__9.label"
                },
                {
                    "value": "heading_xs",
                    "label": "t:sections.all.size.options__10.label"
                },
                {
                    "value": "heading_xs_uppercase",
                    "label": "t:sections.all.size.options__11.label"
                },
                {
                    "value": "body_l",
                    "label": "t:sections.all.size.options__12.label"
                },
                {
                    "value": "body_l_uppercase",
                    "label": "t:sections.all.size.options__13.label"
                },
                {
                    "value": "body_m",
                    "label": "t:sections.all.size.options__14.label"
                }, 
                {
                    "value": "body_m_uppercase",
                    "label": "t:sections.all.size.options__15.label"
                }, 
                {
                    "value": "body_s",
                    "label": "t:sections.all.size.options__16.label"
                }, 
                {
                    "value": "body_s_uppercase",
                    "label": "t:sections.all.size.options__17.label"
                }, 
                {
                    "value": "label_font",
                    "label": "t:sections.all.size.options__18.label"
                },
                {
                    "value": "label_font_uppercase",
                    "label": "t:sections.all.size.options__19.label"
                }
              ],
              "default": "default",
              "label": "t:sections.all.size.size.label"
          },
          {
            "type": "select",
            "id": "heading_tag",
            "options": [
              {
                  "value": "h1",
                  "label": "t:sections.all.tag.options__1.label"
              },
              {
                  "value": "h2",
                  "label": "t:sections.all.tag.options__2.label"
              },
              {
                  "value": "h3",
                  "label": "t:sections.all.tag.options__3.label"
              },
              {
                  "value": "h4",
                  "label": "t:sections.all.tag.options__4.label"
              },
              {
                  "value": "h5",
                  "label": "t:sections.all.tag.options__5.label"
              },
              {
                  "value": "h6",
                  "label": "t:sections.all.tag.options__6.label"
              },
              {
                  "value": "div",
                  "label": "t:sections.all.tag.options__7.label"
              },
              {
                  "value": "span",
                  "label": "t:sections.all.tag.options__8.label"
              }, 
              {
                  "value": "p",
                  "label": "t:sections.all.tag.options__9.label"
              }
              ],
              "default": "h2",
              "label": "t:sections.all.tag.tag_label"
          },
          {
            "type": "header",
            "content": "t:sections.collection-with-products.settings.header__1.content"
          },
          {
            "type": "select",
            "id": "card_image_ratio",
            "options": [
              {
                "value": "square",
                "label": "t:sections.all.image.image_ratio.options__2.label"
              },
              {
                "value": "portrait",
                "label": "t:sections.all.image.image_ratio.options__3.label"
              },
              {
                "value": "narrow_portrait",
                "label": "t:sections.all.image.image_ratio.options__8.label"
              },
              {
                "value": "traditional",
                "label": "t:sections.all.image.image_ratio.options__9.label"
              },
              {
                "value": "landscape",
                "label": "t:sections.all.image.image_ratio.options__4.label"
              },
              {
                "value": "wide",
                "label": "t:sections.all.image.image_ratio.options__5.label"
              }
            ],
            "default": "square",
            "label": "t:sections.all.image.image_ratio.label"
          },
          {
            "type": "select",
            "id": "card_focal_point",
            "options": [
              {
                "value": "20% 0",
                "label": "t:sections.all.image.focal_point.options__1.label"
              },
              {
                "value": "top center",
                "label": "t:sections.all.image.focal_point.options__2.label"
              },
              {
                "value": "80% 0",
                "label": "t:sections.all.image.focal_point.options__3.label"
              },
              {
                "value": "20% 50%",
                "label": "t:sections.all.image.focal_point.options__4.label"
              },
              {
                "value": "center center",
                "label": "t:sections.all.image.focal_point.options__5.label"
              },
              {
                "value": "80% 50%",
                "label": "t:sections.all.image.focal_point.options__6.label"
              },
              {
                "value": "20% 100%",
                "label": "t:sections.all.image.focal_point.options__7.label"
              },
              {
                "value": "bottom center",
                "label": "t:sections.all.image.focal_point.options__8.label"
              },
              {
                "value": "80% 100%",
                "label": "t:sections.all.image.focal_point.options__9.label"
              }
            ],
            "default": "center center",
            "label": "t:sections.all.image.focal_point.label"
          },
          {
            "type": "header",
            "content": "t:sections.all.product_card.on_hover.content"
          },
          {
            "type": "checkbox",
            "id": "show_second_image",
            "default": false,
            "label": "t:sections.all.product_card.show_second_image.label"
          }, 
          {
            "type": "checkbox",
            "id": "enable_add_to_cart",
            "default": false,
            "label": "t:sections.all.product_card.enable_add_to_cart.label"
          },
          {
            "type": "checkbox",
            "id": "enable_quick_view",
            "default": false,
            "label": "t:sections.all.product_card.enable_quick_view.label",
            "info": "t:sections.all.product_card.enable_quick_view.info"
          },
          {
            "type": "header",
            "content": "t:sections.all.product_card.product_card_content.content"
          }, 
          {
            "type": "select",
            "id": "price_position",
            "options": [
              {
                "value": "top",
                "label": "t:sections.all.product_card.price_position.options__1.label"
              }, 
              {
                "value": "with_title",
                "label": "t:sections.all.product_card.price_position.options__2.label"
              }, 
              {
                "value": "bottom",
                "label": "t:sections.all.product_card.price_position.options__3.label"
              }
            ],
            "default": "bottom",
            "label": "t:sections.all.product_card.price_position.label"
          }, 
          {
            "type": "checkbox",
            "id": "show_vendor",
            "default": true,
            "label": "t:sections.all.product_card.show_vendor.label"
          }, 
          {
            "type": "number",
            "id": "max_product_name_characters",
            "label": "t:sections.all.product_card.max_product_name_characters.label",
            "default": 100,
            "info": "t:sections.all.product_card.max_product_name_characters.info"
          },
          {
            "type": "checkbox",
            "id": "show_rating",
            "default": true,
            "label": "t:sections.all.product_card.show_rating.label",
            "info": "t:sections.all.product_card.show_rating.info"
          },
          {
            "type": "checkbox",
            "id": "show_short_description",
            "default": false,
            "label": "t:sections.all.product_card.show_short_description.label",
            "info": "t:sections.all.product_card.show_short_description.info"
          }, 
          {
            "type": "checkbox",
            "id": "enable_color_pills",
            "default": false,
            "label": "t:sections.all.product_card.enable_color_pills.label",
            "info": "t:sections.all.product_card.enable_color_pills.info"
          },
          {
            "type": "header",
            "content": "t:sections.all.colors.content"
        },
        {
            "type": "radio",
            "id": "color_type",
            "label": "t:sections.all.colors.color_type.label",
            "options": [
                {
                "value": "default",
                "label": "t:sections.all.colors.color_type.options__1.label"
                },
                {
                "value": "invert",
                "label": "t:sections.all.colors.color_type.options__2.label"
                },
                {
                "value": "custom",
                "label": "t:sections.all.colors.color_type.options__3.label"
                }
            ],
            "default": "default"
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "t:sections.all.colors.background_color.label",
            "default": "#FFFFFF"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "t:sections.all.colors.text_color.label",
            "default": "#000000"
        },
        {
            "type": "header",
            "content": "t:sections.all.paddings.desktop_section_paddings.content"
        }, 
        {
            "type": "range",
            "id": "desktop_padding_top",
            "min": -160,
            "max": 160,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_top.label"
        }, 
        {
            "type": "range",
            "id": "desktop_padding_bottom",
            "min": -160,
            "max": 160,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_bottom.label"
        },
        {
            "type": "header",
            "content": "t:sections.all.paddings.mobile_section_paddings.content"
        }, 
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": -80,
            "max": 80,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_top.label"
        }, 
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": -80,
            "max": 80,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_bottom.label"
        }
    ],
    "presets": [
        {
            "name": "t:sections.collection-with-products.name"
        }
    ],
    "disabled_on": {
        "groups": ["*"]
    }
}
{% endschema %}