{% liquid
  if template.name == 'product'
      assign metafield_files = product.metafields.custom.gallery.value
  elsif template.name == 'blog'
      assign metafield_files = blog.metafields.custom.gallery.value
  elsif template.name == 'article'
      assign metafield_files = article.metafields.custom.gallery.value
  elsif template.name == 'page'
      assign metafield_files = page.metafields.custom.gallery.value
  elsif template.name == 'collection'
      assign metafield_files = collection.metafields.custom.gallery.value
  endif
%}

{% if request.design_mode or metafield_files != blank %}

  {{ 'section-image-grid.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-modal.js' | asset_url }}" defer="defer"></script>
  {% style %}
    #shopify-section-{{ section.id }} {
      --padding-top: {{ section.settings.desktop_padding_top }}px;
      --padding-bottom: {{ section.settings.desktop_padding_bottom }}px;
      {% if section.settings.image_radius == 'default' %}
          --image-radius: {{ settings.images_and_sections_radius }};
      {% else %}
          --image-radius: {{ section.settings.image_radius }};
      {% endif %}
      {% if section.settings.color_type == 'invert' %}
          --layout-text-color:
          {{ settings.layout_background_color.red }},
          {{ settings.layout_background_color.green }},
          {{ settings.layout_background_color.blue }};
          --layout-background-color:
          {{ settings.layout_text_color.red }},
          {{ settings.layout_text_color.green }}, 
          {{ settings.layout_text_color.blue }};
      {% endif %}
      {% if section.settings.color_type == 'custom' %}
          --layout-background-color:
          {{ section.settings.background_color.red }},
          {{ section.settings.background_color.green }}, 
          {{ section.settings.background_color.blue }};
      {% endif %} 
      background-color: rgb(var(--layout-background-color));
    }

    @media screen and (max-width: 920px) {
      #shopify-section-{{ section.id }} {
        --padding-top: {{ section.settings.mobile_padding_top }}px;
        --padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
      }
    }
  {% endstyle %}

  {%- liquid 
      assign settings_page_width = settings.max_page_width | append: 'px'
        if settings.max_page_width == 'full_width'
        assign settings_page_width = '100vw'
        endif
  -%}
 
<div class=" section-padding--{{ settings.white_space }} ordinal-section ordinal-section--{{ settings.white_space }} {% if settings.max_page_width == '1400' or settings.max_page_width == '1200' %}page-width {% endif %} page-width--{{ settings.max_page_width }}"> 
  {%- render 'image-grid', 
    items_in_a_row: section.settings.items_in_a_row, 
    mobile_layout: section.settings.mobile_layout,
    section_width: section.settings.section_width,
    image_ratio: section.settings.image_ratio,
    enable_image_zoom: section.settings.enable_image_zoom,
    focal_point: section.settings.focal_point,
    grid_gap: section.settings.grid_gap,
    image_radius: section.settings.image_radius,
    mobile_grid_gap: section.settings.mobile_grid_gap,
    snippet_id: section.id -%}
</div>

{% endif %}

{% schema %}
  {
    "name": "t:sections.image-grid.name",
    "tag": "section",
    "class": "image-grid",
    "settings": [
      {
        "type": "paragraph",
        "content": "t:sections.image-grid.settings.paragraph__1.content"
      },
      {
        "type": "range",
        "id": "grid_gap",
        "min": 0,
        "max": 80,
        "step": 1,
        "unit": "px",
        "label": "t:sections.image-grid.settings.grid_gap.label",
        "default": 8
      },
      {
        "type": "range",
        "id": "mobile_grid_gap",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "t:sections.image-grid.settings.mobile_grid_gap.label",
        "default": 4
      },
      {
        "type": "radio",
        "id": "section_width",
        "options": [
          {
            "value": "wide",
            "label": "t:sections.all.section_width.options__3.label"
          },
          {
            "value": "narrow",
            "label": "t:sections.all.section_width.options__4.label"
          }
        ],
        "default": "wide",
        "label": "t:sections.all.section_width.label"
      },
      {
        "type": "range",
        "id": "items_in_a_row",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "t:sections.image-grid.settings.items_in_a_row.label",
        "default": 4
      },
      {
        "type": "radio",
        "id": "mobile_layout",
        "options": [
          {
            "value": "1",
            "label": "t:sections.all.mobile_layout.options__1.label"
          },
          {
            "value": "2",
            "label": "t:sections.all.mobile_layout.options__2.label"
          }
        ],
        "default": "2",
        "label": "t:sections.all.mobile_layout.label"
      },   
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "original",
            "label": "t:sections.all.image.image_ratio.options__1.label"
          },
          {
            "value": "square",
            "label": "t:sections.all.image.image_ratio.options__2.label"
          },
          {
            "value": "portrait",
            "label": "t:sections.all.image.image_ratio.options__3.label"
          },
          {
            "value": "narrow_portrait",
            "label": "t:sections.all.image.image_ratio.options__8.label"
          },
          {
            "value": "traditional",
            "label": "t:sections.all.image.image_ratio.options__9.label"
          },
          {
            "value": "landscape",
            "label": "t:sections.all.image.image_ratio.options__4.label"
          }, 
          {
            "value": "wide",
            "label": "t:sections.all.image.image_ratio.options__5.label"
          }
        ],
        "default": "original",
        "label": "t:sections.all.image.image_ratio.label"
      }, 
      {
        "type": "select",
        "id": "focal_point",
        "options": [
          {
            "value": "20% 0",
            "label": "t:sections.all.image.focal_point.options__1.label"
          },
          {
            "value": "top center",
            "label": "t:sections.all.image.focal_point.options__2.label"
          },
          {
            "value": "80% 0",
            "label": "t:sections.all.image.focal_point.options__3.label"
          },
          {
            "value": "20% 50%",
            "label": "t:sections.all.image.focal_point.options__4.label"
          }, 
          {
            "value": "center center",
            "label": "t:sections.all.image.focal_point.options__5.label"
          }, 
          {
            "value": "80% 50%",
            "label": "t:sections.all.image.focal_point.options__6.label"
          }, 
          {
            "value": "20% 100%",
            "label": "t:sections.all.image.focal_point.options__7.label"
          }, 
          {
            "value": "bottom center",
            "label": "t:sections.all.image.focal_point.options__8.label"
          }, 
          {
            "value": "80% 100%",
            "label": "t:sections.all.image.focal_point.options__9.label"
          }
        ],
        "default": "center center",
        "label": "t:sections.all.image.focal_point.label"
      },  
      {
        "type": "select",
        "id": "image_radius",
        "options": [
          {
            "value": "default",
            "label": "t:sections.all.corner_radius.options__1.label"
          },
          {
            "value": "0px",
            "label": "t:sections.all.corner_radius.options__2.label"
          },
          {
            "value": "3px",
            "label": "t:sections.all.corner_radius.options__3.label"
          },
          {
            "value": "5px",
            "label": "t:sections.all.corner_radius.options__4.label"
          },
          {
            "value": "12px",
            "label": "t:sections.all.corner_radius.options__5.label"
          },
          {
            "value": "2000px",
            "label": "t:sections.all.corner_radius.options__6.label"
          },
          {
            "value": "2000px 2000px 0 0",
            "label": "t:sections.all.corner_radius.options__7.label"
          }
        ],
        "default": "default",
        "label": "t:sections.all.corner_radius.label"
      },
      {
        "type": "checkbox",
        "id": "enable_image_zoom",
        "default": true,
        "label": "t:sections.main-product.settings.enable_image_zoom.label"
      },
      {
        "type": "header",
        "content": "t:sections.all.colors.background.content"
      },
      {
        "type": "radio",
        "id": "color_type",
        "label": "t:sections.all.colors.color_type.label",
        "options": [
          {
            "value": "default",
            "label": "t:sections.all.colors.color_type.options__1.label"
          },
          {
            "value": "invert",
            "label": "t:sections.all.colors.color_type.options__2.label"
          },
          {
            "value": "custom",
            "label": "t:sections.all.colors.color_type.options__3.label"
          }
        ],
        "default": "default"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "t:sections.all.colors.background_color.label",
        "default": "#FFFFFF"
      },
      {
        "type": "header",
        "content": "t:sections.all.paddings.desktop_section_paddings.content"
      }, 
      {
          "type": "range",
          "id": "desktop_padding_top",
          "min": -160,
          "max": 160,
          "step": 4,
          "unit": "px",
          "default": 0,
          "label": "t:sections.all.paddings.padding_top.label"
      }, 
      {
          "type": "range",
          "id": "desktop_padding_bottom",
          "min": -160,
          "max": 160,
          "step": 4,
          "unit": "px",
          "default": 0,
          "label": "t:sections.all.paddings.padding_bottom.label"
      },
      {
        "type": "header",
        "content": "t:sections.all.paddings.mobile_section_paddings.content"
      }, 
      {
          "type": "range",
          "id": "mobile_padding_top",
          "min": -80,
          "max": 80,
          "step": 4,
          "unit": "px",
          "default": 0,
          "label": "t:sections.all.paddings.padding_top.label"
      }, 
      {
          "type": "range",
          "id": "mobile_padding_bottom",
          "min": -80,
          "max": 80,
          "step": 4,
          "unit": "px",
          "default": 0,
          "label": "t:sections.all.paddings.padding_bottom.label"
      }
    ],
    "presets": [
      {
        "name": "t:sections.image-grid.name"
      }
    ],
    "templates": ["product", "blog", "collection", "article", "page"]
  }
{% endschema %}