{% liquid 
  assign show_section = false
  for block in section.blocks
      if block.settings.image != blank
          assign show_section = true
      endif
  endfor
%}
{% if section.blocks.size > 0 and show_section or request.design_mode %}

{{ 'section-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'section-logo-slider.css' | asset_url | stylesheet_tag }}

{% style %}
    #shopify-section-{{ section.id }} {
      --padding-top: {{ section.settings.desktop_padding_top }}px;
      --padding-bottom: {{ section.settings.desktop_padding_bottom }}px;
      --desktop-grid-type: {{ section.settings.desktop_grid_type }};
      max-width: 100%;
      --text-alignment: {% if section.settings.center_text %}center{% else %}flex-start{% endif %};

      {% if section.settings.color_type == 'invert' %}
      --layout-text-color:
          {{ settings.layout_background_color.red }},
          {{ settings.layout_background_color.green }},
          {{ settings.layout_background_color.blue }};
      --layout-background-color:
          {{ settings.layout_text_color.red }},
          {{ settings.layout_text_color.green }}, 
          {{ settings.layout_text_color.blue }};
      {% endif %}
      {% if section.settings.color_type == 'custom' %}
      --layout-text-color:
          {{ section.settings.text_color.red }},
          {{ section.settings.text_color.green }}, 
          {{ section.settings.text_color.blue }};
      --layout-background-color:
          {{ section.settings.background_color.red }},
          {{ section.settings.background_color.green }}, 
          {{ section.settings.background_color.blue }};
      {% endif %}

      background-color: rgb(var(--layout-background-color));
      color: rgb(var(--layout-text-color));
    }

    @media screen and (max-width: 920px) {
      #shopify-section-{{ section.id }} {
        --padding-top: {{ section.settings.mobile_padding_top }}px;
        --padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
      }
    }

    /* Styles for full-width page without sidebars */
    /* Mobile */
    @media screen and (max-width: 768px) {
      #shopify-section-{{ section.id }} {
        --desktop-grid-type: {{ section.settings.mobile_layout }};
      }
    }
    /* Sidebars: Main XS,S,M and white space Spacious */
    /* Mobile */
    @media screen and (max-width: 1048px) and (min-width: 921px) {
      .main_xs--spacious #shopify-section-{{ section.id }},
      .main_s--spacious #shopify-section-{{ section.id }},
      .main_m--spacious #shopify-section-{{ section.id }} {
        --desktop-grid-type: {{ section.settings.mobile_layout }};
      }
    }
    /* Sidebars: Main XS, Main S and white space Compact */
    /* Mobile */
    @media screen and (max-width: 968px) and (min-width: 921px) {
      .main_xs--compact #shopify-section-{{ section.id }},
      .main_s--compact #shopify-section-{{ section.id }} {
        --desktop-grid-type: {{ section.settings.mobile_layout }};
      }
    }
    /* Sidebars: Main XS,S with secondary and white space Spacious */
    /* Mobile */
    @media screen and (max-width: 1144px) and (min-width: 921px) {
      .main_xs_with_secondary--spacious #shopify-section-{{ section.id }},
      .main_s_with_secondary--spacious #shopify-section-{{ section.id }} {
        --desktop-grid-type: {{ section.settings.mobile_layout }};
      }
    }
    /* Sidebars: Main XS with secondary, Main S with secondary and white space Compact */
    /* Mobile */
    @media screen and (max-width: 1064px) and (min-width: 921px) {
      .main_xs_with_secondary--compact #shopify-section-{{ section.id }},
      .main_s_with_secondary--compact #shopify-section-{{ section.id }} {
        --desktop-grid-type: {{ section.settings.mobile_layout }};
      } 
    }
    /* Sidebars: Main M and white space Compact */
    /* Mobile */
    @media screen and (max-width: 1024px) and (min-width: 921px) {
      .main_m--compact  #shopify-section-{{ section.id }} {
        --desktop-grid-type: {{ section.settings.mobile_layout }};
      }
    }
    /* Sidebars: Main M with secondary */
    /* Mobile */
    @media screen and (max-width: 1152px) and (min-width: 921px) {
      .main_m_with_secondary  #shopify-section-{{ section.id }} {
        --desktop-grid-type: {{ section.settings.mobile_layout }};
      } 
    }
    /* Sidebars: Main L */
    /* Mobile */
    @media screen and (max-width: 1536px) and (min-width: 921px) {
      .main_l #shopify-section-{{ section.id }} {
        --desktop-grid-type: {{ section.settings.mobile_layout }};
      } 
    }
{% endstyle %}

{%- liquid 
    if settings.typography_preset == 'avant_garde'
        assign weight_close = settings.accent_icon_weight
        if settings.swap_fonts
            assign weight_close = settings.base_icon_weight
        endif
    else 
        assign weight_close =  settings.base_icon_weight
        if settings.swap_fonts
            assign weight_close = settings.accent_icon_weight
        endif
    endif

    assign settings_page_width = settings.max_page_width | append: 'px'
    if settings.max_page_width == 'full_width'
      assign settings_page_width = '100vw'
    endif

    assign mobile_block_width = '100vw'
    if section.settings.mobile_layout == '2'
      assign mobile_block_width = 'calc(100vw / 2)'
    endif
-%}

<div class="logo-slider color-{{ section.settings.color_type }} {% if section.settings.color_type != 'default' %}no-default-color{% endif %} ordinal-section ordinal-section--{{ settings.white_space }} {% if settings.show_lines %}ordinal-section--lines{% endif %}  section-padding--{{ settings.white_space }} slider-container-js slider-section--{{ settings.white_space }} {% if section.settings.show_lines %}slider-section--lines{% endif %}{% if settings.show_lines %} slider-section--lines-global{% endif %} {% if settings.max_page_width == '1400' or settings.max_page_width == '1200' %}page-width {% endif %} page-width--{{ settings.max_page_width }} slider-section-container--{{ settings.white_space }}">
    <slider-component id="GalleryViewer-{{ section.id }}" class="slider scroll-to-block">
      <div class="slider__header {% if section.settings.center_text %}slider__header-center{% endif %} {% if section.settings.heading == blank %}slider__header--hidden{% endif %}">
        {% if section.settings.heading != blank %}
          <{{ section.settings.heading_tag }} class="slider__heading {% if settings.accent_color_for_headings %}slider__heading--accent{% endif %} slider__heading--{{ settings.typography_preset }} {% unless section.settings.heading_size == 'default' %}{{ section.settings.heading_size }}{% endunless %}">{{ section.settings.heading | escape }}
          </{{ section.settings.heading_tag }}>
        {% endif %}
        {% liquid 
          assign grid_items_desktop = section.settings.desktop_grid_type | times: 1
          assign grid_items_mobile = section.settings.mobile_layout | times: 1
        %}
      </div>
        <div class="slider__viewport">
          <ul id="Slider-Gallery-{{ section.id }}" class="slider__grid slider__grid-mobile-{{ section.settings.mobile_layout }}" role="list" 
            data-count="{{ section.settings.desktop_grid_type }}"
            data-count-mobile="{{ section.settings.mobile_layout }}">
            {% for block in section.blocks %}
              {% assign mobileItems = section.settings.mobile_layout | times: 1 %}
              {%- if block.settings.image != blank or request.design_mode -%}
                <li id="Slide-{{ section.id }}" {{ block.shopify_attributes }} class="slider__grid-item snap-align 
                  {% if forloop.first %}is-active{% endif %} 
                  {% if section.settings.desktop_grid_type == '5' and forloop.index == 4 %}no-line{% endif %}
                  {% if forloop.last and section.settings.show_lines and forloop.length >= grid_items_desktop %}last-desktop{% endif %} 
                  {% if forloop.last and section.settings.show_lines and forloop.length >= grid_items_mobile %}last-mobile{% endif %}
                  {% if section.blocks.size == mobileItems %}last-element{% endif %}"
                  {% if settings.disable_right_click %}oncontextmenu="return false"{% endif %}>
                  {% if block.settings.link != blank %}<a href="{{ block.settings.link }}" {% if block.settings.target_blank %}target="_blank"{% endif %} aria-label="{{ block.settings.image.alt | escape }}" class="logo-slider__card card-js">{% endif %}
                  {% unless block.settings.link != blank %}<div class="logo-slider__card card-js">{% endunless %}
                  {%- if block.settings.image != blank -%}
                    {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                    {% liquid 
                      assign lazy_load = false
                      assign items = section.settings.mobile_layout | times: 1
                      if forloop.index > items or section.index > 2
                        assign lazy_load = true
                      endif
                    %}
                    <img srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                        {%- if block.settings.image.width >= 375 -%}{{ block.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
                        {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                        {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                        {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                        {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                        {{ block.settings.image | image_url }} {{ block.settings.image.width }}w" src="{{ block.settings.image | image_url: width: 1200 }}"
                        {% if section.settings.desktop_grid_type == '4' %}
                          sizes="(max-width: 768) {{ mobile_block_width }},(min-width: {{ settings_page_width }}) calc({{ settings_page_width }} / 4), calc(100vw / 4)"
                        {% else %}
                          sizes="(max-width: 768) {{ mobile_block_width }}, (min-width: {{ settings_page_width }}) calc({{ settings_page_width }} / 5), calc(100vw / 5)"
                        {% endif %}
                        alt="{{ block.settings.image.alt | escape }}" 
                        src="{{ block.settings.image | image_url: width: 1200 }}"
                        {% if lazy_load %}loading="lazy"{% endif %}
                        draggable="false"
                        width="{{ block.settings.image.width }}" 
                        height="{{ block.settings.image.height }}" 
                        class="logo-slider__image"
                        style="object-position: {{ block.settings.image.presentation.focal_point }};">
                      {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
                  {%- else -%}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  {%- endif -%}
                  {% unless block.settings.link != blank %}</div>{% endunless %}
                  {% if block.settings.link != blank %}</a>{% endif %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
            {% liquid 
              assign grid_items_desktop = section.settings.desktop_grid_type | times: 1
              assign grid_items_mobile = section.settings.mobile_layout | times: 1
            %}
            <div class="slider-buttons-items slider-buttons-items--bottom slider-buttons-items--{{ settings.white_space }} {% if section.settings.show_lines %}slider-buttons-items--lines{% endif %} 
              {% if section.blocks.size <= grid_items_mobile %}hidden-mobile{% endif %}
              {% if section.blocks.size <= grid_items_desktop %}hidden-desktop{% endif %}
              {% if section.settings.desktop_grid_type == '5' and section.blocks.size == 5 %}hidden-desktop-none{% endif %}">
              <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">
                {% if weight_close == 'regular' %}
                  {% render 'icon-accordion-2', icon: 'arrow-long-left-regular' %}
                {% elsif weight_close == 'medium' %}
                  {% render 'icon-accordion-2', icon: 'arrow-long-left-medium' %}
                {% elsif weight_close == 'bold' %}
                  {% render 'icon-accordion-2', icon: 'arrow-long-left-bold' %}
                {% endif %}
              </button>
              <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">
                {% if weight_close == 'regular' %}
                  {% render 'icon-accordion-2', icon: 'arrow-long-right-regular' %}
                {% elsif weight_close == 'medium' %}
                  {% render 'icon-accordion-2', icon: 'arrow-long-right-medium' %}
                {% elsif weight_close == 'bold' %}
                  {% render 'icon-accordion-2', icon: 'arrow-long-right-bold' %}
                {% endif %}
              </button>
            </div>
        </div>
    </slider-component>
    {%- if section.settings.button_label != blank -%}
      <div class="logo-slider__button {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %} {% unless section.settings.button_link != blank %}disabled{% endunless %}">
        {%- if section.settings.button_link != blank -%}<a href="{{ section.settings.button_link }}" {% if section.settings.target_blank %}target="_blank"{% endif %} class="{{ section.settings.button_style }}-button button--{{ settings.typography_preset }} {% if section.settings.button_style == 'link' and settings.enable_animated_underline %}link-button--underline{% endif %}">
        {%- else -%}<span disabled class="{{ section.settings.button_style }}-button button--{{ settings.typography_preset }} {% if section.settings.button_style == 'link' and settings.enable_animated_underline %}link-button--underline{% endif %}">{%- endif -%}
            {{ section.settings.button_label }}
          {%- unless section.settings.button_link != blank -%}</span>{%- endunless -%}
        {%- if section.settings.button_link != blank -%}</a>{%- endif -%}
      </div>
    {%- endif -%}
</div>
{% endif %}
{% schema %}
{
    "name": "t:sections.logo-slider.name",
    "tag": "section",
    "class": "logo-slider",
    "max_blocks": 20,
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:sections.all.labels.heading.label"
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "t:sections.all.size.heading_size.label",
            "options": [
              {
                "value": "default",
                "label": "t:sections.all.size.options__1.label"
              },
              {
                  "value": "heading_xl",
                  "label": "t:sections.all.size.options__2.label"
              },
              {
                  "value": "heading_xl_uppercase",
                  "label": "t:sections.all.size.options__3.label"
              },
              {
                  "value": "heading_l",
                  "label": "t:sections.all.size.options__4.label"
              },
              {
                  "value": "heading_l_uppercase",
                  "label": "t:sections.all.size.options__5.label"
              },
              {
                  "value": "heading_m",
                  "label": "t:sections.all.size.options__6.label"
              },
              {
                  "value": "heading_m_uppercase",
                  "label": "t:sections.all.size.options__7.label"
              },
              {
                  "value": "heading_s",
                  "label": "t:sections.all.size.options__8.label"
              },
              {
                  "value": "heading_s_uppercase",
                  "label": "t:sections.all.size.options__9.label"
              },
              {
                  "value": "heading_xs",
                  "label": "t:sections.all.size.options__10.label"
              },
              {
                  "value": "heading_xs_uppercase",
                  "label": "t:sections.all.size.options__11.label"
              },
              {
                  "value": "body_l",
                  "label": "t:sections.all.size.options__12.label"
              },
              {
                  "value": "body_l_uppercase",
                  "label": "t:sections.all.size.options__13.label"
              },
              {
                  "value": "body_m",
                  "label": "t:sections.all.size.options__14.label"
              }, 
              {
                  "value": "body_m_uppercase",
                  "label": "t:sections.all.size.options__15.label"
              }, 
              {
                  "value": "body_s",
                  "label": "t:sections.all.size.options__16.label"
              }, 
              {
                  "value": "body_s_uppercase",
                  "label": "t:sections.all.size.options__17.label"
              }, 
              {
                  "value": "label_font",
                  "label": "t:sections.all.size.options__18.label"
              },
              {
                  "value": "label_font_uppercase",
                  "label": "t:sections.all.size.options__19.label"
              }
            ],
            "default": "default"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "options": [
            {
                "value": "h1",
                "label": "t:sections.all.tag.options__1.label"
            },
            {
                "value": "h2",
                "label": "t:sections.all.tag.options__2.label"
            },
            {
                "value": "h3",
                "label": "t:sections.all.tag.options__3.label"
            },
            {
                "value": "h4",
                "label": "t:sections.all.tag.options__4.label"
            },
            {
                "value": "h5",
                "label": "t:sections.all.tag.options__5.label"
            },
            {
                "value": "h6",
                "label": "t:sections.all.tag.options__6.label"
            },
            {
                "value": "div",
                "label": "t:sections.all.tag.options__7.label"
            },
            {
                "value": "span",
                "label": "t:sections.all.tag.options__8.label"
            }, 
            {
                "value": "p",
                "label": "t:sections.all.tag.options__9.label"
            }
            ],
            "default": "h2",
            "label": "t:sections.all.tag.heading_label"
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "t:sections.all.buttons.button_label.label",
            "info": "t:sections.all.buttons.button_label.info"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "t:sections.all.buttons.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "target_blank",
          "default": false,
          "label": "t:sections.all.target_blank.label"
      },
      {
        "type": "select",
        "id": "button_style",
        "options": [
          {
            "value": "solid",
            "label": "t:sections.all.buttons.button_styles.options__1.label"
          }, 
          {
            "value": "outlined",
            "label": "t:sections.all.buttons.button_styles.options__2.label"
          }, 
          {
            "value": "link",
            "label": "t:sections.all.buttons.button_styles.options__3.label"
          }
        ],
        "default": "solid",
        "label": "t:sections.all.buttons.button_styles.button_style.label"
    },
        {
          "type": "checkbox",
          "id": "center_text",
          "default": false,
          "label": "t:sections.all.alignment.center_text.label"
      },
      {
        "type": "select",
        "id": "desktop_grid_type",
        "options": [
          {
            "value": "4",
            "label": "t:sections.all.desktop_layout.options__4.label"
          },
          {
            "value": "5",
            "label": "t:sections.all.desktop_layout.options__5.label"
          }
        ],
        "default": "5",
        "label": "t:sections.all.grid_type.label"
      },
        {
            "type": "radio",
            "id": "mobile_layout",
            "options": [
              {
                "value": "1",
                "label": "t:sections.all.mobile_layout.options__1.label"
              },
              {
                "value": "2",
                "label": "t:sections.all.mobile_layout.options__2.label"
              }
            ],
            "default": "2",
            "label": "t:sections.all.mobile_layout.label"
        },
        {
            "type": "checkbox",
            "id": "show_lines",
            "default": true,
            "label": "t:sections.logo-slider.settings.show_lines.label"
          },
          {
            "type": "header",
            "content": "t:sections.all.colors.content"
        },
        {
          "type": "radio",
          "id": "color_type",
          "label": "t:sections.all.colors.color_type.label",
          "options": [
              {
              "value": "default",
              "label": "t:sections.all.colors.color_type.options__1.label"
              },
              {
              "value": "invert",
              "label": "t:sections.all.colors.color_type.options__2.label"
              },
              {
              "value": "custom",
              "label": "t:sections.all.colors.color_type.options__3.label"
              }
          ],
          "default": "default"
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "t:sections.all.colors.background_color.label",
            "default": "#FFFFFF"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "t:sections.all.colors.text_color.label",
            "default": "#000000"
        },
        {
            "type": "header",
            "content": "t:sections.all.paddings.desktop_section_paddings.content"
        }, 
        {
            "type": "range",
            "id": "desktop_padding_top",
            "min": -160,
            "max": 160,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_top.label"
        }, 
        {
            "type": "range",
            "id": "desktop_padding_bottom",
            "min": -160,
            "max": 160,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_bottom.label"
        },
        {
            "type": "header",
            "content": "t:sections.all.paddings.mobile_section_paddings.content"
        }, 
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": -80,
            "max": 80,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_top.label"
        }, 
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": -80,
            "max": 80,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_bottom.label"
        }
    ],
    "blocks": [
        {
            "type": "logo",
            "name": "t:sections.logo-slider.blocks.logo.name",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:sections.all.image.desktop_image.label",
                    "info": "t:sections.logo-slider.blocks.logo.settings.image.info"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "t:sections.all.links.link.label"
                },
                {
                    "type": "checkbox",
                    "id": "target_blank",
                    "default": false,
                    "label": "t:sections.all.target_blank.label"
                }
            ]
        }
    ],
    "presets": [
        {
          "name": "t:sections.logo-slider.name",
          "blocks": [
            {
              "type": "logo"
            },
            {
              "type": "logo"
            },
            {
              "type": "logo"
            },
            {
              "type": "logo"
            },
            {
              "type": "logo"
            }
          ]
        }
    ],
    "disabled_on": {
        "groups": ["*"]
    }
}
{% endschema %}