{{ 'component-collection-page.css' | asset_url | stylesheet_tag }}
{{ 'component-product-card.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}

{% style %}
#shopify-section-{{ section.id }} {
    --image-ratio: {{ section.settings.image_ratio }};
    --banner-focal-point: {{ section.settings.banner_focal_point }};
    --focal-point: {{ section.settings.focal_point }};
    --padding-top: {{ section.settings.desktop_padding_top }}px;
    --padding-bottom: {{ section.settings.desktop_padding_bottom }}px;
}
@media screen and (max-width: 920px) {
  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.mobile_padding_top }}px;
    --padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }
}
{% endstyle %}
{% liquid
  assign settings_page_width = settings.max_page_width | append: 'px'
  if settings.max_page_width == 'full_width'
  assign settings_page_width = '100vw'
  endif
%}

{%- if section.settings.infinite_scroll == 'button' or section.settings.infinite_scroll == 'auto' -%}
  <link rel="stylesheet" href="{{ 'component-loading.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

  <div class="ordinal-section ordinal-section--{{ settings.white_space }} {% if settings.show_lines %}ordinal-section--lines{% endif %}  section-padding--{{ settings.white_space }} {% if settings.max_page_width == '1400' or settings.max_page_width == '1200' %}page-width {% endif %} page-width--{{ settings.max_page_width }}">
    <div class="collection collection--{{ settings.white_space }} {% if settings.show_lines %}lines{% endif %} collection-wrapper">
      <div class="collection__banner collection__banner--{{ settings.white_space }} {% if settings.show_lines %} lines{% endif %}">
        <div class="collection-hero collection-hero--{{ settings.white_space }}">
          <div class="collection-hero__info {% unless settings.center_text %}collection-hero__info--{{ section.settings.grid_type }}{% endunless %} collection-hero__info--{{ settings.white_space }} {% if settings.center_text %}collection-hero__info--center{% endif %} {% unless section.settings.show_description and collection.description != blank %}only-heading{% endunless %}">
            <h1 class="heading heading--{{ settings.typography_preset }} {% if section.settings.heading_size != 'default' %}{{ section.settings.heading_size }}{% endif %} {% if settings.show_lines == true %} lines{% endif %}{% if settings.center_text %} center{% endif %} {% if settings.accent_color_for_headings %}heading--accent{% endif %}">{{ collection.title | escape }} {% if section.settings.show_product_quantity == true %}<span class="heading__details">({{ collection.all_products_count }})</span>{% endif %}</h1>
            {% if section.settings.show_description and collection.description != blank %}
              <div class="collection-hero__description subheading--{{ settings.typography_preset }} rte">{{ collection.description }}</div>
            {% endif %}
          </div>
          {% if section.settings.show_image and collection.image != blank %}
            <div class="collection-hero__image {% if section.settings.show_image_under_heading %}collection-hero__image--under-heading{% endif %} ratio-{{ section.settings.banner_image_ratio }}" {% if settings.disable_right_click %}oncontextmenu="return false"{% endif %}>
              {% comment %} theme-check-disable ImgLazyLoading {% endcomment %}
              <img 
                  srcset="{%- if collection.image.width >= 165 -%}{{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if collection.image.width >= 375 -%}{{ collection.image | image_url: width: 375 }} 375w,{%- endif -%}
                  {%- if collection.image.width >= 550 -%}{{ collection.image | image_url: width: 550 }} 550w,{%- endif -%}
                  {%- if collection.image.width >= 750 -%}{{ collection.image | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if collection.image.width >= 1100 -%}{{ collection.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                  {%- if collection.image.width >= 1500 -%}{{ collection.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {%- if collection.image.width >= 1700 -%}{{ collection.image | image_url: width: 1700 }} 1700w,{%- endif -%}
                  {%- if collection.image.width >= 2200 -%}{{ collection.image | image_url: width: 2200 }} 2200w,{%- endif -%}
                  {%- if collection.image.width >= 3000 -%}{{ collection.image | image_url: width: 3000 }} 3000w,{%- endif -%}
                  {{ collection.image | image_url }} {{ collection.image.width }}w"
                  src="{{ collection.image | image_url: width: 1700 }}"
                  sizes="
                  (min-width: {{ settings_page_width }}) calc(({{ settings_page_width }} - 200px)),
                  (min-width: 750px) calc((100vw - 2rem)),
                  calc((100vw - 3rem))"
                  alt="{{ collection.title | escape }}"
                  {% if section.index > 2 %}loading="lazy"{% endif %}
                  draggable="false"
                  width="{{ collection.image.width }}"
                  height="{{ collection.image.height }}"
                  class="card__image"
                >
                {% comment %} theme-check-enable ImgLazyLoading {% endcomment %}
            </div>
          {% endif %}
        </div>
      </div>
      {% if collection.all_products_count > 0 %}
        {% if section.settings.enable_filtering and collection.all_products_count > 1 and settings.navigation_layout == 'header_based' and section.settings.desktop_filter_style == 'vertical' %}
        <div class="collection__product-grid-wrapper">
          <div class="aside-filters collection__aside-filters">
            {% render 'facets-vertical', results: collection, enable_filtering: section.settings.enable_filtering %}
          </div>
        {% endif %}
        <div class="collection__product-grid collection__product-grid--{{ settings.white_space }} {% if section.settings.enable_filtering and collection.all_products_count > 1 %}{% if settings.navigation_layout == 'sidebar_based' %}drawer-filter{% else %}{{ section.settings.desktop_filter_style }}-filter{% endif %}{% endif %}">
          {%- if section.settings.enable_filtering and collection.all_products_count > 1 -%}
            {{ 'component-facets.css' | asset_url | stylesheet_tag }}
            <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
          
            <div id="main-collection-filters" data-id="{{ section.id }}" {% if settings.navigation_layout == 'header_based' %}class="main-collection-filters--{{ section.settings.desktop_filter_style }}"{% endif %}>
              {% render 'facets', results: collection, enable_filtering: section.settings.enable_filtering, button_style: section.settings.filtering_style %}
            </div>
          {%- endif -%}
            <div id="ProductGridContainer" class="collection__grid-container">
              {%- paginate collection.products by section.settings.products_per_page -%}
                {%- if collection.products.size == 0 -%}
                  <h2 id="product-grid" data-id="{{ section.id }}" class="collection collection__no-products collection__no-products--{{ settings.typography_preset }} {% if settings.center_text %}collection__no-products--center{% endif %}">
                    {{ 'sections.collection_template.no_products' | t }}<br>
                    {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "collection__no-products-link hover-opacity" }}
                  </h2>
                {%- else -%}
                  <div class="collection collection--{{ settings.white_space }} {% if settings.show_lines %} lines{% endif %}">
                      <ul id="product-grid" data-id="{{ section.id }}" class="grid product-grid product-grid--{{ section.settings.grid_type }} product-grid--{{ settings.white_space }} {% if settings.show_lines %} lines{% endif %} {% if section.settings.mobile_layout == '1' %} one-column{% endif %}">
                        {%- assign card_product_settings = section.settings -%}
                        {%- for product in collection.products -%}
                          {% assign lazy_load = false %}
                          {%- if forloop.index > 2 -%}
                            {%- assign lazy_load = true -%}
                          {%- endif -%}
                          <li class="grid__item">
                            {% render 'card-product',
                              card_product: product,
                              image_ratio: card_product_settings.image_ratio,
                              show_vendor: card_product_settings.show_vendor,
                              show_second_image: card_product_settings.show_second_image,
                              enable_quick_view: card_product_settings.enable_quick_view,
                              enable_add_to_cart: card_product_settings.enable_add_to_cart,
                              price_position: card_product_settings.price_position,
                              max_product_name_characters: card_product_settings.max_product_name_characters,
                              show_short_description: card_product_settings.show_short_description,
                              enable_color_pills: card_product_settings.enable_color_pills,
                              show_rating: card_product_settings.show_rating
                            %}
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- if paginate.pages > 1 -%}
                      {% render 'pagination', paginate: paginate, anchor: '', infinite_scroll: section.settings.infinite_scroll %}
                    {%- endif -%}
                  </div>
                {%- endif -%}
              {%- endpaginate -%}
            </div>
        </div>
        {% if section.settings.enable_filtering and collection.all_products_count > 1 and settings.navigation_layout == 'header_based' and section.settings.desktop_filter_style == 'vertical' %}
        </div>
        {% endif %}
      {% else %}
        <div class="collection__empty-grid {% if settings.center_text %}collection__empty-grid--center{% endif %} {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %}">
          <p class="collection__empty-message subheading--{{ settings.typography_preset }}">{{ 'sections.collection_template.empty' | t }}</p>
          <a class="collection__empty-link button--{{ settings.typography_preset }} solid-button" href="/{{ 'collections.page_title' | t }}">{{ 'sections.collection_template.link' | t }}</a>
        </div>
      {% endif %}
    </div>
  </div>

{% schema %}
{
    "name": "t:sections.main-collection-product-grid.name",
    "tag": "section",
    "settings": [
        {
          "type": "header",
          "content": "t:sections.main-collection-product-grid.settings.header__1.content"
        },
        {
            "type": "checkbox",
            "id": "show_product_quantity",
            "default": false,
            "label": "t:sections.main-collection-product-grid.settings.show_product_quantity.label"
        },
        {
          "type": "checkbox",
          "id": "show_description",
          "default": true,
          "label": "t:sections.main-collection-product-grid.settings.show_description.label"
        },
        {
            "type": "checkbox",
            "id": "show_image",
            "default": false,
            "label": "t:sections.main-collection-product-grid.settings.show_image.label"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-collection-product-grid.settings.paragraph__1.content"
        },
        {
          "type": "checkbox",
          "id": "show_image_under_heading",
          "default": true,
          "label": "t:sections.main-collection-product-grid.settings.show_image_under_heading.label"
        },
        {
            "type": "select",
            "id": "banner_image_ratio",
            "options": [
              {
                "value": "original",
                "label": "t:sections.all.image.image_ratio.options__1.label"
              },
              {
                "value": "square",
                "label": "t:sections.all.image.image_ratio.options__2.label"
              },
              {
                "value": "portrait",
                "label": "t:sections.all.image.image_ratio.options__3.label"
              },
              {
                "value": "traditional",
                "label": "t:sections.all.image.image_ratio.options__9.label"
              },
              {
                "value": "landscape",
                "label": "t:sections.all.image.image_ratio.options__4.label"
              },
              {
                "value": "wide",
                "label": "t:sections.all.image.image_ratio.options__5.label"
              },
              {
                "value": "super_wide",
                "label": "t:sections.all.image.image_ratio.options__6.label"
              }
            ],
            "default": "super_wide",
            "label": "t:sections.main-collection-product-grid.settings.banner_image_ratio.label"
        },
        {
          "type": "select",
          "id": "banner_focal_point",
          "options": [
            {
              "value": "20% 0",
              "label": "t:sections.all.image.focal_point.options__1.label"
            },
            {
              "value": "top center",
              "label": "t:sections.all.image.focal_point.options__2.label"
            },
            {
              "value": "80% 0",
              "label": "t:sections.all.image.focal_point.options__3.label"
            },
            {
              "value": "20% 50%",
              "label": "t:sections.all.image.focal_point.options__4.label"
            },
            {
              "value": "center center",
              "label": "t:sections.all.image.focal_point.options__5.label"
            },
            {
              "value": "80% 50%",
              "label": "t:sections.all.image.focal_point.options__6.label"
            },
            {
              "value": "20% 100%",
              "label": "t:sections.all.image.focal_point.options__7.label"
            },
            {
              "value": "bottom center",
              "label": "t:sections.all.image.focal_point.options__8.label"
            },
            {
              "value": "80% 100%",
              "label": "t:sections.all.image.focal_point.options__9.label"
            }
          ],
          "default": "center center",
          "label": "t:sections.all.image.focal_point.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "default",
              "label": "t:sections.all.size.options__1.label"
            },
            {
                "value": "heading_xl",
                "label": "t:sections.all.size.options__2.label"
            },
            {
                "value": "heading_xl_uppercase",
                "label": "t:sections.all.size.options__3.label"
            },
            {
                "value": "heading_l",
                "label": "t:sections.all.size.options__4.label"
            },
            {
                "value": "heading_l_uppercase",
                "label": "t:sections.all.size.options__5.label"
            },
            {
                "value": "heading_m",
                "label": "t:sections.all.size.options__6.label"
            },
            {
                "value": "heading_m_uppercase",
                "label": "t:sections.all.size.options__7.label"
            },
            {
                "value": "heading_s",
                "label": "t:sections.all.size.options__8.label"
            },
            {
                "value": "heading_s_uppercase",
                "label": "t:sections.all.size.options__9.label"
            },
            {
                "value": "heading_xs",
                "label": "t:sections.all.size.options__10.label"
            },
            {
                "value": "heading_xs_uppercase",
                "label": "t:sections.all.size.options__11.label"
            },
            {
                "value": "body_l",
                "label": "t:sections.all.size.options__12.label"
            },
            {
                "value": "body_l_uppercase",
                "label": "t:sections.all.size.options__13.label"
            },
            {
                "value": "body_m",
                "label": "t:sections.all.size.options__14.label"
            }, 
            {
                "value": "body_m_uppercase",
                "label": "t:sections.all.size.options__15.label"
            }, 
            {
                "value": "body_s",
                "label": "t:sections.all.size.options__16.label"
            }, 
            {
                "value": "body_s_uppercase",
                "label": "t:sections.all.size.options__17.label"
            }, 
            {
                "value": "label_font",
                "label": "t:sections.all.size.options__18.label"
            },
            {
                "value": "label_font_uppercase",
                "label": "t:sections.all.size.options__19.label"
            }
          ],
          "default": "default",
          "label": "t:sections.all.size.heading_size.label"
        },
        {
          "type": "header",
          "content": "t:sections.main-collection-product-grid.settings.header__2.content"
        },
        {
          "type": "checkbox",
          "id": "enable_filtering",
          "default": true,
          "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
          "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
        },
        {
          "type": "select",
          "id": "desktop_filter_style",
          "options": [
            {
              "value": "horizontal",
              "label": "t:sections.all.desktop_filter_style.options__1.label"
            },
            {
              "value": "vertical",
              "label": "t:sections.all.desktop_filter_style.options__2.label"
            },
            {
              "value": "drawer",
              "label": "t:sections.all.desktop_filter_style.options__3.label"
            }
          ],
          "default": "drawer",
          "label": "t:sections.all.desktop_filter_style.label",
          "info": "t:sections.all.desktop_filter_style.info"
        },
        {
          "type": "select",
          "id": "filtering_style",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.all.buttons.button_styles.options__1.label"
            }, 
            {
              "value": "outlined",
              "label": "t:sections.all.buttons.button_styles.options__2.label"
            }, 
            {
              "value": "link",
              "label": "t:sections.all.buttons.button_styles.options__3.label"
            }
          ],
          "default": "solid",
          "label": "t:sections.all.buttons.button_styles.filtering_style.label"
        },
        {
            "type": "range",
            "id": "products_per_page",
            "min": 12,
            "max": 48,
            "step": 1,
            "label": "t:sections.all.items_per_page.label",
            "default": 12
        },
        {
          "type": "select",
          "id": "infinite_scroll",
          "options": [
            {
              "value": "disable",
              "label": "t:sections.all.infinite_scroll.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.all.infinite_scroll.options__2.label"
            },
            {
              "value": "auto",
              "label": "t:sections.all.infinite_scroll.options__3.label"
            }
          ],
          "default": "disable",
          "label": "t:sections.all.infinite_scroll.label"
        },
        {
            "type": "select",
            "id": "grid_type",
            "options": [
              {
                "value": "two_columns",
                "label": "t:sections.all.desktop_layout.options__11.label"
              },
              {
                "value": "three_columns",
                "label": "t:sections.all.desktop_layout.options__12.label"
              },
              {
                "value": "four_columns",
                "label": "t:sections.all.desktop_layout.options__13.label"
              },
              {
                "value": "alternative_1",
                "label": "t:sections.all.desktop_layout.options__14.label"
              },
              {
                "value": "alternative_2",
                "label": "t:sections.all.desktop_layout.options__15.label"
              }
            ],
            "default": "three_columns",
            "label": "t:sections.all.grid_type.label"
        },
        {
          "type": "radio",
          "id": "mobile_layout",
          "options": [
            {
              "value": "1",
              "label": "t:sections.all.mobile_layout.options__1.label"
            },
            {
              "value": "2",
              "label": "t:sections.all.mobile_layout.options__2.label"
            }
          ],
          "default": "2",
          "label": "t:sections.all.mobile_layout.label"
        },
        {
           "type": "header",
           "content": "t:sections.all.product_card.product_card_image.content"
        },
        {
            "type": "select",
            "id": "image_ratio",
            "label": "t:sections.all.image.image_ratio.label",
            "options": [
              {
                "value": "square",
                "label": "t:sections.all.image.image_ratio.options__2.label"
              },
              {
                "value": "portrait",
                "label": "t:sections.all.image.image_ratio.options__3.label"
              },
              {
                "value": "narrow_portrait",
                "label": "t:sections.all.image.image_ratio.options__8.label"
              },
              {
                "value": "traditional",
                "label": "t:sections.all.image.image_ratio.options__9.label"
              },
              {
                "value": "landscape",
                "label": "t:sections.all.image.image_ratio.options__4.label"
              },
              {
                "value": "wide",
                "label": "t:sections.all.image.image_ratio.options__5.label"
              }
            ],
            "default": "square"
        },
        {
          "type": "select",
          "id": "focal_point",
          "label": "t:sections.all.image.focal_point.label",
          "options": [
            {
              "value": "20% 0",
              "label": "t:sections.all.image.focal_point.options__1.label"
            },
            {
              "value": "top center",
              "label": "t:sections.all.image.focal_point.options__2.label"
            },
            {
              "value": "80% 0",
              "label": "t:sections.all.image.focal_point.options__3.label"
            },
            {
              "value": "20% 50%",
              "label": "t:sections.all.image.focal_point.options__4.label"
            },
            {
              "value": "center center",
              "label": "t:sections.all.image.focal_point.options__5.label"
            },
            {
              "value": "80% 50%",
              "label": "t:sections.all.image.focal_point.options__6.label"
            },
            {
              "value": "20% 100%",
              "label": "t:sections.all.image.focal_point.options__7.label"
            },
            {
              "value": "bottom center",
              "label": "t:sections.all.image.focal_point.options__8.label"
            },
            {
              "value": "80% 100%",
              "label": "t:sections.all.image.focal_point.options__9.label"
            }
          ],
          "default": "center center"
        },
        {
          "type": "header",
          "content": "t:sections.all.product_card.on_hover.content"
        },
        {
          "type": "checkbox",
          "id": "show_second_image",
          "default": true,
          "label": "t:sections.all.product_card.show_second_image.label"
        }, 
        {
          "type": "checkbox",
          "id": "enable_add_to_cart",
          "default": true,
          "label": "t:sections.all.product_card.enable_add_to_cart.label"
        }, 
        {
          "type": "checkbox",
          "id": "enable_quick_view",
          "default": true,
          "label": "t:sections.all.product_card.enable_quick_view.label",
          "info": "t:sections.all.product_card.enable_quick_view.info"
        }, 
        {
          "type": "header",
          "content": "t:sections.all.product_card.product_card_content.content"
        }, 
        {
          "type": "select",
          "id": "price_position",
          "options": [
            {
              "value": "top",
              "label": "t:sections.all.product_card.price_position.options__1.label"
            }, 
            {
              "value": "with_title",
              "label": "t:sections.all.product_card.price_position.options__2.label"
            }, 
            {
              "value": "bottom",
              "label": "t:sections.all.product_card.price_position.options__3.label"
            }
          ],
          "default": "bottom",
          "label": "t:sections.all.product_card.price_position.label"
        }, 
        {
          "type": "checkbox",
          "id": "show_vendor",
          "default": true,
          "label": "t:sections.all.product_card.show_vendor.label"
        }, 
        {
          "type": "number",
          "id": "max_product_name_characters",
          "label": "t:sections.all.product_card.max_product_name_characters.label",
          "default": 100,
          "info": "t:sections.all.product_card.max_product_name_characters.info"
        },
        {
          "type": "checkbox",
          "id": "show_rating",
          "default": true,
          "label": "t:sections.all.product_card.show_rating.label",
          "info": "t:sections.all.product_card.show_rating.info"
        }, 
        {
          "type": "checkbox",
          "id": "show_short_description",
          "default": true,
          "label": "t:sections.all.product_card.show_short_description.label",
          "info": "t:sections.all.product_card.show_short_description.info"
        }, 
        {
          "type": "checkbox",
          "id": "enable_color_pills",
          "default": true,
          "label": "t:sections.all.product_card.enable_color_pills.label",
          "info": "t:sections.all.product_card.enable_color_pills.info"
        },
        {
          "type": "header",
          "content": "t:sections.all.paddings.desktop_section_paddings.content"
        }, 
        {
            "type": "range",
            "id": "desktop_padding_top",
            "min": -160,
            "max": 160,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_top.label"
        }, 
        {
            "type": "range",
            "id": "desktop_padding_bottom",
            "min": -160,
            "max": 160,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_bottom.label"
        },
        {
            "type": "header",
            "content": "t:sections.all.paddings.mobile_section_paddings.content"
        }, 
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": -80,
            "max": 80,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_top.label"
        }, 
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": -80,
            "max": 80,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_bottom.label"
        }
    ]
}
{% endschema %}