{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

{%- liquid
      case section.settings.sort_collections_by
        when 'products_count_high' or 'products_count_low'
          assign collections = collections | sort: 'all_products_count'
        when 'date' or 'date_reversed'
          assign collections = collections | sort: 'published_at'
      endcase

      if section.settings.sort_collections_by == 'products_count_high' or section.settings.sort_collections_by == 'date_reversed' or section.settings.sort_collections_by == 'alphabetical_reversed'
        assign collections = collections | reverse
      endif
-%}

{% style %}
  #shopify-section-{{ section.id }} {
      --focal-point: {{ section.settings.focal_point }};
      --padding-top: {{ section.settings.desktop_padding_top }}px;
      --padding-bottom: {{ section.settings.desktop_padding_bottom }}px;
  }
  @media screen and (max-width: 920px) {
    #shopify-section-{{ section.id }} {
      --padding-top: {{ section.settings.mobile_padding_top }}px;
      --padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
    }
  }
{% endstyle %}

<div class="section-padding--{{ settings.white_space }} ordinal-section ordinal-section--{{ settings.white_space }} {% if settings.show_lines %}ordinal-section--lines{% endif %}  {% if settings.max_page_width == '1400' or settings.max_page_width == '1200' %}page-width {% endif %} page-width--{{ settings.max_page_width }}">
  <div class="section-collection-list section-collection-list--{{ settings.white_space }} {% if settings.show_lines %} lines{% endif %}">
    <h1 class="heading heading--{{ settings.typography_preset }} {% if settings.accent_color_for_headings %}heading--accent{% endif %} {% if settings.show_lines == true %} {% if settings.accent_color_for_headings %}heading--accent{% endif %} lines{% endif %}{% if settings.center_text %} center{% endif %}">{{ section.settings.heading | escape }}{%- if section.settings.show_number == true -%}<span class="heading__details"> ({{ collections | size }})</span>{%- endif -%}</h1>
    <ul class="collection-list grid grid--{{ settings.white_space }} grid--{{ section.settings.grid_type }}{% if section.settings.mobile_layout == '1' %} grid-mobile-column{% endif %}{% if settings.show_lines == true %} lines{% endif %}" role="list">
        {%- for collection in collections -%}
          {% assign lazy_load = false %}
          {%- if forloop.index > 2 -%}
            {%- assign lazy_load = true -%}
          {%- endif -%}
            <li class="collection-list__item grid__item">
                {% render 'card-collection', card_collection: collection, image_ratio: section.settings.image_ratio %}
            </li>
        {%- endfor -%}
    </ul>
  </div>
</div>


{% schema %}
{
    "name": "t:sections.main-list-collections.name",
    "tag": "section",
    "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.all.labels.heading.label",
          "default": "Collections"
        },
        {
          "type": "checkbox",
          "id": "show_number",
          "default": false,
          "label": "t:sections.main-list-collections.settings.show_number.label"
        },
        {
            "type": "select",
            "id": "sort_collections_by",
            "options": [
              {
                "value": "alphabetical",
                "label": "t:sections.main-list-collections.settings.sort_collections_by.options__1.label"
              },
              {
                "value": "alphabetical_reversed",
                "label": "t:sections.main-list-collections.settings.sort_collections_by.options__2.label"
              },
              {
                "value": "date",
                "label": "t:sections.main-list-collections.settings.sort_collections_by.options__3.label"
              },
              {
                "value": "date_reversed",
                "label": "t:sections.main-list-collections.settings.sort_collections_by.options__4.label"
              },
              {
                "value": "products_count_high",
                "label": "t:sections.main-list-collections.settings.sort_collections_by.options__5.label"
              },
              {
                "value": "products_count_low",
                "label": "t:sections.main-list-collections.settings.sort_collections_by.options__6.label"
              }
            ],
            "default": "date",
            "label": "t:sections.main-list-collections.settings.sort_collections_by.label"
        },
        {
            "type": "select",
            "id": "grid_type",
            "options": [
              {
                "value": "two_columns",
                "label": "t:sections.all.desktop_layout.options__11.label"
              },
              {
                "value": "alternative_1",
                "label": "t:sections.all.desktop_layout.options__14.label"
              },
              {
                "value": "alternative_2",
                "label": "t:sections.all.desktop_layout.options__15.label"
              }
            ],
            "default": "alternative_1",
            "label": "t:sections.all.grid_type.label"
        },
        {
          "type": "radio",
          "id": "mobile_layout",
          "options": [
            {
              "value": "1",
              "label": "t:sections.all.mobile_layout.options__1.label"
            },
            {
              "value": "2",
              "label": "t:sections.all.mobile_layout.options__2.label"
            }
          ],
          "default": "1",
          "label": "t:sections.all.mobile_layout.label"
        },
        {
            "type": "select",
            "id": "image_ratio",
            "label": "t:sections.all.image.image_ratio.label",
            "options": [
              {
                "value": "square",
                "label": "t:sections.all.image.image_ratio.options__2.label"
              },
              {
                "value": "portrait",
                "label": "t:sections.all.image.image_ratio.options__3.label"
              },
              {
                "value": "narrow_portrait",
                "label": "t:sections.all.image.image_ratio.options__8.label"
              },
              {
                "value": "traditional",
                "label": "t:sections.all.image.image_ratio.options__9.label"
              },
              {
                "value": "landscape",
                "label": "t:sections.all.image.image_ratio.options__4.label"
              },
              {
                "value": "wide",
                "label": "t:sections.all.image.image_ratio.options__5.label"
              }
            ],
            "default": "square"
        },
        {
          "type": "select",
          "id": "focal_point",
          "label": "t:sections.all.image.focal_point.label",
          "options": [
            {
              "value": "20% 0",
              "label": "t:sections.all.image.focal_point.options__1.label"
            },
            {
              "value": "top center",
              "label": "t:sections.all.image.focal_point.options__2.label"
            },
            {
              "value": "80% 0",
              "label": "t:sections.all.image.focal_point.options__3.label"
            },
            {
              "value": "20% 50%",
              "label": "t:sections.all.image.focal_point.options__4.label"
            },
            {
              "value": "center center",
              "label": "t:sections.all.image.focal_point.options__5.label"
            },
            {
              "value": "80% 50%",
              "label": "t:sections.all.image.focal_point.options__6.label"
            },
            {
              "value": "20% 100%",
              "label": "t:sections.all.image.focal_point.options__7.label"
            },
            {
              "value": "bottom center",
              "label": "t:sections.all.image.focal_point.options__8.label"
            },
            {
              "value": "80% 100%",
              "label": "t:sections.all.image.focal_point.options__9.label"
            }
          ],
          "default": "center center"
        },
        {
          "type": "header",
          "content": "t:sections.all.paddings.desktop_section_paddings.content"
        }, 
        {
            "type": "range",
            "id": "desktop_padding_top",
            "min": -160,
            "max": 160,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_top.label"
        }, 
        {
            "type": "range",
            "id": "desktop_padding_bottom",
            "min": -160,
            "max": 160,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_bottom.label"
        },
        {
            "type": "header",
            "content": "t:sections.all.paddings.mobile_section_paddings.content"
        }, 
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": -80,
            "max": 80,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_top.label"
        }, 
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": -80,
            "max": 80,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_bottom.label"
        }
    ],
    "templates": ["index", "list-collections"]
}
{% endschema %}