{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-share.css' | asset_url | stylesheet_tag }}
{{ 'section-image-grid.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product-modal.js' | asset_url }}" defer="defer"></script>
{% style %}
#shopify-section-{{ section.id }} {
  --padding-top: {{ section.settings.desktop_padding_top }}px;
  --padding-bottom: {{ section.settings.desktop_padding_bottom }}px;
  
}
.share__icon, 
.share-list__icon {
  height: {{ 24 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 24 }}px;
}

@media screen and (max-width: 920px) {
  .share__icon, 
  .share-list__icon {
    height: {{ 24 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 24 }}px;
  }

  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.mobile_padding_top }}px;
    --padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }
}
{% endstyle %}

{%- liquid 
  if settings.typography_preset == 'avant_garde'
    assign weight = settings.accent_icon_weight
    if settings.swap_fonts
        assign weight = settings.base_icon_weight
    endif
else 
    assign weight =  settings.base_icon_weight
    if settings.swap_fonts
        assign weight = settings.accent_icon_weight
    endif
endif

if settings.typography_preset == 'avant_garde' or settings.typography_preset == 'duet'
			assign weight_accordion_title = settings.accent_icon_weight
			if settings.swap_fonts
					assign weight_accordion_title = settings.base_icon_weight
			endif
    else 
      assign weight_accordion_title =  settings.base_icon_weight
      if settings.swap_fonts
          assign weight_accordion_title = settings.accent_icon_weight
      endif
endif

-%}
{% liquid
  assign settings_page_width = settings.max_page_width | append: 'px'
  if settings.max_page_width == 'full_width'
  assign settings_page_width = '100vw'
  endif
%}

<div class="blog-post ordinal-section ordinal-section--{{ settings.white_space }} {% if settings.show_lines %}ordinal-section--lines{% endif %}  "> 
  <article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'featured_image'-%}
          {%- if article.image -%}
            <div class="article-template__image-block article-template__image-block--{{ block.settings.image_width }} {% if block.settings.image_width != 'full_width' %}{% if settings.max_page_width == '1400' or settings.max_page_width == '1200' %}page-width {% endif %} page-width--{{ settings.max_page_width }}  section-padding--{{ settings.white_space }}{% endif %}" style="{% if block.settings.context_image_radius == 'default' %}--context-image-radius: {{ settings.images_and_sections_radius }};{% else %}--context-image-radius: {{ block.settings.context_image_radius }};{% endif %}" {{ block.shopify_attributes }}>
              <div class="article-template__image article-template__image--{{ block.settings.image_ratio }} ratio-{{ block.settings.image_ratio }}"
                itemprop="image" {% if settings.disable_right_click %}oncontextmenu="return false"{% endif %}>
                {% comment %} theme-check-disable ImgLazyLoading {% endcomment %}
                <img
                  srcset="{% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
                    {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
                    {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
                    {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
                    {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
                    {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
                    {{ article.image | image_url }} {{ article.image.width }}w"
                  sizes="(min-width: {{ settings_page_width }}) calc({{ settings_page_width }} - 100px), (min-width: 750px) calc(100vw - 10rem), 100vw"
                  src="{{ article.image | image_url: width: 1100 }}"
                  {% if section.index > 2 or forloop.index > 10 %}loading="lazy"{% endif %}
                  draggable="false"
                  width="{{ article.image.width }}"
                  height="{{ article.image.height }}"
                  alt="{{ article.image.alt | escape }}"
                  style=" --focal-point: {{ block.settings.focal_point }};">
                {% comment %} theme-check-enable ImgLazyLoading {% endcomment %}
              </div>
            </div>
          {%- endif -%}
          {%- when 'title'-%}
            <div class="{% if settings.max_page_width == '1400' or settings.max_page_width == '1200' %}page-width {% endif %} page-width--{{ settings.max_page_width }}  section-padding--{{ settings.white_space }}" {{ block.shopify_attributes }}>
              <div class="title-block {{ section.settings.section_width }}">
                <h1 class="article__title article__title--{{ settings.typography_preset }}" itemprop="headline">{{ article.title | escape }}</h1>
                {%- if block.settings.show_date or block.settings.show_author or block.settings.show_number_of_comments and article.comments_count > 0 and blog.comments_enabled? -%}
                <div class="article-card__item info info--{{ settings.typography_preset }} {% if settings.dim_text %}dim{% endif %}"{{ block.shopify_attributes }}>
                  {%- if block.settings.show_date -%}
                      <span class="info__date">
                      {{- article.published_at | date: format: 'abbreviated_date' -}}
                      </span>
                  {%- endif -%}
                  {%- if block.settings.show_author -%}
                      <span class="info__author">{{ article.author }}</span>
                  {%- endif -%}
                  {%- if block.settings.show_number_of_comments and article.comments_count > 0 and blog.comments_enabled? -%}
                      <span class="info__comments-count">{% if article.comments_count == 1 %}{{ 'blogs.article.comments.one' | t: count: article.comments_count }}{% else %}{{ 'blogs.article.comments.other' | t: count: article.comments_count }}{% endif %}</span>
                  {%- endif -%}
                </div>
              {%- endif -%}
              </div>
            </div>
          {%- when 'content'-%}
            {%- if article.content.size > 0 -%}
            <div class="content-block {% if settings.max_page_width == '1400' or settings.max_page_width == '1200' %}page-width {% endif %} page-width--{{ settings.max_page_width }}  section-padding--{{ settings.white_space }}" itemprop="articleBody" {{ block.shopify_attributes }}>
              <div class="article__content {% if settings.show_lines %}article__content--lines{% endif %} body-text--{{ settings.typography_preset }} {{ section.settings.section_width }} rte">  
                {{ article.content }}
              </div>
            </div>
            {%- endif -%}
          {%- when 'excerpt'-%}
            {%- if article.excerpt.size > 0 -%}
              <div class="{% if settings.max_page_width == '1400' or settings.max_page_width == '1200' %}page-width {% endif %} page-width--{{ settings.max_page_width }}  section-padding--{{ settings.white_space }}" itemprop="articleBody" {{ block.shopify_attributes }}>
                <div class="article__excerpt body-text--{{ settings.typography_preset }} article__excerpt--{{ settings.typography_preset }} {{ section.settings.section_width }} rte">  
                  {{ article.excerpt }}
                </div>
              </div>
            {%- endif -%}
          {%- when 'share' -%}
            <div class="share {% if settings.max_page_width == '1400' or settings.max_page_width == '1200' %}page-width {% endif %} page-width--{{ settings.max_page_width }}  section-padding--{{ settings.white_space }}" {{ block.shopify_attributes }}>
              <div class="{{ section.settings.section_width }}">
                {% if block.settings.display_collapsible_link %}
                  {%- liquid 
                    if settings.typography_preset == 'avant_garde'
                      assign weight = settings.accent_icon_weight
                      if settings.swap_fonts
                          assign weight = settings.base_icon_weight
                      endif
                  else 
                      assign weight =  settings.base_icon_weight
                      if settings.swap_fonts
                          assign weight = settings.accent_icon_weight
                      endif
                  endif
                  -%}
                  <accordion-block>
                    <div class="accordion-toggle no-js-hidden share-toggle">
                      <div class="accordion__summary" tabindex="0">
                        <div class="summary__title share__button hover-opacity share__button--{{ settings.typography_preset }}">
                          <div class="summary__title-name">
                            <span class="share__title">{{ "products.product.share_button" | t }}</span>
                          </div>
                          <span class="icon-accordion share__icon">
                            <span class="icon-accordion__close share__icon-close">
                              {% if weight_accordion_title == 'regular' %}
                                {% render 'icon-accordion-2', icon: 'share-regular' %}
                              {% elsif weight_accordion_title == 'medium' %}
                                {% render 'icon-accordion-2', icon: 'share-medium' %}
                              {% elsif weight_accordion_title == 'bold' %}
                                {% render 'icon-accordion-2', icon: 'share-bold' %}
                              {% endif %}
                            </span>
                            <span class="icon-accordion__open share__icon-open">
                              {% if weight_accordion_title == 'regular' %}
                                {% render 'icon', icon: 'cross-regular' %}
                              {% elsif weight_accordion_title == 'medium' %}
                                {% render 'icon', icon: 'cross-medium' %}
                              {% elsif weight_accordion_title == 'bold' %}
                                {% render 'icon', icon: 'cross-bold' %}
                              {% endif %}
                            </span>
                          </span>
                        </div>
                      </div>
                      <div class="accordion__panel">
                        <div class="accordion__content share-items">
                          {%- liquid
                            assign share_image = product.selected_or_first_available_variant.featured_media.preview_image | default: product.featured_media.preview_image
                            render 'share', share_settings: block.settings, share_title: product.title, share_link: product.url, share_variant_url: product.selected_variant.url, share_image: share_image
                          -%}
                        </div>
                      </div>
                    </div>
                  </accordion-block>
                  <noscript>
                    <details id="Details-{{ block.id }}-{{ section.id }}" class="share-toggle">
                      <summary>
                        <div class="share__button hover-opacity share__button--{{ settings.typography_preset }}">
                          <span class="share__title">{{ "products.product.share_button" | t }}</span>
                          <span class="share__icon">
                            <span class="share__icon-close">
                                {% if weight == 'regular' %}
                                  {% render 'icon-accordion-2', icon: 'share-regular' %}
                                {% elsif weight == 'medium' %}
                                  {% render 'icon-accordion-2', icon: 'share-medium' %}
                                {% elsif weight == 'bold' %}
                                  {% render 'icon-accordion-2', icon: 'share-bold' %}
                                {% endif %}
                            </span>
                            <span class="share__icon-open">
                                {% if weight == 'regular' %}
                                  {% render 'icon', icon: 'cross-regular' %}
                                {% elsif weight == 'medium' %}
                                  {% render 'icon', icon: 'cross-medium' %}
                                {% elsif weight == 'bold' %}
                                  {% render 'icon', icon: 'cross-bold' %}
                                {% endif %}
                            </span>
                          </span>
                        </div>
                      </summary>
                      <div class="share-items">
                        {%- liquid
                          assign share_image = product.selected_or_first_available_variant.featured_media.preview_image | default: product.featured_media.preview_image
                          render 'share', share_settings: block.settings, share_title: product.title, share_link: product.url, share_variant_url: product.selected_variant.url, share_image: share_image
                        -%}
                      </div>
                    </details>
                  </noscript>
                {% else %}
                  {%- liquid
                    assign share_image = product.selected_or_first_available_variant.featured_media.preview_image | default: product.featured_media.preview_image
                    render 'share', share_settings: block.settings, share_title: product.title, share_link: product.url, share_variant_url: product.selected_variant.url, share_image: share_image
                    -%}
                {% endif %}
              </div>
            </div>
          {%- when 'line' -%}
            <div class="line-container line-container--{{ section.id }} line-container--{{ block.id }} {% if settings.max_page_width == '1400' or settings.max_page_width == '1200' %}page-width {% endif %} page-width--{{ settings.max_page_width }}  section-padding--{{ settings.white_space }}" id="{{ block.id }}" data-block-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
              <div class="{{ section.settings.section_width }}">
                {% style %}
                  .line-container--{{ block.id }} {
                    --padding-top: {{ block.settings.desktop_padding_top }}px;
                    --padding-bottom: {{ block.settings.desktop_padding_bottom }}px;
                  }
                  @media screen and (max-width: 920px) {
                    .line-container--{{ block.id }} {
                      --padding-top: {{ block.settings.mobile_padding_top }}px;
                      --padding-bottom: {{ block.settings.mobile_padding_bottom }}px;
                    }
                  }
                {% endstyle %}  
                <span class="line"></span>
              </div>
            </div>

          {%- when 'tags' -%}
            {% if article.tags.size > 0 %}
              <div class="tags-block {% if settings.max_page_width == '1400' or settings.max_page_width == '1200' %}page-width {% endif %} page-width--{{ settings.max_page_width }}  section-padding--{{ settings.white_space }}" {{ block.shopify_attributes }}>
                <p class="tags-list tags-list--{{ settings.typography_preset }} {{ section.settings.section_width }}">
                  <span class="tags-title {% if settings.dim_text %}dim{% endif %}">{{ "blogs.article.tags" | t }}:</span>
                  {% for tag in article.tags %}
                    <span>
                      <a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" class="tags-item link-button {% if settings.enable_animated_underline %}link-button--underline{% endif %}">
                        {{ tag }}
                      </a>
                    </span>
                  {% endfor %}
                </p>
              </div>
            {% endif %}

          {%- when 'prev_and_next' -%}
            <div class="navigation-block {% if settings.max_page_width == '1400' or settings.max_page_width == '1200' %}page-width {% endif %} page-width--{{ settings.max_page_width }}  section-padding--{{ settings.white_space }}" {{ block.shopify_attributes }}>
              <ul class="article__navigation {% if settings.show_lines %}article__navigation--lines{% endif %} {{ section.settings.section_width }}">
                <li class="article__navigation-prev">
                    <a class="article__navigation-link icon-button link-button button--{{ settings.typography_preset }} {% if settings.enable_animated_underline %}link-button--underline{% endif %}" href="{{ blog.previous_article.url }}" {% unless blog.previous_article %}disabled{% endunless %}>
                      <span class="article__navigation-icon">
                        {% if weight == 'regular' %}
                          {% render 'icon-accordion', icon: 'arrow-left-regular' %}
                        {% elsif weight == 'medium' %}
                            {% render 'icon-accordion', icon: 'arrow-left-medium' %}
                        {% elsif weight == 'bold' %}
                            {% render 'icon-accordion', icon: 'arrow-left-bold' %}
                        {% endif %}
                      </span>
                      <span class="article__navigation-button icon-button__title">{{ "blogs.article.previous_post" | t }}</span>
                    </a>
                </li>
                <li class="article__navigation-next">
                    <a class="article__navigation-link icon-button link-button button--{{ settings.typography_preset }} {% if settings.enable_animated_underline %}link-button--underline{% endif %}" href="{{ blog.next_article.url }}" {% unless blog.next_article %}disabled{% endunless %}>
                      <span class="article__navigation-button icon-button__title">{{ "blogs.article.next_post" | t }}</span>
                      <span class="article__navigation-icon">
                        {% if weight == 'regular' %}
                          {% render 'icon-accordion', icon: 'arrow-right-regular' %}
                        {% elsif weight == 'medium' %}
                            {% render 'icon-accordion', icon: 'arrow-right-medium' %}
                        {% elsif weight == 'bold' %}
                            {% render 'icon-accordion', icon: 'arrow-right-bold' %}
                        {% endif %}
                      </span>
                    </a>
                </li>
                <li class="article__navigation-back {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %}">
                  <a href="{{ blog.url }}" class="article-template__link outlined-button button--{{ settings.typography_preset }}">
                    {% if block.settings.button_label != blank %}{{ block.settings.button_label }}{% else %}{{ 'blogs.article.back_to_blog' | t: title: blog.title }}{% endif %}
                  </a>
                </li>
              </ul>
            </div>
          {%- when 'image_grid' -%}
            <div class="navigation-block {% if settings.max_page_width == '1400' or settings.max_page_width == '1200' %}page-width {% endif %} page-width--{{ settings.max_page_width }}  section-padding--{{ settings.white_space }}" {{ block.shopify_attributes }}>
                
                {%- render 'image-grid', 
                  items_in_a_row: block.settings.items_in_a_row, 
                  mobile_layout: block.settings.mobile_layout,
                  section_width: block.settings.section_width,
                  image_ratio: block.settings.image_ratio,
                  enable_image_zoom: block.settings.enable_image_zoom,
                  focal_point: block.settings.focal_point,
                  grid_gap: block.settings.grid_gap,
                  image_radius: block.settings.image_radius,
                  mobile_grid_gap: block.settings.mobile_grid_gap,
                  snippet_id: block.id -%}
            </div>
      {%- endcase -%}
    {%- endfor -%}

    {%- if blog.comments_enabled? -%}
      <div class="article-template__comment-wrapper {% if settings.max_page_width == '1400' or settings.max_page_width == '1200' %}page-width {% endif %} page-width--{{ settings.max_page_width }}  section-padding--{{ settings.white_space }}">
        <div id="comments" class="comments {{ section.settings.section_width }} {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %}">
          {%- if article.comments_count > 0 -%}
            {%- assign anchorId = '#Comments-' | append: article.id -%}

            <h2 class="comments__title comments__title--{{ settings.typography_preset }}" id="Comments-{{ article.id }}" tabindex="-1">{% if article.comments_count == 1 %}{{ 'blogs.article.comments.one' | t: count: article.comments_count }}{% else %}{{ 'blogs.article.comments.other' | t: count: article.comments_count }}{% endif %}</h2>
            {% paginate article.comments by 3 %}
              <div class="article-template__comments {% if settings.show_lines %}article-template__comments--lines{% endif %}">
                {%- if comment.status == 'pending' and comment.content -%}
                  <article id="{{ comment.id }}" class="article-template__comments-comment">
                    <span class="comments__author comments__author--{{ settings.typography_preset }}">{{ comment.author }}</span>
                    <div class="comments__content body-text--{{ settings.typography_preset }}">{{ comment.content }}</div>                    
                  </article>
                {%- endif -%}

                {%- for comment in article.comments -%}
                  <article id="{{ comment.id }}" class="article-template__comments-comment">
                    <p class="comments__author comments__author--{{ settings.typography_preset }}">{{ comment.author }} <span class="caption-with-letter-spacing {% if settings.dim_text %}dim{% endif %}">{{ comment.created_at | time_tag: format: 'date' }}</span></p>
                    <div class="comments__content body-text--{{ settings.typography_preset }}">{{ comment.content }}</div>                   
                  </article>
                {%- endfor -%}
                {% render 'pagination', paginate: paginate, anchor: anchorId %}
              </div>
            {% endpaginate %}
          {%- endif -%}
          {% form 'new_comment', article %}
            {%- liquid
              assign post_message = 'blogs.article.success'
              if blog.moderated? and comment.status == 'unapproved'
                assign post_message = 'blogs.article.success_moderated'
              endif
            -%}
            <h2 class="comments__title comments__title--{{ settings.typography_preset }}">{{ 'blogs.article.comment_form_title' | t }}</h2>
            {%- if form.errors -%}
              <div class="form__message" role="alert">
                <h3 class="form-status caption-large text-body" tabindex="-1" autofocus>
                   {{ 'templates.contact.form.error_heading' | t }}
                </h3>
              </div>
              <ul class="form-status-list caption-large">
                {%- for field in form.errors -%}
                  <li>
                    <a href="#CommentForm-{{ field }}" class="link">
                      {%- if form.errors.translated_fields[field] contains 'author' -%}
                        {{ 'blogs.article.name' | t }}
                      {%- elsif form.errors.translated_fields[field] contains 'body'-%}
                      {{ 'blogs.article.message' | t }}
                      {%- else -%}
                        {{ form.errors.translated_fields[field] }}
                      {%- endif -%}
                      {{ form.errors.messages[field] }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- elsif form.posted_successfully? -%}
              <div class="form-status-list form__message body-text--{{ settings.typography_preset }}" role="status">
                <h3 class="form-status" tabindex="-1" autofocus> {{ post_message | t }}</h3>
              </div>
            {%- endif -%}
            {%- if blog.moderated? -%}
              <p class="article-template__comment-warning body-text--{{ settings.typography_preset }} caption">{{ 'blogs.article.moderated' | t }}</p>
            {%- endif -%}
            <div class="article-template__comments-fields">
              <div class="article-template__comment-fields">
                <div class="field field--with-error">
                  <label class="field__label label label--{{ settings.typography_preset }} {% if settings.dim_text %}dim{% endif %}" for="CommentForm-author">{{ 'blogs.article.name' | t | append: '*' }} </label>
                  <input
                    type="text"
                    name="comment[author]"
                    id="CommentForm-author"
                    class="field__input input input--{{ settings.typography_preset }}"
                    autocomplete="name"
                    value="{{ form.author }}"
                    aria-required="true"
                    required
                    {% if form.errors contains 'author' %}
                      aria-invalid="true"
                      aria-describedby="CommentForm-author-error"
                    {% endif %}
                    placeholder="{{ 'blogs.article.name' | t }}"
                  >
                  {%- if form.errors contains 'author' -%}
                    <small id="CommentForm-author-error">
                      <span class="form__message">{{ 'blogs.article.name' | t }} {{ form.errors.messages['author'] }}.</span>
                    </small>
                  {%- endif -%}
                </div>
                <div class="field field--with-error">
                  <label class="field__label label label--{{ settings.typography_preset }} {% if settings.dim_text %}dim{% endif %}" for="CommentForm-email">{{ 'blogs.article.email' | t | append: '*' }} </label>
                  <input
                    type="email"
                    name="comment[email]"
                    id="CommentForm-email"
                    autocomplete="email"
                    class="field__input input input--{{ settings.typography_preset }}"
                    value="{{ form.email }}"
                    autocorrect="off"
                    autocapitalize="off"
                    aria-required="true"
                    required
                    {% if form.errors contains 'email' %}
                      aria-invalid="true"
                      aria-describedby="CommentForm-email-error"
                    {% endif %}
                    placeholder="{{ 'blogs.article.email' | t }}"
                  >
                  {%- if form.errors contains 'email' -%}
                    <small id="CommentForm-email-error">
                      <span class="form__message">{{ 'blogs.article.email' | t }} {{ form.errors.messages['email'] }}.</span>
                    </small>
                  {%- endif -%}
                </div>
              </div>
              <div class="field field--with-error">
                <textarea
                  rows="5"
                  name="comment[body]"
                  id="CommentForm-body"
                  class="text-area field__input input--{{ settings.typography_preset }}"
                  aria-required="true"
                  required
                  {% if form.errors contains 'body' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-body-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.message' | t }}"
                >{{ form.body }}</textarea>
              </div>
              {%- if form.errors contains 'body' -%}
                <small id="CommentForm-body-error">
                  <span class="form__message">{{ 'blogs.article.message' | t }} {{ form.errors.messages['body'] }}.</span>
                </small>
              {%- endif -%}
            </div>
            
            <button type="submit" class="button big-button big-button--{{ settings.typography_preset }}" value="{{ 'blogs.article.post' | t }}">Post comment</button>
            <div class="recaptcha-message richtext {% if settings.enable_animated_underline %}richtext-link--underline{% endif %} body-secondary-text--{{ settings.typography_preset }}">
              {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
            </div>
          {% endform %}
        </div>
    </div>
    {%- endif -%}
  </article>
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article | image_url: width: article.image.width | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | image_url: width: settings.share_image.width | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
  </script>

{% schema %}
  {
    "name": "t:sections.main-article.name",
    "tag": "section",
    "class": "main-article",
    "settings": [
        {
          "type": "radio",
          "id": "section_width",
          "options": [
            {
              "value": "wide",
              "label": "t:sections.all.section_width.options__3.label"
            },
            {
              "value": "narrow",
              "label": "t:sections.all.section_width.options__4.label"
            }
          ],
          "default": "narrow",
          "label": "t:sections.all.section_width.label"
        },
        {
            "type": "header",
            "content": "t:sections.all.paddings.desktop_section_paddings.content"
        }, 
        {
            "type": "range",
            "id": "desktop_padding_top",
            "min": -160,
            "max": 160,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_top.label"
        }, 
        {
            "type": "range",
            "id": "desktop_padding_bottom",
            "min": -160,
            "max": 160,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_bottom.label"
        },
        {
            "type": "header",
            "content": "t:sections.all.paddings.mobile_section_paddings.content"
        }, 
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": -80,
            "max": 80,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_top.label"
        }, 
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": -80,
            "max": 80,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_bottom.label"
        }
    ],
    "blocks": [
        {
            "type": "title",
            "name": "t:sections.main-article.blocks.title.name",
            "settings": [
                {
                    "type": "checkbox",
                    "id": "show_date",
                    "default": true,
                    "label": "t:sections.main-article.blocks.title.settings.show_date.label"
                },
                {
                    "type": "checkbox",
                    "id": "show_author",
                    "default": true,
                    "label": "t:sections.main-article.blocks.title.settings.show_author.label"
                },
                {
                    "type": "checkbox",
                    "id": "show_number_of_comments",
                    "default": true,
                    "label": "t:sections.main-article.blocks.title.settings.show_number_of_comments.label"
                }
            ]
        },
        {
            "type": "excerpt",
            "name": "t:sections.main-article.blocks.excerpt.name"
        },
        {
            "type": "featured_image",
            "name": "t:sections.main-article.blocks.featured_image.name",
            "settings": [
                {
                    "type": "radio",
                    "id": "image_width",
                    "options": [
                      {
                        "value": "full_width",
                        "label": "t:sections.all.section_width.options__2.label"
                      },
                      {
                        "value": "wide",
                        "label": "t:sections.all.section_width.options__3.label"
                      },
                      {
                        "value": "narrow",
                        "label": "t:sections.all.section_width.options__4.label"
                      }
                    ],
                    "default": "narrow",
                    "label": "t:sections.all.image.context_image_width.label"
                },
                {
                    "type": "select",
                    "id": "image_ratio",
                    "options": [
                      {
                        "value": "original",
                        "label": "t:sections.all.image.image_ratio.options__1.label"
                      },
                      {
                        "value": "square",
                        "label": "t:sections.all.image.image_ratio.options__2.label"
                      },
                      {
                        "value": "portrait",
                        "label": "t:sections.all.image.image_ratio.options__3.label"
                      },
                      {
                        "value": "traditional",
                        "label": "t:sections.all.image.image_ratio.options__9.label"
                      },
                      {
                        "value": "landscape",
                        "label": "t:sections.all.image.image_ratio.options__4.label"
                      },
                      {
                        "value": "wide",
                        "label": "t:sections.all.image.image_ratio.options__5.label"
                      },
                      {
                        "value": "full_height",
                        "label": "t:sections.all.image.image_ratio.options__7.label"
                      }
                    ],
                    "default": "landscape",
                    "label": "t:sections.all.image.image_ratio.label"
                },
                {
                  "type": "select",
                  "id": "focal_point",
                  "options": [
                    {
                      "value": "20% 0",
                      "label": "t:sections.all.image.focal_point.options__1.label"
                    },
                    {
                      "value": "top center",
                      "label": "t:sections.all.image.focal_point.options__2.label"
                    },
                    {
                      "value": "80% 0",
                      "label": "t:sections.all.image.focal_point.options__3.label"
                    },
                    {
                      "value": "20% 50%",
                      "label": "t:sections.all.image.focal_point.options__4.label"
                    },
                    {
                      "value": "center center",
                      "label": "t:sections.all.image.focal_point.options__5.label"
                    },
                    {
                      "value": "80% 50%",
                      "label": "t:sections.all.image.focal_point.options__6.label"
                    },
                    {
                      "value": "20% 100%",
                      "label": "t:sections.all.image.focal_point.options__7.label"
                    },
                    {
                      "value": "bottom center",
                      "label": "t:sections.all.image.focal_point.options__8.label"
                    },
                    {
                      "value": "80% 100%",
                      "label": "t:sections.all.image.focal_point.options__9.label"
                    }
                  ],
                  "default": "center center",
                  "label": "t:sections.all.image.focal_point.label"
                },
                {
                    "type": "select",
                    "id": "context_image_radius",
                    "options": [
                      {
                        "value": "default",
                        "label": "t:sections.all.corner_radius.options__1.label"
                      },
                      {
                        "value": "0px",
                        "label": "t:sections.all.corner_radius.options__2.label"
                      },
                      {
                        "value": "3px",
                        "label": "t:sections.all.corner_radius.options__3.label"
                      },
                      {
                        "value": "5px",
                        "label": "t:sections.all.corner_radius.options__4.label"
                      },
                      {
                        "value": "12px",
                        "label": "t:sections.all.corner_radius.options__5.label"
                      },
                      {
                        "value": "2000px",
                        "label": "t:sections.all.corner_radius.options__6.label"
                      },
                      {
                        "value": "2000px 2000px 0 0",
                        "label": "t:sections.all.corner_radius.options__7.label"
                      }
                    ],
                    "default": "default",
                    "label": "t:sections.all.corner_radius.label"
                }
            ]
        },
        {
            "type": "content",
            "name": "t:sections.main-article.blocks.content.name",
            "settings": [
              {
                "type": "checkbox",
                "id": "use_accent_color",
                "default": true,
                "label": "t:sections.main-article.blocks.content.settings.use_accent_color.label"
              }
            ]
        },
        {
            "type": "line",
            "name": "t:sections.navigation_sections.blocks.line.name",
            "settings": [
              {
                "type": "header",
                "content": "t:sections.all.paddings.desktop_block_paddings.content"
              },
              {
                "type": "range",
                "id": "desktop_padding_top",
                "min": 0,
                "max": 320,
                "step": 8,
                "unit": "px",
                "label": "t:sections.all.paddings.padding_top.label",
                "default": 24
              },
              {
                "type": "range",
                "id": "desktop_padding_bottom",
                "min": 0,
                "max": 320,
                "step": 8,
                "unit": "px",
                "label": "t:sections.all.paddings.padding_bottom.label",
                "default": 24
              },
              {
                "type": "header",
                "content": "t:sections.all.paddings.mobile_block_paddings.content"
              },
              {
                "type": "range",
                "id": "mobile_padding_top",
                "min": 0,
                "max": 80,
                "step": 8,
                "unit": "px",
                "label": "t:sections.all.paddings.padding_top.label",
                "default": 16
              },
              {
                "type": "range",
                "id": "mobile_padding_bottom",
                "min": 0,
                "max": 80,
                "step": 8,
                "unit": "px",
                "label": "t:sections.all.paddings.padding_bottom.label",
                "default": 16
              }
            ]
        },
        {
            "type": "tags",
            "name": "t:sections.main-article.blocks.tags.name"
        },
        {
            "type": "share",
            "name": "t:blocks.share.name",
            "limit": 1,
            "settings": [
              {
                 "type": "checkbox",
                 "id": "display_collapsible_link",
                 "default": false,
                 "label": "t:blocks.share.settings.display_collapsible_link.label"
              },
              {
                  "type": "checkbox",
                  "id": "show_only_icons",
                  "default": false,
                  "label": "t:blocks.share.settings.show_only_icons.label"
              },
              {
                "type": "paragraph",
                "content": "t:blocks.share.settings.paragraph__1.content"
              },
              {
                "type": "paragraph",
                "content": "t:blocks.share.settings.paragraph__2.content"
              }
            ]
        },
        {
            "type": "prev_and_next",
            "name": "t:sections.main-article.blocks.prev_and_next.name",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "button_label",
                    "default": "Go to blog",
                    "label": "t:sections.all.buttons.button_label.label",
                    "info": "t:sections.all.buttons.button_label.info"
                }
            ]
        },
        {
            "type": "image_grid",
            "name": "t:sections.image-grid.name",
            "settings": [
              {
                "type": "paragraph",
                "content": "t:sections.image-grid.settings.paragraph__1.content"
              },
              {
                "type": "range",
                "id": "grid_gap",
                "min": 0,
                "max": 80,
                "step": 1,
                "unit": "px",
                "label": "t:sections.image-grid.settings.grid_gap.label",
                "default": 8
              },
              {
                "type": "range",
                "id": "mobile_grid_gap",
                "min": 0,
                "max": 40,
                "step": 1,
                "unit": "px",
                "label": "t:sections.image-grid.settings.mobile_grid_gap.label",
                "default": 4
              },
              {
                "type": "radio",
                "id": "section_width",
                "options": [
                  {
                    "value": "wide",
                    "label": "t:sections.all.section_width.options__3.label"
                  },
                  {
                    "value": "narrow",
                    "label": "t:sections.all.section_width.options__4.label"
                  }
                ],
                "default": "wide",
                "label": "t:sections.all.section_width.label"
              },
              {
                "type": "range",
                "id": "items_in_a_row",
                "min": 1,
                "max": 6,
                "step": 1,
                "unit": "px",
                "label": "t:sections.image-grid.settings.items_in_a_row.label",
                "default": 4
              },
              {
                "type": "radio",
                "id": "mobile_layout",
                "options": [
                  {
                    "value": "1",
                    "label": "t:sections.all.mobile_layout.options__1.label"
                  },
                  {
                    "value": "2",
                    "label": "t:sections.all.mobile_layout.options__2.label"
                  }
                ],
                "default": "2",
                "label": "t:sections.all.mobile_layout.label"
              },   
              {
                "type": "select",
                "id": "image_ratio",
                "options": [
                  {
                    "value": "original",
                    "label": "t:sections.all.image.image_ratio.options__1.label"
                  },
                  {
                    "value": "square",
                    "label": "t:sections.all.image.image_ratio.options__2.label"
                  },
                  {
                    "value": "portrait",
                    "label": "t:sections.all.image.image_ratio.options__3.label"
                  },
                  {
                    "value": "narrow_portrait",
                    "label": "t:sections.all.image.image_ratio.options__8.label"
                  },
                  {
                    "value": "traditional",
                    "label": "t:sections.all.image.image_ratio.options__9.label"
                  },
                  {
                    "value": "landscape",
                    "label": "t:sections.all.image.image_ratio.options__4.label"
                  }, 
                  {
                    "value": "wide",
                    "label": "t:sections.all.image.image_ratio.options__5.label"
                  }
                ],
                "default": "original",
                "label": "t:sections.all.image.image_ratio.label"
              }, 
              {
                "type": "select",
                "id": "focal_point",
                "options": [
                  {
                    "value": "20% 0",
                    "label": "t:sections.all.image.focal_point.options__1.label"
                  },
                  {
                    "value": "top center",
                    "label": "t:sections.all.image.focal_point.options__2.label"
                  },
                  {
                    "value": "80% 0",
                    "label": "t:sections.all.image.focal_point.options__3.label"
                  },
                  {
                    "value": "20% 50%",
                    "label": "t:sections.all.image.focal_point.options__4.label"
                  }, 
                  {
                    "value": "center center",
                    "label": "t:sections.all.image.focal_point.options__5.label"
                  }, 
                  {
                    "value": "80% 50%",
                    "label": "t:sections.all.image.focal_point.options__6.label"
                  }, 
                  {
                    "value": "20% 100%",
                    "label": "t:sections.all.image.focal_point.options__7.label"
                  }, 
                  {
                    "value": "bottom center",
                    "label": "t:sections.all.image.focal_point.options__8.label"
                  }, 
                  {
                    "value": "80% 100%",
                    "label": "t:sections.all.image.focal_point.options__9.label"
                  }
                ],
                "default": "center center",
                "label": "t:sections.all.image.focal_point.label"
              },  
              {
                "type": "select",
                "id": "image_radius",
                "options": [
                  {
                    "value": "default",
                    "label": "t:sections.all.corner_radius.options__1.label"
                  },
                  {
                    "value": "0px",
                    "label": "t:sections.all.corner_radius.options__2.label"
                  },
                  {
                    "value": "3px",
                    "label": "t:sections.all.corner_radius.options__3.label"
                  },
                  {
                    "value": "5px",
                    "label": "t:sections.all.corner_radius.options__4.label"
                  },
                  {
                    "value": "12px",
                    "label": "t:sections.all.corner_radius.options__5.label"
                  },
                  {
                    "value": "2000px",
                    "label": "t:sections.all.corner_radius.options__6.label"
                  },
                  {
                    "value": "2000px 2000px 0 0",
                    "label": "t:sections.all.corner_radius.options__7.label"
                  }
                ],
                "default": "default",
                "label": "t:sections.all.corner_radius.label"
              },
              {
                "type": "checkbox",
                "id": "enable_image_zoom",
                "default": true,
                "label": "t:sections.main-product.settings.enable_image_zoom.label"
              }
            ]
        }        
    ],
    "default": {
      "blocks": [
          {
             "type": "title"
          },
          {
            "type": "excerpt"
          },
          {
            "type": "featured_image"
          },
          {
            "type": "content"
          },
          {
            "type": "tags"
          },
          {
            "type": "share"
          },
          {
            "type": "prev_and_next"
          }
      ]
    }
  }
{% endschema %}