{{ 'section-product-details.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}

{%- liquid 
  assign top_padding_mobile = section.settings.top_padding | divided_by: 4
  assign bottom_padding_mobile = section.settings.bottom_padding | divided_by: 4
-%}

{% style %}
#shopify-section-{{ section.id }} {
  --padding-top: {{ section.settings.desktop_padding_top }}px;
  --padding-bottom: {{ section.settings.desktop_padding_bottom }}px;
  --desktop-grid-type: {{ section.settings.desktop_grid_type }};
}
  .section-product-details .icon-accordion {
    width: auto;
    height: {{ 24 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 20 }}px;
  }
  @media screen and (max-width: 920px) {
    .section-product-details .icon-accordion {
        width: auto;
        height: {{ 24 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 20 }}px;
    }
    #shopify-section-{{ section.id }} {
      --padding-top: {{ section.settings.mobile_padding_top }}px;
      --padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
    }
  }
{% endstyle %}
{% if section.blocks.size > 0 %}
<div class="section-padding--{{ settings.white_space }} ordinal-section ordinal-section--{{ settings.white_space }} {% if settings.show_lines %}ordinal-section--lines{% endif %}  {% if settings.max_page_width == '1400' or settings.max_page_width == '1200' %}page-width {% endif %} page-width--{{ settings.max_page_width }}">
  <div class="product-details product-details--{{ section.settings.section_width }} product-details--{{ settings.white_space }} {% if settings.show_lines %}product-details--lines{% endif %}">
    {% if section.settings.subheading != blank %}
      <{{ section.settings.subheading_tag }} class="product-details__subheading product-details__subheading--{{ settings.typography_preset }} {% unless section.settings.subheading_size == 'default' %}{{ section.settings.subheading_size }}{% endunless %}">{{ section.settings.subheading }}
      </{{ section.settings.subheading_tag }}>
    {% endif %}
    <div class="product-details__wrapper">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'description' -%}
            {% if product.description != blank or block.settings.text != blank %}
              <div class="description-block" {{ block.shopify_attributes }}>
                {% if block.settings.heading != blank %}
                  <h3 class="description-block__heading description-block__heading--{{ settings.typography_preset }} {% unless block.settings.heading_size == 'default' %}{{ block.settings.heading_size }}{% endunless %}">{{ block.settings.heading }}
                  </h3>
                {% endif %}
                <div class="description-block__content description-block__content--{{ settings.typography_preset }} {% unless block.settings.text_size == 'default' %}{{ block.settings.text_size }}{% endunless %}">
                  <div class="description-block__text">
                    {% if product.description != blank %}
                      <div class="rte rte-block rte--large">{{ product.description }}</div>
                    {% endif %}
                    {% if block.settings.text != blank %}
                      <div class="richtext {% if settings.enable_animated_underline %}richtext-link--underline{% endif %}">
                        {{ block.settings.text }}
                      </div>
                    {% endif %}
                  </div>
                  {% if block.settings.show_product_image and product.featured_image != blank %}
                    <div class="description-block__image description-block__image--{{ block.id }}" {% if settings.disable_right_click %}oncontextmenu="return false"{% endif %}>
                      {% style %}
                        .description-block__image--{{ block.id }} {
                            {% if block.settings.context_image_radius == 'default' %}
                                --context-image-radius: {{ settings.images_and_sections_radius }};
                            {% else %}
                                --context-image-radius: {{ block.settings.context_image_radius }};
                            {% endif %}
                          }
                        {% endstyle %}
                      {% liquid
                        assign settings_page_width = settings.max_page_width | append: 'px'
                        if settings.max_page_width == 'full_width'
                        assign settings_page_width = '100vw'
                        endif
                      %}
                      {% comment %} theme-check-disable ImgLazyLoading {% endcomment %}
                      <img srcset="{%- if product.featured_image.width >= 165 -%}{{ product.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                        {%- if product.featured_image.width >= 375 -%}{{ product.featured_image | image_url: width: 375 }} 375w,{%- endif -%}
                        {%- if product.featured_image.width >= 550 -%}{{ product.featured_image | image_url: width: 550 }} 550w,{%- endif -%}
                        {%- if product.featured_image.width >= 750 -%}{{ product.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
                        {%- if product.featured_image.width >= 1100 -%}{{ product.featured_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                        {%- if product.featured_image.width >= 1500 -%}{{ product.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                        {{ product.featured_image | image_url }} {{ product.featured_image.width }}w" src="{{ product.featured_image | image_url: width: 1700 }}"
                        sizes="
                        (min-width: {{ settings_page_width }}) calc(({{ settings_page_width }} - 200px) * 0.5),
                        (min-width: 750px) calc((100% - 2rem) * 0.5),
                        calc((100% - 3rem) * 0.10)"
                        alt="{{ product.title | escape }}" draggable="false" {% if section.index > 2 %}loading="lazy"{% endif %} width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}" class="card__image">
                      {% comment %} theme-check-enable ImgLazyLoading {% endcomment %}
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          {%- when 'table' -%}
            <div class="table-block" {{ block.shopify_attributes }}>
              {% if block.settings.heading != blank %}
                <h3 class="table-block__heading table-block__heading--{{ settings.typography_preset }} {% unless block.settings.heading_size == 'default' %}{{ block.settings.heading_size }}{% endunless %} {% if settings.swap_fonts %}reverse{% endif %}">{{ block.settings.heading }}
                </h3>
              {% endif %}
              <div class="table-block__content">
                <div class="table-block__text table-block__text--{{ settings.typography_preset }} {% unless block.settings.table_text_size == 'default' %}{{ block.settings.table_text_size }}{% endunless %} {% if settings.swap_fonts %}reverse{% endif %} richtext {% if settings.enable_animated_underline %}richtext-link--underline{% endif %}">
                {%- liquid 
                    assign table = block.settings.table_content | remove_first: '<p>' | remove_last: '</p>' | split: '</p><p>'
                    -%}
                  {% for table_row in table %}
                     {% liquid
                      assign col_1 = table_row | split: ':' | first | rstrip
                      assign col_2 = table_row | remove: col_1 | remove_first: ':' | lstrip
                    %}
                      {% if col_2 != blank %}
                      <p class="table-block__row">
                        <span class="table-block__col table-block__col-1 {% if settings.dim_text %}dim{% endif %}">{{ col_1 }}:</span>
                        <span class="table-block__col table-block__col-2">{{ col_2 }}</span>               
                      </p>
                    {% endif %}
                  {% endfor %} 
                </div>
              </div>
            </div>
          {%- when 'collapsible_tab' -%}
            {%- render 'accordion', accordion_settings: block.settings, page: block.settings.page, block_item: block -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>
{% endif %}
{% schema %}
  {
    "name": "t:sections.main-product-details.name",
    "tag": "section",
    "class": "section-product-details",
    "settings": [
      {
        "type": "radio",
        "id": "section_width",
        "options": [
          {
            "value": "wide",
            "label": "t:sections.all.section_width.options__3.label"
          },
          {
            "value": "narrow",
            "label": "t:sections.all.section_width.options__4.label"
          }
        ],
        "default": "narrow",
        "label": "t:sections.all.section_width.label"
      },
      {
        "type": "text",
        "id": "subheading",
        "default": "Product details",
        "label": "t:sections.all.labels.subheading.label"
      },
      {
        "type": "select",
        "id": "subheading_size",
        "label": "t:sections.all.size.subheading_size.label",
        "options": [
          {
            "value": "default",
            "label": "t:sections.all.size.options__1.label"
          },
          {
              "value": "heading_s",
              "label": "t:sections.all.size.options__8.label"
          },
          {
              "value": "heading_s_uppercase",
              "label": "t:sections.all.size.options__9.label"
          },
          {
              "value": "heading_xs",
              "label": "t:sections.all.size.options__10.label"
          },
          {
              "value": "heading_xs_uppercase",
              "label": "t:sections.all.size.options__11.label"
          },
          {
              "value": "body_l",
              "label": "t:sections.all.size.options__12.label"
          },
          {
              "value": "body_l_uppercase",
              "label": "t:sections.all.size.options__13.label"
          },
          {
              "value": "body_m",
              "label": "t:sections.all.size.options__14.label"
          }, 
          {
              "value": "body_m_uppercase",
              "label": "t:sections.all.size.options__15.label"
          }, 
          {
              "value": "body_s",
              "label": "t:sections.all.size.options__16.label"
          }, 
          {
              "value": "body_s_uppercase",
              "label": "t:sections.all.size.options__17.label"
          }, 
          {
              "value": "label_font",
              "label": "t:sections.all.size.options__18.label"
          },
          {
              "value": "label_font_uppercase",
              "label": "t:sections.all.size.options__19.label"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "subheading_tag",
        "label": "t:sections.all.tag.subheading_label",
        "options": [
          {
              "value": "h1",
              "label": "t:sections.all.tag.options__1.label"
          },
          {
              "value": "h2",
              "label": "t:sections.all.tag.options__2.label"
          },
          {
              "value": "h3",
              "label": "t:sections.all.tag.options__3.label"
          },
          {
              "value": "h4",
              "label": "t:sections.all.tag.options__4.label"
          },
          {
              "value": "h5",
              "label": "t:sections.all.tag.options__5.label"
          },
          {
              "value": "h6",
              "label": "t:sections.all.tag.options__6.label"
          },
          {
              "value": "div",
              "label": "t:sections.all.tag.options__7.label"
          },
          {
              "value": "span",
              "label": "t:sections.all.tag.options__8.label"
          }, 
          {
              "value": "p",
              "label": "t:sections.all.tag.options__9.label"
          }
          ],
        "default": "h2"
      },
      {
        "type": "select",
        "id": "collapsible_tabs_size",
        "label": "t:sections.all.size.collapsible_tabs_size.label",
        "options": [
          {
            "value": "default",
            "label": "t:sections.all.size.options__1.label"
          },
          {
              "value": "heading_s",
              "label": "t:sections.all.size.options__8.label"
          },
          {
              "value": "heading_s_uppercase",
              "label": "t:sections.all.size.options__9.label"
          },
          {
              "value": "heading_xs",
              "label": "t:sections.all.size.options__10.label"
          },
          {
              "value": "heading_xs_uppercase",
              "label": "t:sections.all.size.options__11.label"
          },
          {
              "value": "body_l",
              "label": "t:sections.all.size.options__12.label"
          },
          {
              "value": "body_l_uppercase",
              "label": "t:sections.all.size.options__13.label"
          },
          {
              "value": "body_m",
              "label": "t:sections.all.size.options__14.label"
          }, 
          {
              "value": "body_m_uppercase",
              "label": "t:sections.all.size.options__15.label"
          }, 
          {
              "value": "body_s",
              "label": "t:sections.all.size.options__16.label"
          }, 
          {
              "value": "body_s_uppercase",
              "label": "t:sections.all.size.options__17.label"
          }, 
          {
              "value": "label_font",
              "label": "t:sections.all.size.options__18.label"
          },
          {
              "value": "label_font_uppercase",
              "label": "t:sections.all.size.options__19.label"
          }
        ],
        "default": "default"
      },
      {
        "type": "header",
        "content": "t:sections.all.paddings.desktop_section_paddings.content"
      }, 
      {
          "type": "range",
          "id": "desktop_padding_top",
          "min": -160,
          "max": 160,
          "step": 4,
          "unit": "px",
          "default": 0,
          "label": "t:sections.all.paddings.padding_top.label"
      }, 
      {
          "type": "range",
          "id": "desktop_padding_bottom",
          "min": -160,
          "max": 160,
          "step": 4,
          "unit": "px",
          "default": 0,
          "label": "t:sections.all.paddings.padding_bottom.label"
      },
      {
          "type": "header",
          "content": "t:sections.all.paddings.mobile_section_paddings.content"
      }, 
      {
          "type": "range",
          "id": "mobile_padding_top",
          "min": -80,
          "max": 80,
          "step": 4,
          "unit": "px",
          "default": 0,
          "label": "t:sections.all.paddings.padding_top.label"
      }, 
      {
          "type": "range",
          "id": "mobile_padding_bottom",
          "min": -80,
          "max": 80,
          "step": 4,
          "unit": "px",
          "default": 0,
          "label": "t:sections.all.paddings.padding_bottom.label"
      }
    ],
    "blocks": [
      {
        "type": "description",
        "name": "t:sections.main-product-details.blocks.description.name",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_product_image",
            "default": true,
            "label": "t:sections.main-product-details.blocks.description.settings.show_product_image.label"
          },
          {
            "type": "select",
            "id": "context_image_radius",
            "options": [
              {
                "value": "default",
                "label": "t:sections.all.corner_radius.options__1.label"
              },
              {
                "value": "0px",
                "label": "t:sections.all.corner_radius.options__2.label"
              },
              {
                "value": "3px",
                "label": "t:sections.all.corner_radius.options__3.label"
              },
              {
                "value": "5px",
                "label": "t:sections.all.corner_radius.options__4.label"
              },
              {
                "value": "12px",
                "label": "t:sections.all.corner_radius.options__5.label"
              },
              {
                "value": "2000px",
                "label": "t:sections.all.corner_radius.options__6.label"
              },
              {
                "value": "2000px 2000px 0 0",
                "label": "t:sections.all.corner_radius.options__7.label"
              }
            ],
            "default": "default",
            "label": "t:sections.all.corner_radius.label"
          },
          {
            "type": "text",
            "id": "heading",
            "default": "{{ product.title }}",
            "label": "t:sections.all.labels.heading.label"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "t:sections.all.labels.text.label"
          },
          {
            "type": "select",
            "id": "heading_size",
            "label": "t:sections.all.size.heading_size.label",
            "options": [
              {
                "value": "default",
                "label": "t:sections.all.size.options__1.label"
              },
              {
                  "value": "heading_xl",
                  "label": "t:sections.all.size.options__2.label"
              },
              {
                  "value": "heading_xl_uppercase",
                  "label": "t:sections.all.size.options__3.label"
              },
              {
                  "value": "heading_l",
                  "label": "t:sections.all.size.options__4.label"
              },
              {
                  "value": "heading_l_uppercase",
                  "label": "t:sections.all.size.options__5.label"
              },
              {
                  "value": "heading_m",
                  "label": "t:sections.all.size.options__6.label"
              },
              {
                  "value": "heading_m_uppercase",
                  "label": "t:sections.all.size.options__7.label"
              },
              {
                  "value": "heading_s",
                  "label": "t:sections.all.size.options__8.label"
              },
              {
                  "value": "heading_s_uppercase",
                  "label": "t:sections.all.size.options__9.label"
              },
              {
                  "value": "heading_xs",
                  "label": "t:sections.all.size.options__10.label"
              },
              {
                  "value": "heading_xs_uppercase",
                  "label": "t:sections.all.size.options__11.label"
              },
              {
                  "value": "body_l",
                  "label": "t:sections.all.size.options__12.label"
              },
              {
                  "value": "body_l_uppercase",
                  "label": "t:sections.all.size.options__13.label"
              },
              {
                  "value": "body_m",
                  "label": "t:sections.all.size.options__14.label"
              }, 
              {
                  "value": "body_m_uppercase",
                  "label": "t:sections.all.size.options__15.label"
              }, 
              {
                  "value": "body_s",
                  "label": "t:sections.all.size.options__16.label"
              }, 
              {
                  "value": "body_s_uppercase",
                  "label": "t:sections.all.size.options__17.label"
              }, 
              {
                  "value": "label_font",
                  "label": "t:sections.all.size.options__18.label"
              },
              {
                  "value": "label_font_uppercase",
                  "label": "t:sections.all.size.options__19.label"
              }
            ],
            "default": "default"
          }, 
          {
            "type": "select",
            "id": "text_size",
            "options": [
              {
                "value": "default",
                "label": "t:sections.all.size.options__1.label"
              },
              {
                  "value": "body_l",
                  "label": "t:sections.all.size.options__12.label"
              },
              {
                  "value": "body_l_uppercase",
                  "label": "t:sections.all.size.options__13.label"
              },
              {
                  "value": "body_m",
                  "label": "t:sections.all.size.options__14.label"
              }, 
              {
                  "value": "body_m_uppercase",
                  "label": "t:sections.all.size.options__15.label"
              }, 
              {
                  "value": "body_s",
                  "label": "t:sections.all.size.options__16.label"
              }, 
              {
                  "value": "body_s_uppercase",
                  "label": "t:sections.all.size.options__17.label"
              }, 
              {
                  "value": "label_font",
                  "label": "t:sections.all.size.options__18.label"
              },
              {
                  "value": "label_font_uppercase",
                  "label": "t:sections.all.size.options__19.label"
              }
            ],
            "default": "default",
            "label": "t:sections.all.size.text_size.label"
          }
        ]
      }, 
      {
        "type": "table",
        "name": "t:sections.main-product-details.blocks.table.name",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Table heading",
            "label": "t:sections.all.labels.heading.label"
          }, 
          {
            "type": "richtext",
            "id": "table_content",
            "default": "<p>Vendor: {{ product.vendor }}<\/p><p>Product title: {{ product.title }}<\/p>",
            "label": "t:sections.main-product-details.blocks.table.settings.table_content.label",
            "info": "t:sections.main-product-details.blocks.table.settings.table_content.info"
          },
          {
            "type": "select",
            "id": "heading_size",
            "label": "t:sections.all.size.heading_size.label",
            "options": [
              {
                "value": "default",
                "label": "t:sections.all.size.options__1.label"
              },
              {
                  "value": "heading_xl",
                  "label": "t:sections.all.size.options__2.label"
              },
              {
                  "value": "heading_xl_uppercase",
                  "label": "t:sections.all.size.options__3.label"
              },
              {
                  "value": "heading_l",
                  "label": "t:sections.all.size.options__4.label"
              },
              {
                  "value": "heading_l_uppercase",
                  "label": "t:sections.all.size.options__5.label"
              },
              {
                  "value": "heading_m",
                  "label": "t:sections.all.size.options__6.label"
              },
              {
                  "value": "heading_m_uppercase",
                  "label": "t:sections.all.size.options__7.label"
              },
              {
                  "value": "heading_s",
                  "label": "t:sections.all.size.options__8.label"
              },
              {
                  "value": "heading_s_uppercase",
                  "label": "t:sections.all.size.options__9.label"
              },
              {
                  "value": "heading_xs",
                  "label": "t:sections.all.size.options__10.label"
              },
              {
                  "value": "heading_xs_uppercase",
                  "label": "t:sections.all.size.options__11.label"
              },
              {
                  "value": "body_l",
                  "label": "t:sections.all.size.options__12.label"
              },
              {
                  "value": "body_l_uppercase",
                  "label": "t:sections.all.size.options__13.label"
              },
              {
                  "value": "body_m",
                  "label": "t:sections.all.size.options__14.label"
              }, 
              {
                  "value": "body_m_uppercase",
                  "label": "t:sections.all.size.options__15.label"
              }, 
              {
                  "value": "body_s",
                  "label": "t:sections.all.size.options__16.label"
              }, 
              {
                  "value": "body_s_uppercase",
                  "label": "t:sections.all.size.options__17.label"
              }, 
              {
                  "value": "label_font",
                  "label": "t:sections.all.size.options__18.label"
              },
              {
                  "value": "label_font_uppercase",
                  "label": "t:sections.all.size.options__19.label"
              }
            ],
            "default": "default"
          }, 
          {
            "type": "select",
            "id": "table_text_size",
            "options": [
              {
                "value": "default",
                "label": "t:sections.all.size.options__1.label"
              },
              {
                  "value": "body_l",
                  "label": "t:sections.all.size.options__12.label"
              },
              {
                  "value": "body_l_uppercase",
                  "label": "t:sections.all.size.options__13.label"
              },
              {
                  "value": "body_m",
                  "label": "t:sections.all.size.options__14.label"
              }, 
              {
                  "value": "body_m_uppercase",
                  "label": "t:sections.all.size.options__15.label"
              }, 
              {
                  "value": "body_s",
                  "label": "t:sections.all.size.options__16.label"
              }, 
              {
                  "value": "body_s_uppercase",
                  "label": "t:sections.all.size.options__17.label"
              }, 
              {
                  "value": "label_font",
                  "label": "t:sections.all.size.options__18.label"
              },
              {
                  "value": "label_font_uppercase",
                  "label": "t:sections.all.size.options__19.label"
              }
            ],
            "default": "default",
            "label": "t:sections.all.size.table_text_size.label"
          }
        ]
      }, 
      {
        "type": "collapsible_tab",
        "name": "t:blocks.collapsible_tab.name",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Collapsible tab heading",
            "label": "t:sections.all.labels.heading.label"
          }, 
          {
            "type": "richtext",
            "id": "text",
            "default": "<p>Collapsible tab content.</p>",
            "label": "t:sections.all.labels.text.label"
          },
          {
            "type": "select",
            "id": "icon",
            "label": "t:sections.all.icons.icon.label",
            "options": [
              {
                "value": "none",
                "label": "t:sections.all.icons.icon.options__1.label"
              },
              {
                "value": "arrow_down",
                "label": "t:sections.all.icons.icon.options__2.label"
              },
              {
                "value": "arrow_left",
                "label": "t:sections.all.icons.icon.options__3.label"
              },
              {
                "value": "arrow_right",
                "label": "t:sections.all.icons.icon.options__4.label"
              }, 
              {
                "value": "arrow_up",
                "label": "t:sections.all.icons.icon.options__5.label"
              }, 
              {
                "value": "bank",
                "label": "t:sections.all.icons.icon.options__6.label"
              }, 
              {
                "value": "bank_card",
                "label": "t:sections.all.icons.icon.options__7.label"
              }, 
              {
                "value": "bill",
                "label": "t:sections.all.icons.icon.options__8.label"
              }, 
              {
                "value": "bottle",
                "label": "t:sections.all.icons.icon.options__9.label"
              }, 
              {
                "value": "chat",
                "label": "t:sections.all.icons.icon.options__10.label"
              }, 
              {
                "value": "chat_empty",
                "label": "t:sections.all.icons.icon.options__11.label"
              }, 
              {
                "value": "checked_box",
                "label": "t:sections.all.icons.icon.options__12.label"
              }, 
              {
                "value": "checkmark",
                "label": "t:sections.all.icons.icon.options__13.label"
              }, 
              {
                "value": "close",
                "label": "t:sections.all.icons.icon.options__14.label"
              }, 
              {
                "value": "clothes",
                "label": "t:sections.all.icons.icon.options__15.label"
              }, 
              {
                "value": "clothes_hanger",
                "label": "t:sections.all.icons.icon.options__16.label"
              }, 
              {
                "value": "copy",
                "label": "t:sections.all.icons.icon.options__17.label"
              }, 
              {
                "value": "cotton",
                "label": "t:sections.all.icons.icon.options__18.label"
              }, 
              {
                "value": "envelope",
                "label": "t:sections.all.icons.icon.options__19.label"
              }, 
              {
                "value": "eye",
                "label": "t:sections.all.icons.icon.options__20.label"
              }, 
              {
                "value": "globe",
                "label": "t:sections.all.icons.icon.options__21.label"
              }, 
              {
                "value": "hand_washing",
                "label": "t:sections.all.icons.icon.options__22.label"
              }, 
              {
                "value": "heart",
                "label": "t:sections.all.icons.icon.options__23.label"
              }, 
              {
                "value": "help",
                "label": "t:sections.all.icons.icon.options__24.label"
              }, 
              {
                "value": "laundry_dryer",
                "label": "t:sections.all.icons.icon.options__25.label"
              }, 
              {
                "value": "laundry_washer",
                "label": "t:sections.all.icons.icon.options__26.label"
              }, 
              {
                "value": "layers",
                "label": "t:sections.all.icons.icon.options__27.label"
              }, 
              {
                "value": "leaf",
                "label": "t:sections.all.icons.icon.options__28.label"
              }, 
              {
                "value": "link",
                "label": "t:sections.all.icons.icon.options__29.label"
              }, 
              {
                "value": "lipstick",
                "label": "t:sections.all.icons.icon.options__30.label"
              }, 
              {
                "value": "loop",
                "label": "t:sections.all.icons.icon.options__31.label"
              }, 
              {
                "value": "measuring_tape",
                "label": "t:sections.all.icons.icon.options__32.label"
              }, 
              {
                "value": "model_silhouette",
                "label": "t:sections.all.icons.icon.options__33.label"
              }, 
              {
                "value": "money_bills",
                "label": "t:sections.all.icons.icon.options__34.label"
              }, 
              {
                "value": "moving_truck",
                "label": "t:sections.all.icons.icon.options__35.label"
              }, 
              {
                "value": "package_closed",
                "label": "t:sections.all.icons.icon.options__36.label"
              }, 
              {
                "value": "package_open",
                "label": "t:sections.all.icons.icon.options__37.label"
              }, 
              {
                "value": "padlock",
                "label": "t:sections.all.icons.icon.options__38.label"
              }, 
              {
                "value": "paper_airplane",
                "label": "t:sections.all.icons.icon.options__39.label"
              }, 
              {
                "value": "paw_print",
                "label": "t:sections.all.icons.icon.options__40.label"
              }, 
              {
                "value": "pencil",
                "label": "t:sections.all.icons.icon.options__41.label"
              }, 
              {
                "value": "planet",
                "label": "t:sections.all.icons.icon.options__42.label"
              }, 
              {
                "value": "plant",
                "label": "t:sections.all.icons.icon.options__43.label"
              }, 
              {
                "value": "play",
                "label": "t:sections.all.icons.icon.options__44.label"
              }, 
              {
                "value": "price_tag",
                "label": "t:sections.all.icons.icon.options__45.label"
              }, 
              {
                "value": "question_mark",
                "label": "t:sections.all.icons.icon.options__46.label"
              }, 
              {
                "value": "recycled_symbol",
                "label": "t:sections.all.icons.icon.options__47.label"
              }, 
              {
                "value": "ruler",
                "label": "t:sections.all.icons.icon.options__48.label"
              }, 
              {
                "value": "scissors",
                "label": "t:sections.all.icons.icon.options__49.label"
              }, 
              {
                "value": "search",
                "label": "t:sections.all.icons.icon.options__50.label"
              }, 
              {
                "value": "security_badge",
                "label": "t:sections.all.icons.icon.options__51.label"
              }, 
              {
                "value": "settings",
                "label": "t:sections.all.icons.icon.options__52.label"
              }, 
              {
                "value": "share",
                "label": "t:sections.all.icons.icon.options__53.label"
              }, 
              {
                "value": "shopping_cart",
                "label": "t:sections.all.icons.icon.options__54.label"
              }, 
              {
                "value": "stiletto",
                "label": "t:sections.all.icons.icon.options__55.label"
              }, 
              {
                "value": "stop_watch",
                "label": "t:sections.all.icons.icon.options__56.label"
              }, 
              {
                "value": "sunflower",
                "label": "t:sections.all.icons.icon.options__57.label"
              }, 
              {
                "value": "t_shirt",
                "label": "t:sections.all.icons.icon.options__58.label"
              }, 
              {
                "value": "trash",
                "label": "t:sections.all.icons.icon.options__59.label"
              }, 
              {
                "value": "truck",
                "label": "t:sections.all.icons.icon.options__60.label"
              }, 
              {
                "value": "user",
                "label": "t:sections.all.icons.icon.options__61.label"
              }, 
              {
                "value": "washing_symbol",
                "label": "t:sections.all.icons.icon.options__62.label"
              }, 
              {
                "value": "water_bottle",
                "label": "t:sections.all.icons.icon.options__63.label"
              }, 
              {
                "value": "zoom_in",
                "label": "t:sections.all.icons.icon.options__64.label"
              }, 
              {
                "value": "zoom_out",
                "label": "t:sections.all.icons.icon.options__65.label"
              }
            ],
            "default": "truck"
          },
          {
            "type": "page",
            "id": "page",
            "label": "t:sections.all.labels.page.label",
            "info": "t:sections.all.labels.page.info"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.main-product-details.name",
        "blocks": [
          {
            "type": "description"
          },
          {
            "type": "table"
          },
          {
            "type": "collapsible_tab"
          },
          {
            "type": "collapsible_tab"
          },
          {
            "type": "collapsible_tab"
          }
        ]
      }
    ],
    "templates": ["product"]
  }
{% endschema %}