{{ 'main-404.css' | asset_url | stylesheet_tag }}

  <div class="page-404 section-padding--{{ settings.white_space }} {% if settings.max_page_width == '1400' or settings.max_page_width == '1200' %}page-width {% endif %} page-width--{{ settings.max_page_width }}">
    <div class="template-404 {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %}">
      <h1 class="heading heading--{{ settings.typography_preset }} {% if settings.accent_color_for_headings %}heading--accent{% endif %}">
          {{ 'templates.404.title' | t }}
      </h1>
      <p class="subheading subheading--{{ settings.typography_preset }}">
          {{ 'templates.404.subtext' | t }}
      </p>
      <a href="{{ routes.root_url }}" class="solid-button big-button--{{ settings.typography_preset }}">
          {{ 'templates.404.return_home' | t }}
      </a>
    </div>
  </div>