{% style %}
    #shopify-section-{{ section.id }} {
        {% if section.settings.color_type == 'invert' %}
            --layout-text-color:
            {{ settings.layout_background_color.red }},
            {{ settings.layout_background_color.green }},
            {{ settings.layout_background_color.blue }};
            --layout-background-color:
            {{ settings.layout_text_color.red }},
            {{ settings.layout_text_color.green }}, 
            {{ settings.layout_text_color.blue }};
        {% endif %}
        {% if section.settings.color_type == 'custom' %}
            --layout-text-color:
            {{ section.settings.text_color.red }},
            {{ section.settings.text_color.green }}, 
            {{ section.settings.text_color.blue }};
            --layout-background-color:
            {{ section.settings.background_color.red }},
            {{ section.settings.background_color.green }}, 
            {{ section.settings.background_color.blue }};
        {% endif %}  
        background-color: rgb(var(--layout-background-color));
        color: rgb(var(--layout-text-color));
    }
    .overlay, .popup-wrapper.open {
        --layout-text-color:
        {{ settings.layout_text_color.red }},
        {{ settings.layout_text_color.green }}, 
        {{ settings.layout_text_color.blue }};
        --layout-background-color:
        {{ settings.layout_background_color.red }},
        {{ settings.layout_background_color.green }},
        {{ settings.layout_background_color.blue }};
        color: rgb(var(--layout-text-color));
    }
{% endstyle %}

{%- liquid 
    if settings.typography_preset == 'avant_garde'
			assign close_weight = settings.accent_icon_weight
			if settings.swap_fonts
					assign close_weight = settings.base_icon_weight
			endif
	else 
			assign close_weight =  settings.base_icon_weight
			if settings.swap_fonts
					assign close_weight = settings.accent_icon_weight
			endif
	endif
-%}

    <modal-dialog>
    <div class="overlay"></div>
    <header class="header-password color-{{ section.settings.color_type }} {% if section.settings.color_type != 'default' %}no-default-color{% endif %}">
        <div class="header-password__wrapper {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %}">
            {%- render 'logo', logo_settings: section.settings, block_item: block -%}
            {%- if shop.password_message != blank -%}
            <div class="password-content  have-account--{{ settings.typography_preset }}">
                {{ shop.password_message }}
            </div>
            {%- endif -%}
            <button class="outlined-button button--{{ settings.typography_preset }} open-popup">
                {{ 'general.password_page.login_password_button' | t }}
            </button>
            <div class="popup-wrapper {% if settings.center_text %}center{% endif %}  {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %}">
                <div class="button-wrapper {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %}">
                    {% style %}
                        #shopify-section-{{ section.id }} .button-close {
                            --layout-text-color:
                            {{ settings.layout_text_color.red }},
                            {{ settings.layout_text_color.green }}, 
                            {{ settings.layout_text_color.blue }};
                            --layout-background-color:
                            {{ settings.layout_background_color.red }},
                            {{ settings.layout_background_color.green }},
                            {{ settings.layout_background_color.blue }};
                        }
                    {% endstyle %}
                    <button type="button" class="button-close close-popup">
                    {% if close_weight == 'regular' %}
                        {% render 'icon', icon: 'cross-regular' %}
                    {% elsif close_weight == 'medium' %}
                        {% render 'icon', icon: 'cross-medium' %}
                    {% elsif close_weight == 'bold' %}
                        {% render 'icon', icon: 'cross-bold' %}
                    {% endif %}
                    </button>
                </div>
                <div class="popup-content">
                    <h2 class="heading popup-title--{{ settings.typography_preset }} {% if settings.accent_color_for_headings %}heading--accent{% endif %}">{{ 'general.password_page.login_form_heading' | t }}</h2>
                    <form-state>
                    {%- form 'storefront_password', class: 'password-form' -%}
                        {%- if form.errors -%}
                        <div class="subheading subheading--{{ settings.typography_preset }} error-color">{{ form.errors.messages['form'] }}</div>  
                        {%- endif -%}
                        <div class="field password-field{% if form.errors %} password-field--error{% endif %}">
                            <label class="label label--{{ settings.typography_preset }} {% if settings.dim_text %}dim{% endif %}" for="Password">{{ 'general.password_page.login_form_password_label' | t | append: '*' }}</label>
                            <input
                                id="Password"
                                type="password"
                                name="password"
                                class="input input--{{ settings.typography_preset }} required {% if form.errors %}invalid{% endif %} enter-using-password"
                                required="required"
                                autocomplete="current-password"
                                {% if form.errors %}
                                aria-invalid="true"
                                aria-describedby="PasswordLoginForm-password-error"
                                {%- endif -%}/> 
                        </div>
                        <button name="commit" class="solid-button big-button--{{ settings.typography_preset }} button--submit">
                            {{ 'general.password_page.login_form_submit' | t }}
                        </button>
                    {%- endform -%}
                    </form-state>
                    <div class="have-account have-account--{{ settings.typography_preset }}">
                        <p class="have-account__text {% if settings.dim_text %}dim{% endif %}">{{ 'general.password_page.admin_link' | t }}</p>
                        <a href="/admin" class="have-account__link hover-opacity">{{ 'general.password_page.login' | t }}</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    </modal-dialog>

{% schema %}
{
    "name": "t:sections.password_header.name",
    "settings": [
        {
            "type": "select",
            "id": "logo_type",
            "options": [
                {
                    "value": "image",
                    "label": "t:sections.navigation_sections.blocks.logo.settings.logo_type.options__1.label"
                },
                {
                    "value": "text",
                    "label": "t:sections.navigation_sections.blocks.logo.settings.logo_type.options__2.label"
                }
            ],
            "default": "text",
            "label": "t:sections.navigation_sections.blocks.logo.settings.logo_type.label"
        },
        {
            "type": "header",
            "content": "t:sections.navigation_sections.blocks.logo.settings.image_or_svg.content"
        },
        {
            "type": "image_picker",
            "id": "image_logo",
            "label": "t:sections.navigation_sections.blocks.logo.settings.image_logo.label"
        },
        {
            "type": "range",
            "id": "logo_height",
            "min": 12,
            "max": 80,
            "step": 4,
            "unit": "px",
            "label": "t:sections.navigation_sections.blocks.logo.settings.logo_height.label",
            "default": 40
        },
        {
            "type": "header",
            "content": "t:sections.navigation_sections.blocks.logo.settings.text_logo.content"
        },
        {
            "type": "text",
            "id": "text_logo",
            "label": "t:sections.navigation_sections.blocks.logo.settings.text_logo.label"
        },
        {
            "type": "font_picker",
            "id": "logo_font",
             "default": "ibm_plex_sans_n5",
             "label": "t:sections.navigation_sections.blocks.logo.settings.logo_font.label",
             "info": "t:sections.navigation_sections.blocks.logo.settings.logo_font.info"
         },
         {
            "type": "range",
            "id": "logo_font_size",
            "min": 12,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.navigation_sections.blocks.logo.settings.logo_font_size.label",
            "default": 32
        },
        {
             "type": "header",
             "content": "t:sections.all.colors.content"
        },
        {
          "type": "radio",
          "id": "color_type",
          "label": "t:sections.all.colors.color_type.label",
          "options": [
            {
              "value": "default",
              "label": "t:sections.all.colors.color_type.options__1.label"
            },
            {
              "value": "invert",
              "label": "t:sections.all.colors.color_type.options__2.label"
            },
            {
              "value": "custom",
              "label": "t:sections.all.colors.color_type.options__3.label"
            }
          ],
          "default": "default"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "t:sections.all.colors.background_color.label",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "t:sections.all.colors.text_color.label",
          "default": "#000000"
        }
    ]
}
{% endschema %}