{%- if predictive_search.performed -%}
    {{ 'search.css' | asset_url | stylesheet_tag }}
    {{ 'template-search.css' | asset_url | stylesheet_tag }}
    {{ 'component-tab.css' | asset_url | stylesheet_tag }}
    
    {%- liquid 

      assign settings_page_width = settings.max_page_width | append: 'px'
      if settings.max_page_width == 'full_width'
      assign settings_page_width = '100vw'
      endif
-%}
    <div class="predictive-search-results tabs-container-js {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %}">
        <component-tabs class="predictive-search-results-tabs component-tabs">
          {{ 'component-tab.css' | asset_url | stylesheet_tag }}
          {%- if predictive_search.resources.products.size > 0 -%} 
            <span id="predictive-search-products" class="predictive-search__heading component-tabs__tab component-tabs__tab--{{ settings.typography_preset }} tab-js tab-js-block-id--products">{{ 'templates.search.products' | t }}</span>
          {%- endif -%}
          {%- if predictive_search.resources.queries.size > 0 and settings.show_suggestions -%} 
            <span id="predictive-search-queries" class="predictive-search__heading component-tabs__tab component-tabs__tab--{{ settings.typography_preset }} tab-js tab-js-block-id--queries">{{ 'templates.search.queries' | t }}</span>
          {%- endif -%}
          {%- if predictive_search.resources.collections.size > 0 and settings.show_collections -%}
            <span id="predictive-search-collections" class="predictive-search__heading component-tabs__tab component-tabs__tab--{{ settings.typography_preset }} tab-js tab-js-block-id--collections">{{ 'templates.search.collections' | t }}</span>
          {%- endif -%}
          {%- if predictive_search.resources.articles.size > 0 and settings.show_blog_posts -%}
            <span id="predictive-search-articles" class="predictive-search__heading component-tabs__tab component-tabs__tab--{{ settings.typography_preset }} tab-js tab-js-block-id--articles">{{ 'templates.search.articles' | t }}</span>
          {%- endif -%}
          {%- if predictive_search.resources.pages.size > 0 and settings.show_pages -%}
            <span id="predictive-search-pages" class="predictive-search__heading component-tabs__tab component-tabs__tab--{{ settings.typography_preset }} tab-js tab-js-block-id--pages">{{ 'templates.search.pages' | t }}</span>
          {%- endif -%}
        </component-tabs>
        <div class="predictive-search-results-content">
          {%- if predictive_search.resources.products.size > 0 -%} 
            <div id="content-predictive-search-products" class="tab-content-js collection collection--{{ settings.white_space }} {% if settings.show_lines %}lines{% endif %}">
              <ul id="predictive-search-results-list product-grid" class="predictive-search__results-list grid product-grid {% if settings.product_results_layout == 'grid' %}product-grid--{{ settings.grid_type }}{% else %}list{% endif %} product-grid--{{ settings.white_space }} {% if settings.show_lines %} lines{% endif %}" style="--focal-point: {{ settings.product_focal_point }}" role="listbox" aria-labelledby="predictive-search-products">
                {%- for product in predictive_search.resources.products -%}
                  <li id="predictive-search-option-{{ forloop.index }}" class="predictive-search__list-item grid__item" role="option" aria-selected="false">
                      {%- assign card_product_settings = settings -%}
                      {% render 'card-product',
                        card_product: product,
                        image_ratio: card_product_settings.product_image_ratio,
                        show_vendor: card_product_settings.show_product_vendor,
                        show_price_in_quick_search: card_product_settings.show_product_price
                      %}                
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}
          {%- if predictive_search.resources.queries.size > 0 -%} 
            <div id="content-predictive-search-queries" class="tab-content-js">
              <ul id="predictive-search-results-list" class="predictive-search__results-list list" role="listbox" aria-labelledby="predictive-search-queries">
                {%- for query in predictive_search.resources.queries -%}
                  <li id="predictive-search-option-{{ forloop.index }}" class="predictive-search__list-item {% if settings.show_lines %}lines{% endif %}" role="option" aria-selected="false">
                    <a href="{{ query.url }}" class="predictive-search__item predictive-search__item--link link link--text" tabindex="-1">
                      <span class="card__title card__title--{{ settings.typography_preset }} hover-opacity">{{ query.styled_text }}</span>
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}
          {%- if predictive_search.resources.collections.size > 0 -%} 
            {{ 'component-card.css' | asset_url | stylesheet_tag }}
            <div id="content-predictive-search-collections" class="tab-content-js">
              <ul id="predictive-search-results-list" class="predictive-search__results-list list" role="listbox" aria-labelledby="predictive-search-collections">
                {%- for collection in predictive_search.resources.collections -%}
                  <li id="predictive-search-option-{{ forloop.index }}" class="predictive-search__list-item {% if settings.show_lines %}lines{% endif %}" role="option" aria-selected="false">
                    <a class="card-collection" href="{{ collection.url }}">
                      {%- if collection.featured_image -%}
                        <div class="card__media">
                          <div class="media ratio-{{ settings.collection_image_ratio }}" {% if settings.disable_right_click %}oncontextmenu="return false"{% endif %}>
                            <img srcset="{%- if collection.featured_image.width >= 165 -%}{{ collection.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                              {%- if collection.featured_image.width >= 375 -%}{{ collection.featured_image | image_url: width: 375 }} 375w,{%- endif -%}
                              {%- if collection.featured_image.width >= 550 -%}{{ collection.featured_image | image_url: width: 550 }} 550w,{%- endif -%}
                              {%- if collection.featured_image.width >= 750 -%}{{ collection.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
                              {%- if collection.featured_image.width >= 1100 -%}{{ collection.featured_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                              {%- if collection.featured_image.width >= 1500 -%}{{ collection.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                              {%- if collection.featured_image.width >= 1700 -%}{{ collection.featured_image | image_url: width: 1700 }} 1700w,{%- endif -%}
                              {%- if collection.featured_image.width >= 2000 -%}{{ collection.featured_image | image_url: width: 2000 }} 2000w,{%- endif -%}
                              {{ collection.featured_image | image_url }} {{ collection.featured_image.width }}w" src="{{ collection.featured_image | image_url: width: 1700 }}"
                              {% if section.settings.grid_type == 'regular' %}
                              sizes="
                              (min-width: {{ settings_page_width }}) calc(({{ settings_page_width }} - 200px) / 2),
                              (min-width: 750px) calc((100vw - 2rem) / 2),
                              calc((100vw - 3rem)/2)"
                              {% elsif section.settings.grid_type == 'alternative_1' %}
                              sizes="
                              (min-width: {{ settings_page_width }}) calc(({{ settings_page_width }} - 200px) * 0.7),
                              (min-width: 750px) calc((100vw - 2rem) * 0.7),
                              calc((100vw - 3rem) * 0.7)"
                              {% elsif section.settings.grid_type == 'alternative_2' %}
                              sizes="
                              (min-width: {{ settings_page_width }}) calc(({{ settings_page_width }} - 200px)),
                              (min-width: 750px) calc(100vw - 2rem),
                              calc(100vw - 3rem)"
                              {% endif %}
                              style="object-position: {{ settings.collection_focal_point }}"
                              draggable="false"
                              alt="{{ collection.title | escape }}" loading="lazy" width="{{ collection.featured_image.width }}" height="{{ collection.featured_image.height }}" class="card__image">
                          </div>
                        </div>
                      {%- endif -%}
                      <div>
                        <h2 class="card__title card__title--{{ settings.typography_preset }} hover-opacity">{{ collection.title | escape }}</h2>
                        <span class="heading__details card__vendor--{{ settings.typography_preset }} {% if settings.dim_text %}dim{% endif %}">{{ collection.products.size }} {% if collection.products.size == 1 %}{{ 'collections.product' | t }}{% else %}{{ 'collections.products' | t }}{% endif %}</span>
                      </div>
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}
          {%- if predictive_search.resources.articles.size > 0 -%} 
            <div id="content-predictive-search-articles" class="tab-content-js">
              <ul id="predictive-search-results-list" class="predictive-search__results-list list" role="listbox" aria-labelledby="predictive-search-articles">
                {%- for article in predictive_search.resources.articles -%}
                  <li id="predictive-search-option-{{ forloop.index }}" class="predictive-search__list-item {% if settings.show_lines %}lines{% endif %}" role="option" aria-selected="false">
                    <a href="{{ article.url }}" class="predictive-search__item predictive-search__item--link link link--text" tabindex="-1">
                      <h3 class="card__title card__title--{{ settings.typography_preset }} hover-opacity">{{ article.title }}</h3>
                      <span class="info__date card__vendor--{{ settings.typography_preset }} {% if settings.dim_text %}dim{% endif %}">{{- article.published_at | date: format: 'abbreviated_date' -}}</span>
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}
          {%- if predictive_search.resources.pages.size > 0 -%} 
            <div id="content-predictive-search-pages" class="tab-content-js">
              <ul id="predictive-search-results-list" class="predictive-search__results-list list" role="listbox" aria-labelledby="predictive-search-pages">
                {%- for page in predictive_search.resources.pages -%}
                  <li id="predictive-search-option-{{ forloop.index }}" class="predictive-search__list-item {% if settings.show_lines %}lines{% endif %}" role="option" aria-selected="false">
                    <a href="{{ page.url }}" class="predictive-search__item predictive-search__item--link link link--text" tabindex="-1">
                      <span class="card__title card__title--{{ settings.typography_preset }} hover-opacity">{{ page.title }}</span>
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}
        </div>

        {% liquid 
          assign totalResults = predictive_search.resources.products.size | plus: predictive_search.resources.queries.size | plus: predictive_search.resources.collections.size | plus: predictive_search.resources.articles.size | plus: predictive_search.resources.pages.size
        %}
    
      {% if settings.view_all_button_label != blank and totalResults > 0 %}
        <button type="submit" class="predictive-search__button solid-button button--{{ settings.typography_preset }}" tabindex="-1">
          {{ settings.view_all_button_label }}
        </button>
      {% endif %}
      <span class="{% if totalResults > 0 %}visually-hidden{% endif %} {{ totalResults}} predictive-search-results-empty title--empty body-text--{{ settings.typography_preset }}" data-predictive-search-live-region-count-value>
        {{ 'templates.search.no_results' | t: terms: predictive_search.terms }}
      </span> 
    </div>
  {%- endif -%}
  