{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-product-card.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

{%- liquid 
  assign top_padding_mobile = section.settings.top_padding | divided_by: 4
  assign bottom_padding_mobile = section.settings.bottom_padding | divided_by: 4
-%}

{% style %}
  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.desktop_padding_top }}px;
    --padding-bottom: {{ section.settings.desktop_padding_bottom }}px;
    --desktop-grid-type: {% if section.settings.desktop_grid_type == 'heading_with_two' %}2{% elsif section.settings.desktop_grid_type == 'heading_with_three' %}3{% else %}{{ section.settings.desktop_grid_type }}{% endif %};
    {% if section.settings.color_type == 'invert' %}
      --layout-text-color:
        {{ settings.layout_background_color.red }},
        {{ settings.layout_background_color.green }},
        {{ settings.layout_background_color.blue }};
      --layout-background-color:
        {{ settings.layout_text_color.red }},
        {{ settings.layout_text_color.green }}, 
        {{ settings.layout_text_color.blue }};
    {% endif %}
    {% if section.settings.color_type == 'custom' %}
      --layout-text-color:
        {{ section.settings.text_color.red }},
        {{ section.settings.text_color.green }}, 
        {{ section.settings.text_color.blue }};
      --layout-background-color:
        {{ section.settings.background_color.red }},
        {{ section.settings.background_color.green }}, 
        {{ section.settings.background_color.blue }};
    {% endif %}

    background-color: rgb(var(--layout-background-color));
    color: rgb(var(--layout-text-color));
  }

  @media screen and (max-width: 920px) {
  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.mobile_padding_top }}px;
    --padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }
}

/* Styles for full-width page without sidebars */
/* Mobile */
  @media screen and (max-width: 768px) {
    #shopify-section-{{ section.id }} {
      --desktop-grid-type: {{ section.settings.mobile_layout }};
    }
  }
  /* Sidebars: Main XS, Main S, Main M and white space Spacious */
  /* Mobile */
  @media screen and (max-width: 1048px) and (min-width: 921px) {
    .main_xs--spacious #shopify-section-{{ section.id }},
    .main_s--spacious #shopify-section-{{ section.id }},
    .main_m--spacious #shopify-section-{{ section.id }} {
      --desktop-grid-type: {{ section.settings.mobile_layout }};
    }
  }
  /* Sidebars: Main XS, Main S and white space Compact */
  /* Mobile */
  @media screen and (max-width: 968px) and (min-width: 921px) {
    .main_xs--compact #shopify-section-{{ section.id }},
    .main_s--compact #shopify-section-{{ section.id }} {
      --desktop-grid-type: {{ section.settings.mobile_layout }};
    }
  }
  /* Sidebars: Main XS with secondary, Main S with secondary and white space Spacious */
  /* Mobile */
  @media screen and (max-width: 1144px) and (min-width: 921px) {
    .main_xs_with_secondary--spacious #shopify-section-{{ section.id }},
    .main_s_with_secondary--spacious #shopify-section-{{ section.id }} {
      --desktop-grid-type: {{ section.settings.mobile_layout }};
    }
  }
  /* Sidebars: Main XS with secondary, Main S with secondary and white space Compact */
  /* Mobile */
  @media screen and (max-width: 1064px) and (min-width: 921px) {
    .main_xs_with_secondary--compact #shopify-section-{{ section.id }},
    .main_s_with_secondary--compact #shopify-section-{{ section.id }} {
      --desktop-grid-type: {{ section.settings.mobile_layout }};
    } 
  }  
  /* Sidebars: Main M and white space Compact */
  /* Mobile */
  @media screen and (max-width: 1024px) and (min-width: 921px) {
    .main_m--compact  #shopify-section-{{ section.id }} {
      --desktop-grid-type: {{ section.settings.mobile_layout }};
    }
  }
  /* Sidebars: Main M with secondary */
  /* Mobile */
  @media screen and (max-width: 1152px) and (min-width: 921px) {
    .main_m_with_secondary  #shopify-section-{{ section.id }} {
      --desktop-grid-type: {{ section.settings.mobile_layout }};
    } 
  }
  /* Sidebars: Main L */
  /* Mobile */
  @media screen and (max-width: 1536px) and (min-width: 921px) {
    .main_l #shopify-section-{{ section.id }} {
      --desktop-grid-type: {{ section.settings.mobile_layout }};
    } 
  }
{% endstyle %}
{%- liquid 

  if settings.typography_preset == 'avant_garde'
			assign weight_close = settings.accent_icon_weight
			if settings.swap_fonts
					assign weight_close = settings.base_icon_weight
			endif
	else 
			assign weight_close =  settings.base_icon_weight
			if settings.swap_fonts
					assign weight_close = settings.accent_icon_weight
			endif
	endif

-%}
<recently-viewed-products class="recently-viewed-products color-{{ section.settings.color_type }}   section-padding--{{ settings.white_space }} slider-container-js slider-section slider-section--{{ settings.white_space }}  {% if settings.show_lines %}slider-section--lines{% endif %} {% if settings.max_page_width == '1400' or settings.max_page_width == '1200' %}page-width {% endif %} page-width--{{ settings.max_page_width }} slider-section-container--{{ settings.white_space }} {% if section.settings.color_type != 'default' %}no-default-color{% endif %}" 
  data-url="{{ routes.search_url }}?section_id={{ section.id }}&type=product&q=" {% if request.page_type == 'product' %} data-product-id="{{ product.id }}"{% endif %}>
  {%- if request.page_type == 'search' and search.performed and search.results_count > 0 -%}
    
    <slider-component id="GalleryViewer-{{ section.id }}" class="ordinal-section ordinal-section--{{ settings.white_space }} {% if settings.show_lines %}ordinal-section--lines{% endif %}  slider {% if section.settings.desktop_grid_type == 'heading_with_two' or section.settings.desktop_grid_type == 'heading_with_three' %}slider--row{% endif %} {% if section.settings.desktop_grid_type == 'heading_with_two' %}slider--row-two{% endif %} {% if section.settings.desktop_grid_type == 'heading_with_three' %}slider--row-three{% endif %}">
        <div class="slider__header {% if settings.center_text %}slider__header-center{% endif %} {% if section.settings.heading == blank and section.settings.desktop_grid_type == '3' or section.settings.heading == blank and section.settings.desktop_grid_type == '4' or section.settings.heading == blank and section.settings.desktop_grid_type == '5' %}slider__header--hidden{% endif %}">
          {% if section.settings.heading != blank %}
            <{{ section.settings.heading_tag }} class="slider__heading {% if settings.accent_color_for_headings %}slider__heading--accent{% endif %} slider__heading--{{ settings.typography_preset }} {% unless section.settings.heading_size == 'default' %}{{ section.settings.heading_size }}{% endunless %}">{{ section.settings.heading }}
            </{{ section.settings.heading_tag }}>
          {% endif %}
          {% if section.settings.desktop_grid_type == 'heading_with_two' or section.settings.desktop_grid_type == 'heading_with_three' %}
            {% liquid 
              assign grid_items_desktop = section.settings.desktop_grid_type | times: 1
              if section.settings.desktop_grid_type == 'heading_with_two'
                assign grid_items_desktop = 2
              elsif section.settings.desktop_grid_type == 'heading_with_three'
                assign grid_items_desktop = 3
              endif
              assign grid_items_mobile = section.settings.mobile_layout | times: 1
            %}
            <div class="slider-buttons-items 
              {% if search.results_count <= grid_items_desktop or settings.center_text == true and section.settings.desktop_grid_type != 'heading_with_two' and settings.center_text == true and section.settings.desktop_grid_type != 'heading_with_three' %}hidden-desktop{% endif %} hidden-mobile">
              <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">
                {% if weight_close == 'regular' %}
                  {% render 'icon-accordion-2', icon: 'arrow-long-left-regular' %}
                {% elsif weight_close == 'medium' %}
                  {% render 'icon-accordion-2', icon: 'arrow-long-left-medium' %}
                {% elsif weight_close == 'bold' %}
                  {% render 'icon-accordion-2', icon: 'arrow-long-left-bold' %}
                {% endif %}
              </button>
              <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">
                {% if weight_close == 'regular' %}
                  {% render 'icon-accordion-2', icon: 'arrow-long-right-regular' %}
                {% elsif weight_close == 'medium' %}
                  {% render 'icon-accordion-2', icon: 'arrow-long-right-medium' %}
                {% elsif weight_close == 'bold' %}
                  {% render 'icon-accordion-2', icon: 'arrow-long-right-bold' %}
                {% endif %}
              </button>
            </div>
          {% endif %}
        </div>
        {%- assign parsed_terms = search.terms | split: ' OR ' -%}
        <div class="slider__viewport">
          <ul id="Slider-Gallery-{{ section.id }}" class="slider__grid slider__grid-mobile-{{ section.settings.mobile_layout }} recently-viewed" role="list" 
            data-count="{% if section.settings.desktop_grid_type == 'heading_with_two' %}2{% elsif section.settings.desktop_grid_type == 'heading_with_three' %}3{% else %}{{ section.settings.desktop_grid_type }}{% endif %}"
            data-count-mobile="{% if section.settings.mobile_layout == '1' %}1{% else %}2{% endif %}">
            {%- assign card_product_settings = section.settings -%}
            {%- for parsed_term in parsed_terms -%}
              {%- assign id = parsed_term | split: 'id:' | last | times: 1 -%}
              {%- for product in search.results -%}
                {%- if product.id == id -%}
                  <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="slider__grid-item snap-align">
                    {% render 'card-product',
                      card_product: product,
                      image_ratio: card_product_settings.image_ratio,
                      show_vendor: card_product_settings.show_vendor,
                      show_second_image: card_product_settings.show_second_image,
                      enable_quick_view: card_product_settings.enable_quick_view,
                      enable_add_to_cart: card_product_settings.enable_add_to_cart,
                      price_position: card_product_settings.price_position,
                      max_product_name_characters: card_product_settings.max_product_name_characters,
                      show_short_description: card_product_settings.show_short_description,
                      enable_color_pills: card_product_settings.enable_color_pills,
                      show_rating: card_product_settings.show_rating
                    %}
                  </li>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </ul>
          {% liquid 
            assign grid_items_desktop = section.settings.desktop_grid_type | times: 1
            if section.settings.desktop_grid_type == 'heading_with_two'
            assign grid_items_desktop = 2
            elsif section.settings.desktop_grid_type == 'heading_with_three'
              assign grid_items_desktop = 3
            endif
            assign grid_items_mobile = section.settings.mobile_layout | times: 1
          %}
          <div class="slider-buttons-items slider-buttons-items--bottom slider-buttons-items--{{ settings.white_space }} {% if settings.show_lines %}slider-buttons-items--lines{% endif %} 
            {% if section.settings.desktop_grid_type != '3' and section.settings.desktop_grid_type != '4' and section.settings.desktop_grid_type != '5' %}hidden-desktop{% endif %} {% if search.results_count <= grid_items_mobile %}hidden-mobile{% endif %}
            {% if search.results_count <= grid_items_desktop %}hidden-desktop{% endif %}
              {% if section.settings.desktop_grid_type == '5' and search.results_count == 5 %}hidden-desktop-none{% endif %}">
            <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">
              {% if weight_close == 'regular' %}
                {% render 'icon-accordion-2', icon: 'arrow-long-left-regular' %}
              {% elsif weight_close == 'medium' %}
                {% render 'icon-accordion-2', icon: 'arrow-long-left-medium' %}
              {% elsif weight_close == 'bold' %}
                {% render 'icon-accordion-2', icon: 'arrow-long-left-bold' %}
              {% endif %}
            </button>
            <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">
              {% if weight_close == 'regular' %}
                {% render 'icon-accordion-2', icon: 'arrow-long-right-regular' %}
              {% elsif weight_close == 'medium' %}
                {% render 'icon-accordion-2', icon: 'arrow-long-right-medium' %}
              {% elsif weight_close == 'bold' %}
                {% render 'icon-accordion-2', icon: 'arrow-long-right-bold' %}
              {% endif %}
            </button>
          </div>
        </div>
    </slider-component>
    
  {%- endif -%}
</recently-viewed-products>

{% schema %}
  {
    "name": "t:sections.recently-viewed-products.name",
    "tag": "section",
    "class": "product-recommendations",
    "settings": [
      {
        "type": "paragraph",
        "content": "t:sections.recently-viewed-products.settings.paragraph__1.content"
      },
      {
        "type": "text",
        "id": "heading",
        "default": "Recently viewed",
        "label": "t:sections.all.labels.heading.label"
      },
      {
        "type": "select",
        "id": "heading_size",
        "label": "t:sections.all.size.heading_size.label",
        "options": [
          {
            "value": "default",
            "label": "t:sections.all.size.options__1.label"
          },
          {
              "value": "heading_xl",
              "label": "t:sections.all.size.options__2.label"
          },
          {
              "value": "heading_xl_uppercase",
              "label": "t:sections.all.size.options__3.label"
          },
          {
              "value": "heading_l",
              "label": "t:sections.all.size.options__4.label"
          },
          {
              "value": "heading_l_uppercase",
              "label": "t:sections.all.size.options__5.label"
          },
          {
              "value": "heading_m",
              "label": "t:sections.all.size.options__6.label"
          },
          {
              "value": "heading_m_uppercase",
              "label": "t:sections.all.size.options__7.label"
          },
          {
              "value": "heading_s",
              "label": "t:sections.all.size.options__8.label"
          },
          {
              "value": "heading_s_uppercase",
              "label": "t:sections.all.size.options__9.label"
          },
          {
              "value": "heading_xs",
              "label": "t:sections.all.size.options__10.label"
          },
          {
              "value": "heading_xs_uppercase",
              "label": "t:sections.all.size.options__11.label"
          },
          {
              "value": "body_l",
              "label": "t:sections.all.size.options__12.label"
          },
          {
              "value": "body_l_uppercase",
              "label": "t:sections.all.size.options__13.label"
          },
          {
              "value": "body_m",
              "label": "t:sections.all.size.options__14.label"
          }, 
          {
              "value": "body_m_uppercase",
              "label": "t:sections.all.size.options__15.label"
          }, 
          {
              "value": "body_s",
              "label": "t:sections.all.size.options__16.label"
          }, 
          {
              "value": "body_s_uppercase",
              "label": "t:sections.all.size.options__17.label"
          }, 
          {
              "value": "label_font",
              "label": "t:sections.all.size.options__18.label"
          },
          {
              "value": "label_font_uppercase",
              "label": "t:sections.all.size.options__19.label"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "heading_tag",
        "label": "t:sections.all.tag.heading_label",
        "options": [
            {
                "value": "h1",
                "label": "t:sections.all.tag.options__1.label"
            },
            {
                "value": "h2",
                "label": "t:sections.all.tag.options__2.label"
            },
            {
                "value": "h3",
                "label": "t:sections.all.tag.options__3.label"
            },
            {
                "value": "h4",
                "label": "t:sections.all.tag.options__4.label"
            },
            {
                "value": "h5",
                "label": "t:sections.all.tag.options__5.label"
            },
            {
                "value": "h6",
                "label": "t:sections.all.tag.options__6.label"
            },
            {
                "value": "div",
                "label": "t:sections.all.tag.options__7.label"
            },
            {
                "value": "span",
                "label": "t:sections.all.tag.options__8.label"
            }, 
            {
                "value": "p",
                "label": "t:sections.all.tag.options__9.label"
            }
          ],
          "default": "h2"
      }, 
      {
        "type": "select",
        "id": "desktop_grid_type",
        "options": [
          {
            "value": "3",
            "label": "t:sections.all.desktop_layout.options__3.label"
          },
          {
            "value": "4",
            "label": "t:sections.all.desktop_layout.options__4.label"
          },
          {
            "value": "5",
            "label": "t:sections.all.desktop_layout.options__5.label"
          }, 
          {
            "value": "heading_with_two",
            "label": "t:sections.all.desktop_layout.options__6.label"
          }, 
          {
            "value": "heading_with_three",
            "label": "t:sections.all.desktop_layout.options__7.label"
          }
        ],
        "default": "5",
        "label": "t:sections.all.desktop_layout.desktop_grid_type.label"
      },  
      {
        "type": "radio",
        "id": "mobile_layout",
        "options": [
          {
            "value": "1",
            "label": "t:sections.all.mobile_layout.options__1.label"
          },
          {
            "value": "2",
            "label": "t:sections.all.mobile_layout.options__2.label"
          }
        ],
        "default": "2",
        "label": "t:sections.all.mobile_layout.label"
      },  
      {
        "type": "header",
        "content": "t:sections.all.product_card.product_card_image.content"
      }, 
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "square",
            "label": "t:sections.all.image.image_ratio.options__2.label"
          },
          {
            "value": "portrait",
            "label": "t:sections.all.image.image_ratio.options__3.label"
          },
          {
            "value": "narrow_portrait",
            "label": "t:sections.all.image.image_ratio.options__8.label"
          },
          {
            "value": "traditional",
            "label": "t:sections.all.image.image_ratio.options__9.label"
          },
          {
            "value": "landscape",
            "label": "t:sections.all.image.image_ratio.options__4.label"
          }, 
          {
            "value": "wide",
            "label": "t:sections.all.image.image_ratio.options__5.label"
          }
        ],
        "default": "square",
        "label": "t:sections.all.image.image_ratio.label"
      }, 
      {
        "type": "select",
        "id": "focal_point",
        "options": [
          {
            "value": "20% 0",
            "label": "t:sections.all.image.focal_point.options__1.label"
          },
          {
            "value": "top center",
            "label": "t:sections.all.image.focal_point.options__2.label"
          },
          {
            "value": "80% 0",
            "label": "t:sections.all.image.focal_point.options__3.label"
          },
          {
            "value": "20% 50%",
            "label": "t:sections.all.image.focal_point.options__4.label"
          }, 
          {
            "value": "center center",
            "label": "t:sections.all.image.focal_point.options__5.label"
          }, 
          {
            "value": "80% 50%",
            "label": "t:sections.all.image.focal_point.options__6.label"
          }, 
          {
            "value": "20% 100%",
            "label": "t:sections.all.image.focal_point.options__7.label"
          }, 
          {
            "value": "bottom center",
            "label": "t:sections.all.image.focal_point.options__8.label"
          }, 
          {
            "value": "80% 100%",
            "label": "t:sections.all.image.focal_point.options__9.label"
          }
        ],
        "default": "center center",
        "label": "t:sections.all.image.focal_point.label"
      }, 
      {
        "type": "header",
        "content": "t:sections.all.product_card.on_hover.content"
      },
      {
        "type": "checkbox",
        "id": "show_second_image",
        "default": false,
        "label": "t:sections.all.product_card.show_second_image.label"
      }, 
      {
        "type": "checkbox",
        "id": "enable_add_to_cart",
        "default": false,
        "label": "t:sections.all.product_card.enable_add_to_cart.label"
      }, 
      {
        "type": "checkbox",
        "id": "enable_quick_view",
        "default": false,
        "label": "t:sections.all.product_card.enable_quick_view.label",
        "info": "t:sections.all.product_card.enable_quick_view.info"
      }, 
      {
        "type": "header",
        "content": "t:sections.all.product_card.product_card_content.content"
      }, 
      {
        "type": "select",
        "id": "price_position",
        "options": [
          {
            "value": "top",
            "label": "t:sections.all.product_card.price_position.options__1.label"
          }, 
          {
            "value": "with_title",
            "label": "t:sections.all.product_card.price_position.options__2.label"
          }, 
          {
            "value": "bottom",
            "label": "t:sections.all.product_card.price_position.options__3.label"
          }
        ],
        "default": "bottom",
        "label": "t:sections.all.product_card.price_position.label"
      }, 
      {
        "type": "checkbox",
        "id": "show_vendor",
        "default": true,
        "label": "t:sections.all.product_card.show_vendor.label"
      }, 
      {
        "type": "number",
        "id": "max_product_name_characters",
        "label": "t:sections.all.product_card.max_product_name_characters.label",
        "default": 100,
        "info": "t:sections.all.product_card.max_product_name_characters.info"
      },
      {
        "type": "checkbox",
        "id": "show_rating",
        "default": true,
        "label": "t:sections.all.product_card.show_rating.label",
        "info": "t:sections.all.product_card.show_rating.info"
      }, 
      {
        "type": "checkbox",
        "id": "show_short_description",
        "default": false,
        "label": "t:sections.all.product_card.show_short_description.label",
        "info": "t:sections.all.product_card.show_short_description.info"
      }, 
      {
        "type": "checkbox",
        "id": "enable_color_pills",
        "default": false,
        "label": "t:sections.all.product_card.enable_color_pills.label",
        "info": "t:sections.all.product_card.enable_color_pills.info"
      },
      {
        "type": "header",
        "content": "t:sections.all.colors.content"
      },
      {
        "type": "radio",
        "id": "color_type",
        "label": "t:sections.all.colors.color_type.label",
        "options": [
          {
            "value": "default",
            "label": "t:sections.all.colors.color_type.options__1.label"
          },
          {
            "value": "invert",
            "label": "t:sections.all.colors.color_type.options__2.label"
          },
          {
            "value": "custom",
            "label": "t:sections.all.colors.color_type.options__3.label"
          }
        ],
        "default": "default"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "t:sections.all.colors.background_color.label",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "t:sections.all.colors.text_color.label",
        "default": "#000000"
      },  
      {
        "type": "header",
        "content": "t:sections.all.paddings.desktop_section_paddings.content"
      }, 
      {
          "type": "range",
          "id": "desktop_padding_top",
          "min": -160,
          "max": 160,
          "step": 4,
          "unit": "px",
          "default": 0,
          "label": "t:sections.all.paddings.padding_top.label"
      }, 
      {
          "type": "range",
          "id": "desktop_padding_bottom",
          "min": -160,
          "max": 160,
          "step": 4,
          "unit": "px",
          "default": 0,
          "label": "t:sections.all.paddings.padding_bottom.label"
      },
      {
          "type": "header",
          "content": "t:sections.all.paddings.mobile_section_paddings.content"
      }, 
      {
          "type": "range",
          "id": "mobile_padding_top",
          "min": -80,
          "max": 80,
          "step": 4,
          "unit": "px",
          "default": 0,
          "label": "t:sections.all.paddings.padding_top.label"
      }, 
      {
          "type": "range",
          "id": "mobile_padding_bottom",
          "min": -80,
          "max": 80,
          "step": 4,
          "unit": "px",
          "default": 0,
          "label": "t:sections.all.paddings.padding_bottom.label"
      }
    ],
    "presets": [
      {
        "name": "t:sections.recently-viewed-products.name"
      }
    ],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}