{% if section.blocks.size > 0 %}
{{ 'content-fonts.css' | asset_url | stylesheet_tag }}
{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

{% style %}
    #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.desktop_padding_top }}px;
    --padding-bottom: {{ section.settings.desktop_padding_bottom }}px;
    --text-alignment: {% if section.settings.center_text %}center{% else %}flex-start{% endif %};
  
    {% if section.settings.color_type == 'invert' %}
          --layout-text-color:
          {{ settings.layout_background_color.red }},
          {{ settings.layout_background_color.green }},
          {{ settings.layout_background_color.blue }};
          --layout-background-color:
          {{ settings.layout_text_color.red }},
          {{ settings.layout_text_color.green }}, 
          {{ settings.layout_text_color.blue }};
    {% endif %}
    {% if section.settings.color_type == 'custom' %}
        --layout-text-color:
        {{ section.settings.text_color.red }},
        {{ section.settings.text_color.green }}, 
        {{ section.settings.text_color.blue }};
        --layout-background-color:
        {{ section.settings.background_color.red }},
        {{ section.settings.background_color.green }}, 
        {{ section.settings.background_color.blue }};
    {% endif %}
      background-color: rgb(var(--layout-background-color));
      color: rgb(var(--layout-text-color));
    }

    @media screen and (max-width: 920px) {
      #shopify-section-{{ section.id }} {
        --padding-top: {{ section.settings.mobile_padding_top }}px;
        --padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
      }
    }
{% endstyle %}

<div class="rich-text rich-text--{{ settings.white_space }} ordinal-section ordinal-section--{{ settings.white_space }} section-padding--{{ settings.white_space }} {% if settings.show_lines %}ordinal-section--lines lines{% endif %} {% if settings.max_page_width == '1400' or settings.max_page_width == '1200' %}page-width {% endif %} page-width--{{ settings.max_page_width }} color-{{ section.settings.color_type }} {% if section.settings.color_type != 'default' %}no-default-color{% endif %}">
    <div class="rich-text__wrapper rich-text__wrapper--{{ section.settings.section_width }} {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %} {% if section.settings.center_text %}center{% else %}flex-start{% endif %}" style="text-align: {% if section.settings.center_text %}center{% else %}start{% endif %};">
        {%- for block in section.blocks -%}
            {%- case block.type -%}
                {%- when 'subheading' -%}
                    <{{ block.settings.subheading_tag }} {{ block.shopify_attributes }} class="content-subheading content-subheading--{{ settings.typography_preset }} {% if block.settings.subheading_size != 'default' %}{{ block.settings.subheading_size }}{% endif %} {% if settings.dim_text %}dim{% endif %}">{{ block.settings.subheading }}</{{ block.settings.subheading_tag }}>
                {%- when 'heading' -%}   
                    <{{ block.settings.heading_tag }} {{ block.shopify_attributes }} class="content-heading {% if section.settings.color_type == 'default' and settings.accent_color_for_headings %}content-heading--accent{% endif %} content-heading--{{ settings.typography_preset }} {% if block.settings.heading_size != 'default' %}{{ block.settings.heading_size }}{% endif %}">{{ block.settings.heading }}</{{ block.settings.heading_tag }}>
                {%- when 'text' -%}
                    <div {{ block.shopify_attributes }} class="content-text content-text--{{ settings.typography_preset }} {% if block.settings.dim_text %}dim{% endif %} richtext {% if settings.enable_animated_underline %}richtext-link--underline{% endif %}">
                      <object >
                        {{ block.settings.text }}
                      </object>
                    </div>
                {%- when 'context_image' -%}
                  {%- render 'context-image', block_or_section: block, shopify_attributes: true -%}
                {%- when 'block_image' -%}
                  {%- render 'block-image', block: block -%}
                {%- when 'button' -%}
                  {%- render 'button', block: block -%}
                {%- when 'empty_space' -%}
                  {%- render 'empty-space', block: block -%}
                {%- when 'line' -%}
                  {%- render 'line', block: block -%}
                {%- when 'video_button' -%}
                  {%- render 'video-button', block_settings: block.settings, block: block -%}
                {%- when 'custom_liquid' -%}
                    {%- render 'custom-liquid', block: block -%}
                {%- when 'social_media' -%}
                  {%- render 'social-media', social-media_settings: block.settings, type: block.type, block_item: block, section_settings: section.settings -%}
                {%- when 'contacts' -%}
                  {%- render 'contacts', contacts_settings: block.settings, block_item: block -%}
                {%- when 'promo_code' -%}
                  {%- render 'promo-code', block: block, promo_code: block.settings.promo_code, center_text: section.settings.center_text -%}
            {%- endcase -%}
        {%- endfor -%}
    </div>
</div>
{% endif %}

{% schema %}
{
    "name": "t:sections.rich-text.name",
    "tag": "section",
    "class": "rich-text",
    "settings": [
      {
        "type": "radio",
        "id": "section_width",
        "options": [
          {
            "value": "wide",
            "label": "t:sections.all.section_width.options__3.label"
          },
          {
            "value": "narrow",
            "label": "t:sections.all.section_width.options__4.label"
          }
        ],
        "default": "narrow",
        "label": "t:sections.all.section_width.label"
      },
      {
        "type": "checkbox",
        "id": "center_text",
        "default": false,
        "label": "t:sections.all.alignment.center_text.label"
      },
        {
            "type": "header",
            "content": "t:sections.all.colors.content"
        },
        {
            "type": "radio",
            "id": "color_type",
            "label": "t:sections.all.colors.color_type.label",
            "options": [
                {
                "value": "default",
                "label": "t:sections.all.colors.color_type.options__1.label"
                },
                {
                "value": "invert",
                "label": "t:sections.all.colors.color_type.options__2.label"
                },
                {
                "value": "custom",
                "label": "t:sections.all.colors.color_type.options__3.label"
                }
            ],
            "default": "default"
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "t:sections.all.colors.background_color.label",
            "default": "#FFFFFF"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "t:sections.all.colors.text_color.label",
            "default": "#000000"
        },
        {
            "type": "header",
            "content": "t:sections.all.paddings.desktop_section_paddings.content"
        }, 
        {
            "type": "range",
            "id": "desktop_padding_top",
            "min": -160,
            "max": 160,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_top.label"
        }, 
        {
            "type": "range",
            "id": "desktop_padding_bottom",
            "min": -160,
            "max": 160,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_bottom.label"
        },
        {
            "type": "header",
            "content": "t:sections.all.paddings.mobile_section_paddings.content"
        }, 
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": -80,
            "max": 80,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_top.label"
        }, 
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": -80,
            "max": 80,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_bottom.label"
        }
    ],
    "blocks": [
        {
          "type": "subheading",
          "name": "t:blocks.subheading.name",
          "settings": [
              {
                  "type": "text",
                  "id": "subheading",
                  "label": "t:sections.all.labels.subheading.label",
                  "default": "Subheading"
              },
              {
                  "type": "select",
                  "id": "subheading_size",
                  "label": "t:sections.all.size.size.label",
                  "options": [
                    {
                      "value": "default",
                      "label": "t:sections.all.size.options__1.label"
                    },
                    {
                        "value": "heading_s",
                        "label": "t:sections.all.size.options__8.label"
                    },
                    {
                        "value": "heading_s_uppercase",
                        "label": "t:sections.all.size.options__9.label"
                    },
                    {
                        "value": "heading_xs",
                        "label": "t:sections.all.size.options__10.label"
                    },
                    {
                        "value": "heading_xs_uppercase",
                        "label": "t:sections.all.size.options__11.label"
                    },
                    {
                        "value": "body_l",
                        "label": "t:sections.all.size.options__12.label"
                    },
                    {
                        "value": "body_l_uppercase",
                        "label": "t:sections.all.size.options__13.label"
                    },
                    {
                        "value": "body_m",
                        "label": "t:sections.all.size.options__14.label"
                    }, 
                    {
                        "value": "body_m_uppercase",
                        "label": "t:sections.all.size.options__15.label"
                    }, 
                    {
                        "value": "body_s",
                        "label": "t:sections.all.size.options__16.label"
                    }, 
                    {
                        "value": "body_s_uppercase",
                        "label": "t:sections.all.size.options__17.label"
                    }, 
                    {
                        "value": "label_font",
                        "label": "t:sections.all.size.options__18.label"
                    },
                    {
                        "value": "label_font_uppercase",
                        "label": "t:sections.all.size.options__19.label"
                    }
                  ],
                  "default": "default"
              },
              {
                "type": "select",
                "id": "subheading_tag",
                "options": [
                  {
                      "value": "h1",
                      "label": "t:sections.all.tag.options__1.label"
                  },
                  {
                      "value": "h2",
                      "label": "t:sections.all.tag.options__2.label"
                  },
                  {
                      "value": "h3",
                      "label": "t:sections.all.tag.options__3.label"
                  },
                  {
                      "value": "h4",
                      "label": "t:sections.all.tag.options__4.label"
                  },
                  {
                      "value": "h5",
                      "label": "t:sections.all.tag.options__5.label"
                  },
                  {
                      "value": "h6",
                      "label": "t:sections.all.tag.options__6.label"
                  },
                  {
                      "value": "div",
                      "label": "t:sections.all.tag.options__7.label"
                  },
                  {
                      "value": "span",
                      "label": "t:sections.all.tag.options__8.label"
                  }, 
                  {
                      "value": "p",
                      "label": "t:sections.all.tag.options__9.label"
                  }
                  ],
                  "default": "h3",
                  "label": "t:sections.all.tag.tag_label"
              }
          ]
        },
        {
          "type": "heading",
          "name": "t:blocks.heading.name",
          "settings": [
              {
                  "type": "text",
                  "id": "heading",
                  "label": "t:sections.all.labels.heading.label",
                  "default": "Rich text heading"
              },
              {
                  "type": "select",
                  "id": "heading_size",
                  "label": "t:sections.all.size.size.label",
                  "options": [
                    {
                      "value": "default",
                      "label": "t:sections.all.size.options__1.label"
                    },
                    {
                        "value": "heading_xl",
                        "label": "t:sections.all.size.options__2.label"
                    },
                    {
                        "value": "heading_xl_uppercase",
                        "label": "t:sections.all.size.options__3.label"
                    },
                    {
                        "value": "heading_l",
                        "label": "t:sections.all.size.options__4.label"
                    },
                    {
                        "value": "heading_l_uppercase",
                        "label": "t:sections.all.size.options__5.label"
                    },
                    {
                        "value": "heading_m",
                        "label": "t:sections.all.size.options__6.label"
                    },
                    {
                        "value": "heading_m_uppercase",
                        "label": "t:sections.all.size.options__7.label"
                    },
                    {
                        "value": "heading_s",
                        "label": "t:sections.all.size.options__8.label"
                    },
                    {
                        "value": "heading_s_uppercase",
                        "label": "t:sections.all.size.options__9.label"
                    },
                    {
                        "value": "heading_xs",
                        "label": "t:sections.all.size.options__10.label"
                    },
                    {
                        "value": "heading_xs_uppercase",
                        "label": "t:sections.all.size.options__11.label"
                    },
                    {
                        "value": "body_l",
                        "label": "t:sections.all.size.options__12.label"
                    },
                    {
                        "value": "body_l_uppercase",
                        "label": "t:sections.all.size.options__13.label"
                    },
                    {
                        "value": "body_m",
                        "label": "t:sections.all.size.options__14.label"
                    }, 
                    {
                        "value": "body_m_uppercase",
                        "label": "t:sections.all.size.options__15.label"
                    }, 
                    {
                        "value": "body_s",
                        "label": "t:sections.all.size.options__16.label"
                    }, 
                    {
                        "value": "body_s_uppercase",
                        "label": "t:sections.all.size.options__17.label"
                    }, 
                    {
                        "value": "label_font",
                        "label": "t:sections.all.size.options__18.label"
                    },
                    {
                        "value": "label_font_uppercase",
                        "label": "t:sections.all.size.options__19.label"
                    }
                  ],
                  "default": "default"
              },
              {
                "type": "select",
                "id": "heading_tag",
                "options": [
                  {
                      "value": "h1",
                      "label": "t:sections.all.tag.options__1.label"
                  },
                  {
                      "value": "h2",
                      "label": "t:sections.all.tag.options__2.label"
                  },
                  {
                      "value": "h3",
                      "label": "t:sections.all.tag.options__3.label"
                  },
                  {
                      "value": "h4",
                      "label": "t:sections.all.tag.options__4.label"
                  },
                  {
                      "value": "h5",
                      "label": "t:sections.all.tag.options__5.label"
                  },
                  {
                      "value": "h6",
                      "label": "t:sections.all.tag.options__6.label"
                  },
                  {
                      "value": "div",
                      "label": "t:sections.all.tag.options__7.label"
                  },
                  {
                      "value": "span",
                      "label": "t:sections.all.tag.options__8.label"
                  }, 
                  {
                      "value": "p",
                      "label": "t:sections.all.tag.options__9.label"
                  }
                  ],
                  "default": "h2",
                  "label": "t:sections.all.tag.tag_label"
              }
          ]
        },
        {
          "type": "text",
          "name": "t:blocks.text.name",
          "settings": [
              {
                  "type": "richtext",
                  "id": "text",
                  "label": "t:sections.all.labels.text.label",
                  "default": "<p>Tell a story, describe your brand or share announcements. You can also use it as a section heading.</p>"
              },
              {
                  "type": "checkbox",
                  "id": "dim_text",
                  "default": false,
                  "label": "t:sections.all.labels.dim_text.label"
              }
          ]
        },
        {
          "type": "button",
          "name": "t:blocks.button.name",
          "settings": [
              {
                  "type": "text",
                  "id": "button_label",
                  "label": "t:sections.all.labels.label.label",
                  "default": "Discover"
              },
              {
                  "type": "url",
                  "id": "button_link",
                  "label": "t:sections.all.links.link.label"
              },
              {
                "type": "checkbox",
                "id": "target_blank",
                "default": false,
                "label": "t:sections.all.target_blank.label"
            },
              {
                  "type": "select",
                  "id": "button_style",
                  "options": [
                    {
                      "value": "solid",
                      "label": "t:sections.all.buttons.button_styles.options__1.label"
                    }, 
                    {
                      "value": "outlined",
                      "label": "t:sections.all.buttons.button_styles.options__2.label"
                    }, 
                    {
                      "value": "link",
                      "label": "t:sections.all.buttons.button_styles.options__3.label"
                    }
                  ],
                  "default": "outlined",
                  "label": "t:sections.all.buttons.button_styles.button_style.label"
              }
          ]
        },
        {
          "type": "context_image",
          "name": "t:blocks.context_image.name",
          "settings": [
              {
                  "type": "image_picker",
                  "id": "context_image",
                  "label": "t:sections.all.image.desktop_image.label"
              },
              {
                  "type": "range",
                  "id": "context_image_width",
                  "min": 40,
                  "max": 800,
                  "step": 8,
                  "unit": "px",
                  "default": 120,
                  "label": "t:sections.all.image.context_image_width.label"
              },
              {
                "type": "select",
                "id": "context_image_ratio",
                "options": [
                  {
                    "value": "original",
                    "label": "t:sections.all.image.image_ratio.options__1.label"
                  },
                  {
                    "value": "square",
                    "label": "t:sections.all.image.image_ratio.options__2.label"
                  },
                  {
                    "value": "portrait",
                    "label": "t:sections.all.image.image_ratio.options__3.label"
                  },
                  {
                    "value": "traditional",
                    "label": "t:sections.all.image.image_ratio.options__9.label"
                  },
                  {
                    "value": "landscape",
                    "label": "t:sections.all.image.image_ratio.options__4.label"
                  }, 
                  {
                    "value": "wide",
                    "label": "t:sections.all.image.image_ratio.options__5.label"
                  }
                ],
                "default": "original",
                "label": "t:sections.all.image.image_ratio.label"
              },
              {
                "type": "select",
                "id": "context_image_radius",
                "options": [
                  {
                    "value": "default",
                    "label": "t:sections.all.corner_radius.options__1.label"
                  },
                  {
                    "value": "0px",
                    "label": "t:sections.all.corner_radius.options__2.label"
                  },
                  {
                    "value": "3px",
                    "label": "t:sections.all.corner_radius.options__3.label"
                  },
                  {
                    "value": "5px",
                    "label": "t:sections.all.corner_radius.options__4.label"
                  },
                  {
                    "value": "12px",
                    "label": "t:sections.all.corner_radius.options__5.label"
                  },
                  {
                    "value": "2000px",
                    "label": "t:sections.all.corner_radius.options__6.label"
                  },
                  {
                    "value": "2000px 2000px 0 0",
                    "label": "t:sections.all.corner_radius.options__7.label"
                  }
                ],
                "default": "default",
                "label": "t:sections.all.corner_radius.label"
              },
              {
                "type": "url",
                "id": "context_image_link",
                "label": "t:sections.all.links.link.label"
            },
            {
                "type": "checkbox",
                "id": "context_target_blank",
                "default": false,
                "label": "t:sections.all.target_blank.label"
            }
          ]
        },
        {
          "type": "block_image",
          "name": "t:blocks.image.name",
          "settings": [
              {
                  "type": "image_picker",
                  "id": "desktop_image",
                  "label": "t:sections.all.image.desktop_image.label"
              },
              {
                  "type": "select",
                  "id": "desktop_image_ratio",
                  "options": [
                      {
                      "value": "original",
                      "label": "t:sections.all.image.image_ratio.options__1.label"
                      },
                      {
                      "value": "square",
                      "label": "t:sections.all.image.image_ratio.options__2.label"
                      },
                      {
                      "value": "portrait",
                      "label": "t:sections.all.image.image_ratio.options__3.label"
                      },
                      {
                        "value": "traditional",
                        "label": "t:sections.all.image.image_ratio.options__9.label"
                      },
                      {
                      "value": "landscape",
                      "label": "t:sections.all.image.image_ratio.options__4.label"
                      }, 
                      {
                      "value": "wide",
                      "label": "t:sections.all.image.image_ratio.options__5.label"
                      }
                  ],
                  "default": "original",
                  "label": "t:sections.all.image.image_ratio.label"
              },
              {
                "type": "select",
                "id": "image_radius",
                "options": [
                  {
                    "value": "default",
                    "label": "t:sections.all.corner_radius.options__1.label"
                  },
                  {
                    "value": "0px",
                    "label": "t:sections.all.corner_radius.options__2.label"
                  },
                  {
                    "value": "3px",
                    "label": "t:sections.all.corner_radius.options__3.label"
                  },
                  {
                    "value": "5px",
                    "label": "t:sections.all.corner_radius.options__4.label"
                  },
                  {
                    "value": "12px",
                    "label": "t:sections.all.corner_radius.options__5.label"
                  },
                  {
                    "value": "2000px",
                    "label": "t:sections.all.corner_radius.options__6.label"
                  },
                  {
                    "value": "2000px 2000px 0 0",
                    "label": "t:sections.all.corner_radius.options__7.label"
                  }
                ],
                "default": "default",
                "label": "t:sections.all.corner_radius.label"
              },
              {
                  "type": "image_picker",
                  "id": "mobile_image",
                  "label": "t:sections.all.image.mobile_image.label"
              },
              {
                  "type": "select",
                  "id": "mobile_image_ratio",
                  "options": [
                      {
                      "value": "original",
                      "label": "t:sections.all.image.image_ratio.options__1.label"
                      },
                      {
                      "value": "square",
                      "label": "t:sections.all.image.image_ratio.options__2.label"
                      },
                      {
                      "value": "portrait",
                      "label": "t:sections.all.image.image_ratio.options__3.label"
                      },
                      {
                        "value": "traditional",
                        "label": "t:sections.all.image.image_ratio.options__9.label"
                      },
                      {
                      "value": "landscape",
                      "label": "t:sections.all.image.image_ratio.options__4.label"
                      }, 
                      {
                      "value": "wide",
                      "label": "t:sections.all.image.image_ratio.options__5.label"
                      }
                  ],
                  "default": "original",
                  "label": "t:sections.all.image.mobile_image_ratio.label"
              },
              {
                "type": "url",
                "id": "image_link",
                "label": "t:sections.all.links.link.label"
              },
              {
                "type": "checkbox",
                "id": "target_blank",
                "default": false,
                "label": "t:sections.all.target_blank.label"
              }
          ]
        },
        {
          "type": "empty_space",
          "name": "t:blocks.empty_space.name",
          "settings": [
            {
              "type": "range",
              "id": "desktop_height",
              "min": 0,
              "max": 320,
              "step": 8,
              "unit": "px",
              "label": "t:sections.all.desktop_height.label",
              "default": 24
            },
            {
              "type": "range",
              "id": "mobile_height",
              "min": 0,
              "max": 80,
              "step": 8,
              "unit": "px",
              "label": "t:sections.all.mobile_height.label",
              "default": 16
            }
          ]
        },
        {
          "type": "line",
          "name": "t:blocks.line.name",
          "settings": [
            {
              "type": "header",
              "content": "t:sections.all.paddings.desktop_block_paddings.content"
            },
            {
              "type": "range",
              "id": "desktop_padding_top",
              "min": 0,
              "max": 320,
              "step": 8,
              "unit": "px",
              "label": "t:sections.all.paddings.padding_top.label",
              "default": 24
            },
            {
              "type": "range",
              "id": "desktop_padding_bottom",
              "min": 0,
              "max": 320,
              "step": 8,
              "unit": "px",
              "label": "t:sections.all.paddings.padding_bottom.label",
              "default": 24
            },
            {
              "type": "header",
              "content": "t:sections.all.paddings.mobile_block_paddings.content"
            },
            {
              "type": "range",
              "id": "mobile_padding_top",
              "min": 0,
              "max": 80,
              "step": 8,
              "unit": "px",
              "label": "t:sections.all.paddings.padding_top.label",
              "default": 16
            },
            {
              "type": "range",
              "id": "mobile_padding_bottom",
              "min": 0,
              "max": 80,
              "step": 8,
              "unit": "px",
              "label": "t:sections.all.paddings.padding_bottom.label",
              "default": 16
            }
          ]
        },
        {
          "type": "video_button",
          "name": "t:blocks.video_button.name",
          "settings": [
            {
              "type": "paragraph",
              "content": "t:blocks.video_button.paragraph.content"
          },
              {
                  "type": "video_url",
                  "id": "video_url",
                  "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
                  "label": "t:sections.all.video.video_url.label",
                  "accept": [
                    "youtube",
                    "vimeo"
                  ]
              },
              {
                  "type": "text",
                  "id": "button_label",
                  "label": "t:sections.all.buttons.button_label.label",
                  "default": "Watch now"
              },
              {
                  "type": "text",
                  "id": "video_alt",
                  "label": "t:sections.all.video.video_alt.label",
                  "info": "t:sections.all.video.video_alt.info"
              },
              {
                "type": "select",
                "id": "button_style",
                "options": [
                  {
                    "value": "solid",
                    "label": "t:sections.all.buttons.button_styles.options__1.label"
                  }, 
                  {
                    "value": "outlined",
                    "label": "t:sections.all.buttons.button_styles.options__2.label"
                  }, 
                  {
                    "value": "link",
                    "label": "t:sections.all.buttons.button_styles.options__3.label"
                  }
                ],
                "default": "outlined",
                "label": "t:sections.all.buttons.button_styles.button_style.label"
            }
          ]
        },
        {
          "type": "custom_liquid",
          "name": "t:sections.custom-liquid.name",
          "settings": [
            {
              "type": "liquid",
              "id": "custom_liquid",
              "label": "t:sections.custom-liquid.settings.custom_liquid.label",
              "info": "t:sections.custom-liquid.settings.custom_liquid.info"
            }
          ]
        },
        {
          "type": "social_media",
          "name": "t:sections.navigation_sections.blocks.social_media.name",
          "limit": 1,
          "settings": [
              {
                 "type": "text",
                 "id": "social_media_heading",
                 "default": "Follow us",
                 "label": "t:sections.all.labels.subheading.label"
              },
              {
                  "type": "select",
                  "id": "social_media_heading_size",
                  "label": "t:sections.all.size.subheading_size.label",
                  "options": [
                    {
                      "value": "default",
                      "label": "t:sections.all.size.options__1.label"
                    },
                    {
                        "value": "heading_xl",
                        "label": "t:sections.all.size.options__2.label"
                    },
                    {
                        "value": "heading_xl_uppercase",
                        "label": "t:sections.all.size.options__3.label"
                    },
                    {
                        "value": "heading_l",
                        "label": "t:sections.all.size.options__4.label"
                    },
                    {
                        "value": "heading_l_uppercase",
                        "label": "t:sections.all.size.options__5.label"
                    },
                    {
                        "value": "heading_m",
                        "label": "t:sections.all.size.options__6.label"
                    },
                    {
                        "value": "heading_m_uppercase",
                        "label": "t:sections.all.size.options__7.label"
                    },
                    {
                        "value": "heading_s",
                        "label": "t:sections.all.size.options__8.label"
                    },
                    {
                        "value": "heading_s_uppercase",
                        "label": "t:sections.all.size.options__9.label"
                    },
                    {
                        "value": "heading_xs",
                        "label": "t:sections.all.size.options__10.label"
                    },
                    {
                        "value": "heading_xs_uppercase",
                        "label": "t:sections.all.size.options__11.label"
                    },
                    {
                        "value": "body_l",
                        "label": "t:sections.all.size.options__12.label"
                    },
                    {
                        "value": "body_l_uppercase",
                        "label": "t:sections.all.size.options__13.label"
                    },
                    {
                        "value": "body_m",
                        "label": "t:sections.all.size.options__14.label"
                    }, 
                    {
                        "value": "body_m_uppercase",
                        "label": "t:sections.all.size.options__15.label"
                    }, 
                    {
                        "value": "body_s",
                        "label": "t:sections.all.size.options__16.label"
                    }, 
                    {
                        "value": "body_s_uppercase",
                        "label": "t:sections.all.size.options__17.label"
                    }, 
                    {
                        "value": "label_font",
                        "label": "t:sections.all.size.options__18.label"
                    },
                    {
                        "value": "label_font_uppercase",
                        "label": "t:sections.all.size.options__19.label"
                    }
                  ],
                  "default": "default"
              },
              {
                  "type": "select",
                  "id": "social_media_style",
                  "options": [
                      {
                          "value": "text",
                          "label": "t:sections.navigation_sections.blocks.social_media.settings.social_media_style.options__2.label"
                      },
                      {
                          "value": "short_text",
                          "label": "t:sections.navigation_sections.blocks.social_media.settings.social_media_style.options__3.label"
                      },
                      {
                          "value": "logo_in_circle",
                          "label": "t:sections.navigation_sections.blocks.social_media.settings.social_media_style.options__4.label"
                      }
                  ],
                  "default": "logo_in_circle",
                  "label": "t:sections.navigation_sections.blocks.social_media.settings.social_media_style.label",
                  "info": "t:sections.navigation_sections.blocks.social_media.settings.social_media_style.info"
              },
              {
                  "type": "checkbox",
                  "id": "use_accent_color",
                  "default": false,
                  "label": "t:sections.all.colors.use_accent_color.label"
              }
          ]
      },
      {
          "type": "contacts",
          "name": "t:sections.navigation_sections.blocks.contacts.name",
          "settings": [
              {
                  "type": "text",
                  "id": "contacts_subheading",
                  "label": "t:sections.all.labels.subheading.label",
                  "default": "Contact"
              },
              {
                "type": "select",
                "id": "subheading_size",
                "label": "t:sections.all.size.subheading_size.label",
                "options": [
                  {
                    "value": "default",
                    "label": "t:sections.all.size.options__1.label"
                  },
                  {
                    "value": "heading_xl",
                    "label": "t:sections.all.size.options__2.label"
                },
                {
                    "value": "heading_xl_uppercase",
                    "label": "t:sections.all.size.options__3.label"
                },
                {
                    "value": "heading_l",
                    "label": "t:sections.all.size.options__4.label"
                },
                {
                    "value": "heading_l_uppercase",
                    "label": "t:sections.all.size.options__5.label"
                },
                {
                    "value": "heading_m",
                    "label": "t:sections.all.size.options__6.label"
                },
                {
                    "value": "heading_m_uppercase",
                    "label": "t:sections.all.size.options__7.label"
                },
                  {
                      "value": "heading_s",
                      "label": "t:sections.all.size.options__8.label"
                  },
                  {
                      "value": "heading_s_uppercase",
                      "label": "t:sections.all.size.options__9.label"
                  },
                  {
                      "value": "heading_xs",
                      "label": "t:sections.all.size.options__10.label"
                  },
                  {
                      "value": "heading_xs_uppercase",
                      "label": "t:sections.all.size.options__11.label"
                  },
                  {
                      "value": "body_l",
                      "label": "t:sections.all.size.options__12.label"
                  },
                  {
                      "value": "body_l_uppercase",
                      "label": "t:sections.all.size.options__13.label"
                  },
                  {
                      "value": "body_m",
                      "label": "t:sections.all.size.options__14.label"
                  }, 
                  {
                      "value": "body_m_uppercase",
                      "label": "t:sections.all.size.options__15.label"
                  }, 
                  {
                      "value": "body_s",
                      "label": "t:sections.all.size.options__16.label"
                  }, 
                  {
                      "value": "body_s_uppercase",
                      "label": "t:sections.all.size.options__17.label"
                  }, 
                  {
                      "value": "label_font",
                      "label": "t:sections.all.size.options__18.label"
                  },
                  {
                      "value": "label_font_uppercase",
                      "label": "t:sections.all.size.options__19.label"
                  }
                ],
                "default": "default"
            },
              {
                  "type": "text",
                  "id": "contacts_1",
                  "label": "t:sections.navigation_sections.blocks.contacts.settings.contacts_1.label",
                  "default": "hello@shopifystore.com"
              },
              {
                  "type": "select",
                  "id": "contacts_1_type",
                  "options": [
                      {
                          "value": "text",
                          "label": "t:sections.navigation_sections.blocks.contacts.settings.contacts_1_type.options__1.label"
                      },
                      {
                          "value": "phone_number",
                          "label": "t:sections.navigation_sections.blocks.contacts.settings.contacts_1_type.options__2.label"
                      },
                      {
                          "value": "email",
                          "label": "t:sections.navigation_sections.blocks.contacts.settings.contacts_1_type.options__3.label"
                      }
                  ],
                  "default": "email",
                  "label": "t:sections.navigation_sections.blocks.contacts.settings.contacts_1_type.label"
              },
              {
                  "type": "text",
                  "id": "contacts_2",
                  "label": "t:sections.navigation_sections.blocks.contacts.settings.contacts_2.label",
                  "default": "123-456-7890"
              },
              {
                  "type": "select",
                  "id": "contacts_2_type",
                  "options": [
                      {
                          "value": "text",
                          "label": "t:sections.navigation_sections.blocks.contacts.settings.contacts_2_type.options__1.label"
                      },
                      {
                          "value": "phone_number",
                          "label": "t:sections.navigation_sections.blocks.contacts.settings.contacts_2_type.options__2.label"
                      },
                      {
                          "value": "email",
                          "label": "t:sections.navigation_sections.blocks.contacts.settings.contacts_2_type.options__3.label"
                      }
                  ],
                  "default": "phone_number",
                  "label": "t:sections.navigation_sections.blocks.contacts.settings.contacts_2_type.label"
              },
              {
                  "type": "checkbox",
                  "id": "use_accent_color",
                  "default": false,
                  "label": "t:sections.all.colors.use_accent_color.label"
              },
              {
                  "type": "text",
                  "id": "contacts_description",
                  "label": "t:sections.all.labels.text.label",
                  "default": "Mon–Fri, 10AM–9PM"
              }
          ]
      },
      {
        "type": "promo_code",
        "name": "t:blocks.promo_code.name",
        "settings": [
            {
                "type": "text",
                "id": "promo_code",
                "default": "Promo code",
                "label": "t:blocks.promo_code.settings.promo_code.label"
            }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.rich-text.name",
        "blocks": [
          {
            "type": "subheading"
          },
          {
            "type": "heading"
          },
          {
            "type": "text"
          },
          {
            "type": "button"
          }
        ]
      }
    ],
    "disabled_on": {
      "groups": ["*"]
    }
}
{% endschema %}