{% if section.blocks.size > 0 %}
{{ 'content-fonts.css' | asset_url | stylesheet_tag }}
{{ 'section-banner.css' | asset_url | stylesheet_tag }}
{{ 'section-split-banner.css' | asset_url | stylesheet_tag }}

{% style %}
    #shopify-section-{{ section.id }} {
        --padding-top: {{ section.settings.desktop_padding_top }}px;
        --padding-bottom: {{ section.settings.desktop_padding_bottom }}px;
        --section-height: {{ section.settings.desktop_height }}vh;
        --video-mobile-height: {{ section.settings.mobile_height }}vh;
    }
    #shopify-section-{{ section.id }} .hidden-backgroud .banner__content-wrapper {
      background-color: transparent;
    }
    @media screen and (max-width: 920px) {
        #shopify-section-{{ section.id }} {
            --padding-top: {{ section.settings.mobile_padding_top }}px;
            --padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
        }
    }
{% endstyle %}

{% liquid
    assign settings_page_width = settings.max_page_width | append: 'px'
    if settings.max_page_width == 'full_width'
    assign settings_page_width = '100vw'
    endif
%}

<div class="split-banner banner banner--{{ settings.white_space }} {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %} banner--{{ section.settings.section_width }} ordinal-section ordinal-section--{{ settings.white_space }} {% if settings.show_lines %}ordinal-section--lines lines{% endif %}  {% if section.settings.section_width != 'full-width' %}section-padding--{{ settings.white_space }}{% endif %} {% if section.settings.section_width != 'full-width' %}{% if settings.max_page_width == '1400' or settings.max_page_width == '1200' %}page-width {% endif %} page-width--{{ settings.max_page_width }}{% endif %}">
    <div class="split-banner__wrapper">
        {%- for block in section.blocks -%}
            {%- unless block.settings.link != blank -%}
                <div {{ block.shopify_attributes }} class="banner__wrapper color-{{ block.settings.color_type }} {% if block.settings.color_type != 'default' %}no-default-color{% endif %} over split-banner__block split-banner__block--{{ block.id }} {% if section.settings.content_on_hover %}hover-content{% endif %} {% if section.blocks.size == 1 %}alone-block{% endif %}">
            {%- endunless -%}
            {%- if block.settings.link != blank -%}
                <double-hover class="split-banner__block {% if section.blocks.size == 1 %}alone-block{% endif %}"><a {{ block.shopify_attributes }} href="{{ block.settings.link }}" {% if block.settings.target_blank %}target="_blank"{% endif %} class="banner__wrapper double-hover color-{{ block.settings.color_type }} {% if block.settings.color_type != 'default' %}no-default-color{% endif %} over split-banner__block split-banner__block--{{ block.id }} {% if section.settings.content_on_hover %}hover-content{% endif %} {% if section.blocks.size == 1 %}alone-block{% endif %}">
            {%- endif -%}
                {% liquid
                    assign banner_split_overlay_background = block.settings.overlay_color
                    if block.settings.overlay_gradient != blank
                    assign banner_split_overlay_background = block.settings.overlay_gradient
                    endif
                %}
                {% style %}
                    #shopify-section-{{ section.id }} .split-banner__block--{{ block.id }} {
                        --vertical-position: {{ block.settings.vertical_content_position }};
                        --horizontal-position: {{ block.settings.horizontal_content_position }};
                        --banner-split-overlay-background: {{ banner_split_overlay_background }};
                        --banner-overlay-opacity: {{ block.settings.overlay_opacity | divided_by: 100.0 }};

                        {% if block.settings.color_type == 'default' %}
                            --layout-text-color:
                            {{ settings.layout_text_color.red }},
                            {{ settings.layout_text_color.green }}, 
                            {{ settings.layout_text_color.blue }};
                            --layout-background-color:
                            {{ settings.layout_background_color.red }},
                            {{ settings.layout_background_color.green }},
                            {{ settings.layout_background_color.blue }};
                        {% endif %}
                        {% if block.settings.color_type == 'invert' %}
                            --layout-text-color:
                            {{ settings.layout_background_color.red }},
                            {{ settings.layout_background_color.green }},
                            {{ settings.layout_background_color.blue }};
                            --layout-background-color:
                            {{ settings.layout_text_color.red }},
                            {{ settings.layout_text_color.green }}, 
                            {{ settings.layout_text_color.blue }};
                        {% endif %}
                        {% if block.settings.color_type == 'custom' %}
                            --layout-text-color:
                            {{ block.settings.text_color.red }},
                            {{ block.settings.text_color.green }}, 
                            {{ block.settings.text_color.blue }};
                            --layout-background-color:
                            {{ block.settings.background_color.red }},
                            {{ block.settings.background_color.green }}, 
                            {{ block.settings.background_color.blue }};
                        {% endif %}  
                        background-color: rgb(var(--layout-background-color));
                        color: rgb(var(--layout-text-color));
                    }
                    #shopify-section-{{ section.id }} .split-banner__block--{{ block.id }} .banner__media::after {
                        opacity: var(--banner-overlay-opacity);
                        background: var(--banner-split-overlay-background);
                    }
                {% endstyle %}
                <div class="banner__media image-banner__media" {% if settings.disable_right_click %}oncontextmenu="return false"{% endif %}>
                    {%- if block.settings.image != blank -%}
                        {% comment %} theme-check-disable ImgLazyLoading {% endcomment %}
                        <img srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                            {%- if block.settings.image.width >= 375 -%}{{ block.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
                            {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                            {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                            {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                            {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                            {%- if block.settings.image.width >= 2200 -%}{{ block.settings.image | image_url: width: 2200 }} 2200w,{%- endif -%}
                            {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
                            {{ block.settings.image | image_url }} {{ block.settings.image.width }}w" src="{{ block.settings.image | image_url: width: 1700 }}"
                            {% if section.blocks.size > 1 %}
                                sizes="(max-width: 768px) 100vw, (min-width: {{ settings_page_width }}) calc({{ settings_page_width }} / 2), calc(100vw / 2)"
                            {% else %}
                                sizes="(max-width: 768px) 100vw, (min-width: {{ settings_page_width }}) {{ settings_page_width }}, 100vw"
                            {% endif %}
                            alt="{{ block.settings.image.alt | escape }}" 
                            src="{{ block.settings.image | image_url: width: 1500 }}"
                            {% if section.index > 2 %}loading="lazy"{% endif %}
                            draggable="false"
                            width="{{ block.settings.image.width }}" 
                            height="{{ block.settings.image.height }}" 
                            class="banner__image image-banner__image"
                            style="object-position: {{ block.settings.image.presentation.focal_point }};">
                            {% comment %} theme-check-enable ImgLazyLoading {% endcomment %}
                    {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    {%- endif -%}
                </div>
                <div class="banner__content {% if section.settings.narrow_content %}narrow-container{% else %}wide-container{% endif %} hidden-backgroud">
                    <div class="banner__content-wrapper {% if block.settings.center_text %}center{% else %}start{% endif %}" style="text-align: {% if block.settings.center_text %}center{% else %}start{% endif %};">
                        {%- if block.settings.context_image != blank -%}
                            {%- render 'context-image', block_or_section: block, double_hover: true -%}
                        {%- endif -%}
                        {%- if block.settings.subheading != blank -%}
                            <{{ section.settings.subheading_tag }} class="content-subheading content-subheading--{{ settings.typography_preset }} {% if section.settings.subheading_size != 'default' %}{{ section.settings.subheading_size }}{% endif %} {% if settings.dim_text %}dim{% endif %}">{{ block.settings.subheading }}</{{ section.settings.subheading_tag }}>
                        {%- endif -%}
                        {%- if block.settings.heading != blank -%}
                            <{{ section.settings.heading_tag }} class="content-heading {% if section.settings.color_type == 'default' and settings.accent_color_for_headings %}content-heading--accent{% endif %} content-heading--{{ settings.typography_preset }} {% if section.settings.heading_size != 'default' %}{{ section.settings.heading_size }}{% endif %}">{{ block.settings.heading }}</{{ section.settings.heading_tag }}>
                        {%- endif -%}
                        {%- if block.settings.text != blank -%}
                            <div class="content-text content-text--{{ settings.typography_preset }} {% if block.settings.dim_text %}dim{% endif %} richtext {% if settings.enable_animated_underline %}richtext-link--underline{% endif %}">
                                <object>
                                    {{ block.settings.text }}
                                </object>
                            </div>
                        {%- endif -%}
                        {%- if block.settings.button_label != blank -%}
                            <div class="banner__button {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %} elem-hover elem-hover--{{ block.settings.button_style }} {% unless block.settings.link != blank %}disabled{% endunless %}">
                            {%- if block.settings.link != blank -%}<object><a href="{{ block.settings.link }}" {% if block.settings.target_blank %}target="_blank"{% endif %} class="{{ block.settings.button_style }}-button button--{{ settings.typography_preset }} {% if block.settings.button_style == 'link' and settings.enable_animated_underline %}link-button--underline{% endif %}">{%- else -%}
                            <span disabled class="{{ block.settings.button_style }}-button button--{{ settings.typography_preset }} {% if block.settings.button_style == 'link' and settings.enable_animated_underline %}link-button--underline{% endif %}">{%- endif -%}
                            {{ block.settings.button_label }}
                            {%- unless block.settings.link != blank -%}</span>{%- endunless -%}{%- if block.settings.link != blank -%}</a></object>{%- endif -%}
                            </div>
                        {%- endif -%}
                    </div>
                </div>
            {%- if block.settings.link != blank -%}</a></double-hover>{%- endif -%}{%- unless block.settings.link != blank -%}</div>{%- endunless -%}
        {%- endfor -%}
    </div>
</div>
{% endif %}

{% schema %}
{
    "name": "t:sections.split-banner.name",
    "tag": "section",
    "class": "split-banner",
    "settings": [
        {
            "type": "checkbox",
            "id": "content_on_hover",
            "default": true,
            "label": "t:sections.banners.content_on_hover.label"
          },
        {
            "type": "range",
            "id": "desktop_height",
            "min": 30,
            "max": 100,
            "step": 5,
            "unit": "%",
            "label": "t:sections.all.desktop_height.label",
            "default": 70
        },
        {
            "type": "range",
            "id": "mobile_height",
            "min": 30,
            "max": 100,
            "step": 5,
            "unit": "%",
            "label": "t:sections.all.mobile_height.label",
            "default": 60
        },
        {
            "type": "radio",
            "id": "section_width",
            "options": [
              {
                "value": "full-width",
                "label": "t:sections.all.section_width.options__2.label"
              },
              {
                "value": "wide",
                "label": "t:sections.all.section_width.options__3.label"
              }
            ],
            "default": "full-width",
            "label": "t:sections.all.section_width.label"
        },
        {
            "type": "checkbox",
            "id": "narrow_content",
            "default": true,
            "label": "t:sections.banners.narrow_content.label"
        },
        {
        "type": "header",
        "content": "t:sections.all.labels.subheading.content"
        },
        {
            "type": "select",
            "id": "subheading_size",
            "options": [
            {
                "value": "default",
                "label": "t:sections.all.size.options__1.label"
                },
                {
                    "value": "heading_xl",
                    "label": "t:sections.all.size.options__2.label"
                },
                {
                    "value": "heading_xl_uppercase",
                    "label": "t:sections.all.size.options__3.label"
                },
                {
                    "value": "heading_l",
                    "label": "t:sections.all.size.options__4.label"
                },
                {
                    "value": "heading_l_uppercase",
                    "label": "t:sections.all.size.options__5.label"
                },
                {
                    "value": "heading_m",
                    "label": "t:sections.all.size.options__6.label"
                },
                {
                    "value": "heading_m_uppercase",
                    "label": "t:sections.all.size.options__7.label"
                },
                {
                    "value": "heading_s",
                    "label": "t:sections.all.size.options__8.label"
                },
                {
                    "value": "heading_s_uppercase",
                    "label": "t:sections.all.size.options__9.label"
                },
                {
                    "value": "heading_xs",
                    "label": "t:sections.all.size.options__10.label"
                },
                {
                    "value": "heading_xs_uppercase",
                    "label": "t:sections.all.size.options__11.label"
                },
                {
                    "value": "body_l",
                    "label": "t:sections.all.size.options__12.label"
                },
                {
                    "value": "body_l_uppercase",
                    "label": "t:sections.all.size.options__13.label"
                },
                {
                    "value": "body_m",
                    "label": "t:sections.all.size.options__14.label"
                }, 
                {
                    "value": "body_m_uppercase",
                    "label": "t:sections.all.size.options__15.label"
                }, 
                {
                    "value": "body_s",
                    "label": "t:sections.all.size.options__16.label"
                }, 
                {
                    "value": "body_s_uppercase",
                    "label": "t:sections.all.size.options__17.label"
                }, 
                {
                    "value": "label_font",
                    "label": "t:sections.all.size.options__18.label"
                },
                {
                    "value": "label_font_uppercase",
                    "label": "t:sections.all.size.options__19.label"
                }
            ],
            "default": "default",
            "label": "t:sections.all.size.size.label"
        },
        {
        "type": "select",
        "id": "subheading_tag",
        "options": [
            {
                "value": "h1",
                "label": "t:sections.all.tag.options__1.label"
            },
            {
                "value": "h2",
                "label": "t:sections.all.tag.options__2.label"
            },
            {
                "value": "h3",
                "label": "t:sections.all.tag.options__3.label"
            },
            {
                "value": "h4",
                "label": "t:sections.all.tag.options__4.label"
            },
            {
                "value": "h5",
                "label": "t:sections.all.tag.options__5.label"
            },
            {
                "value": "h6",
                "label": "t:sections.all.tag.options__6.label"
            },
            {
                "value": "div",
                "label": "t:sections.all.tag.options__7.label"
            },
            {
                "value": "span",
                "label": "t:sections.all.tag.options__8.label"
            }, 
            {
                "value": "p",
                "label": "t:sections.all.tag.options__9.label"
            }
            ],
            "default": "h3",
            "label": "t:sections.all.tag.tag_label"
        },
        {
            "type": "header",
            "content": "t:sections.all.labels.heading.content"
        },
        {
            "type": "select",
            "id": "heading_size",
            "options": [
            {
                "value": "default",
                "label": "t:sections.all.size.options__1.label"
            },
            {
                "value": "heading_xl",
                "label": "t:sections.all.size.options__2.label"
            },
            {
                "value": "heading_xl_uppercase",
                "label": "t:sections.all.size.options__3.label"
            },
            {
                "value": "heading_l",
                "label": "t:sections.all.size.options__4.label"
            },
            {
                "value": "heading_l_uppercase",
                "label": "t:sections.all.size.options__5.label"
            },
            {
                "value": "heading_m",
                "label": "t:sections.all.size.options__6.label"
            },
            {
                "value": "heading_m_uppercase",
                "label": "t:sections.all.size.options__7.label"
            },
            {
                "value": "heading_s",
                "label": "t:sections.all.size.options__8.label"
            },
            {
                "value": "heading_s_uppercase",
                "label": "t:sections.all.size.options__9.label"
            },
            {
                "value": "heading_xs",
                "label": "t:sections.all.size.options__10.label"
            },
            {
                "value": "heading_xs_uppercase",
                "label": "t:sections.all.size.options__11.label"
            },
            {
                "value": "body_l",
                "label": "t:sections.all.size.options__12.label"
            },
            {
                "value": "body_l_uppercase",
                "label": "t:sections.all.size.options__13.label"
            },
            {
                "value": "body_m",
                "label": "t:sections.all.size.options__14.label"
            }, 
            {
                "value": "body_m_uppercase",
                "label": "t:sections.all.size.options__15.label"
            }, 
            {
                "value": "body_s",
                "label": "t:sections.all.size.options__16.label"
            }, 
            {
                "value": "body_s_uppercase",
                "label": "t:sections.all.size.options__17.label"
            }, 
            {
                "value": "label_font",
                "label": "t:sections.all.size.options__18.label"
            },
            {
                "value": "label_font_uppercase",
                "label": "t:sections.all.size.options__19.label"
            }
            ],
            "default": "default",
            "label": "t:sections.all.size.size.label"
        },
        {
        "type": "select",
        "id": "heading_tag",
        "options": [
            {
                "value": "h1",
                "label": "t:sections.all.tag.options__1.label"
            },
            {
                "value": "h2",
                "label": "t:sections.all.tag.options__2.label"
            },
            {
                "value": "h3",
                "label": "t:sections.all.tag.options__3.label"
            },
            {
                "value": "h4",
                "label": "t:sections.all.tag.options__4.label"
            },
            {
                "value": "h5",
                "label": "t:sections.all.tag.options__5.label"
            },
            {
                "value": "h6",
                "label": "t:sections.all.tag.options__6.label"
            },
            {
                "value": "div",
                "label": "t:sections.all.tag.options__7.label"
            },
            {
                "value": "span",
                "label": "t:sections.all.tag.options__8.label"
            }, 
            {
                "value": "p",
                "label": "t:sections.all.tag.options__9.label"
            }
            ],
            "default": "h2",
            "label": "t:sections.all.tag.tag_label"
        },
        {
            "type": "header",
            "content": "t:sections.all.paddings.desktop_section_paddings.content"
        }, 
        {
            "type": "range",
            "id": "desktop_padding_top",
            "min": -160,
            "max": 160,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_top.label"
        }, 
        {
            "type": "range",
            "id": "desktop_padding_bottom",
            "min": -160,
            "max": 160,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_bottom.label"
        },
        {
            "type": "header",
            "content": "t:sections.all.paddings.mobile_section_paddings.content"
        }, 
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": -80,
            "max": 80,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_top.label"
        }, 
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": -80,
            "max": 80,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_bottom.label"
        }
    ],
    "max_blocks": 2,
    "blocks": [
        {
            "type": "banner",
            "name": "t:blocks.banner.name",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:sections.all.image.desktop_image.label"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "t:sections.all.links.link.label"
                },
                {
                    "type": "checkbox",
                    "id": "target_blank",
                    "default": false,
                    "label": "t:sections.all.target_blank.label"
                },
                {
                    "type": "checkbox",
                    "id": "center_text",
                    "default": true,
                    "label": "t:sections.all.alignment.center_text.label"
                },
                {
                    "type": "select",
                    "id": "vertical_content_position",
                    "options": [
                      {
                        "value": "start",
                        "label": "t:sections.all.alignment.options__1.label"
                      }, 
                      {
                        "value": "center",
                        "label": "t:sections.all.alignment.options__2.label"
                      }, 
                      {
                        "value": "end",
                        "label": "t:sections.all.alignment.options__3.label"
                      }
                    ],
                    "default": "center",
                    "label": "t:sections.all.alignment.vertical_content_position.label"
                  },
                  {
                    "type": "select",
                    "id": "horizontal_content_position",
                    "options": [
                      {
                        "value": "flex-start",
                        "label": "t:sections.all.alignment.options__4.label"
                      }, 
                      {
                        "value": "center",
                        "label": "t:sections.all.alignment.options__2.label"
                      }, 
                      {
                        "value": "flex-end",
                        "label": "t:sections.all.alignment.options__5.label"
                      }
                    ],
                    "default": "center",
                    "label": "t:sections.all.alignment.horizontal_content_position.label"
                  },
                {
                    "type": "color",
                    "id": "overlay_color",
                    "label": "t:sections.all.image.overlay_color.label",
                    "default": "#000000"
                  },
                  {
                    "type": "color_background",
                    "id": "overlay_gradient",
                    "label": "t:sections.all.image.overlay_gradient.label"
                  },
                  {
                    "type": "range",
                    "id": "overlay_opacity",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "label": "t:sections.all.image.overlay_opacity.label",
                    "default": 70
                },
                {
                    "type": "header",
                    "content": "t:sections.all.labels.content.content"
                },
                {
                    "type": "image_picker",
                    "id": "context_image",
                    "label": "t:sections.all.image.context_image.label"
                },
                {
                    "type": "range",
                    "id": "context_image_width",
                    "min": 40,
                    "max": 800,
                    "step": 8,
                    "unit": "px",
                    "default": 120,
                    "label": "t:sections.all.image.context_image_width.label"
                },
                {
                    "type": "select",
                    "id": "context_image_ratio",
                    "options": [
                      {
                        "value": "original",
                        "label": "t:sections.all.image.image_ratio.options__1.label"
                      },
                      {
                        "value": "square",
                        "label": "t:sections.all.image.image_ratio.options__2.label"
                      },
                      {
                        "value": "portrait",
                        "label": "t:sections.all.image.image_ratio.options__3.label"
                      },
                      {
                        "value": "traditional",
                        "label": "t:sections.all.image.image_ratio.options__9.label"
                      },
                      {
                        "value": "landscape",
                        "label": "t:sections.all.image.image_ratio.options__4.label"
                      }, 
                      {
                        "value": "wide",
                        "label": "t:sections.all.image.image_ratio.options__5.label"
                      }
                    ],
                    "default": "original",
                    "label": "t:sections.all.image.image_ratio.label"
                  },
                  {
                    "type": "select",
                    "id": "context_image_radius",
                    "options": [
                      {
                        "value": "default",
                        "label": "t:sections.all.corner_radius.options__1.label"
                      },
                      {
                        "value": "0px",
                        "label": "t:sections.all.corner_radius.options__2.label"
                      },
                      {
                        "value": "3px",
                        "label": "t:sections.all.corner_radius.options__3.label"
                      },
                      {
                        "value": "5px",
                        "label": "t:sections.all.corner_radius.options__4.label"
                      },
                      {
                        "value": "12px",
                        "label": "t:sections.all.corner_radius.options__5.label"
                      },
                      {
                        "value": "2000px",
                        "label": "t:sections.all.corner_radius.options__6.label"
                      },
                      {
                        "value": "2000px 2000px 0 0",
                        "label": "t:sections.all.corner_radius.options__7.label"
                      }
                    ],
                    "default": "default",
                    "label": "t:sections.all.corner_radius.label"
                  },
                  {
                    "type": "url",
                    "id": "context_image_link",
                    "label": "t:sections.all.links.link.label"
                },
                {
                    "type": "checkbox",
                    "id": "context_target_blank",
                    "default": false,
                    "label": "t:sections.all.target_blank.label"
                },
                  {
                    "type": "text",
                    "id": "subheading",
                    "default": "Offer subheading",
                    "label": "t:sections.all.labels.subheading.label"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "default": "Banner heading",
                    "label": "t:sections.all.labels.heading.label"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "t:sections.all.labels.text.label"
                },
                {
                    "type": "checkbox",
                    "id": "dim_text",
                    "default": false,
                    "label": "t:sections.all.labels.dim_text.label"
                },
                {
                    "type": "text",
                    "id": "button_label",
                    "label": "t:sections.all.buttons.button_label.label",
                    "info": "t:sections.all.buttons.button_label.info",
                    "default": "Discover"
                },
                {
                    "type": "select",
                    "id": "button_style",
                    "options": [
                      {
                        "value": "solid",
                        "label": "t:sections.all.buttons.button_styles.options__1.label"
                      }, 
                      {
                        "value": "outlined",
                        "label": "t:sections.all.buttons.button_styles.options__2.label"
                      }, 
                      {
                        "value": "link",
                        "label": "t:sections.all.buttons.button_styles.options__3.label"
                      }
                    ],
                    "default": "outlined",
                    "label": "t:sections.all.buttons.button_styles.button_style.label"
                },
                {
                    "type": "header",
                    "content": "t:sections.all.colors.content"
                },
              {
                  "type": "radio",
                  "id": "color_type",
                  "label": "t:sections.all.colors.color_type.label",
                  "options": [
                      {
                      "value": "default",
                      "label": "t:sections.all.colors.color_type.options__1.label"
                      },
                      {
                      "value": "invert",
                      "label": "t:sections.all.colors.color_type.options__2.label"
                      },
                      {
                      "value": "custom",
                      "label": "t:sections.all.colors.color_type.options__3.label"
                      }
                  ],
                  "default": "invert"
              },
              {
                  "type": "color",
                  "id": "background_color",
                  "label": "t:sections.all.colors.background_color.label",
                  "default": "#FFFFFF"
              },
              {
                  "type": "color",
                  "id": "text_color",
                  "label": "t:sections.all.colors.text_color.label",
                  "default": "#000000"
              }
            ]

        }
    ],
    "presets": [
        {
          "name": "t:sections.split-banner.name",
          "blocks": [
            {
              "type": "banner"
            },
            {
                "type": "banner"
            }
          ]
        }
    ],
    "disabled_on": {
      "groups": ["*"]
    }
}
{% endschema %}