{% if section.blocks.size > 0 %}
{{ 'content-fonts.css' | asset_url | stylesheet_tag }}
{{ 'section-tabs.css' | asset_url | stylesheet_tag }}
{{ 'component-tab.css' | asset_url | stylesheet_tag }}
{{ 'tabs.css' | asset_url | stylesheet_tag }}

{% style %}
    #shopify-section-{{ section.id }} {
        --padding-top: {{ section.settings.desktop_padding_top }}px;
        --padding-bottom: {{ section.settings.desktop_padding_bottom }}px;
        --tabs-alignment: {% if section.settings.center_text %}center{% else %}flex-start{% endif %};

        {% if section.settings.color_type == 'invert' %}
            --layout-text-color:
            {{ settings.layout_background_color.red }},
            {{ settings.layout_background_color.green }},
            {{ settings.layout_background_color.blue }};
            --layout-background-color:
            {{ settings.layout_text_color.red }},
            {{ settings.layout_text_color.green }}, 
            {{ settings.layout_text_color.blue }};
        {% endif %}
        {% if section.settings.color_type == 'custom' %}
            --layout-text-color:
            {{ section.settings.text_color.red }},
            {{ section.settings.text_color.green }}, 
            {{ section.settings.text_color.blue }};
            --layout-background-color:
            {{ section.settings.background_color.red }},
            {{ section.settings.background_color.green }}, 
            {{ section.settings.background_color.blue }};
        {% endif %}  
        background-color: rgb(var(--layout-background-color));
        color: rgb(var(--layout-text-color));
    }
    @media screen and (max-width: 920px) {
        #shopify-section-{{ section.id }} {
            --padding-top: {{ section.settings.mobile_padding_top }}px;
            --padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
        }
    }
{% endstyle %}

<div class="tabs section-tabs tabs-container-js section-tabs--{{ settings.white_space }} ordinal-section ordinal-section--{{ settings.white_space }} section-padding--{{ settings.white_space }} {% if settings.show_lines %}ordinal-section--lines lines{% endif %} {% if settings.max_page_width == '1400' or settings.max_page_width == '1200' %}page-width {% endif %} page-width--{{ settings.max_page_width }} color-{{ section.settings.color_type }} {% if section.settings.color_type != 'default' %}no-default-color{% endif %} {% if section.settings.section_width == 'narrow' %}tabs--narrow{% endif %}">
    <div class="section-tabs__header">
        {% if section.settings.subheading != blank %}
            <{{ section.settings.subheading_tag }} class="content-subheading content-subheading--{{ settings.typography_preset }} {% if section.settings.subheading_size != 'default' %}{{ section.settings.subheading_size }}{% endif %} {% if settings.dim_text %}dim{% endif %}" {% if section.settings.center_text %}style="text-align: center;"{% endif %}>
                {{ section.settings.subheading }}
            </{{ section.settings.subheading_tag }}>
        {% endif %}
        {% if section.settings.heading != blank %}
            <{{ section.settings.heading_tag }} class="content-heading {% if section.settings.color_type == 'default' and settings.accent_color_for_headings %}content-heading--accent{% endif %} content-heading--{{ settings.typography_preset }} {% if section.settings.heading_size != 'default' %}{{ section.settings.heading_size }}{% endif %}" {% if section.settings.center_text %}style="text-align: center;"{% endif %}>
                {{ section.settings.heading }}
            </{{ section.settings.heading_tag }}>
        {% endif %}
        <div class="component-tabs">
            <component-tabs class="component-tabs__wrapper {% if section.settings.center_text %}center{% endif %}">
                {%- for block in section.blocks -%}
                    {% if block.settings.page != blank or block.settings.custom_heading != blank %}
                    <button {{ block.shopify_attributes }} id="{{ block.id }}" class="section-tab-js component-tabs__tab {% if forloop.first %}active{% endif %} component-tabs__tab--{{ settings.typography_preset }} {% if section.settings.tab_heading_size != 'default' %}{{ section.settings.tab_heading_size }}{% endif %}  tab-js tab-js-block-id--{{ block.id }}">
                        {% if block.settings.custom_heading != blank %}{{ block.settings.custom_heading }}{% else %}{{ block.settings.page.title | escape }}{% endif %}
                    </button>
                    {% endif %}
                {%- endfor -%}
            </component-tabs>
        </div>
    </div>
    <div class="section-tabs__content-wrapper">
        {%- for block in section.blocks -%}
            <div {{ block.shopify_attributes }} id="content-{{ block.id }}" class="component-tabs__content tabs__content tab-content-js {% if forloop.first %}active{% endif %}">
                {% if block.settings.text != blank %}
                    <div class="content-text content-text--{{ settings.typography_preset }} richtext {% if settings.enable_animated_underline %}richtext-link--underline{% endif %}">
                        <object>
                            {{ block.settings.text }}
                        </object>
                    </div>
                {% endif %}
                {% if block.settings.page != blank %}
                    <div class="page__content body-text--{{ settings.typography_preset }} rte">
                        {{ 'section-main-page.css' | asset_url | stylesheet_tag }}
                        {{ 'component-rte.css' | asset_url | stylesheet_tag }}
                        {{ block.settings.page.content }}
                    </div>
                {% endif %}
            </div>
        {%- endfor -%}
    </div>
</div>
{% endif %}

{% schema %}
{
    "name": "t:sections.tabs.name",
    "tag": "section",
    "class": "tabs",
    "max_blocks": 5,
    "settings": [
        {
            "type": "text",
            "id": "subheading",
            "label": "t:sections.all.labels.subheading.label"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "t:sections.all.labels.heading.label"
        },
        {
            "type": "checkbox",
            "id": "center_text",
            "default": true,
            "label": "t:sections.all.alignment.center_text.label"
        },
        {
            "type": "radio",
            "id": "section_width",
            "options": [
              {
                "value": "wide",
                "label": "t:sections.all.section_width.options__3.label"
              },
              {
                "value": "narrow",
                "label": "t:sections.all.section_width.options__4.label"
              }
            ],
            "default": "narrow",
            "label": "t:sections.all.section_width.label"
        },
        {
            "type": "select",
            "id": "tab_heading_size",
            "label": "t:sections.all.size.collapsible_tabs_size.label",
            "options": [
              {
                "value": "default",
                "label": "t:sections.all.size.options__1.label"
              },
              {
                  "value": "heading_xs",
                  "label": "t:sections.all.size.options__10.label"
              },
              {
                  "value": "heading_xs_uppercase",
                  "label": "t:sections.all.size.options__11.label"
              },
              {
                  "value": "body_l",
                  "label": "t:sections.all.size.options__12.label"
              },
              {
                  "value": "body_l_uppercase",
                  "label": "t:sections.all.size.options__13.label"
              },
              {
                  "value": "body_m",
                  "label": "t:sections.all.size.options__14.label"
              }, 
              {
                  "value": "body_m_uppercase",
                  "label": "t:sections.all.size.options__15.label"
              }, 
              {
                  "value": "body_s",
                  "label": "t:sections.all.size.options__16.label"
              }, 
              {
                  "value": "body_s_uppercase",
                  "label": "t:sections.all.size.options__17.label"
              }, 
              {
                  "value": "label_font",
                  "label": "t:sections.all.size.options__18.label"
              },
              {
                  "value": "label_font_uppercase",
                  "label": "t:sections.all.size.options__19.label"
              }
            ],
            "default": "default"
        },
        {
            "type": "header",
            "content": "t:sections.all.labels.subheading.content"
          },
          {
              "type": "select",
              "id": "subheading_size",
              "options": [
                {
                    "value": "default",
                    "label": "t:sections.all.size.options__1.label"
                  },
                  {
                      "value": "heading_xl",
                      "label": "t:sections.all.size.options__2.label"
                  },
                  {
                      "value": "heading_xl_uppercase",
                      "label": "t:sections.all.size.options__3.label"
                  },
                  {
                      "value": "heading_l",
                      "label": "t:sections.all.size.options__4.label"
                  },
                  {
                      "value": "heading_l_uppercase",
                      "label": "t:sections.all.size.options__5.label"
                  },
                  {
                      "value": "heading_m",
                      "label": "t:sections.all.size.options__6.label"
                  },
                  {
                      "value": "heading_m_uppercase",
                      "label": "t:sections.all.size.options__7.label"
                  },
                  {
                      "value": "heading_s",
                      "label": "t:sections.all.size.options__8.label"
                  },
                  {
                      "value": "heading_s_uppercase",
                      "label": "t:sections.all.size.options__9.label"
                  },
                  {
                      "value": "heading_xs",
                      "label": "t:sections.all.size.options__10.label"
                  },
                  {
                      "value": "heading_xs_uppercase",
                      "label": "t:sections.all.size.options__11.label"
                  },
                  {
                      "value": "body_l",
                      "label": "t:sections.all.size.options__12.label"
                  },
                  {
                      "value": "body_l_uppercase",
                      "label": "t:sections.all.size.options__13.label"
                  },
                  {
                      "value": "body_m",
                      "label": "t:sections.all.size.options__14.label"
                  }, 
                  {
                      "value": "body_m_uppercase",
                      "label": "t:sections.all.size.options__15.label"
                  }, 
                  {
                      "value": "body_s",
                      "label": "t:sections.all.size.options__16.label"
                  }, 
                  {
                      "value": "body_s_uppercase",
                      "label": "t:sections.all.size.options__17.label"
                  }, 
                  {
                      "value": "label_font",
                      "label": "t:sections.all.size.options__18.label"
                  },
                  {
                      "value": "label_font_uppercase",
                      "label": "t:sections.all.size.options__19.label"
                  }
              ],
              "default": "default",
              "label": "t:sections.all.size.size.label"
          },
          {
            "type": "select",
            "id": "subheading_tag",
            "options": [
              {
                  "value": "h1",
                  "label": "t:sections.all.tag.options__1.label"
              },
              {
                  "value": "h2",
                  "label": "t:sections.all.tag.options__2.label"
              },
              {
                  "value": "h3",
                  "label": "t:sections.all.tag.options__3.label"
              },
              {
                  "value": "h4",
                  "label": "t:sections.all.tag.options__4.label"
              },
              {
                  "value": "h5",
                  "label": "t:sections.all.tag.options__5.label"
              },
              {
                  "value": "h6",
                  "label": "t:sections.all.tag.options__6.label"
              },
              {
                  "value": "div",
                  "label": "t:sections.all.tag.options__7.label"
              },
              {
                  "value": "span",
                  "label": "t:sections.all.tag.options__8.label"
              }, 
              {
                  "value": "p",
                  "label": "t:sections.all.tag.options__9.label"
              }
              ],
              "default": "h3",
              "label": "t:sections.all.tag.tag_label"
          },
          {
            "type": "header",
            "content": "t:sections.all.labels.heading.content"
          },
          {
              "type": "select",
              "id": "heading_size",
              "options": [
                {
                  "value": "default",
                  "label": "t:sections.all.size.options__1.label"
                },
                {
                    "value": "heading_xl",
                    "label": "t:sections.all.size.options__2.label"
                },
                {
                    "value": "heading_xl_uppercase",
                    "label": "t:sections.all.size.options__3.label"
                },
                {
                    "value": "heading_l",
                    "label": "t:sections.all.size.options__4.label"
                },
                {
                    "value": "heading_l_uppercase",
                    "label": "t:sections.all.size.options__5.label"
                },
                {
                    "value": "heading_m",
                    "label": "t:sections.all.size.options__6.label"
                },
                {
                    "value": "heading_m_uppercase",
                    "label": "t:sections.all.size.options__7.label"
                },
                {
                    "value": "heading_s",
                    "label": "t:sections.all.size.options__8.label"
                },
                {
                    "value": "heading_s_uppercase",
                    "label": "t:sections.all.size.options__9.label"
                },
                {
                    "value": "heading_xs",
                    "label": "t:sections.all.size.options__10.label"
                },
                {
                    "value": "heading_xs_uppercase",
                    "label": "t:sections.all.size.options__11.label"
                },
                {
                    "value": "body_l",
                    "label": "t:sections.all.size.options__12.label"
                },
                {
                    "value": "body_l_uppercase",
                    "label": "t:sections.all.size.options__13.label"
                },
                {
                    "value": "body_m",
                    "label": "t:sections.all.size.options__14.label"
                }, 
                {
                    "value": "body_m_uppercase",
                    "label": "t:sections.all.size.options__15.label"
                }, 
                {
                    "value": "body_s",
                    "label": "t:sections.all.size.options__16.label"
                }, 
                {
                    "value": "body_s_uppercase",
                    "label": "t:sections.all.size.options__17.label"
                }, 
                {
                    "value": "label_font",
                    "label": "t:sections.all.size.options__18.label"
                },
                {
                    "value": "label_font_uppercase",
                    "label": "t:sections.all.size.options__19.label"
                }
              ],
              "default": "default",
              "label": "t:sections.all.size.size.label"
          },
          {
            "type": "select",
            "id": "heading_tag",
            "options": [
              {
                  "value": "h1",
                  "label": "t:sections.all.tag.options__1.label"
              },
              {
                  "value": "h2",
                  "label": "t:sections.all.tag.options__2.label"
              },
              {
                  "value": "h3",
                  "label": "t:sections.all.tag.options__3.label"
              },
              {
                  "value": "h4",
                  "label": "t:sections.all.tag.options__4.label"
              },
              {
                  "value": "h5",
                  "label": "t:sections.all.tag.options__5.label"
              },
              {
                  "value": "h6",
                  "label": "t:sections.all.tag.options__6.label"
              },
              {
                  "value": "div",
                  "label": "t:sections.all.tag.options__7.label"
              },
              {
                  "value": "span",
                  "label": "t:sections.all.tag.options__8.label"
              }, 
              {
                  "value": "p",
                  "label": "t:sections.all.tag.options__9.label"
              }
              ],
              "default": "h2",
              "label": "t:sections.all.tag.tag_label"
          },
          {
            "type": "header",
            "content": "t:sections.all.colors.content"
        },
        {
            "type": "radio",
            "id": "color_type",
            "label": "t:sections.all.colors.color_type.label",
            "options": [
                {
                "value": "default",
                "label": "t:sections.all.colors.color_type.options__1.label"
                },
                {
                "value": "invert",
                "label": "t:sections.all.colors.color_type.options__2.label"
                },
                {
                "value": "custom",
                "label": "t:sections.all.colors.color_type.options__3.label"
                }
            ],
            "default": "default"
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "t:sections.all.colors.background_color.label",
            "default": "#FFFFFF"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "t:sections.all.colors.text_color.label",
            "default": "#000000"
        },
        {
            "type": "header",
            "content": "t:sections.all.paddings.desktop_section_paddings.content"
        }, 
        {
            "type": "range",
            "id": "desktop_padding_top",
            "min": -160,
            "max": 160,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_top.label"
        }, 
        {
            "type": "range",
            "id": "desktop_padding_bottom",
            "min": -160,
            "max": 160,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_bottom.label"
        },
        {
            "type": "header",
            "content": "t:sections.all.paddings.mobile_section_paddings.content"
        }, 
        {
            "type": "range",
            "id": "mobile_padding_top",
            "min": -80,
            "max": 80,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_top.label"
        }, 
        {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": -80,
            "max": 80,
            "step": 4,
            "unit": "px",
            "default": 0,
            "label": "t:sections.all.paddings.padding_bottom.label"
        }
    ],
    "blocks": [
        {
            "type": "tab",
            "name": "t:sections.tabs.blocks.tab.name",
            "settings": [
                {
                    "type": "text",
                    "id": "custom_heading",
                    "label": "t:sections.collection-list.settings.custom_heading.label",
                    "info": "t:sections.tabs.blocks.tab.settings.custom_heading.info",
                    "default": "Page heading"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "t:sections.all.labels.text.label"
                },
                {
                    "type": "page",
                    "id": "page",
                    "label": "t:sections.all.labels.page.label",
                    "info": "t:sections.all.labels.page.info"
                }
            ]
        }
    ],
    "presets": [
        {
          "name": "t:sections.tabs.name",
          "blocks": [
            {
              "type": "tab",
              "settings": {
                    "custom_heading": "First page heading"
                }
            },
            {
            "type": "tab",
            "settings": {
                    "custom_heading": "Second page heading"
                }
            },
            {
            "type": "tab",
            "settings": {
                    "custom_heading": "Third page heading"
                }
            }
          ]
        }
    ],
    "disabled_on": {
        "groups": ["*"]
    }
}
{% endschema %}